<div class="modal-content">
    <div class="modal-header">
       <div class="row text-success">
			<div class="col-md-2 col-sm-2">
				<i class="icon fa fa-check fa-4" aria-hidden="true"></i>
			</div>
			<div class="col-md-10 col-sm-10">
				<h2 id="reject-success-label" class="gec-pop-up-font-size-green" ng-bind="'Reject success' | translate">Reject success</h2>
			</div>
		</div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="row">
                    <div class="col-xs-4">
                        <b class="gec-pop-up-font-size" ng-bind="'Transaction no.' | translate">Transaction No.:</b>
                    </div>
                    <div class="col-xs-8">
                        <span id="reject-transaction-no-label" class="gec-pop-up-font-size" ng-bind="verifyTxnCtrl.transactionModel.transactionNo"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-12 text-right">
                <scf-button id="verify-reject-back-button" data-dismiss="modal" ng-bind="'Back' | translate" ng-click="closeThisDialog();verifyTxnCtrl.backAndReset()"></scf-button>
                <scf-button id="view-reject-recent-button" data-dismiss="modal" ng-click="closeThisDialog();verifyTxnCtrl.viewRecent()" ng-bind="'View recent' | translate"></scf-button>
                <scf-button id="view-reject-history-button" data-dismiss="modal" ng-click="closeThisDialog();verifyTxnCtrl.viewHistory()" ng-bind="'View history' | translate"></scf-button>
            </div>
        </div>
    </div>
</div>