<div id="content" th:fragment="content">

	<div class="panel box-shadow-none content-header">
		<div class="panel-body">
			<div class="col-md-12">
				<h3>
					<span id="header-message-label" class="animated fadeInLeft">{{'Change
						password' | translate}}</span>
				</h3>
			</div>
		</div>
	</div>
	<div class="panel">
		<form name="passwordForm" class="form-horizontal" ng-submit="save()">
			<div class="panel-body">
				<ng-include src="'/change-password/contents'" ng-if="true"></ng-include>
			</div>
			<div class="panel-body">
				<div class="col-md-12 col-sm-12 col-xs-12 text-right">
					<scf-button id="cancel-button" class="popup-button btn"
						ng-click="cancel()">{{'Cancel' | translate}}</scf-button>
					<scf-button id="save-button" type="submit">{{'Save' |
					translate}}</scf-button>
				</div>
			</div>
		</form>
	</div>
</div>