<div id="content" th:fragment="content">

	<div class="panel box-shadow-none content-header">
		<div class="panel-body">
			<div class="col-md-12">
				<h3>
					<span ng-if="!isForceChangeMode" id="header-message-label"
						class="animated fadeInLeft">{{'Change password' |
						translate}}</span> <span ng-if="isForceChangeMode"
						id="header-message-label" class="animated fadeInLeft">{{'Force change password' | translate}}</span>
				</h3>
			</div>
		</div>
	</div>
	<div class="panel">
		<form name="policyForm" class="form-horizontal" ng-submit="save()">
			<div class="panel-body">
				<ng-include src="'/change-password/contents'" ng-if="true"></ng-include>
			</div>
			<div class="panel-body">
				<div class="col-md-4 col-sm-5 col-xs-12 text-right">
				</div>
				<div class="col-md-3 col-sm-2 col-xs-8 text-right" ng-show="!isForceChangeMode">
					<scf-button id="cancel-button" class="popup-button btn" ng-click="cancelChangePassword()">{{'Cancel'
								| translate}}</scf-button>
				</div>
				<div class="col-md-1 col-sm-2 col-xs-1">
					<scf-button id="save-button" type="submit" ng-click="saveNewPassword();">{{'Save'
								| translate}}</scf-button>
				</div>
				<div class="col-md-4 col-sm-3 col-xs-1">
				</div>
			</div>
		</form>
	</div>
</div>