<div class="form-group">
	<label for="dealer" id="current-password-label"
		class="col-lg-2 col-md-3 col-sm-3 col-xs-12 control-label">{{'Current
		password' | translate}}: </label>

	<div class="col-md-4 col-sm-3 col-xs-12">
		<scf-input-password id="current-password-textbox" maxlength="255"
			name="currentPassword" ng-model="user.currentPassword"></scf-input-password>
	</div>
	<div class="col-md-6 col-sm-4"></div>
</div>
<div class="form-group" ng-show="errors.currentPassword">
	<label class="col-lg-2 col-md-3 col-sm-1 col-xs-1 control-label"></label>
	<span class="col-md-6 col-sm-4 col-xs-12 error-msg"
		id="current-password-error-message-label"
		ng-bind="errors.currentPassword.message | translate"></span>
</div>
<div class="form-group">
	<label for="dealer" id="new-password-label"
		class="col-lg-2 col-md-3 col-sm-3 col-xs-12 control-label">{{'New
		password' | translate}}: </label>

	<div class="col-md-4 col-sm-3 col-xs-12">
		<scf-input-password id="new-password-textbox" maxlength="255"
			name="newPassword" ng-model="user.newPassword"></scf-input-password>
	</div>
	<div class="col-md-4 col-sm-3"></div>
</div>
<div class="form-group" ng-show="errors.newPassword">
	<label class="col-lg-2 col-md-3 col-sm-1 col-xs-1 control-label"></label>
	<span class="col-md-6 col-sm-4 col-xs-12 error-msg"
		id="new-password-error-message-label"
		ng-bind="errors.newPassword.message | translate"></span>
</div>
<div class="form-group">
	<label for="dealer" id="confirm-password-label"
		class="col-lg-2 col-md-3 col-sm-3 col-xs-12 control-label">{{'Confirm
		password' | translate}}: </label>

	<div class="col-md-4 col-sm-3 col-xs-12">
		<scf-input-password id="confirm-password-textbox" maxlength="255"
			name="confirmPassword" ng-model="user.confirmPassword"></scf-input-password>
	</div>
</div>
<div class="form-group" ng-show="errors.confirmPassword">
	<label class="col-lg-2 col-md-3 col-sm-1 col-xs-1 control-label"></label>
	<span class="col-md-6 col-sm-4 col-xs-12 error-msg"
		id="confirm-password-error-message-label"
		ng-bind="errors.confirmPassword.message | translate"></span>
</div>
<br />
<div class="form-group">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<fieldset>
			<legend id="list-of-password-policy-label"
				ng-bind="'List of password policy' | translate"></legend>
			<ul>
				<li ng-repeat="record in passwordPolicies"
					style="list-style-type: disc;"><label
					id="{{record.policyTopic}}-label" ng-model="record.displayPolicy">{{record.displayPolicy}}</label>
				</li>
			</ul>
		</fieldset>
	</div>
</div>