<div class="modal-content" >
	<div class="modal-header">
		<div class="row">
			<div class="col-md-10 col-sm-10">
				<h2>
					<span id="force-change-password-header"
						ng-bind="'Reject fail' | translate">Force change password</span>
				</h2>
			</div>
		</div>
	</div>
	<div class="modal-body" ng-app="gecscf.profile">
		<div class="row" ng-controller="PasswordController as ctrl">
			<div class="col-md-2 col-sm-2"></div>
			<div class="col-md-10 col-sm-10 col-xs-12">
				<div class="slide-animate" ng-include="'/change-password'"></div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="col-xs-12 text-right">
			</div>
		</div>
	</div>
</div>