<div class="modal-content">
	<div class="modal-header">
		<div class="row">
			<div class="col-md-10 col-sm-10">
				<h3>
					<span id="force-change-password-header"
						ng-bind="'Force change password' | translate">Force change
						password</span>
				</h3>
			</div>
		</div>
	</div>
	<form name="passwordForm" class="form-horizontal" ng-submit="directSave(user, closeThisDialog)">
		<div class="modal-body">
			<div class="row">
				<div class="panel-body">
					<ng-include src="'/change-password/contents'" ng-if="true"></ng-include>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-12 text-right">
					<scf-button id="save-button" type="submit">{{'Save' |
					translate}}</scf-button>
				</div>
			</div>
		</div>
	</form>
</div>