<div ng-if="ctrl.getUserInfoSuccess" id="content" th:fragment="content">
	<div class="app-title">
		<div>
			<h3 id="header-message-label" class="animated fadeInLeft" ng-bind="'Remittance advice' | translate">Remittance advice</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="tile">
				<div class="tile-body">
					<div class="col-md-12 text-right">
						<button type="button" class="btn btn-primary"
							data-toggle="collapse" data-target="#advance-search">
							<i class="fa fa-fw fa-lg fa-search"></i> Search
						</button>
					</div>
					<div id="advance-search">
						<form name="createForm" class="form-horizontal">
							<div class="form-group row">
								<label for="dateTypeRadio" class="col-md-2 col-sm-3 control-label"></label>
								<div class="col-md-9 col-sm-8">
									<label class="col-md-2 col-sm-2 radio-inline">
										<scf-radio id="effective-date-type" ng-value="ctrl.dateSelected.effectiveDate" name="date-type-radio" ng-model="ctrl.listRemittanceAdvice.dateType"></scf-radio>
										{{'Effective date' | translate}}
									</label>
									<label class="col-md-2 col-sm-2 radio-inline">
										<scf-radio id="maturity-date-type" ng-value="ctrl.dateSelected.maturityDate" name="date-type-radio" ng-model="ctrl.listRemittanceAdvice.dateType"></scf-radio>
										{{'Maturity date' | translate}}
									</label>
									<label class="col-md-2 col-sm-2 radio-inline">
										<scf-radio id="remittance-date-type" ng-value="ctrl.dateSelected.remittanceDate" name="date-type-radio" ng-model="ctrl.listRemittanceAdvice.dateType"></scf-radio>
										{{'Remittance date' | translate}}
									</label>
								</div>
								<div class="col-md-1 col-sm-1"></div>
							</div>
							<!-- Date -->
							<div class="form-group row">
								<label id="date-label" class="col-md-2 col-sm-3 control-label">{{'Date' | translate}}:</label>
								<label id="from-label" for="date-from-calendar" class="control-label">{{'from' | translate}}: </label>
								<div class="col-md-3 col-sm-3 gec-calendar-group">
									<scf-date-picker-from text-id="date-from-textbox" button-id="date-from-calendar-button" text-model="ctrl.dateModel.dateFrom"
									    date-format="{{ctrl.dateFormat}}" is-open="ctrl.openDateFrom" open-calendar-action="ctrl.openCalendarDateFrom()"
									    max-date="ctrl.dateModel.dateTo">
									</scf-date-picker-from>

								</div>
								<label id="to-label" for="date-to-calendar" class="control-label">{{'to' | translate}}: </label>
								<div class="col-md-3 col-sm-3 gec-calendar-group">
									<scf-date-picker-to text-id="date-to-textbox" button-id="date-to-calendar-button" text-model="ctrl.dateModel.dateTo" date-format="{{ctrl.dateFormat}}"
									    is-open="ctrl.openDateTo" open-calendar-action="ctrl.openCalendarDateTo()" min-date="ctrl.dateModel.dateFrom">
									</scf-date-picker-to>
								</div>
								<div class="col-md-4 col-sm-3"></div>
							</div>
							<div class="form-group row" ng-show="ctrl.invalidDateCriteria">
								<label class="col-md-2 col-sm-4 col-xs-12 control-label"></label>
								<span class="col-md-6 col-sm-4 col-xs-12 error-msg" id="date-format-warning-message-label" ng-bind="ctrl.invalidDateCriteriaMsg.message | translate"></span>
							</div>
							<!-- Remittance Of -->
							<div class="form-group row">
								<label for="dealer" id="remittance-of-label" class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Remittance of' | translate}}: </label>

								<div class="col-md-3 col-sm-3 col-xs-12">
									<scf-dropdown id="remittance-of-dropdown" ng-disabled="ctrl.disableDropDown" ng-model="ctrl.listRemittanceAdvice.remittanceOf"
									    component-data="ctrl.remittanceOfDropdown" translate-label="true" ng-change="ctrl.onSelectRemittance()"></scf-dropdown>
								</div>
							</div>
							<!-- Supplier -->
							<div class="form-group row">
								<label for="supplier-auto-suggest" id="supplier-label" class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Supplier' | translate}}: </label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<gec-auto-suggest model="ctrl.supplierAutoSuggestModel" disable="ctrl.disableSupplierSearch" ng-model="ctrl.supplier" id="supplier-auto-suggest-tag"
									    name="supplierCode" maxlength="100"></gec-auto-suggest>
								</div>
								<div class="col-md-3 col-sm-2"></div>
							</div>
							<!-- Buyer -->
							<div class="form-group row">
								<label for="buyer-auto-suggest" id="buyer-label" class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Buyer' | translate}}: </label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<gec-auto-suggest model="ctrl.buyerAutoSuggestModel" disable="ctrl.disableBuyerSearch" ng-model="ctrl.buyer" id="buyer-auto-suggest-tag"
									    name="buyerCode" maxlength="100"></gec-auto-suggest>
								</div>
								<div class="col-md-3 col-sm-2"></div>
							</div>
							<!-- Paid Status and Transaction No -->
							<div class="form-group row">
								<label for="dealer" id="paid-status-label" class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Paid Status' | translate}}: </label>

								<div class="col-md-3 col-sm-3 col-xs-12">
									<scf-dropdown id="paid-status-dropdown" ng-model="ctrl.listRemittanceAdvice.paidStatus" component-data="ctrl.paidStatusDropdown"
									    translate-label="true"></scf-dropdown>
								</div>
								<div class="hidden-lg hidden-md col-sm-12 hidden-xs">
									<br />
								</div>
								<label id="transaction-no-label" class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Transaction no' | translate}}: </label>
								<div class="col-md-3 col-sm-3 col-xs-12">
									<scf-input-text id="transaction-no-textbox" ng-model="ctrl.listRemittanceAdvice.transactionNo" maxlength="20"></scf-input-text>
								</div>
							</div>
							<!-- Close Status -->
							<div class="form-group row">
								<label for="dealer" id="close-status-label" class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Close status' | translate}}: </label>

								<div class="col-md-3 col-sm-3 col-xs-12">
									<scf-dropdown id="close-status-dropdown" ng-model="ctrl.listRemittanceAdvice.closeStatus" component-data="ctrl.closeStatusDropdown"
									    translate-label="true"></scf-dropdown>
								</div>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<scf-button id="search-button" class="popup-button btn" ng-click="ctrl.searchRemittanceAdvice()">{{'Search' | translate}}
									</scf-button>
								</div>
							</div>
						</form>
					</div>
					<br/>
						<!-- Start Table-->
					<div class="responsive-table">
						<table id="remittance-advice-table" class="table table-hover table-bordered table-striped" cellspacing="0">
							<thead>
								<tr>
									<th id="$rowNo-header-label" ng-bind="'No.' | translate">No.</th>
									<th id="buyer-name-header-label" ng-show="ctrl.showBuyer" ng-bind="'Buyer Name' | translate">Buyer Name</th>
									<th id="supplier-name-header-label" ng-show="ctrl.showSupplier" ng-bind="'Supplier Name' | translate">Supplier Name</th>
									<th id="transaction-no-header-label" ng-bind="'Transaction No' | translate">Transaction No</th>
									<th id="remittance-no-header-label" ng-bind="'Remittance No' | translate">Remittance No</th>
									<th id="remittance-date-header-label" ng-bind="'Remittance Date' | translate">Remittance Date</th>
									<th id="effective-date-header-label" ng-bind="'Effective Date' | translate">Effective Date</th>
									<th id="maturity-date-header-label" ng-bind="'Maturity Date' | translate">Maturity Date</th>
									<th id="principal-amt-header-label" ng-bind="'Principal Amt.' | translate">Principal Amt.</th>
									<th id="interest-amt-header-label" ng-bind="'Interest Amt.' | translate">Interest Amt.</th>
									<th id="repay-fee-header-label" ng-bind="'Repay Fee' | translate">Repay Fee</th>
									<th id="outstanding-amt-header-label" ng-bind="'Outstanding Amt.' | translate">Outstanding Amt.</th>
									<th id="repay-amt-header-label" ng-bind="'Repay Amt.' | translate">Repay Amt.</th>
									<th id="paid-status-header-label" ng-bind="'Paid Status' | translate">Paid Status</th>
									<th id="close-status-header-label" ng-bind="'Close Status' | translate">Close Status</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="record in ctrl.pagingController.tableRowCollection track by $index">
									<td class="text-center">
										<span id="$rowNo-{{record.remittanceAdviceId}}-label" ng-bind="record.rowNo"></span>
									</td>
									<td class="text-left" ng-show="ctrl.showBuyer">
										<span id="buyer-name-{{record.remittanceAdviceId}}-label" ng-bind="record.buyer.memberName | translate"></span>
									</td>
									<td class="text-left" ng-show="ctrl.showSupplier">
										<span id="supplier-name-{{record.remittanceAdviceId}}-label" ng-bind="record.supplier.memberName | translate"></span>
									</td>
									<td class="text-left">
										<span id="transaction-no-{{record.remittanceAdviceId}}-label" ng-bind="record.transactionNo"></span>
									</td>
									<td class="text-left">
										<span id="remittance-no-{{record.remittanceAdviceId}}-label" ng-bind="record.remittanceNo"></span>
									</td>
									<td class="text-right">
										<span id="remittance-date-{{record.remittanceAdviceId}}-label" ng-bind="record.remittanceTime | date: 'dd/MM/yyyy hh:mm': 'UTC+0700'"></span>
									</td>
									<td class="text-center">
										<span id="effective-date-{{record.remittanceAdviceId}}-label" ng-bind="record.effectiveDate | date: 'dd/MM/yyyy': 'UTC+0700'"></span>
									</td>
									<td class="text-center">
										<span id="maturity-date-{{record.remittanceAdviceId}}-label" ng-bind="record.maturityDate | date: 'dd/MM/yyyy': 'UTC+0700'"></span>
									</td>
									<td class="text-right">
										<span id="principal-amt-{{record.remittanceAdviceId}}-label" ng-bind="record.principalAmount | number : 2"></span>
									</td>
									<td class="text-right">
										<span id="interest-amt-{{record.remittanceAdviceId}}-label" ng-bind="record.interestAmount | number : 2"></span>
									</td>
									<td class="text-right">
										<span id="repay-fee-{{record.remittanceAdviceId}}-label" ng-bind="record.repaymentFee | number : 2"></span>
									</td>
									<td class="text-right">
										<span id="outstanding-amt-{{record.remittanceAdviceId}}-label" ng-bind="record.outstandingAmount | number : 2"></span>
									</td>
									<td class="text-right">
										<span id="repay-amt-{{record.remittanceAdviceId}}-label" ng-bind="record.paymentAmount | number : 2"></span>
									</td>
									<td class="text-center">
										<span id="paid-status-{{record.remittanceAdviceId}}-label" ng-bind="record.paidStatus"></span>
									</td>
									<td class="text-center">
										<span id="close-status-{{record.remittanceAdviceId}}-label" ng-bind="record.closeStatus"></span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-12 col-sm-12 text-right">
						<div class="col-md-12 col-sm-12">
							<span>
								<b ng-bind="ctrl.pagingController.splitePageTxt" id="remittance-advice-paging-label"></b> &nbsp;&nbsp;
								<scf-pagination dropdown-id="remittance-advice-page-limit-dropdown" name="remittance-advice" page-size-model="ctrl.pagingController.pagingModel.pageSizeSelectModel"
								    total-page="ctrl.pagingController.pagingModel.totalPage" current-page="ctrl.pagingController.pagingModel.currentPage"
								    page-size-list="ctrl.pagingController.pageSizeList" page-action="ctrl.searchRemittanceAdvice"></scf-pagination>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>