<div th:fragment="content"
	sec:authorize="hasAnyAuthority('VERIFY_PAYMENTS_OF_MY_ORGANIZATION')">
	<div
		ng-controller="WaitForPaymentTodoListController as paymentTodoListCtrl">
		<h3 class="animated fadeInLeft"
			id="wait-for-verify-payments-header-label"
			ng-bind="dashboardItem.headerLabel"></h3>

		<!-- Start Table-->
		<div class="row">
			<div class="col-md-12">
				<scf-data-table id="wait-for-verify-payments-table"
					class="transaction-table"
					component-config="paymentTodoListCtrl.dataTable"
					component-datas="paymentTodoListCtrl.pagingController.tableRowCollection"
					current-page="paymentTodoListCtrl.pagingController.pagingModel.currentPage"
					record-per-page="paymentTodoListCtrl.pagingController.pagingModel.pageSizeSelectModel"
					clear-sort-order="paymentTodoListCtrl.pagingController.pagingModel.clearSortOrder"></scf-data-table>
			</div>
			<div id="fixed-bottom" class="col-md-12"></div>
		</div>

		<div class="row">
			<div class="col-md-12 col-sm-12 text-right">
				<span> <b
					ng-bind="paymentTodoListCtrl.pagingController.splitePageTxt"
					id="wait-for-verify-payments-paging-label"></b> &nbsp;&nbsp; <scf-pagination
						dropdown-id="page-limit-dropdown" name="wait-for-verify-payments"
						page-size-model="paymentTodoListCtrl.pagingController.pagingModel.pageSizeSelectModel"
						total-page="paymentTodoListCtrl.pagingController.pagingModel.totalPage"
						current-page="paymentTodoListCtrl.pagingController.pagingModel.currentPage"
						page-size-list="paymentTodoListCtrl.pagingController.pageSizeList"
						page-action="paymentTodoListCtrl.loadData"></scf-pagination>
				</span>
			</div>
		</div>
	</div>

</div>
