.navbar {
    background-color: #223358;
}
#title, #organize-user-menu, #profile-menu{
	color: #ffffff;
}
.gec-menu-bar {
    background-color: #ffffff;
    min-height: 45px;
    height: 45px;
    z-index: 250;
}
footer .footer-below {
	background-color: #233140;
}
.navbar-default .navbar-nav>li>a {
	color: #777;
}
.content-header {
    background-color: #FFF;
}

.panel {
     background-color: #FFF;
}

button[type='submit'] {
}

.popup-button {
}