<table st-table="componentDatas" class="table table-hover table-bordered table-striped">
	<thead>
		<tr>
			<th class="text-center" scf-th="column"
				ng-repeat="column in tableColumns track by $index"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="data in componentDatas track by $id(data)">

			<td scf-td="data" ng-repeat="column in tableColumns"
				column-render="column" index-no="$parent.$index"
				page-options="pageOptions"></td>
		</tr>
<!-- 		<tr ng-repeat-end> -->
			<!--<td></td>-->
			<!--<td colspan="{{tableColumns.length-1}}"><div
					ng-if="data | isDisplayTransactionErrorMessage">
					<strong class="text-danger"
						id="transaction-{{data.transactionNo}}-result-label">{{data
						| transactionErrorMessage}} <span
						ng-if="data.returnMessage == 'Credit limit expired'">{{'Please
							contact K-BIZ Contact Center' | translate}}&nbsp;Tel.:
							02-888-8822</span>
					</strong>
				</div></td>  -->
<!-- 		</tr> -->
	</tbody>
</table>