<div class="modal-content">
	<form name="newCreateTransactionDisplay" class="form-horizontal"
		ng-submit="ctrl.save(closeThisDialog)">
		<div class="modal-header">
			<div class="row">
				<div class="col-md-10 col-sm-10">
					<h3>
						<div ng-if="ctrl.modeCreateDisplay">
							<span id="display-data-popup-header-message-label" 
							class="popup-text" ng-bind="'Add new create transaction display' | translate">Add new create transaction display</span>
						</div>
						<div ng-if="!ctrl.modeCreateDisplay">
							<span id="display-data-popup-header-message-label" 
							class="popup-text" ng-bind="'Add new document display' | translate">Add new document display</span>
						</div>
					</h3>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group row">
						<label for="group-name" id="display-name-label"
							class="col-md-3 col-sm-4 col-xs-12 control-label"><span
							ng-bind="'Display name' | translate"></span>:</label>
						<div class="col-md-6 col-sm-4 col-xs-12">
							<scf-input-text maxlength="255" id="display-name-textbox"
								ng-model="ctrl.model.displayName" autofocus="autofocus"></scf-input-text>
						</div>
						<label for="display-name-textbox"
									class="col-md-3 col-sm-4 col-xs-12 control-label"></label>
						<div
							ng-show="errors.duplicateLayoutName || errors.requireLayoutName">
							<span ng-show="errors.duplicateLayoutName"
								class="col-md-4 col-sm-5 col-xs-12 text-left error-msg"
								id="layout-name-error-message-label">{{'Display name is
								duplicate' | translate}}.</span> <span
								ng-show="errors.requireLayoutName"
								class="col-md-4 col-sm-5 col-xs-12 text-left error-msg"
								id="layout-name-warning-message-label">{{'Display name is
								required' | translate}}.</span>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-12 text-right">
					<scf-button id="popup-cancel-button" class="popup-button"
						ng-click="closeThisDialog()" ng-bind="'Cancel' | translate"></scf-button>
					<scf-button id="popup-save-button" class="popup-button"
						type="submit" ng-bind="'Save' | translate"></scf-button>
				</div>
			</div>
		</div>
	</form>
</div>