<div class="modal-content">
	<form name="selectReasonCode" class="form-horizontal"
		ng-submit="ctrl.selected()">
		<div class="modal-header">
			<div class="row">
				<div class="col-md-10 col-sm-10">
					<h3>
						<span id="reason-code-popup-header-message-label"
							class="popup-text" ng-bind="'SELECT_REASON_CODE' | translate">
						</span>
					</h3>
				</div>
			</div>
		</div>
		<div class="modal-body">
			
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group row">
						<label for="group-name" id="reason-code-label"
							class="col-md-3 col-sm-4 col-xs-12 control-label text-right"><span
							ng-bind="'REASON_CODE' | translate"></span>:</label>
						<div class="col-md-6 col-sm-4 col-xs-12">
							<scf-dropdown id="reason-code-dropdown"
								ng-model="ctrl.model.reasonCode"
								component-data="ctrl.reasonCodeDropdown"></scf-dropdown>
						</div>
					</div>

				</div>
			</div>

		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-12 text-right">
					<scf-button id="popup-ok-button" class="popup-button"
						type="submit" ng-bind="'OK' | translate"></scf-button>
				</div>
			</div>
		</div>
	</form>
</div>