<div id="content" th:fragment="content">
	<div class="panel box-shadow-none content-header">
		<div class="panel-body">
			<div class="col-md-12">
				<h3 id="header-message-label" class="animated fadeInLeft">{{
					'Verify transaction' | translate}}</h3>
			</div>
		</div>
	</div>
	<div class="form-element">
		<div class="panel panel-default col-md-12 padding-0">
			<div class="panel-body" style="padding-bottom: 30px;">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="row">
										<div class="col-md-3 col-sm-3">
											<label ng-bind="'Sponsor' | translate"></label>:
										</div>
										<div class="col-md-9 col-sm-9">
											<span id="sponsor-label"
												ng-bind="verifyTxnCtrl.transactionModel.sponsor"></span>
										</div>

									</div>
									<div class="row">
										<div class="col-md-3 col-sm-3">
											<label ng-bind="'Financing documents' | translate"></label>:
										</div>
										<div class="col-md-2 col-sm-2 text-right">
											<span id="financing-document-label"
												ng-bind="verifyTxnCtrl.transactionModel.documents.length"></span>
										</div>
										<div class="col-md-1 col-sm-1"></div>

										<div class="col-md-3 col-sm-3">
											<label ng-bind="'Transaction type' | translate"></label>:
										</div>
										<div class="col-md-2 col-sm-2">
											<span id="transaction-type-label">Loan</span>
										</div>
										<div class="col-md-1 col-sm-1"></div>
									</div>
									<div class="row">
										<div class="col-md-3 col-sm-3">
											<label ng-bind="'Value of document' | translate"></label>:
										</div>
										<div class="col-md-2 col-sm-2 text-right">
											<span id="value-of-document-label"
												ng-bind="verifyTxnCtrl.transactionModel.valueOfDocument | number:2"></span>
										</div>
										<div class="col-md-1 col-sm-1">
											<span ng-bind="'THB' | translate"></span>
										</div>
										<div class="col-md-3 col-sm-3">
											<label ng-bind="'Sponsor payment date' | translate"></label>:
										</div>
										<div class="col-md-2 col-sm-2">
											<span id="sponsor-payment-date-label"
												ng-bind="verifyTxnCtrl.transactionModel.sponsorPaymentDate | date: 'dd/MM/yyyy' : 'UTC+0700'"></span>
										</div>
										<div class="col-md-1 col-sm-1"></div>
									</div>
									<div class="row">
										<div class="col-md-3 col-sm-3">
											<label
												ng-bind="'Pre-drawdown percentage' | translate"></label>:
										</div>
										<div class="col-md-2 col-sm-2 text-right">
											<span id="predrawdown-percentage-label"
												ng-bind="verifyTxnCtrl.transactionModel.prePercentageDrawdown | number:2"></span>
										</div>
										<div class="col-md-1 col-sm-1">
											<span>%</span>
										</div>
										<div class="col-md-3 col-sm-3">
											<label ng-bind="'Transaction date' | translate"></label>:
										</div>
										<div class="col-md-2 col-sm-2">
											<span id="transaction-date-label"
												ng-bind="verifyTxnCtrl.transactionModel.transactionDate | date: 'dd/MM/yyyy' : 'UTC+0700'"></span>
										</div>
										<div class="col-md-1 col-sm-1"></div>
									</div>
									<div class="row">
										<div class="col-md-3 col-sm-3">
											<label ng-bind="'Transaction amount' |translate"></label>:
										</div>
										<div class="col-md-2 col-sm-2 text-right">
											<span id="transaction-amount-label"
												ng-bind="verifyTxnCtrl.transactionModel.transactionAmount | number:2"></span>
										</div>
										<div class="col-md-1 col-sm-1">
											<span ng-bind="'THB' | translate"></span>
										</div>
										<div class="col-md-3 col-sm-3">
											<label ng-bind="'Loan maturity date' | translate"></label>:
										</div>
										<div class="col-md-2 col-sm-2">
											<span id="loan-matuality-label"
												ng-bind="verifyTxnCtrl.transactionModel.maturityDate | date: 'dd/MM/yyyy' : 'UTC+0700'"></span>
										</div>
										<div class="col-md-1 col-sm-1"></div>
									</div>
									<div class="row">
										<div class="col-md-2 col-sm-2">
											<label ng-bind="'Create by' |translate"></label>:
										</div>
										<div class="col-md-3 col-sm-3 text-right">
											<span id="create-by-label"
												ng-bind="verifyTxnCtrl.transactionModel.createdBy"></span>
										</div>
										<div class="col-md-1 col-sm-1"></div>
										<div class="col-md-3 col-sm-3">
											<label ng-bind="'Create date' | translate"></label>:
										</div>
										<div class="col-md-2 col-sm-2">
											<span id="create-date-label"
												ng-bind="verifyTxnCtrl.transactionModel.createdTime | date: 'dd/MM/yyyy HH:mm': 'UTC+0700'"></span>
										</div>
										<div class="col-md-1 col-sm-1"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">&#32;</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<label id="total-select-doc-label">{{ 'Selected' |
								translate}}&#32;{{verifyTxnCtrl.transactionModel.documents.length}}&#32;{{
								'Records' | translate}}</label>:
						</div>
						<div class="col-md-9 text-right">
							<div class="row">
								<div class="col-md-12">
									<b id="document-paging-label"
										ng-bind="verifyTxnCtrl.splitePageTxt"></b>
									&nbsp;&nbsp;
									<scf-pagination
										page-size-model="verifyTxnCtrl.pageModel.pageSizeSelectModel"
										total-page="verifyTxnCtrl.pageModel.totalPage"
										current-page="verifyTxnCtrl.pageModel.currentPage"
										page-size-list="verifyTxnCtrl.pageSizeList"
										page-action="verifyTxnCtrl.searchDocument"></scf-pagination>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<scf-data-table component-config="verifyTxnCtrl.dataTable"
								id="document-table"
								component-datas="verifyTxnCtrl.documentDisplay"
								current-page="verifyTxnCtrl.pageModel.currentPage"
											record-per-page="verifyTxnCtrl.pageModel.pageSizeSelectModel">
							</scf-data-table>
						</div>
						<div id="fixed-bottom" class="col-md-12"></div>
					</div>
				</div>
			</div>

			<div class="panel-body">
				<div class="row">
					<div id="bottom-sticker">
						<div class="col-md-12">
							<div class="form-horizontal">
								<label class="col-md-2 control-label"><b
									ng-bind="'Transaction amount' | translate"></b>:</label>
								<div class="col-md-9 control-label">
									<span id="footer-transaction-amount-label"
										ng-bind="verifyTxnCtrl.transactionModel.transactionAmount | number:2"></span>
									&nbsp; <span ng-bind="'THB' | translate"></span>
								</div>

								<label class="col-md-2 control-label"><b
									ng-bind="'Transaction date' | translate"></b>:</label>
								<div class="col-md-9 control-label">
									<label id="footer-transaction-date-label" ng-bind="verifyTxnCtrl.transactionModel.transactionDate
										| date: 'dd/MM/yyyy'"></label>
								</div>
							</div>
						</div>
						<div class="col-md-12 text-right">
							<scf-button id="back-button" class="btn btn-default"
								type="submit" ng-click="verifyTxnCtrl.backNotReset()">{{
							'Back' | translate}}</scf-button>
							<scf-button id="approve-button" class="btn btn-default"
								type="submit" ng-click="verifyTxnCtrl.confirmApprove()">{{
							'Approve' | translate}}</scf-button>
							<scf-button id="reject-button" class="btn btn-default"
								type="submit" ng-click="verifyTxnCtrl.reject()">{{
							'Reject' | translate}}</scf-button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<scf-modal visible="showConfirmPopup">
	<div class="modal-content">
		<div class="modal-header">
			<div class="row">
				<div class="col-md-12">
					<h1 id="confirm-message-label" ng-bind="'Confirm approval ?' | translate"></h1>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-xs-12 text-right">
					<scf-button type="submit" data-dismiss="modal" id="yes-button"
						ng-click="verifyTxnCtrl.approve()" ng-bind="'Yes' | translate">
					</scf-button>
					<scf-button type="button" class="btn-danger" data-dismiss="modal"
						id="no-button" ng-bind="'No' | translate"> </scf-button>
				</div>
			</div>
		</div>
	</div>
	</scf-modal>
	<scf-modal visible="successPopup">
	<div class="modal-content">
		<div class="modal-header">
			<div class="row">
				<div class="col-md-2 col-sm-2">
					<image width="70" height="70" ng-src="img/success-icon.png"></image>
				</div>
				<div class="col-md-10 col-sm-10">
					<h2 class="gec-pop-up-font-size-green" ng-bind="'Success' | translate">Success</h2>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-2 col-sm-2">
				</div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<b class="gec-pop-up-font-size" ng-bind="'Transaction no.' | translate">Transaction No.</b>
					<span class="gec-pop-up-font-size">:</span> 
					<span id="transaction-no-label" class="gec-pop-up-font-size" ng-bind="verifyTxnCtrl.transactionNo"></span>
				</div>				
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-12 text-right">
					<scf-button id="verify-back-button" data-dismiss="modal"
						ng-click="verifyTxnCtrl.backAndReset()" ng-bind="'Back' | translate"></scf-button>	
					<scf-button id="view-recent-button" data-dismiss="modal"
						ng-click="verifyTxnCtrl.viewRecent()" ng-bind="'View Recent' | translate"></scf-button>				
					<scf-button id="view-history-button" data-dismiss="modal"
						ng-click="verifyTxnCtrl.viewHistory()" ng-bind="'View History' | translate"></scf-button>
				</div>
			</div>
		</div>
	</div>
	</scf-modal>
	<scf-modal visible="verifyFailPopup">
	<div class="modal-content">
		<div class="modal-header">
			<div class="row">
				<div class="col-md-2 col-sm-2">
					<image width="70" height="70" ng-src="img/error-icon.png"></image>
				</div>
				<div class="col-md-10 col-sm-10" style="color: red;">
					<h2 ng-bind="'Fail' | translate">Fail</h2>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-2 col-sm-2">
				</div>	
				<div class="col-md-10 col-sm-10 col-xs-12">
					<h3 id="error-message-label" class="gec-pop-up-font-size">
						<span ng-bind="verifyTxnCtrl.errorMsgPopup | translate:{message: verifyTxnCtrl.errorMessageModel.errorMessage}"></span>
						<br/>
						by: <span ng-bind="verifyTxnCtrl.errorMessageModel.modifyName"></span>
					</h3>
				</div>					
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-12 text-right"  >
					<scf-button id="fail-view-recent-button" data-dismiss="modal" ng-click="verifyTxnCtrl.viewRecent()"
						ng-bind="'View recent' | translate"></scf-button>
					<scf-button id="popup-back-button" data-dismiss="modal"
						ng-click="verifyTxnCtrl.backAndReset()" ng-bind="'Back' | translate"></scf-button>
				</div>
			</div>
		</div>
	</div>
	</scf-modal>
	<!-- End Panel-->
</div>