<div id="content" th:fragment="content">
	<div id="wrapper">
		<div class="panel box-shadow-none content-header">
			<div class="panel-body">
				<div class="col-md-12">
					<h3 id="header-message-label" class="animated fadeInLeft">{{'Customer
						code group' | translate}}</h3>
				</div>
			</div>
		</div>
		<div class="form-element">
			<div class="panel panel-default col-md-12 padding-0">
				<div class="panel-body">
					<form name="manageForm" class="form-horizontal">
						<div class="form-group">
							<label class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Group
								name' | translate}}: </label>

							<div class="col-md-4 col-sm-5 col-xs-12">
								<label class="control-label"
									id="customer-code-groups-group-name">{{ctrl.model.groupName}}</label>
								<scf-button id="customer-code-groups-edit-button"
									class="btn-default gec-btn-action" ng-click="ctrl.edit(ctrl.model)"
									title="Edit a customer code group name"> <i
									class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></scf-button>
							</div>
							<div class="col-md-6 col-sm-4"></div>
						</div>
						<div class="form-group">
							<label class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Customer'
								| translate}}: </label>

							<div class="col-md-4 col-sm-3 col-xs-12">
								<gec-auto-suggest model="ctrl.customerAutoSuggestModel"
									ng-model="ctrl.criteria.customer"
									id="customer-code-groups-customer-auto-suggest"></gec-auto-suggest>
							</div>
							<label class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Customer
								code' | translate}}: </label>
							<div class="col-md-2 col-sm-3 col-xs-12">
								<scf-input-text id="customer-code-groups-customer-code-textbox"
									ng-model="ctrl.criteria.customerCode"></scf-input-text>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Status'
								| translate}}: </label>

							<div class="col-md-2 col-sm-3 col-xs-12">
								<scf-dropdown id="customer-code-groups-status-dropdown"
									ng-model="ctrl.criteria.status"
									component-data="ctrl.statusDropdown" translate-label="true"></scf-dropdown>
							</div>
							<div class="col-md-2 col-sm-3">
								<scf-button id="customer-code-groups-search-button"
									class="popup-button" data-dismiss="modal"
									ng-click="ctrl.search(ctrl.criteria)"
									ng-bind="'Search' | translate"></scf-button>
							</div>
						</div>
					</form>

					<div class="row">
						<div class="col-md-12 text-right">
						<scf-button id="channel-configs-new-button"
							class="btn-default gec-btn-action" ng-disabled="false"
							ng-click="ctrl.newCustomerCode()"> <i
							class="fa fa-plus fa-lg" aria-hidden="true"></i></scf-button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 text-right">							
							<span> 
								<b ng-bind="ctrl.pagingController.splitePageTxt"
									id="customer-code-paging-label"></b> &nbsp;&nbsp; 
									<scf-pagination
										dropdown-id="page-limit-dropdown"
										page-size-model="ctrl.pagingController.pagingModel.pageSizeSelectModel"
										total-page="ctrl.pagingController.pagingModel.totalPage"
										current-page="ctrl.pagingController.pagingModel.currentPage"
										page-size-list="ctrl.pagingController.pageSizeList"
										page-action="ctrl.pagingController.search"></scf-pagination>
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="responsive-table">
								<scf-table id="customer-code-table"
								component-config="ctrl.dataTable"
								component-datas="ctrl.pagingController.tableRowCollection"
								current-page="ctrl.pagingController.pagingModel.currentPage"
								record-per-page="ctrl.pagingController.pagingModel.pageSizeSelectModel"
								clear-sort-order="ctrl.pagingController.pagingModel.clearSortOrder"
								/>
							</div>
						</div>					
					</div>
				</div>

				<div class="panel-body">

					<div class="col-md-12 col-sm-12 text-right">
						<scf-button id="customer-code-groups-back-button"
							class="popup-button" data-dismiss="modal"
							ng-click="ctrl.backToSponsorConfigPage()"
							ng-bind="'Back' | translate"></scf-button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>