<div class="modal-content">
	<form name="confirmDlg" class="form-horizontal"
		ng-submit="closeThisDialog(true);">
		<div class="modal-header">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<h2>
						<span id="confirm-header-message-label" class="popup-text"
							ng-bind="ngDialogData.headerMessage | translate"></span>
					</h2>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="col-md-2 col-sm-2"></div>
			<div class="col-md-10 col-sm-10">
				<span id="confirm-message-label" ng-bind="ngDialogData.bodyMessage"></span>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-12 text-right" ng-if="!ngDialogData.data.buttons">
					<scf-button id="no-button" class="popup-button"
						ng-click="closeThisDialog(false)" ng-bind="'NO' | translate"></scf-button>
					<scf-button id="yes-button" class="popup-button" type="submit"
						ng-bind="'YES' | translate"></scf-button>					
				</div>
				
				<div class="col-xs-12 text-right" ng-if="ngDialogData.data.buttons" ng-repeat="button in ngDialogData.data.buttons track by $index">
					<scf-button id="button.id" class="popup-button" ng-bind="button.label | translate" ng-click="button.action()"></scf-button>
				</div>
			</div>
		</div>
	</form>
</div>