<div class="modal-content">
	<form name="successDialogForm" class="form-horizontal"
		ng-submit="closeThisDialog();">
		<div class="modal-header">
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-3">
					<image width="70" height="70" ng-src="img/success-icon.png"></image>
				</div>
				<div class="col-md-10 col-sm-10 col-xs-9">
					<h2>
						<span id="popup-header-message-label"
							class="gec-pop-up-font-size-green"
							ng-bind="ngDialogData.data.headerMessage | translate">Approve
							success</span>
					</h2>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row" ng-show="ngDialogData.data.mode == 'transaction'">
				<div class="col-xs-4">
					<b class="gec-pop-up-font-size"
						ng-bind="'Transaction no.' | translate">Transaction No.:</b>
				</div>
				<div class="col-xs-8">
					<span id="popup-transaction-no-label" class="gec-pop-up-font-size"
						ng-bind="ngDialogData.data.bodyMessage"></span>
				</div>
			</div>
			<div class="row"
				ng-show="ngDialogData.data.mode == undefined || ngDialogData.data.mode == null">
				<div class="col-md-2 col-sm-2"></div>
				<div class="col-md-10 col-sm-10">
					<span id="popup-message-label"
						ng-bind="ngDialogData.data.bodyMessage"></span>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row" ng-if="ngDialogData.data.mode == 'transaction'">
				<div class="col-xs-12 text-right">
					<scf-button id="popup-back-button" class="popup-button"
						data-dismiss="modal" ng-bind="'Back' | translate"
						ng-hide="(ngDialogData.data.hideBackButton  != undefined  && ngDialogData.data.hideBackButton == true)"
						ng-click="closeThisDialog(false);ngDialogData.data.backAndReset()"></scf-button>
					<scf-button id="popup-view-recent-button" class="popup-button"
						data-dismiss="modal"
						ng-hide="(ngDialogData.data.hideViewRecentButton  != undefined  && ngDialogData.data.hideViewRecentButton == true)"
						ng-click="closeThisDialog(false);ngDialogData.data.viewRecent()"
						ng-bind="'View recent' | translate"></scf-button>
					<scf-button id="popup-view-history-button" class="popup-button"
						data-dismiss="modal"
						ng-hide="(ngDialogData.data.hideViewHistoryButton  != undefined  && ngDialogData.data.hideViewHistoryButton == true)"
						ng-click="closeThisDialog(false);ngDialogData.data.viewHistory()"
						ng-bind="'View history' | translate"></scf-button>
					<scf-button id="popup-ok-button" class="popup-button"
						data-dismiss="modal"
						ng-show="(ngDialogData.data.showOkButton  != undefined  && ngDialogData.data.showOkButton == true)"
						ng-click="closeThisDialog(false);ngDialogData.data.viewHistory()"
						ng-bind="'OK' | translate"></scf-button>						
				</div>
			</div>
			<div class="row"
				ng-if="ngDialogData.data.mode == undefined || ngDialogData.data.mode == null">
				<div class="col-xs-12 text-right" ng-if="!ngDialogData.buttons">
					<scf-button id="popup-ok-button" class="popup-button" type="submit"
						ng-bind="'OK' | translate"></scf-button>

				</div>
				<div class="col-xs-12 text-right" ng-if="ngDialogData.buttons">
					<scf-button
						ng-repeat="button in ngDialogData.buttons track by $index"
						id="popup-{{button.id}}" class="popup-button"
						ng-bind="button.label | translate" ng-click="button.action()"></scf-button>
				</div>

			</div>
		</div>
	</form>
</div>