<div class="modal-content">
	<form name="successDialogForm" class="form-horizontal"
		ng-submit="closeThisDialog();">
		<div class="modal-header">
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-3">
					<image width="70" height="70" ng-src="img/success-icon.png"></image>
				</div>
				<div class="col-md-10 col-sm-10 col-xs-9">
					<h2>
						<span id="success-header-message-label"
							class="gec-pop-up-font-size-green"
							ng-bind="ngDialogData.headerMessage | translate">Approve
							success</span>
					</h2>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-2 col-sm-2"></div>
				<div class="col-md-10 col-sm-10">
					<span id="success-message-label" ng-bind="ngDialogData.bodyMessage"></span>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-12 text-right">
					<scf-button id="ok-button" class="popup-button" type="submit"
						ng-bind="'OK' | translate"></scf-button>

				</div>
			</div>
		</div>
	</form>
</div>