<table class="uib-timepicker">
  <tbody>
    <tr>
      <td class="form-group uib-time hours" ng-class="{'has-error': invalidHours}">
        <input type="text" id="time-to-hour" placeholder="HH" ng-model="hours" ng-change="updateHours()" class="form-control text-center" ng-readonly="::readonlyInput" maxlength="2" tabindex="{{::tabindex}}" ng-disabled="noIncrementHours()" ng-blur="blur()">
      </td>
      <td class="uib-separator">:</td>
      <td class="form-group uib-time minutes" ng-class="{'has-error': invalidMinutes}">
        <input type="text" id="time-to-minute" placeholder="MM" ng-model="minutes" ng-change="updateMinutes()" class="form-control text-center" ng-readonly="::readonlyInput" maxlength="2" tabindex="{{::tabindex}}" ng-disabled="noIncrementMinutes()" ng-blur="blur()">
      </td>
    </tr>
  </tbody>
</table>
