<div th:fragment="content"
    sec:authorize="hasAnyAuthority('CREATE_LOANS_OF_MY_ORGANIZE','VIEW_DOCUMENTS_REFER_TO_MY_ORGANIZE')">
    <div class="panel new-document-panel panel-shadow" ng-controller="JourneyNewDocumentController as newDocCtrl" ng-init="newDocCtrl.load()">
        <a class="mouse-pointer" id="new-document-button" ng-click="newDocCtrl.documentList()">
            <div class="panel-heading txn-journey">
                <span class="pull-left" ng-bind="newDocCtrl.headerLabel"></span> <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2 col-xs-2">
                    <i class="fa fa-file-text-o" style="font-size: 2.5em"></i>
                </div>
                <div class="col-lg-9 col-xs-10 text-right transaction-journey-lg">
                    <div class="row">
                        <div class="col-xs-12 text-right ">
                            <span id="new-document-total-lable" class="huge" ng-bind="newDocCtrl.journeyDocModel.totalDocument"></span>
                            <span ng-bind="'doc' | translate"></span>
                        </div>                        
                    </div>    
                    <div class="row">
                        <div class="col-xs-12 text-right">
                        <span ng-bind="'Doc value' | translate"></span>
                        <span id="new-document-document-amount-lable" ng-bind="newDocCtrl.journeyDocModel.totalDocumentAmount"></span>
                        <span ng-bind="'THB' | translate"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-right">
                        <span ng-bind="'Can loan' | translate"></span>
                        <span id="new-document-drawdown-amount-lable" ng-bind="newDocCtrl.journeyDocModel.canLoanAmount"></span>
                        <span ng-bind="'THB' | translate"></span></div>                        
                    </div>                
                </div>
            </div>
        </div>
        <ng-form> <input type="hidden"
			ng-init="newDocCtrl.isSuppliler=true"
			sec:authorize="hasAuthority('CREATE_LOANS_OF_MY_ORGANIZE')" /></ng-form>
        <ng-form> <input type="hidden"
			ng-init="newDocCtrl.canViewDocs=true"
			sec:authorize="hasAuthority('VIEW_DOCUMENTS_REFER_TO_MY_ORGANIZE')" /></ng-form>
    </div>
</div>