<div th:fragment="content">
    <div class="panel panel-default" ng-controller="JourneyNewDocumentController as newDocCtrl" ng-click="newDocCtrl.createDocument()">
       <div class="panel-heading">
       	<h3 class="animated fadeInLeft" id="credit-information-header-label">{{newDocCtrl.headerLabel}}</h3>
       </div>        
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-10 text-right">{{newDocCtrl.journeyDocModel.newDocument}}</div>
                <div class="col-xs-2"><span ng-bind="'doc' | translate"></span></div>
            </div>
            <div class="row">
                <div class="col-xs-10 text-right">
                	<span ng-bind="'Doc value' | translate"></span>
                	&nbsp;&nbsp;
                	{{newDocCtrl.journeyDocModel.docValue}}
                </div>
                <div class="col-xs-2"><span ng-bind="'THB' | translate"></span></div>
            </div>
            <div class="row">
                <div class="col-xs-10 text-right"><span ng-bind="'Can loan' | translate"></span>&nbsp;&nbsp;{{newDocCtrl.journeyDocModel.canLoan}}</div>
                <div class="col-xs-2"><span ng-bind="'THB' | translate"></span></div>
            </div>
        </div>
    </div>
</div>