<div th:fragment="content">
    <div class="panel wait-for-verify-panel panel-shadow" ng-controller="JourneyWaitForVerifyController as waitForVerifyCtrl">
        <a class="mouse-pointer " id="wait-for-verify-transaction-journey-link" ng-click="waitForVerifyCtrl.transactionList()">
            <div class="panel-heading txn-journey">
                <span class="pull-left" ng-bind="waitForVerifyCtrl.headerLabel"></span> <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>

        <div class="panel-body">
            <div class="row">
                <div class="col-lg-2 col-xs-2">
                    <i class="fa fa-search fa-3x"></i>
                </div>
                <div class="col-lg-9 col-xs-10 text-right transaction-journey-lg">
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <span id="wait-for-verify-total-lable" class="huge" ng-bind="waitForVerifyCtrl.waitForVerifyModel.totalTransaction"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-right">
                        <span id="wait-for-verify-drawdown-amount-lable" ng-bind="waitForVerifyCtrl.waitForVerifyModel.totalAmount"></span>
                        <span ng-bind="'THB' | translate"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-right"><span ng-bind="'Max age' | translate"></span>
                        <span id="wait-for-verify-max-age-lable" ng-bind="waitForVerifyCtrl.waitForVerifyModel.maxAge"></span>
                        <span ng-bind="'days' | translate"></span></div>
                       
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>