<div id="content" th:fragment="content">           

    <div class="panel box-shadow-none content-header">
		<div class="panel-body">
			<div class="col-md-12">
				<h3 ng-if="ctrl.isNewMode" id="header-message-label" class="animated fadeInLeft"
					ng-bind="'New trading partner' | translate"></h3>
				<h3 ng-if="ctrl.isEditMode" id="header-message-label" class="animated fadeInLeft"
					ng-bind="'Edit trading partner' | translate"></h3>
				
			</div>
		</div>
	</div>    

    <div class="form-element">
        <div class="panel panel-default col-md-12 padding-0">
            <div class="panel-body">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form name="tradingPartnerForm" class="form-horizontal" ng-submit="save()">

                        <div class="form-group">
							<label id="buyer-label"
								class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Buyer' | translate}}: </label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<gec-auto-suggest model="ctrl.organizeAutoSuggestModel"
										ng-model="ctrl.organizeListModel.buyer" id="buyer-auto-suggest">
								</gec-auto-suggest>
							</div>

							<div class="col-md-3 col-sm-2"></div>
						</div>

						<div class="form-group" ng-show="errors.sponsorId">
							<label class="col-md-2 col-sm-3 col-xs-12 control-label"></label>
							<span class="col-md-6 col-sm-4 col-xs-12 error-msg"
								id="buyer-warning-message-label"
								ng-bind="errors.sponsorId.message | translate"></span>
						</div>

                        <div class="form-group">
							<label id="supplier-label"
								class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Supplier' | translate}}:</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<gec-auto-suggest model="ctrl.supplierAutoSuggestModel"
										ng-model="ctrl.organizeListModel.supplier" id="supplier-auto-suggest">
								</gec-auto-suggest>
								
							</div>
							<div class="col-md-3 col-sm-2"></div>
						</div>

						<div class="form-group" ng-show="errors.supplierId">
							<label class="col-md-2 col-sm-3 col-xs-12 control-label"></label>
							<span class="col-md-6 col-sm-4 col-xs-12 error-msg"
								id="supplier-warning-message-label"
								ng-bind="errors.supplierId.message | translate"></span>
						</div>

						<div class="form-group">
							<label class="col-md-2 col-sm-3 col-hidden-xs  control-label"></label>
							<div class="col-md-6 col-sm-6 col-xs-12" style="padding-left: 25px;">
								<scf-checkbox id="suspend-checkbox" 
									ng-model="ctrl.tradingPartner.suspend" ></scf-checkbox>
								<label id="suspend-label" class="checkbox-inline"
									style="padding-bottom: 10px;">{{'Suspend' | translate}}:</label>
							</div>
							<div class="col-md-3 col-sm-2 col-hidden-xs"></div>
						</div>

						<div class="col-md-12 col-sm-12 text-right">
							<div class="form-group">
								<scf-button id="cancel-button" class="popup-button btn" ng-click="cancel()" ng-if="!ctrl.isViewMode">{{'Cancel' | translate}}</scf-button>
								<scf-button id="save-button" type="submit">{{'Save' | translate}}</scf-button>
							</div>
						</div>

                    </form>
                </div>

            </div>
        </div>
    </div>        

</div>