<div>
    <div class="row">
        <div class="col-md-8 text-left">
            <span data-ng-show="{{selectable}}"></span>
        </div>
        <div class="col-md-4 text-right" data-ng-show="{{paging}}">
            <span data-ng-bind="pageDisplay" />
			<scf-pagination number="pageModel.number" size="pageModel.size" total-pages="pageModel.totalPages"></scf-pagination>
<!--
            <ul class="scf-paging form-inline">
                <li>
                    <button type="button" class="btn btn-sm btn-default" id="first-page-button"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>
                </li>
                <li>
                    <button type="button" class="btn btn-sm btn-default" id="back-page-button"><span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span></button>
                </li>
                <li>
                    <select>
                        <option data-ng-repeat="item in pageItems track by $index" value="{{item.value}}">{{item.label}}</option>
                    </select>
                </li>
                <li>
                    <button type="button" class="btn btn-default btn-sm" id="next-page-button"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button>
                </li>
                <li>
                    <button type="button" class="btn btn-default btn-sm" id="last-page-button"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
                </li>

            </ul>
-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th data-ng-show="{{selectable}}">
                            <input type="checkbox" ng-click="createTransactionCtrl.checkAllDocument()" />
                        </th>
                        <th data-ng-show="{{showRowNo}}">No.</th>
                        <th class="text-center" scf-th="column" ng-repeat="column in layoutItems track by $index"></th>
						<th class="text-center" data-ng-show="{{showAction}}">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in dataItems track by $id(item)">
                        <td data-ng-show="{{selectable}}" data-ng-bind="renderNo($index)" />
                        <td data-ng-show="{{showRowNo}}" data-ng-bind="renderNo($index)" />
                        <td data-ng-repeat="column in layoutItems" data-ng-bind="item[column.field]" />
                        <td data-ng-show="{{showAction}}" data-ng-repeat="action in actionSets">
							<button type="button" class="btn btn-default" id="{{action.id}}-{{$parent.$index}}-button" data-ng-click="action.action(item)"><i class="{{action.icon}}" aria-hidden="true"></i></button>
						</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>