<div id="content" th:fragment="content"
	sec:authorize="hasAnyAuthority('MANAGE_ALL_PRODUCT_TYPES')">
	<div id="wrapper">
		<div class="panel box-shadow-none content-header">
			<div class="panel-body">
				<div class="col-md-12">
					<h3 id="header-message-label" class="animated fadeInLeft">{{'Product
						type list' | translate}}</h3>
				</div>
			</div>
		</div>
		<div class="form-element">
			<div class="panel panel-default col-md-12 padding-0">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12 text-right">
							<scf-button id="new-button" class="btn-default gec-btn-action"
								ng-disabled="ctrl.unauthen()" ng-click="ctrl.newProductType()">
							<i class="fa fa-plus" aria-hidden="true"></i></scf-button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 text-right">
							<span> <b ng-bind="ctrl.pagingController.splitePageTxt"
								id="product-type-paging-label"></b> &nbsp;&nbsp; <scf-pagination
									dropdown-id="product-type-page-limit-dropdown"
									name="product-type"
									page-size-model="ctrl.pagingController.pagingModel.pageSizeSelectModel"
									total-page="ctrl.pagingController.pagingModel.totalPage"
									current-page="ctrl.pagingController.pagingModel.currentPage"
									page-size-list="ctrl.pagingController.pageSizeList"
									page-action="ctrl.searchProductType"></scf-pagination>
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="responsive-table">
								<table id="remittance-advice-table"
									class="table table-striped table-bordered" cellspacing="0">
									<thead>
										<tr>
											<th id="$rowNo-header-label" ng-bind="'No.' | translate"
												width="10%">No.</th>
											<th id="product-type-header-label"
												ng-bind="'Product type' | translate" width="20%">Product
												type</th>
											<th id="display-name-header-label"
												ng-bind="'Name' | translate">Name</th>
											<th width="10%" id="action-header-label">&nbsp;</th>
										</tr>
									</thead>
									<tbody>
										<tr
											ng-repeat="record in ctrl.pagingController.tableRowCollection track by $index">
											<td class="text-center"><span
												id="$rowNo-{{record.productType}}-label"
												ng-bind="((currentPage * pageSize) + $index + 1)"></span></td>
											<td class="text-left"><span
												id="product-type-{{record.productType}}-label"
												ng-bind="record.productType"></span></td>
											<td class="text-left"><span
												id="display-name-{{record.productType}}-label"
												ng-bind="record.displayName"></span></td>
											<td class="text-center"><scf-button
													id="{{record.productType}}-edit-button"
													class="btn-default gec-btn-action"
													ng-click="ctrl.editProductType(record)"
													title="Setup product type"> <i
													class="fa fa-pencil-square-o" aria-hidden="true"></i></scf-button> <scf-button
													id="{{record.productType}}-delete-button"
													class="btn-default gec-btn-action"
													ng-click="ctrl.deleteProductType(record)"
													title="Delete product type"> <i
													class="fa fa-trash-o" aria-hidden="true"></i></scf-button></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="col-md-12 col-sm-12 text-right">
						<scf-button id="back-button" class="popup-button"
							data-dismiss="modal" ng-click="ctrl.gotoPreviousPage()"
							ng-bind="'Back' | translate"></scf-button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" ng-init="ctrl.manageAllConfig=true"
		sec:authorize="hasAuthority('MANAGE_ALL_PRODUCT_TYPES')" />
</div>