<div id="content" th:fragment="content" sec:authorize="hasAnyAuthority('MANAGE_ALL_CUSTOMER_ORGANIZATIONS_PRODUCT_TYPES_OF_ALL_FUNDING', 'MANAGE_ALL_CUSTOMER_ORGANIZATIONS_PRODUCT_TYPES')">
	<div id="wrapper" ng-controller="ProductTypeSetupController as ctrl">
		<div id="wrapper">
			<div class="panel box-shadow-none content-header">
				<div class="panel-body">
					<div class="col-md-12">
						<h3 id="product-type-header-label" class="animated fadeInLeft" ng-bind="ctrl.headerLabel | translate"></h3>
					</div>
				</div>
			</div>
			<div class="form-element">
				<div class="panel panel-default col-md-12 padding-0">
					<div class="panel-body">
						<form name="createForm" class="form-horizontal">
							<div class="form-group">
								<label id="product-type-label" for="dealer" class="col-md-2 col-sm-3 col-xs-12 control-label ng-cloak">{{'Product type' | translate}}: </label>
								<div class="col-md-4 col-sm-3 col-xs-12">
									<scf-input-text id="product-type-product-type-textbox" maxlength="20" ng-disabled="ctrl.isEditMode()" ng-model="ctrl.model.productType"></scf-input-text>
								</div>
								<div class="col-md-4 col-sm-4"></div>
							</div>
							<div class="form-group" ng-if="errors.productType">
								<div>
									<label class="col-md-2 col-sm-3 col-xs-12 control-label"></label>
									<span class="col-md-3 col-sm-3 col-xs-12 error-msg" id="product-type-warning-message-label" ng-bind="errors.productType.message">
									</span>
								</div>
							</div>
							<div class="form-group">
								<label id="display-name-label" for="display-name" class="col-md-2 col-sm-3 col-xs-12 control-label ng-cloak">{{'Display name' | translate}}: </label>
								<div class="col-md-4 col-sm-4 col-xs-12">
									<scf-input-text id="product-type-display-name-textbox" maxlength="100" ng-model="ctrl.model.displayName"></scf-input-text>
								</div>
								<div class="col-md-2 col-sm-3"></div>
							</div>
							<div class="form-group" ng-if="errors.displayName">
								<div>
									<label class="col-md-2 col-sm-3 col-xs-12 control-label"></label>
									<span class="col-md-3 col-sm-3 col-xs-12 error-msg" id="display-name-warning-message-label" ng-bind="errors.displayName.message">
									</span>
								</div>
							</div>
						</form>
						<div class="col-md-12 col-sm-12 text-right">
							<scf-button id="cancel-button" class="popup-button" data-dismiss="modal" ng-click="ctrl.cancel()" ng-bind="'Cancel' | translate"></scf-button>
							<scf-button id="product-type-save-button" type="submit" ng-click="ctrl.save()">{{'Save' | translate}}</scf-button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>