<div class="modal-content">
		<div class="modal-header">
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-3">
					<image width="70" height="70" ng-src="img/success-icon.png"></image>
				</div>
				<div class="col-md-10 col-sm-10 col-xs-9">
					<h2>
					 <span id="add-new-term-code-success-label" class="gec-pop-up-font-size-green"
						ng-bind="ctrl.headerMessage | translate"></span></h2>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-2 col-sm-2"></div>
				<div class="col-md-10 col-sm-10 col-xs-12">
					<div class="row">
						<div class="col-xs-5 col-md-4 col-sm-4">
							<span id="simulate-label" ng-bind="'Simulate' | translate"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-12 text-right">
					<scf-button id="edit-button" class="popup-button" data-dismiss="modal"
						ng-bind="'Edit' | translate" ng-click="closeThisDialog(ctrl.creditTerm);"></scf-button>
					<scf-button id="ok-button" class="popup-button hidden-sm hidden-xs" data-dismiss="modal"
						ng-click="closeThisDialog('OK');" ng-bind="'OK' | translate"></scf-button>
				</div>
			</div>
		</div>
	</div>