<div id="content" th:fragment="content"
	sec:authorize="hasAnyAuthority('VIEW_ALL_UPLOAD_DOCUMENTS_LOG', 'VIEW_UPLOAD_DOCUMENTS_LOG_OF_MY_ORGANIZE')">
	<div id="wrapper">
		<div class="panel box-shadow-none content-header">
			<div class="panel-body">
				<div class="col-md-12">
					<h3 id="view-document-upload-log-header-label" class="animated fadeInLeft"
						ng-bind="ctrl.headerMsg | translate: {roleName: ctrl.roleType}"></h3>
				</div>
			</div>
		</div>
	</div>

	<div class="form-element">
		<div class="panel panel-default col-md-12 padding-0">
			<div class="panel-body">
				<div class="col-md-12">
					<div class="row" style="padding-top: 20px;">
						<div class="col-sm-2 col-md-2">
							<label id="sponsor-label" >{{'Sponsor' | translate}}: </label>
						</div>
						<div class="col-sm-10 col-md-10">
							<span id="sponsor-value-label"
								ng-bind="ctrl.documentUploadLogModel.organizeName"></span>
						</div>
					</div>
					<div class="row" style="padding-top: 20px;">
						<div class="col-sm-2 col-md-2">
							<label id="channel-label">{{'Channel' | translate}}: </label>
						</div>
						<div class="col-sm-2 col-md-4">
							<span id="channel-value-label"
								ng-bind="ctrl.documentUploadLogModel.channel | translate"></span>
						</div>
						<div class="col-sm-2 col-md-2">
							<label id="upload-date-label">{{'Upload date' | translate}}: </label>
						</div>
						<div class="col-sm-6 col-md-4">
							<span id="upload-date-value-label"
								ng-bind="ctrl.documentUploadLogModel.startUploadTime | date: 'dd/MM/yyyy HH:mm': 'UTC+0700'"></span>
						</div>
					</div>
					<div class="row" style="padding-top: 20px;">
						<div class="col-sm-2 col-md-2">
							<label id="file-type-label">{{'File type' | translate}}: </label>
						</div>
						<div class="col-sm-2 col-md-4">
							<span id="file-type-value-label"
								ng-bind="(ctrl.documentUploadLogModel.fileType=='null'?'':ctrl.documentUploadLogModel.fileType) | translate"></span>
						</div>
						<div class="col-sm-2 col-md-2">
							<label id="file-name-label">{{'File name' | translate}}: </label>
						</div>
						<div class="col-sm-6 col-md-4">
							<span id="file-name-value-label"
								ng-bind="ctrl.documentUploadLogModel.fileName"></span>
							<span> <scf-button id="download-button" ng-show="ctrl.documentUploadLogModel.fileName!=null"
									class="popup-button" ng-click="ctrl.downloadFile()">{{'Download'
								| translate}}</scf-button>
							</span>
						</div>
					</div>
					<div class="row" style="padding-top: 20px;">
						<div class="col-sm-2 col-md-2">
							<label id="success-label">{{'Success' | translate}}: </label>
						</div>
						<div class="col-sm-2 col-md-4">
							<span id="success-value-label"
								ng-bind="(ctrl.documentUploadLogModel.success | number) || 'N/A'"></span>
						</div>
						<div class="col-sm-2 col-md-2">
							<label id="fail-label">{{'Fail' | translate}}:</label> 
						</div>
						<div class="col-sm-4 col-md-4">
							<span id="fail-value-label"
								ng-bind="(ctrl.documentUploadLogModel.fail | number) || 'N/A'"></span>
						</div>
					</div>
					<div class="row" style="padding-top: 20px;">
						<div class="col-sm-2 col-md-2">
							<label id="status-label">{{'Status' | translate}}: </label>
						</div>
						<div class="col-sm-2 col-md-3">
							<span id="status-value-label"
								ng-bind="ctrl.documentUploadLogModel.status | translate"></span>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-12">
							<br />
						</div>
					</div>

					<div class="row">
						<div class="col-md-4 col-sm-4 gec-select">
							<b><span id="data-incorrection-list-label" ng-bind="'Data incorrection list' | translate"></span></b>
						</div>
						<div class="col-md-8 col-sm-8 text-right">
							<div class="row">
								<div class="col-md-12 col-sm-12">
									<span> <b ng-bind="ctrl.pagingController.splitePageTxt"
										id="view-document-upload-log-label"></b> &nbsp;&nbsp; <scf-pagination
											dropdown-id="page-limit-dropdown"
											name="view-document-upload-log"
											page-size-model="ctrl.pagingController.pagingModel.pageSizeSelectModel"
											total-page="ctrl.pagingController.pagingModel.totalPage"
											current-page="ctrl.pagingController.pagingModel.currentPage"
											page-size-list="ctrl.pageSizeList"
											page-action="ctrl.searchDocument"></scf-pagination>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<scf-table id="view-document-upload-log-table"
									component-config="ctrl.dataTable"
									component-datas="ctrl.pagingController.tableRowCollection"
									current-page="ctrl.pagingController.pagingModel.currentPage"
									record-per-page="ctrl.pagingController.pagingModel.pageSizeSelectModel"
									clear-sort-order="ctrl.pagingController.pagingModel.clearSortOrder"></scf-table>
						</div>
						<div id="fixed-bottom" class="col-md-12"></div>
					</div>
					<div class="row">
						<div class="col-md-12 text-right">
							<scf-button id="back-button" type="button"
								class="popup-button"
								ng-click="ctrl.backToDocumentUploadLogPage()">{{'Back' |
							translate}}</scf-button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>