<div id="content" th:fragment="content" sec:authorize="hasAnyAuthority('VIEW_ALL_SUPPLIER_CREDIT_INFORMATION', 'VIEW_SUPPLIER_CREDIT_INFORMATION_OF_MY_ORGANIZATION')">
	<input type="hidden" ng-init="ctrl.viewAction=true" sec:authorize="hasAnyAuthority('VIEW_ALL_SUPPLIER_CREDIT_INFORMATION', 'VIEW_SUPPLIER_CREDIT_INFORMATION_OF_MY_ORGANIZATION')" />
	<div class="app-title">
		<div>
			<h1>
				<i class="fa fa-file-text-o"></i> <span id="header-message-label" class="animated fadeInLeft">{{'Supplier credit information' | translate}}</span>
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="tile">
				<div class="tile-body">
					<div class="col-md-12 text-right filter-container">
						<button type="button" class="btn"
							data-toggle="collapse" data-target="#advance-search">
							<i class="fa fa-fw fa-lg fa-filter"></i> {{'Filter' | translate}}
						</button>
					</div>
				</div>
				<div id="advance-search" class="collapse">
					<form name="supplierCreditInformationForm" autocomplete="off" class="form-horizontal">
						<br />
						<div class="form-group row" ng-show="ctrl.showSupplier">
							<label for="sponsor-textbox" class="col-md-2 col-sm-3 col-xs-12 control-label" id="supplier-label">{{'Supplier'| translate}}: </label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<gec-auto-suggest model="ctrl.organizeAutoSuggestModel" ng-model="ctrl.supplier" id="supplier-auto-suggest-tag" name="supplierCode"
								    maxlength="100"></gec-auto-suggest>
							</div>
						</div>
						<div class="form-group row">
							<label for="sponsor-textbox" class="col-md-2 col-sm-3 col-xs-12 control-label" id="buyer-label">{{'Buyer'| translate}}: </label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<gec-auto-suggest model="ctrl.buyerAutoSuggestModel" ng-model="ctrl.buyer" id="buyer-auto-suggest-tag" name="buyerCode" maxlength="100"></gec-auto-suggest>
							</div>
							<div class="col-md-3 col-sm-2">
								<scf-button type="submit" id="search-button" class="btn-primary" ng-bind="'Search' | translate" ng-click="ctrl.search()"></scf-button>
							</div>
						</div>
					</form>
				</div>
				<div class="row">
					<div class="col-md-12">
						<table id="supplier-credit-information-table" class="table table-hover table-bordered table-striped" cellspacing="0">
							<thead>
								<tr class="text-center">
									<th id="$rowNo-header-label" ng-bind="'No.' | translate"></th>
									<th id="account-no-header-label" ng-bind="'Account No.' | translate"></th>
									<th id="credit-limit-header-label" ng-bind="'Credit limit' | translate"></th>
									<th id="supplier-header-label" ng-bind="'Supplier' | translate" ng-show="ctrl.showSupplier"></th>
									<th id="buyer-header-label" ng-bind="'Buyer' | translate"></th>
									<th id="available-header-label" ng-bind="'Available' | translate"></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="record in ctrl.pagingController.tableRowCollection track by $index">
									<td class="text-right">
										<span id="$rowNo-{{record.accountId}}-label" ng-bind="record.rowNo"></span>
									</td>
									<td class="text-center">
										<span ng-show="record.showAccountFlag" id="account-no-{{record.accountId}}-label" ng-bind="ctrl.getAccountNoToDisplay(record)"></span>
									</td>
									<td class="text-right">
										<span ng-show="record.showAccountFlag" id="credit-limit-{{record.accountId}}-label" ng-bind="record.creditLimit | number : 2"></span>
									</td>
									<td class="text-center" ng-show="ctrl.showSupplier">
<!-- 												<span id="supplier-name-{{record.accountId}}-label" ng-bind="record.supplier.memberName"></span> -->
											<organization-logo ng-model="record.tradeFinances" obj-attr="supplier" logo-attr="memberLogo" name-attr="memberName" id-attr="memberId"></organization-logo>
									</td>
									<td class="text-center">
										<organization-logo ng-model="record.tradeFinances" obj-attr="buyer" logo-attr="memberLogo" name-attr="memberName" id-attr="memberId"></organization-logo>
<!-- 												<img id="sponsor-" title="{{record.buyerName}}" style="height: 32px; width: 32px;" data-ng-src="data:image/png;base64,{{ctrl.decodeBase64(record.buyerLogo)}}"/> -->
									</td>
									<td class="text-right">
										<span ng-show="record.showAccountFlag" id="available-{{record.accountId}}-label" ng-bind="(record.remainingAmount - record.pendingAmount) | number : 2"></span>
									</td>
									<td class="text-center">
										<scf-button class="btn btn-sm" id="view-{{record.accountId}}-button" ng-click="ctrl.view(record)" ng-disabled="ctrl.unauthenView()" ng-show="record.showAccountFlag" title="View">
											<i class="fa fa-search" aria-hidden="true"></i>
										</scf-button>
										<button type="button" ng-disabled="" class="btn btn-sm" ng-show="record.showAccountFlag" id="credit-information-{{record.accountId}}-button"
										    ng-click="ctrl.enquiryAvailableBalance(record)" title="Enquiry">
											<i class="fa fa-repeat" aria-hidden="true"></i>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 text-right">
					<div class="row">
						<div class="col-md-12 col-sm-12 filter-container">
							<span>
								<b ng-bind="ctrl.pagingController.splitePageTxt" id="supplier-credit-information-paging-label"></b>
								&nbsp;&nbsp;
								<scf-pagination dropdown-id="supplier-credit-information-page-limit-dropdown" name="supplier-credit-information" page-size-model="ctrl.pagingController.pagingModel.pageSizeSelectModel"
								    total-page="ctrl.pagingController.pagingModel.totalPage" current-page="ctrl.pagingController.pagingModel.currentPage"
								    page-size-list="ctrl.pagingController.pageSizeList" page-action="ctrl.search"></scf-pagination>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>