<div id="content" th:fragment="content" sec:authorize="hasAnyAuthority('VIEW_ALL_SUPPLIER_CREDIT_INFORMATION', 'VIEW_SUPPLIER_CREDIT_INFORMATION_OF_MY_ORGANIZATION')">
	<div class="app-title">
		<div>
			<h1>
				<i class="fa fa-file-text-o"></i> <span id="header-message-label" class="animated fadeInLeft">{{'Trade finance account' | translate}}</span>
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="tile">
				<div id="advance-search">
					<form name="viewSupplierCreditInformationForm" autocomplete="off" class="form-horizontal">
						<br />
						<div class="form-group row">
							<div class="col-lg-2 col-md-2 col-sm-2">
								<label id="account-no-label" ng-bind="'Account No.:' | translate"></label>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-3">
								<label id="account-no-value-label" ng-bind="ctrl.tradeFinanceModel.accountNo"></label>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1"></div>
							<div class="col-lg-2 col-md-2 col-sm-2">
								<label id="credit-limit-label" ng-bind="'Credit limit:' | translate"></label>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-3 text-right">
								<label id="credit-limit-value-label" ng-bind="ctrl.tradeFinanceModel.creditLimit | number:2"></label>
							</div>
							<div class="col-lg-1 col-md-3 col-sm-1">
								<span id="credit-limit-thb-label" ng-bind="'THB' | translate"></span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-2 col-md-2 col-sm-2">
								<label id="account-type-label" ng-bind="'Account type:' | translate"></label>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-3">
								<label id="account-type-value-label" ng-bind="ctrl.tradeFinanceModel.accountType"></label>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1"></div>
							<div class="col-lg-2 col-md-2 col-sm-2">
								<label id="outstanding-label" ng-bind="'Outstanding:' | translate"></label>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-3 text-right">
								<span id="outstanding-value-label" ng-bind="ctrl.tradeFinanceModel.outstandingAmount | number:2"></span>
							</div>
							<div class="col-lg-1 col-md-3 col-sm-1">
								<span id="outstanding-thb-label" ng-bind="'THB' | translate"></span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-2 col-md-2 col-sm-2">
								<label id="credit-status-label" ng-bind="'Credit status:' | translate"></label>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-3">
								<span id="credit-status-value-label" ng-bind="ctrl.tradeFinanceModel.creditStatus | translate"></span>
							</div>
							<div class="col-lg-1 col-md-1 col-sm-1"></div>
							<div class="col-lg-2 col-md-2 col-sm-2">
								<label id="future-label" ng-bind="'Future:' | translate"></label>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-3 text-right">
								<span id="future-value-label" ng-bind="ctrl.tradeFinanceModel.futureAmount | number:2"></span>
							</div>
							<div class="col-lg-1 col-md-3 col-sm-1">
								<span id="future-thb-label" ng-bind="'THB' | translate"></span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-2 col-md-2 col-sm-2"></div>
							<div class="col-lg-2 col-md-2 col-sm-3"></div>
							<div class="col-lg-1 col-md-1 col-sm-1"></div>
							<div class="col-lg-2 col-md-2 col-sm-2">
								<label id="remaining-label" ng-bind="'Remaining:' | translate"></label>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-3 text-right">
								<span id="remaining-value-label" ng-bind="ctrl.tradeFinanceModel.remainingAmount | number:2"></span>
							</div>
							<div class="col-lg-1 col-md-3 col-sm-1">
								<span id="remaining-thb-label" ng-bind="'THB' | translate"></span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-2 col-md-2 col-sm-2"></div>
							<div class="col-lg-2 col-md-2 col-sm-3"></div>
							<div class="col-lg-1 col-md-1 col-sm-1"></div>
							<div class="col-lg-2 col-md-2 col-sm-2">
								<label id="available-label" ng-bind="'Available:' | translate"></label>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-3 text-right">
								<span id="available-value-label" ng-bind="ctrl.tradeFinanceModel.available | number:2"></span>
							</div>
							<div class="col-lg-1 col-md-3 col-sm-1">
								<span id="available-thb-label" ng-bind="'THB' | translate"></span>
							</div>
						</div>
					</form>
				</div>
				<div class="row">
					<div class="col-md-12 responsive-table">
						<table id="trade-finance-account-table" class="table table-hover table-bordered table-striped" cellspacing="0">
							<thead>
								<tr class="text-center">
									<th id="$rowNo-header-label" ng-bind="'No.' | translate"></th>
									<th id="supplier-header-label" ng-bind="'Supplier' | translate"></th>
									<th id="buyer-header-label" ng-bind="'Buyer' | translate"></th>
									<th id="payee-account-header-label" ng-bind="'Payee account' | translate"></th>
									<th id="internal-pending-header-label" ng-bind="'Internal pending' | translate"></th>
									<th id="trading-status-header-label" ng-bind="'Trading status' | translate"></th>
									<th id="tenor-header-label" ng-bind="'Tenor(days)' | translate"></th>
									<th id="pre-drawdown-header-label" ng-bind="'Pre-drawdown(%)' | translate"></th>
									<th id="interest-rate-header-label" ng-bind="'Interest rate' | translate"></th>
									<th id="agreement-date-header-label" ng-bind="'Agreement date' | translate"></th>
									<th id="credit-expiration-date-header-label" ng-bind="'Credit expiration date' | translate"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="record in ctrl.pagingController.tableRowCollection track by $index">
									<td class="text-right">
										<span id="$rowNo-{{record.rowNo}}-label" ng-bind="record.rowNo"></span>
									</td>
									<td class="text-left">
										<span ng-show="record.showSupplierFlag" id="supplier-{{record.rowNo}}-label" ng-bind="record.supplierName"></span>
									</td>
									<td class="text-center">
										<img id="buyer-{{record.rowNo}}-label" title="{{record.buyerName}}" style="height: 32px; width: 32px;"
										    data-ng-src="data:image/png;base64,{{ctrl.decodeBase64(record.buyerLogo)}}" />
									</td>
									<td class="text-center">
										<span id="payee-account-{{record.rowNo}}-label" ng-bind="ctrl.getPayeeAccountNoToDisplay(record)"></span>
									</td>
									<td class="text-right">
										<span id="internal-pending-{{record.rowNo}}-label" ng-bind="record.internalStep | number : 2"></span>
									</td>
									<td class="text-center">
										<span id="trading-status-{{record.rowNo}}-label" ng-bind="record.tradingStatus | translate"></span>
									</td>
									<td class="text-center">
										<span id="tenor-{{record.rowNo}}-label" ng-bind="record.tenor"></span>
									</td>
									<td class="text-center">
										<span id="pre-drawdown-{{record.rowNo}}-label" ng-bind="record.prePercentageDrawdown"></span>
									</td>
									<td class="text-left">
										<span id="interest-rate-{{record.rowNo}}-label" ng-bind="record.interestRate"></span>
									</td>
									<td class="text-center">
										<span id="agreement-date-{{record.rowNo}}-label" ng-bind="record.agreementDate | date: 'dd/MM/yyyy' : 'UTC+0700'"></span>
									</td>
									<td class="text-center">
										<span id="credit-expiration-date-{{record.rowNo}}-label" ng-bind="record.limitExpiryDate | date: 'dd/MM/yyyy' : 'UTC+0700'"></span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-12 text-right">
						<scf-button id="back-button" class="popup-button btn" type="submit" ng-click="ctrl.back()" ng-bind="'Back' | translate"></scf-button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>