<div th:fragment="content">
    <div id="wrapper" ng-controller="DisplayListController as ctrl">
        <input type="hidden" ng-init="ctrl.hiddenFundingColumn=false" sec:authorize="hasAuthority('VIEW_ALL_CUSTOMER_ORGANIZATIONS_CREATE_TRANSACTION_LAYOUT_OF_ALL_FUNDING')"
        />
        <input type="hidden" ng-init="ctrl.viewAction=true" sec:authorize="hasAnyAuthority('VIEW_ALL_CUSTOMER_ORGANIZATIONS_CREATE_TRANSACTION_LAYOUT_OF_ALL_FUNDING', 'VIEW_ALL_CUSTOMER_ORGANIZATIONS_CREATE_TRANSACTION_LAYOUT')"
        />
        <input type="hidden" ng-init="ctrl.manageAction=true" sec:authorize="hasAuthority('MANAGE_ALL_CUSTOMER_ORGANIZATIONS_CREATE_TRANSACTION_LAYOUT')"
        />
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-xs-10">
                        <h3 class="animated fadeInLeft" id="PAYABLE-create-transaction-display-header-label">{{'Create transaction display' | translate}}</h3>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-2 text-right">
                        <br />
                        <scf-button class="btn-default gec-btn-action" ng-disabled="ctrl.unauthenMangeAction()" id="PAYABLE-create-transaction-display-new-button"
                            title="New a create transaction display" ng-click="ctrl.addNewDocumentDisplay('PAYABLE', 'TRANSACTION_DOCUMENT')">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </scf-button>
                    </div>
                </div>
                <div class="row" ng-init="ctrl.init('PAYABLE', 'TRANSACTION_DOCUMENT')">
                    <div class="col-md-12 col-sm-12 text-right">
                        <scf-table id="ap-create-transaction-display-table" component-config="ctrl.dataTable" component-datas="ctrl.pagingController.tableRowCollection"
                            current-page="ctrl.pagingController.pagingModel.currentPage" record-per-page="ctrl.pagingController.pagingModel.pageSizeSelectModel"></scf-table>

                        <div class="responsive-table">
                            <table id="ap-create-transaction-display-table" class="table table-striped table-bordered" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th ng-bind="'FUNDING' | translate" ng-hide="ctrl.hiddenFundingColumn"></th>
                                        <th ng-bind="'Display layout' | translate">Display layout</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="record in ctrl.pagingController.tableRowCollection track by $index">

                                        <td class="text-center" ng-hide="ctrl.hiddenFundingColumn">
                                            <span ng-bind="record.fundingId"></span>
                                            <img id="PAYABLE-create-transaction-display-funding-{{$index}}-name-label" style="height: 32px; width: 32px;" title="{{record.funding.organizeName}}" data-ng-src="data:image/png;base64,{{ctrl.decodeBase64(record.funding.organizeLogo)}}"></img>
                                        </td>
                                        <td class="text-left">
                                            <span id="PAYABLE-{{record.displayName}}-label" ng-bind="record.displayName | translate"></span>
                                        </td>
                                        <td class="text-center">
                                            <scf-button class="btn-default gec-btn-action" id="transaction-display-{{record.displayName}}-view-button" ng-disabled="ctrl.unauthenView()"
                                                title="View a create transaction display">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </scf-button>
                                            <scf-button id="transaction-display-{{record.displayName}}-setup-button" class="btn-default gec-btn-action" ng-click="ctrl.editDocumentDisplay(record)"
                                                ng-disabled="ctrl.unauthenMangeAction()" title="Edit">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </scf-button>
                                            <scf-button id="transaction-display-{{record.displayName}}-delete-button" class="btn-default gec-btn-action" ng-click="ctrl.deleteDocumentDisplay(record)"
                                                ng-disabled="ctrl.unauthenMangeAction()" title="Delete">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </scf-button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>