<div th:fragment="content">
    <div id="wrapper" ng-controller="DisplayListController as ctrl">
        <input type="hidden" ng-init="ctrl.hiddenFundingColumn=false" sec:authorize="hasAuthority('VIEW_ALL_CUSTOMER_ORGANIZATIONS_DOCUMENT_LAYOUT_OF_ALL_FUNDING')"
        />
        <input type="hidden" ng-init="ctrl.viewAction=true" sec:authorize="hasAnyAuthority('VIEW_ALL_CUSTOMER_ORGANIZATIONS_DOCUMENT_LAYOUT_OF_ALL_FUNDING', 'VIEW_ALL_CUSTOMER_ORGANIZATIONS_DOCUMENT_LAYOUT')"
        />
        <input type="hidden" ng-init="ctrl.manageAction=true" sec:authorize="hasAuthority('MANAGE_ALL_CUSTOMER_ORGANIZATIONS_DOCUMENT_LAYOUTS')"
        />
        <div class="panel panel-default col-md-12 padding-0">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-xs-10">
                        <h5 class="animated fadeInLeft" id="PAYABLE-document-display-header-label">{{'Document display' | translate}}</h5>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-2 text-right">
                        <scf-button class="btn-default gec-btn-action" ng-disabled="ctrl.unauthenMangeAction()" id="PAYABLE-document-display-new-button"
                            title="New a document display" ng-click="ctrl.addNewDocumentDisplay('PAYABLE', 'DOCUMENT')">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </scf-button>
                    </div>
                </div>
                        <div class="responsive-table" ng-init="ctrl.init('PAYABLE', 'DOCUMENT')">
                            <table id="ar-document-display-table" class="table table-hover table-bordered table-striped" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th ng-bind="'FUNDING' | translate" ng-hide="ctrl.hiddenFundingColumn"></th>
                                        <th class="text-left" ng-bind="'Display layout' | translate">Display layout</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="record in ctrl.pagingController.tableRowCollection track by $index">
                                        <td class="text-center" ng-hide="ctrl.hiddenFundingColumn">
                                            <span ng-bind="record.fundingId"></span>
                                            <img id="PAYABLE-document-display-funding-{{$index}}-name-label" style="height: 32px; width: 32px;" title="{{record.funding.fundingName}}" data-ng-src="data:image/png;base64,{{ctrl.decodeBase64(record.funding.fundingLogo)}}"></img>
                                        </td>
                                        <td class="text-left">
                                            <span id="PAYABLE-document-display-layout-name-{{record.documentDisplayId}}-label" ng-bind="record.displayName | translate"></span>
                                        </td>
                                        <td class="text-center">
                                            <scf-button class="btn btn-sm" id="display-{{record.displayName}}-view-button" ng-disabled="ctrl.unauthenView()"
                                                title="View a document display" ng-click="ctrl.viewDocumentDisplay(record)">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </scf-button>
                                            <scf-button id="display-{{record.displayName}}-setup-button" class="btn btn-sm" ng-click="ctrl.editDocumentDisplay(record)"
                                                ng-disabled="ctrl.unauthenMangeAction()" title="Edit">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </scf-button>
                                            <scf-button id="display-{{record.displayName}}-delete-button" class="btn btn-sm" ng-click="ctrl.deleteDocumentDisplay(record)"
                                                ng-disabled="ctrl.unauthenMangeAction()" title="Delete">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </scf-button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

					<div class="col-md-12 col-sm-12 text-right">
						<scf-table id="ap-document-display-table"
							component-config="ctrl.dataTable"
							component-datas="ctrl.pagingController.tableRowCollection"
							current-page="ctrl.pagingController.pagingModel.currentPage"
							record-per-page="ctrl.pagingController.pagingModel.pageSizeSelectModel"></scf-table>
					</div>
            </div>
        </div>
    </div>
</div>