<div th:fragment="content">
    <div id="wrapper" ng-controller="CustomerCodeGroupController as ctrl">
        <input type="hidden" ng-init="ctrl.manageConfig=true" sec:authorize="hasAuthority('MANAGE_ALL_CUSTOMER_ORGANIZATIONS_SUPPLIER_CODES')" />
        <input type="hidden" ng-init="ctrl.viewAction=true" sec:authorize="hasAnyAuthority('VIEW_ALL_CUSTOMER_ORGANIZATIONS_SUPPLIER_CODES_OF_ALL_FUNDING', 'VIEW_ALL_CUSTOMER_ORGANIZATIONS_SUPPLIER_CODES')" />

        <div class="panel panel-default">
            <div class="panel-body" style="min-height: 360px;">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-xs-10">
                        <h3 class="animated fadeInLeft"><br/></h3>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-2 text-right">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-right">

                        <table id="supplier-code-list-table" class="table table-striped table-bordered" cellspacing="0">
                            <thead>
                                <tr>
                                    <th><br/></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-left">
                                        <span id="supplier-code-list-label">{{'Supplier code list' | translate}}</span>
                                    </td>
                                    <td class="text-center">
                                        <scf-button ng-disabled="ctrl.unauthenView()" class="btn-default gec-btn-action" id="supplier-code-list-view-button" title="View a supplier code"><i class="fa fa-search" aria-hidden="true"></i></scf-button>
                                        <scf-button ng-disabled="ctrl.unauthenConfig()" id="supplier-code-list-setup-button" class="btn-default gec-btn-action" ng-click="ctrl.config(ctrl.supplierdata, 'PAYABLE')" title="Config a supplier code"><i class="fa fa-cog" aria-hidden="true"></i></scf-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>