<div class="modal-content">
	<form name="newOrganizeForm" class="form-horizontal"
		ng-submit="ctrl.save(closeThisDialog)">
		<div class="modal-header">
			<div class="row">
				<div class="col-md-10 col-sm-10">
					<h3>
						<span id="funding-profile-popup-header-message-label" class="popup-text"
							ng-bind="'Add new funding profile' | translate">Add
							new funding-profile</span>
					</h3>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<label for="group-name" id="funding-profile-tax-id-label"
							class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label"><span
							ng-bind="'TAX ID' | translate"></span>:</label>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<scf-input-text id="funding-profile-tax-id-textbox"
								ng-model="ctrl.model.taxId"
								maxlength="13"></scf-input-text>
						</div>
						<label id="limited-digit-label"> {{'(13 digits)' | translate}}</label>
					</div>
					<div class="form-group" ng-show="errors.taxId">
						<label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label"></label>
						<span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 error-msg"
							id="funding-profile-tax-id-warning-message-label"
							ng-bind="errors.taxId | translate"></span>
					</div>
					<div class="form-group">
						<label for="group-name" id="funding-profile-code-label"
							class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label"><span
							ng-bind="'Funding code' | translate"></span>:</label>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<scf-input-text id="funding-profile-code-textbox"
								ng-model="ctrl.model.fundingCode"
								maxlength="20"></scf-input-text>
						</div>
						<label id="desc-funding-code-label"> {{'(GECSCF Hub Ref. Code)' | translate}}</label>
					</div>
					<div class="form-group" ng-show="errors.fundingCode">
						<label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label"></label>
						<span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 error-msg"
							id="funding-profile-code-warning-message-label"
							ng-bind="errors.fundingCode | translate"></span>
					</div>
					<div class="form-group">
						<label for="group-name" id="funding-profile-name-label"
							class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label"><span
							ng-bind="'Funding name' | translate"></span>:</label>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<scf-input-text id="funding-profile-name-textbox"
								ng-model="ctrl.model.fundingName" maxlength="100"></scf-input-text>
						</div>
					</div>
					<div class="form-group" ng-show="errors.fundingName">
						<label class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label"></label>
						<span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 error-msg"
							id="funding-profile-name-warning-message-label"
							ng-bind="errors.fundingName | translate"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-12 text-right">
					<scf-button id="popup-cancel-button" class="popup-button"
						ng-click="closeThisDialog()" ng-bind="'Cancel' | translate"></scf-button>
					<scf-button id="popup-save-button" class="popup-button"
						type="submit" ng-bind="'Save' | translate"></scf-button>
				</div>
			</div>
		</div>
	</form>
</div>