<div th:fragment="content"
	sec:authorize="hasAuthority('VIEW_PAYMENTS_OF_MY_ORGANIZATION')">
	<div class="card mb-3"
		ng-controller="JourneyWaitForVerifyPaymentController as waitForVerifyPaymentCtrl">
		<a class="card-header mouse-pointer "
			id="payment-wait-for-verify-transaction-journey-link"
			ng-click="waitForVerifyPaymentCtrl.paymentList()"> <span
			class="pull-left" ng-bind="it.headerLabel"></span>
			<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
			<div class="clearfix"></div>
		</a>
		<div class="card-body row">
			<div class="col-lg-2 col-xs-2">
				<i class="fa fa-search fa-3x"></i>
			</div>
			<div class="col-lg-9 col-xs-10 text-right transaction-journey-lg">
				<div class="col-xs-12 text-right">
					<span id="payment-wait-for-verify-total-label" class="huge"
						ng-bind="waitForVerifyPaymentCtrl.waitForVerifyModel.totalTransaction"></span>
				</div>
				<div class="col-xs-12 text-right">
					<span id="payment-wait-for-verify-payment-amount-label"
						ng-bind="waitForVerifyPaymentCtrl.waitForVerifyModel.totalAmount"></span>
					<span ng-bind="'THB' | translate"></span>
				</div>
				<div class="col-xs-12 text-right">
					<span ng-bind="'Max age' | translate"></span> <span
						id="payment-wait-for-verify-max-age-label"
						ng-bind="waitForVerifyPaymentCtrl.waitForVerifyModel.maxAge"></span>
					<span ng-bind="'days' | translate"></span>
				</div>
			</div>
		</div>
		<ng-form> <input type="hidden"
			ng-init="waitForVerifyPaymentCtrl.canViewPayments=true"
			sec:authorize="hasAuthority('VIEW_PAYMENTS_OF_MY_ORGANIZATION')" /></ng-form>
	</div>
</div>