<div class="row">
	<div class="form-group">
		<label class="checkbox-inline" style=" margin-top: -11px;">
		<span id="password-expired-1-label">8. {{'The user must be forced to change password every' | translate}}</span>		
			<input name="passExpired"	id="password-expired-number" type="number" min="1" required="true"
				 class="form-control-input" ng-model="policy.numericValue1" maxlength="3" ng-disabled="ctrl.viewMode"></input>
			<span id="password-expired-2-label" ng-bind="'days.' | translate"></span>
		</label>
			
	</div>
	
		<label ng-if="policyForm.passExpired.$error.required" class="col-lg-10 col-md-6 col-sm-4 col-xs-12 error-msg" style="margin-left: 7px;"
			id="password-expired-warning-message-label">{{'This field is required.' | translate}}</label> 

		<label ng-if="policyForm.passExpired.$error.min" style="margin-left: 7px;" class="col-lg-10 col-md-6 col-sm-4 col-xs-12 error-msg" id="password-expired-warning-message-label">
		{{'This field is required and value must be greater than zero.'	| translate}}</label>
</div>


