<div class="row">
	<div class="form-group">
		<scf-checkbox id="password-expired-checkbox" ng-model="policy.active"
			ng-disabled="true"> </scf-checkbox>
		<label class="checkbox-inline"> <span
			id="password-expired-1-label">{{'The user must be forced to
				change password every' | translate}} </span> <input
			id="password-expired-textbox" type="number" min="1"
			class="checkbox-inline" ng-model="policy.numericValue1" maxlength="3"
			style="width: 50px"></input>&nbsp; <span
			id="password-expired-2-label" ng-bind="'days.' | translate"></span>&nbsp;
		</label>
	</div>
</div>