<div class="row">
	<div class="form-group">
		<scf-checkbox id="password-length-checkbox" ng-model="policy.active" ng-disabled="true"> </scf-checkbox>
			<label class="checkbox-inline">
				<span id="password-length-1-label" ng-bind="'Password must be a minimum of' | translate"></span>&nbsp;
				
				<input name="passLengthMin" id="password-length-minimum-textbox" type="number" min="1" required="true"
				ng-model="policy.numericValue1" maxlength="3"  class="form-control-input" ng-disabled="ctrl.viewMode"></input>
				
				<span id="password-length-2-label" ng-bind="'and maximum' | translate"></span>
				
				<input name="passLengthMax" type="number" max="100" id="password-length-maximum-textbox" required="true"	
				ng-model="policy.numericValue2" maxlength="3"  class="form-control-input" ng-disabled="ctrl.viewMode"></input>
				
				<span id="password-length-3-label" ng-bind="'characters.' | translate"></span>
			</label>		
	</div>
		<label ng-if="policyForm.passLengthMin.$error.required || policyForm.passLengthMax.$error.required" style="margin-left: 7px;" class="col-lg-10 col-md-6 col-sm-4 col-xs-12 error-msg"
			id="password-length-warning-message-label">{{'Both field are required.' | translate}}</label> 

		<label ng-if="policyForm.passLengthMin.$error.min || policyForm.passLengthMax.$error.max ||policy.numericValue1 > policy.numericValue2"
		class="col-lg-10 col-md-6 col-sm-4 col-xs-12 error-msg" style="margin-left: 7px;" id="password-length-warning-message-label">{{'Both field are required and values must be greater than zero. 
		First field value must be less than second field value.'
		| translate}}</label>
</div>



