<div class="modal-content">
	<div class="modal-header">
		<div class="row">
			<div class="col-md-10 col-sm-10">
				<h3>
					<span id="text-field-format-popup-header-message-label"
						class="popup-text">{{ngDialogData.config.displayName}}
						column format</span>
				</h3>
			</div>
		</div>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<form name="textFieldFormat" class="form-horizontal">
					<div class="form-group">
						<label class="col-md-3 col-sm-4 col-xs-12 control-label"><span
							ng-bind="'Alignment' | translate"></span>:</label>
						<div class="col-md-7 col-sm-5 col-xs-12">
							<scf-dropdown id="text-field-format-popup-alignment-dropdown"
								ng-model="ctrl.model.alignment"
								component-data="ctrl.alignDropdownItems" translate-label="true"></scf-dropdown>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="col-xs-12 text-right">
				<scf-button id="text-field-format-popup-cancel-button"
					class="popup-button" ng-click="closeThisDialog()"
					ng-bind="'Cancel' | translate"></scf-button>
				<scf-button id="text-field-format-popup-ok-button"
					class="popup-button"
					ng-click="ctrl.displayExampleValue();closeThisDialog(ctrl.model)"
					ng-bind="'OK' | translate"></scf-button>

			</div>
		</div>
	</div>
</div>