<div id="content" th:fragment="content">
	<div id="wrapper">
		<div class="panel box-shadow-none content-header">
			<div class="panel-body">
				<div class="col-md-12">
					<h3 id="header-message-label" class="animated fadeInLeft">{{'AP
						Document display configuration' | translate}}</h3>
				</div>
			</div>
		</div>
		<div class="form-element">
			<div class="panel panel-default col-md-12 padding-0">
				<div class="panel-body">
					<form name="createForm" class="form-horizontal">
						<div class="form-group">
							<label id="document-display-name-label" for="dealer"
								class="col-md-3 col-sm-4 col-xs-12 control-label">{{'Document
								display name' | translate}}: </label>

							<div class="col-md-3 col-sm-4 col-xs-12">
								<scf-input-text id="document-display-name-textbox"
									ng-model="ctrl.dataModel.displayName"
									maxlength="255"></scf-input-text>
							</div>
							<div class="col-md-6 col-sm-4"></div>
						</div>
						<div class="form-group">
							<label id="loan-request-mode-label" for="dealer"
								class="col-md-3 col-sm-4 col-xs-12 control-label">{{'Loan request mode' | translate}}: </label>

							<div class="col-md-5 col-sm-5 col-xs-12">
								<label class="radio-inline"> <scf-radio
										id="current-and-future-loan-request-mode-radio" name="loan-request-mode-radio"
										ng-value="ctrl.loanRequestMode.currentAndFuture"
										ng-model="ctrl.dataModel.loanRequestMode"></scf-radio>
									{{'Current and future' | translate}}
								</label> <label class="radio-inline"> <scf-radio
										id="current-request-mode-radio" name="loan-request-mode-radio"
										ng-value="ctrl.loanRequestMode.current"
										ng-model="ctrl.dataModel.loanRequestMode"></scf-radio>
									{{'Current' | translate}}
								</label>
							</div>
							<div class="col-md-4 col-sm-3"></div>
						</div>
						<div class="form-group">
							<label id="document-selection-label" for="dealer"
								class="col-md-3 col-sm-4 col-xs-12 control-label">{{'Document selection' | translate}}: </label>

							<div class="col-md-5 col-sm-5 col-xs-12">
								<label class="radio-inline"> <scf-radio
										id="any-document-document-selection-radio" name="document-selection-radio"
										ng-value="ctrl.documentSelection.anyDocument"
										ng-model="ctrl.dataModel.documentSelection"></scf-radio>
									{{'Any document' | translate}}
								</label> <label class="radio-inline"> <scf-radio
										id="matching-ref-document-selection-radio" name="document-selection-radio"
										ng-value="ctrl.documentSelection.groupByMatchingRefNo"
										ng-model="ctrl.dataModel.documentSelection"></scf-radio>
									{{'Group by matching ref no' | translate}}
								</label>
							</div>
							<div class="col-md-4 col-sm-3"></div>
						</div>
						<br/>
						<fieldset>
							<legend ng-bind="'Display column' | translate"></legend>
							<div class="responsive-table">
								<table id="display-config-item-table"
									class="table table-striped table-bordered" cellspacing="0">
									<thead>
										<tr>
											<th id="no-header-label" ng-bind="'No' | translate">No</th>
											<th id="document-field-name-header-label" ng-bind="'Document field name' | translate">Document
												field name</th>
											<th id="th-label-header-label" ng-bind="'TH Label' | translate" style="width: 15%">TH
												Label</th>
											<th id="en-label-header-label" ng-bind="'EN Label' | translate" style="width: 15%">EN
												Label</th>
											<th id="order-header-label" ng-bind="'Order' | translate" colspan="2">Order</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr
											ng-repeat-start="record in ctrl.dataModel.items track by $index"
											ng-class="$even?'tr-odd':'tr-even'">

											<td class="text-right"><label class="label-control"
												id="sequence-no-{{$index+1}}-label" ng-bind="{{$index+1}}"></label></td>

											<td class="text-right"><scf-dropdown
													id="document-field-name-{{$index+1}}-dropdown"
													ng-model="record.fieldName"
													component-data="ctrl.documentFields"
													translate-label="false"></scf-dropdown></td>

											<td class="text-right"><scf-input-text
													id="th-label-{{$index+1}}-textbox"
													ng-model="record.labelTH"
													maxlength="255" /></td>

											<td class="text-right"><scf-input-text
													id="en-label-{{$index+1}}-textbox"
													ng-model="record.labelEN"
													maxlength="255" /></td>

											<td class="text-center"><scf-dropdown
													id="order-{{$index+1}}-dropdown" ng-model="record.sortType"
													component-data="ctrl.sortTypes" translate-label="true"></scf-dropdown></td>

											<td class="text-center"><scf-input-text
													id="sort-sequence-no-{{$index+1}}-textbox"
													style="width: 55px; text-align: right;"
													convert-to-number=""
													ng-model="record.sortSequenceNo"
													ng-disabled="!record.sortType"
													maxlength="255" /></td>
											<td class="text-center"><scf-button type="button"
													id="arrow-up-{{$index+1}}-button"
													class="btn-default gec-btn-action"
													ng-click="ctrl.moveItemUp(record)"> <i
													class="fa fa-sort-up" aria-hidden="true"></i> </scf-button> <scf-button
													type="button" id="arrow-down-{{$index+1}}-button"
													class="btn-default gec-btn-action"
													ng-click="ctrl.moveItemDown(record)"> <i
													class="fa fa-sort-down" aria-hidden="true"></i> </scf-button> <scf-button
													type="button" id="field-setup-{{$index+1}}-button"
													class="btn-default gec-btn-action"
													ng-click="ctrl.openSetting($index, record)"
													ng-hide="!record.completed"> <i
													class="fa fa-cog" aria-hidden="true"></i> </scf-button> <scf-button
													id="field-warning-setup-{{$index+1}}-button"
													class="btn-default gec-btn-action"
													ng-click="ctrl.openSetting($index, record)"
													title="Config a file layout" ng-hide="record.completed">
												<img ng-hide="data.completed"
													data-ng-src="img/gear_warning.png"
													style="height: 13px; width: 14px;" /> </scf-button> <scf-button
													type="button" id="delete-{{$index+1}}-button"
													class="btn-default gec-btn-action"
													ng-click="ctrl.removeItem(record)"> <i
													class="fa fa-trash" aria-hidden="true"></i> </scf-button></td>
										</tr>
										<tr ng-repeat-end="" ng-class="$even?'tr-odd':'tr-even'">
											<td colspan="7">
												<p id="description-{{$index+1}}-label"
													ng-bind="ctrl.displayExample(record)"></p>
											</td>
										</tr>

									</tbody>
								</table>

								<div>
									<!-- Split button -->
									<button id="add-another-field-detail-button" type="button"
										class="btn btn-default" ng-click="ctrl.addItem()"
										ng-bind="'Add another field' | translate">Add another
										field</button>

								</div>
							</div>

						</fieldset>
					</form>
				</div>

				<div class="panel-body">
					<div class="col-md-12 col-sm-12 text-right">
						<scf-button id="document-display-save-button" type="submit"
							ng-click="ctrl.save()">{{'Save' | translate}}</scf-button>
						<scf-button id="document-display-cancel-button" class="popup-button"
							data-dismiss="modal" ng-click="ctrl.backToSponsorConfigPage()"
							ng-bind="'Cancel' | translate"></scf-button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>