<div id="content" th:fragment="content"
	sec:authorize="hasAnyAuthority('VIEW_ALL_DOCUMENT_DISPLAY_LAYOUTS','MANAGE_ALL_DOCUMENT_DISPLAY_LAYOUTS')">
	<div id="wrapper">
		<div class="panel box-shadow-none content-header">
			<div class="panel-body">
				<div class="col-md-12">
					<h3 id="header-message-label" class="animated fadeInLeft">{{ctrl.headerMessageLabel | translate}}</h3>
				</div>
			</div>
		</div>
		<div class="form-element">
			<div class="panel panel-default col-md-12 padding-0">
				<div class="panel-body">
					<form name="createForm" class="form-horizontal">
						<div ng-show="ctrl.isCreateTransactionMode">
							<div class="form-group">
								<label id="loan-request-mode-label" for="dealer"
									class="col-md-3 col-sm-4 col-xs-12 control-label">{{ctrl.mode | translate}}: 
								
								</label>
	
								<div class="col-md-5 col-sm-5 col-xs-12">
									<label class="radio-inline"><scf-radio
											id="current-and-future-loan-request-mode-radio" name="loan-request-mode-radio"
											ng-value="ctrl.loanRequestMode.currentAndFuture"
											ng-disabled="!ctrl.manageAll"
											ng-model="ctrl.dataModel.loanRequestMode"></scf-radio>
										{{'Current and future' | translate}}
									</label> <label class="radio-inline"> <scf-radio
											id="current-request-mode-radio" name="loan-request-mode-radio"
											ng-value="ctrl.loanRequestMode.current"
											ng-disabled="!ctrl.manageAll"
											ng-model="ctrl.dataModel.loanRequestMode"></scf-radio>
										{{'Current' | translate}}
									</label>
								</div>
								<div class="col-md-4 col-sm-3"></div>
							</div>
							<div class="form-group">
								<label for="dealer"
									class="col-md-3 col-sm-4 col-xs-12 control-label"></label>
	
								<div class="col-md-5 col-sm-5 col-xs-12">
									<label><scf-checkbox
										ng-model="ctrl.dataModel.supportPartial"
										id="support-partial-payment-checkbox"
										ng-disabled="false"></scf-checkbox>
										{{'Support partial payment' | translate}}
									</label>
								</div>
								<div class="col-md-4 col-sm-3"></div>
							</div>
							<div class="form-group">
								<label id="document-selection-label" for="dealer"
									class="col-md-3 col-sm-4 col-xs-12 control-label">{{'Document selection' | translate}}: 
								
								</label>
	
								<div class="col-md-2 col-sm-2 col-xs-12">
									<label class="radio-inline"> <scf-radio
											id="any-document-document-selection-radio" name="document-selection-radio"
											ng-value="ctrl.documentSelection.anyDocument"
											ng-disabled="!ctrl.manageAll"
											ng-model="ctrl.dataModel.documentSelection"></scf-radio>
										{{'Any document' | translate}}
									</label> <label class="radio-inline"> <scf-radio
											id="matching-ref-document-selection-radio" name="document-selection-radio"
											ng-value="ctrl.documentSelection.groupBy"
											ng-disabled="!ctrl.manageAll"
											ng-model="ctrl.dataModel.documentSelection"></scf-radio>
										{{'Group by' | translate}}
									</label>
								</div>
								<div class="col-md-3 col-sm-3">
									<scf-dropdown
										id="group-by-dropdown"
										ng-model="ctrl.dataModel.documentFieldId"
										component-data="ctrl.documentGroupByFields"
										ng-disabled="ctrl.isUnCheckGroupBy()"
										translate-label="false"
										convert-to-number="true"></scf-dropdown>
								</div>
							</div>
							
					
							<div class="form-group">
								<label id="supplier-code-group-selection-label" for="dealer"
									class="col-md-3 col-sm-4 col-xs-12 control-label">{{ctrl.groupSelection | translate}}: 
								
								</label>
									<div class="col-md-5 col-sm-5 col-xs-12">
									<label class="radio-inline"><scf-radio
											id="single-supplier-code-group-selection-radio" name="supplier-code-group-selection-radio"
											ng-value="ctrl.supplierCodeSelectionMode.singlePerTransaction"
											ng-disabled="!ctrl.manageAll"
											ng-model="ctrl.dataModel.supplierCodeSelectionMode"></scf-radio>
										{{'Single per transaction' | translate}}
									</label> <label class="radio-inline"><scf-radio
											id="multiple-supplier-code-group-selection-radio" name="supplier-code-group-selection-radio"
											ng-value="ctrl.supplierCodeSelectionMode.multiplePerTransaction"
											ng-disabled="!ctrl.manageAll"
											ng-model="ctrl.dataModel.supplierCodeSelectionMode"></scf-radio>
										{{'Multiple per transaction' | translate}}
										
									</label>
								</div>
								<div class="col-md-4 col-sm-3"></div>
							</div>
						</div>
						<br/>
						<fieldset>
							<legend ng-bind="'Document display column' | translate"></legend>
							<div class="responsive-table">
								<table id="display-config-item-table"
									class="table table-striped table-bordered" cellspacing="0">
									<thead>
										<tr>
											<th id="sequence-no-header-label" ng-bind="'No' | translate">No</th>
											<th id="gecscf-field-name-header-label" ng-bind="'GECSCF field name' | translate">GECSCF field name</th>
											<th id="th-label-header-label" ng-bind="'TH Label' | translate" style="width: 15%">TH
												Label</th>
											<th id="en-label-header-label" ng-bind="'EN Label' | translate" style="width: 15%">EN
												Label</th>
											<th id="order-header-label" ng-bind="'Order' | translate" colspan="2">Order</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr
											ng-repeat-start="record in ctrl.dataModel.items track by $index"
											ng-class="$even?'tr-odd':'tr-even'">

											<td class="text-right"><label class="label-control"
												id="sequence-no-{{$index+1}}-label" ng-bind="{{$index+1}}"></label></td>

											<td class="text-right"><scf-dropdown
													id="gecscf-field-name-{{$index+1}}-dropdown"
													ng-model="record.documentField.documentFieldId"
													component-data="ctrl.documentFields"
													ng-disabled="!ctrl.manageAll"
													translate-label="false"
													convert-to-number="true"></scf-dropdown></td>

											<td class="text-right"><scf-input-text
													id="th-label-{{$index+1}}-textbox"
													ng-model="record.labelTH"
													ng-disabled="!ctrl.manageAll"
													maxlength="255" /></td>

											<td class="text-right"><scf-input-text
													id="en-label-{{$index+1}}-textbox"
													ng-model="record.labelEN"
													ng-disabled="!ctrl.manageAll"
													maxlength="255" /></td>

											<td class="text-center"><scf-dropdown
													id="order-{{$index+1}}-dropdown" ng-model="record.sortType"
													ng-disabled="!ctrl.manageAll"
													component-data="ctrl.sortTypes" translate-label="true"></scf-dropdown></td>

											<td class="text-center"><scf-input-text
													id="sort-sequence-no-{{$index+1}}-textbox"
													style="width: 55px; text-align: right;"
													convert-to-number=""
													ng-model="record.sortSequenceNo"
													ng-disabled="!record.sortType||!ctrl.manageAll"
													maxlength="255" /></td>
											<td class="text-center">
												<scf-button type="button" id="arrow-up-{{$index+1}}-button" class="btn-default gec-btn-action"
													ng-disabled="!ctrl.manageAll" ng-click="ctrl.moveItemUp(record)"> 
													<i class="fa fa-sort-up" aria-hidden="true"></i>
												</scf-button> 
												<scf-button type="button" id="arrow-down-{{$index+1}}-button" class="btn-default gec-btn-action"
													ng-disabled="!ctrl.manageAll" ng-click="ctrl.moveItemDown(record)"> 
													<i class="fa fa-sort-down" aria-hidden="true"></i> 
												</scf-button>
												<scf-button type="button" id="field-setup-{{$index+1}}-button" class="btn-default gec-btn-action"
													ng-disabled="ctrl.cannotSetup(record)" ng-click="ctrl.openSetting($index, record)"> 
													<i class="fa fa-cog" aria-hidden="true"></i> 
												</scf-button>
												<scf-button type="button" id="delete-{{$index+1}}-button" class="btn-default gec-btn-action"
													ng-disabled="!ctrl.manageAll" ng-click="ctrl.removeItem(record)"> 
													<i class="fa fa-trash" aria-hidden="true"></i> 
												</scf-button>
											</td>
										</tr>
										<tr ng-repeat-end="" ng-class="$even?'tr-odd':'tr-even'" ng-show="ctrl.displayExample(record)">
											<td colspan="7">
												<p id="description-{{$index+1}}-label"
													ng-bind="ctrl.displayExample(record)"></p>
											</td>
										</tr>

									</tbody>
								</table>

								<div>
									<!-- Split button -->
									<button id="add-another-field-button" type="button"
										class="btn btn-default" ng-click="ctrl.addItem()"
										ng-disabled="!ctrl.manageAll"
										ng-bind="'Add another field' | translate">Add another
										field</button>

								</div>
							</div>

						</fieldset>
					</form>
				</div>

				<div class="panel-body">
					<div class="col-md-12 col-sm-12 text-right">
						<scf-button id="document-display-cancel-button" class="popup-button"
							data-dismiss="modal" ng-click="ctrl.backToSponsorConfigPage()"
							ng-bind="'Cancel' | translate"></scf-button>
						<scf-button id="document-display-save-button" type="submit"
							ng-disabled="!ctrl.manageAll"
							ng-click="ctrl.save()">{{'Save' | translate}}</scf-button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" ng-init="ctrl.manageAll=true"
		sec:authorize="hasAuthority('MANAGE_ALL_DOCUMENT_DISPLAY_LAYOUTS')" /> 
</div>