<div class="modal-content">
	<form name="newOrganizeForm" class="form-horizontal"
		ng-submit="ctrl.save(closeThisDialog)">
		<div class="modal-header">
			<div class="row">
				<div class="col-md-10 col-sm-10">
					<h3>
						<span id="organize-popup-header-message-label" class="popup-text"
							ng-bind="'Add new organization' | translate">Add new
							organization</span>
					</h3>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">

					<div class="form-group">
						<label for="group-name" id="organization-code-label"
							class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label"><span
							ng-bind="'Organization code' | translate"></span>:</label>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<scf-input-text id="organization-code-textbox"
								ng-model="ctrl.model.organizationCode" maxlength="20"></scf-input-text>
						</div>
					</div>

					<div class="form-group">
						<label for="group-name" id="organization-name-label"
							class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label"><span
							ng-bind="'Organization name' | translate"></span>:</label>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<scf-input-text id="organization-name-textbox"
								ng-model="ctrl.model.organizationName" maxlength="100"></scf-input-text>
						</div>
					</div>
					<div class="form-group">
						<label for="group-name" id="organization-tax-id-label"
							class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label"><span
							ng-bind="'TAX ID' | translate"></span>:</label>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
							<scf-input-text id="organization-tax-id-textbox"
								ng-model="ctrl.model.taxId" maxlength="13"></scf-input-text>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-12 text-right">
					<scf-button id="popup-cancel-button" class="popup-button"
						ng-click="closeThisDialog()" ng-bind="'Cancel' | translate"></scf-button>
					<scf-button id="popup-save-button" class="popup-button"
						type="submit" ng-bind="'Save' | translate"></scf-button>
				</div>
			</div>
		</div>
	</form>
</div>