<div id="content" th:fragment="content">	
    <div id="wrapper">
        <div class="panel box-shadow-none content-header">
            <div class="panel-body">
                <div class="col-md-12">
                    <h3 class="animated fadeInLeft" ng-bind="'Transaction list' | translate">Transaction List</h3>
                </div>
            </div>
        </div>

        <div class="form-element">
            <div class="panel panel-default col-md-12 padding-0">
                <div class="panel-body">

                    <!-- Start Column Panel-->
                    <div class="col-md-12">
                        <form name="createForm" class="form-horizontal">
                            <div class="form-group">
                                <label for="dateTypeRadio" class="col-md-2 col-sm-3 control-label"></label>
                                <div class="col-md-9 col-sm-8">
                                    <label class="radio-inline">
                                        <scf-radio id="transaction-date-type" ng-value="listTransactionController.transactionType.transactionDate" name="date-type-radio" ng-model="listTransactionController.listTransactionModel.dateType"></scf-radio> {{'Transaction date' | translate}}
                                    </label>
									<label class="radio-inline">
                                        <scf-radio id="maturity-date-type" ng-value="listTransactionController.transactionType.maturityDate" name="date-type-radio" ng-model="listTransactionController.listTransactionModel.dateType"></scf-radio> {{'Maturity date' | translate}}
                                    </label>
                                </div>                                
                                <div class="col-md-1 col-sm-1"></div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 control-label">{{'Date' | translate}}:</label>
                                <div class="col-md-3 col-sm-3 gec-calendar-group">
                                    <label for="date-from-calendar" class="control-label">{{'From' | translate}}: </label>
                                    <scf-date-picker-from text-id="date-from-calendar" 
														  button-id="date-from-calendar-button" 
														  text-model="listTransactionController.dateModel.dateFrom"
														  date-format="{{listTransactionController.dateFormat}}" 
														  is-open="listTransactionController.openDateFrom"
														  open-calendar-action="listTransactionController.openCalendarDateFrom()"
														  max-date="listTransactionController.dateModel.dateTo">
									</scf-date-picker-from>

                                </div>
                                <div class="col-md-3 col-sm-3 gec-calendar-group">
                                    <label for="date-to-calendar" class="control-label">{{'to' | translate}}: </label>
                                    <scf-date-picker-to text-id="date-to-calendar" button-id="date-to-calendar-button" 
														text-model="listTransactionController.dateModel.dateTo" 
														date-format="{{listTransactionController.dateFormat}}" 
														is-open="listTransactionController.openDateTo" 
														open-calendar-action="listTransactionController.openCalendarDateTo()" 
														min-date="listTransactionController.dateModel.dateFrom">
									</scf-date-picker-to>
                                </div>
                                <div class="col-md-4 col-sm-3"></div>
                            </div>

                            <div class="form-group">
                                <label for="sponsor" class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Sponsor' | translate}}: </label>
                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    <scf-dropdown id="sponsor-dropdown" ng-model="listTransactionController.listTransactionModel.sponsorId" component-data="listTransactionController.sponsorCodeDropdown"></scf-dropdown>
                                </div>
                                <div class="col-md-5 col-sm-4"></div>
                            </div>

                            <div class="form-group">
                                <label for="dealer" class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Supplier code' | translate}}: </label>

                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <scf-input-text id="supplier-code-textbox" ng-model="listTransactionController.listTransactionModel.supplierCode"></scf-input-text>
                                </div>
                                <div class="col-md-5 col-sm-6"></div>
                            </div>

                            <div class="form-group">
                                <label for="dealer" class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Status' | translate}}: </label>

                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <scf-dropdown id="group-transaction-status-dropdown" ng-model="listTransactionController.listTransactionModel.statusGroup" component-data="listTransactionController.transactionStatusGroupDropdown" translate-label="true"></scf-dropdown>
                                </div>
                                <div class="col-md-5 col-sm-6">
                                    <scf-button id="search-button" class="btn-default" ng-click="listTransactionController.searchTransaction()">{{'Search' | translate}}</scf-button>
                                </div>
                            </div>

                        </form>

                        <div ng-show="listTransactionController.showInfomation">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 text-right">
                                    <span>
										<scf-button id="export-button" class="btn-default" ng-click="listTransactionController.exportCSVFile()">{{'Export' | translate}}</scf-button>
									</span>
                                </div>                                             	
                                <div class="col-md-12 col-sm-12 text-right">
                                    <span>                                              
										<b ng-bind="listTransactionController.splitePageTxt" id="transaction-paging-label"></b>

                                        &nbsp;&nbsp;
                                        <scf-pagination dropdown-id="page-limit-dropdown" 
														page-size-model="listTransactionController.pageModel.pageSizeSelectModel" 
                                        	total-page="listTransactionController.pageModel.totalPage" 
                                            current-page="listTransactionController.pageModel.currentPage" 
                                            page-size-list="listTransactionController.pageSizeList" 
                                            page-action="listTransactionController.searchTransaction"></scf-pagination>
									</span>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <scf-data-table id="transaction-table" component-config="listTransactionController.dataTable" component-datas="listTransactionController.tableRowCollection" current-page="listTransactionController.pageModel.currentPage" record-per-page="listTransactionController.pageModel.pageSizeSelectModel"></scf-data-table>
                                </div>
                                <div id="fixed-bottom" class="col-md-12"></div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="panel-body" ng-show="listTransactionController.showInfomation">
                    <div class="row">
                        <div id="bottom-sticker">
                            <div class="col-md-12 col-sm-12">
								<div class="form-horizontal">
									<span class="col-md-2 col-sm-3"><b>{{'Internal step' | translate}}</b>:</span>
									<div class="col-md-2 col-sm-3">
                                        <span ng-bind="listTransactionController.summaryInternalStep[0].statusMessageKey | translate">list-transaction-wait-for-verify</span>
                                    </div>
									<div class="col-md-1 col-sm-2 text-right">
                                        <span id="wait-for-verify-record-label">{{listTransactionController.summaryInternalStep[0].totalRecord}}&nbsp;{{'records' | translate}}</span>
                                    </div>									
									<div class="col-md-2 col-sm-2 text-right">
                                        <span id="wait-for-verify-amount-label">{{listTransactionController.summaryInternalStep[0].totalAmount | number: 2}}&nbsp;{{'THB' | translate}}</span>
                                    </div>
									<div class="col-md-4 col-sm-1"></div>
								</div>
                            </div>
							
							<div class="col-md-12 col-sm-12">
								<div class="form-horizontal">
									<label class="col-md-2 col-sm-3"></label>
									<div class="col-md-2 col-sm-3">
                                        <span ng-bind="listTransactionController.summaryInternalStep[1].statusMessageKey | translate">list-transaction-wait-for-approve</span>
                                    </div>
									<div class="col-md-1 col-sm-2 text-right">
                                        <span id="wait-for-approver-record-label">{{listTransactionController.summaryInternalStep[1].totalRecord}}&nbsp;{{'records' | translate}}</span>
                                    </div>									
									<div class="col-md-2 col-sm-2 text-right">
                                        <span id="wait-for-approver-amount-label">{{listTransactionController.summaryInternalStep[1].totalAmount | number: 2}}&nbsp;{{'THB' | translate}}</span>
                                    </div>
									<div class="col-md-4 col-sm-1"></div>
								</div>
							</div>
							
							<div class="col-md-12 col-sm-12">
								<div class="form-horizontal">
									<label class="col-md-2 col-sm-3"></label>
									<div class="col-md-2 col-sm-3">
                                        <span ng-bind="listTransactionController.summaryInternalStep[2].statusMessageKey | translate">Reject by Checker</span>
                                    </div>
									<div class="col-md-1 col-sm-2 text-right">
                                        <span id="reject-by-checker-record-label">{{listTransactionController.summaryInternalStep[2].totalRecord}}&nbsp;{{'records' | translate}}</span>
                                    </div>									
									<div class="col-md-2 col-sm-2 text-right">
                                        <span id="reject-by-checker-amount-label">{{listTransactionController.summaryInternalStep[2].totalAmount | number: 2}}&nbsp;{{'THB' | translate}}</span>
                                    </div>
									<div class="col-md-4 col-sm-1"></div>
								</div>
							</div>
							
							<div class="col-md-12 col-sm-12">
								<div class="form-horizontal">
									<label class="col-md-2 col-sm-3"></label>
									<div class="col-md-2 col-sm-3">
                                        <span ng-bind="listTransactionController.summaryInternalStep[3].statusMessageKey  | translate">Reject by Approve</span>
                                    </div>
									<div class="col-md-1 col-sm-2 text-right">
                                        <span id="reject-by-approver-record-label">{{listTransactionController.summaryInternalStep[3].totalRecord}}&nbsp;{{'records' | translate}}</span>
                                    </div>									
									<div class="col-md-2 col-sm-2 text-right">
                                        <span id="reject-by-approver-amount-label">{{listTransactionController.summaryInternalStep[3].totalAmount | number: 2}}&nbsp;{{'THB' | translate}}</span>
                                    </div>
									<div class="col-md-4 col-sm-1"></div>
								</div>
							</div>
							
							<div class="col-md-12 col-sm-12">
								<div class="form-horizontal">
									<label class="col-md-2 col-sm-3"></label>
									<div class="col-md-2 col-sm-3">
                                        <span ng-bind="listTransactionController.summaryInternalStep[4].statusMessageKey  | translate">Cancel by Supplier</span>
                                    </div>
									<div class="col-md-1 col-sm-2 text-right">
                                        <span id="cancel-by-supplier-record-label">{{listTransactionController.summaryInternalStep[4].totalRecord}}&nbsp;{{'records' | translate}}</span>
                                    </div>									
									<div class="col-md-2 col-sm-2 text-right">
                                        <span id="cancel-by-supplier-amount-label">{{listTransactionController.summaryInternalStep[4].totalAmount | number: 2}}&nbsp;{{'THB' | translate}}</span>
                                    </div>
									<div class="col-md-4 col-sm-1"></div>
								</div>
							</div>
							
							
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
	<input type="hidden" ng-init="listTransactionController.verify=true" sec:authorize="hasAuthority('SFP_VERIFY_TRANSACTION')"/>
	<input type="hidden" ng-init="listTransactionController.approve=true" sec:authorize="hasAuthority('SFP_APPROVE_TRANSACTION')"/>
</div>
