<div th:fragment="content"
	sec:authorize="hasAnyAuthority('MANAGE_ALL_FUNDING_PROFILE','VIEW_ALL_FUNDING_PROFILE')">
	<div id="wrapper" >
		<div class="panel panel-default col-md-12 padding-0">
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-10 col-md-10 col-xs-10">
						<h3 class="animated fadeInLeft"
							id="funding-profile-info-header-label"
							ng-bind="'Funding profile' | translate">Funding profile</h3>
					</div>
				</div>
				<br/>
				<div class="form-group">
					<div class="col-md-2 col-sm-3 col-xs-12 control-label">
						<label id="tax-id-label"> {{'Tax ID' | translate}}: </label>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12" >
						<label id="tax-id-value-label" ng-bind="ctrl.fundingProfile.fundingId"></label>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-12 control-label">
						<label id="funding-logo-header-label"> {{'Funding logo' |
							translate}}: </label>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12" >
						<label class="control-label" id="funding-logo-label"
							ng-show="!ctrl.hasLogo">{{'No logo' | translate}}</label> <img
							id="{{ctrl.fundingProfile.fundingId}}-funding-logo"
							title="{{ctrl.fundingProfile.fundingName}}"
							style="height: 32px; width: 32px;"
							data-ng-src="data:image/png;base64,{{ctrl.fundingLogo}}"
							data-err-src="images/png/avatar.png" ng-show="ctrl.hasLogo" />
						&nbsp;
						<scf-button id="funding-profile-logo-setup-button"
							class="btn-default gec-btn-action"
							ng-click="ctrl.config(ctrl.fundingProfile)"
							title="Config a funding logo"> <i class="fa fa-cog"
							aria-hidden="true"></i> </scf-button>
					</div>
				</div>
				<br/><br/>
				<div class="form-group">
					<div class="col-md-2 col-sm-3 col-xs-12 control-label">
						<label id="funding-code-label"> {{'Funding code' | translate}}: </label>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-12" >
						<label id="funding-code-value-label" ng-bind="ctrl.fundingProfile.bankCode" ></label>
					</div>
				</div>
				<br/><br/>
				<div class="form-group">
					<div class="col-md-2 col-sm-3 col-xs-12 control-label">
						<label id="funding-name-label"> {{'Funding name' |
							translate}}: </label>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12" >
						<label id="funding-name-value-label" ng-bind="ctrl.fundingProfile.fundingName" ></label>
					</div>
				</div>
				<br/><br/>
			</div>
		</div>
	</div>
</div>