<div class="modal-content" id="new-formula-dialog">
	<div id="wrapper" ng-controller="NewPaymentDateFormulaController as ctrl">
		<div class="modal-header">
			<div class="row">
				<div class="col-md-10 col-sm-10">
					<h3>
						<span id="payment-date-formula-popup-header-message-label"
							class="popup-text" ng-bind="'Add new formula' | translate">New
							formula</span>
					</h3>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<form name="newFormula" class="form-horizontal">
						<div class="form-group">
							<label id="payment-date-formula-name-popup-label" for="formula-name"
								class="col-md-3 col-sm-4 col-xs-12 control-label"><span
								ng-bind="'Formula name' | translate"></span>:</label>
							<div class="col-md-6 col-sm-4 col-xs-12">
								<scf-input-text id="payment-date-formula-name-textbox"
									maxlength="255"
									ng-model="ctrl.formula.formulaName"></scf-input-text>
							</div>
						</div>
						<div class="form-group" ng-show="ctrl.showMessageError">
							<label class="col-md-3 col-sm-4 col-xs-12 control-label"></label>
							<span class="col-md-6 col-sm-4 col-xs-12 error-msg"
								id="formula-name-warning-message-label">{{ctrl.messageError | translate}}.</span>
						</div>
						<div class="form-group">
							<label id="payment-date-formula-type-popup-label" for="formula-type"
								class="col-md-3 col-sm-4 col-xs-12 control-label"><span
								ng-bind="'Formula type' | translate"></span>:</label>
							<div class="col-md-6 col-sm-4 col-xs-12">
								<input type="radio" id="payment-date-type-formula"
									name="payment-date-formula-type-radio"
									ng-model="ctrl.formula.formulaType"
									ng-value="'CREDIT_TERM'" /> {{'Credit Term' | translate}}
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-12 text-right">
					<scf-button id="payment-date-formula-cancel-button"
						class="popup-button" ng-click="closeThisDialog();"
						ng-bind="'Cancel' | translate"></scf-button>
					<scf-button id="payment-date-formula-save-button"
						class="popup-button"
						ng-click="ctrl.create(closeThisDialog);"
						ng-bind="'Save' | translate"></scf-button>
				</div>
			</div>
		</div>
	</div>
</div>