<!doctype html>
<html>

<head>
    <title>My Angular Apssp</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bootstrap-3.3.6-dist/css/bootstrap.css" />
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="scfjs.css" />
    <style>
        body {
            color: black;
        }
    </style>
</head>

<body ng-app="scf-ui">
    <div ng-controller="Controller as ctrl">
        <div class="row">
            <div class="col-md-2">
                <scf-form-label id="transaction-date-label" label="Transaction Date" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <form>
                    <scf-form-textbox id="first-name-textbox" placeholder="First Name" maxlength="20" required="true" name="firstName"></scf-form-textbox>
                    <button type="submit">submit</button>

                </form>
            </div>

            <div class="col-md-12">
                <form>
                    <scf-table id="doucment-table" source="source.json" paging="true" 
							   show-row-no="true" selectable="true" show-select-all="true" 
							   layout-source="layout-source.json" source-params="sponsorId:{{sponsorId}}" 
							   layout-source-params="sponsorId:{{sponsorId}},type:create"
							   show-action="true" action-sets="ctrl.actionSets">
                    </scf-table>
                </form>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="angular.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="bootstrap-3.3.6-dist/js/bootstrap.js"></script>
    <script src="scfjs.js"></script>
</body>

</html>