<div class="modal-content">
    <form name="newMappingData" class="form-horizontal">
        <div class="modal-header">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h2>
                        <span id="header-popup-message-label" class="popup-text" ng-bind="'Add new mapping data' | translate"></span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <fieldset>
                        <div class="form-group">
                            <label id="expected-value-label" class="col-lg-3 col-md-3 col-sm-3 col-xs-9 control-label">
                                <span ng-bind="'Expected value' | translate"></span>:
                            </label>
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                <scf-input-text id="expected-value-textbox" ng-model="ctrl.model.expectedValue" maxlength="255">
                                </scf-input-text>
                            </div>
                        </div>

                        <div class="form-group">
                            <label id="expected-in-label" class="col-lg-3 col-md-3 col-sm-3 col-xs-9 control-label"><span
                                ng-bind="'Expected in' | translate"></span>:</label>
                            <div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-11">
                                    <scf-dropdown id="expected-in-dropdown" ng-model="record.dataType" component-data="ctrl.dataTypeDropdown" ng-change="ctrl.isChangeDataType(record)"
                                        ng-disabled='!ctrl.expected || ctrl.openExpectedValueField' translate-label="true">
                                    </scf-dropdown>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <scf-button id="no-button" class="popup-button" ng-click="closeThisDialog(0)" ng-bind="'NO' | translate"></scf-button>
                    <scf-button id="yes-button" class="popup-button" ng-click="closeThisDialog(ngDialogData);" ng-bind="'YES' | translate"></scf-button>
                </div>
            </div>
        </div>
    </form>
</div>