<div class="modal-content">
	<form name="dataFieldFormat" class="form-horizontal"
		ng-submit="ctrl.saveData();closeThisDialog(ctrl.model)">
		<div class="modal-header">
			<div class="row">
				<div class="col-md-10 col-sm-10">
					<h3>
						<span id="data-field-format-popup-header-message-label"
							class="popup-text" ng-bind="ctrl.model+' field format' | translate"></span>
					</h3>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">

					<div class="form-group">
						<div class="col-md-3 col-sm-4 col-xs-12 control-label"></div>
						<div class="col-md-6 col-sm-4 col-xs-12">
							<scf-input-text ng-model="ctrl.defaultValue"
								id="data-textbox" maxlength="200"></scf-input-text>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-12 text-right">
					<scf-button id="data-format-popup-cancel-button"
						class="popup-button" ng-click="closeThisDialog()"
						ng-bind="'Cancel' | translate"></scf-button>
					<scf-button id="data-format-popup-ok-button" class="popup-button"
						type="submit" ng-bind="'OK' | translate"></scf-button>
				</div>
			</div>
		</div>
	</form>
</div>