<div class="modal-content">
	<form name="datetimeFieldFormat" class="form-horizontal" ng-submit="ctrl.saveDateTimeValidation();closeThisDialog(ctrl.model)">
		<div class="modal-header">
			<div class="row">
				<div class="col-md-10 col-sm-10">
					<h3>
						<span id="date-time-field-format-popup-header-message-label" class="popup-text" ng-bind="'Date time field format' | translate">Date time field format</span>
					</h3>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<fieldset>
						<legend>Format</legend>
						<div class="form-group">
							<label for="date-time-format" class="col-md-3 col-sm-4 col-xs-12 control-label">
								<span ng-bind="'Date time format' | translate"></span>:</label>
							<div class="col-md-6 col-sm-4 col-xs-12">
								<scf-dropdown id="date-time-field-format-popup-date-time-format-dropdown" ng-model="ctrl.model.datetimeFormat" component-data="ctrl.dateTimeDropdown"
								    translate-label="true"></scf-dropdown>
							</div>
						</div>
						<div class="form-group">
							<label for="calendar-type" class="col-md-3 col-sm-4 col-xs-12 control-label">
								<span ng-bind="'Calendar type' | translate"></span>:</label>
							<div class="col-md-6 col-sm-4 col-xs-12">
								<label class="radio-inline">
									<scf-radio id="christ-calendar-type" name="date-time-field-format-popup-calendar-type-radio" ng-value="ctrl.calendarType.christCalendar"
									    ng-model="ctrl.model.calendarEra"></scf-radio>
									<span ng-bind="'Gregorian calendar' | translate"></span>
								</label>
								<br />
								<label class="radio-inline">
									<scf-radio id="buddhist-calendar-type" name="date-time-field-format-popup-calendar-type-radio" ng-value="ctrl.calendarType.buddhistCalendar"
									    ng-model="ctrl.model.calendarEra"></scf-radio>
									<span ng-bind="'Buddhist calendar' | translate"></span>
								</label>
							</div>
						</div>
						<div class="form-group">
							<label for="date-time-label" class="col-md-12 col-sm-12 col-xs-12 control-label">
								<span id="date-time-field-format-popup-example-label">Ex. {{ctrl.config.defaultExampleValue | date:ctrl.model.datetimeFormat}}</span>
							</label>
						</div>
					</fieldset>
					<fieldset>
						<legend>Validation</legend>
						<div class="form-group">
							<label for="dealer" class="col-md-2 col-sm-3 col-xs-12 control-label">
								<scf-checkbox id="date-time-field-format-popup-require-checkbox" ng-model="ctrl.model.required"></scf-checkbox>
								<span ng-bind="'Require' | translate" id="require-label"></span>
							</label>
						</div>
						<div class="form-group" ng-hide="ctrl.model.recordType == 'DETAIL'">
							<label class="col-md-1 col-sm-1 col-xs-1 control-label">
								<scf-checkbox id="date-time-field-format-popup-relational-operators-checkbox" ng-hide="ctrl.config.recordType == 'DETAIL'"
								    ng-model="ctrl.requiredRelationalOperators"></scf-checkbox>
							</label>
							<div class="col-md-9 col-sm-11 col-xs-11">
								<scf-dropdown id="date-time-field-format-popup-relational-operators-dropdown" ng-model="ctrl.selectedRelationalOperators"
								    ng-disabled="!ctrl.requiredRelationalOperators" ng-hide="ctrl.model.recordType == 'DETAIL'" ng-change="ctrl.clearRelationField()"
								    component-data="ctrl.relationalOperators" translate-label="true"></scf-dropdown>
							</div>
						</div>
						<div class="form-group" ng-show="ctrl.model.recordType == 'FOOTER'">
							<label class="col-md-1 col-sm-1 col-xs-1 control-label"></label>
							<div class="col-md-9 col-sm-11 col-xs-11">
								<scf-dropdown id="date-time-field-format-popup-relational-field-dropdown" ng-model="ctrl.selectedRelationalField" ng-disabled="ctrl.disableRelationDropdown()"
								    component-data="ctrl.relationalField" translate-label="true"></scf-dropdown>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-12 text-right">
					<scf-button id="date-time-field-format-popup-cancel-button" class="popup-button" ng-click="closeThisDialog()" ng-bind="'Cancel' | translate"></scf-button>
					<scf-button id="date-time-field-format-popup-ok-button" class="popup-button" type="submit" ng-bind="'OK' | translate"></scf-button>

				</div>
			</div>
		</div>
	</form>
</div>