<div id="content" th:fragment="content"
	sec:authorize="hasAnyAuthority('VIEW_ALL_HOLIDAYS_OF_ALL_FUNDING','VIEW_ALL_BANK_HOLIDAYS')">
	<input type="hidden" ng-init="ctrl.showLender=true"
		sec:authorize="hasAnyAuthority('VIEW_ALL_HOLIDAYS_OF_ALL_FUNDING')" />
	<div class="app-title">
		<div>
			<h1>
				<i class="fa fa-file-text-o"></i> <span id="header-message-label"
					class="animated fadeInLeft">{{'Bank holiday' | translate}}</span>
			</h1>
			<p>Page for manage holiday.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="tile">
				<div class="tile-body">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<form name="holidaySearchForm" class="form-horizontal"
							ng-submit="ctrl.searchHoliday()" autocomplete="off">
							<div class="form-group row" ng-if="ctrl.showLender">
								<label for="lender-dropdown" id="lender-label"
									class="col-md-2 col-sm-3 col-xs-12 control-label">{{'FUNDING' | translate}}: </label>
								<div class="col-md-3 col-sm-3 col-xs-9">
									<scf-dropdown id="lender-dropdown"
										ng-model="ctrl.criteria.fundingId"
										component-data="ctrl.lenderDropDownItems"
										ng-change="ctrl.loadAllYears();"></scf-dropdown>
								</div>
							</div>
							<div class="form-group row">
								<label for="holiday-in-dropdown" id="holiday-in-label"
									class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Holiday
									in' | translate}}: </label>
								<div class="col-md-3 col-sm-3 col-xs-9">
									<scf-dropdown id="holiday-in-dropdown"
										ng-model="ctrl.criteria.year" convert-to-number="true"
										component-data="ctrl.yearDropDownItems"></scf-dropdown>
								</div>
								<div class="col-md-3 col-sm-3 col-xs-3">
									<scf-button type="submit" id="search-button"
										class="btn-default">Search</scf-button>
								</div>
							</div>
						</form>
					</div>
					<br />
					<!-- Start Table-->
					<div class="row">
						<div class="col-md-12">
							<scf-table id="holiday-table" component-config="ctrl.dataTable"
								component-datas="ctrl.pagingController.tableRowCollection"
								current-page="ctrl.pagingController.pagingModel.currentPage"
								record-per-page="ctrl.pagingController.pagingModel.pageSizeSelectModel"
								clear-sort-order="ctrl.pagingController.pagingModel.clearSortOrder"></scf-table>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 text-right">
						<span> <b ng-bind="ctrl.pagingController.splitePageTxt"
							id="holiday-paging-label"></b> &nbsp;&nbsp; <scf-pagination
								dropdown-id="page-limit-dropdown" name="holiday"
								page-size-model="ctrl.pagingController.pagingModel.pageSizeSelectModel"
								total-page="ctrl.pagingController.pagingModel.totalPage"
								current-page="ctrl.pagingController.pagingModel.currentPage"
								page-size-list="ctrl.pagingController.pageSizeList"
								page-action="ctrl.searchHoliday"></scf-pagination>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>