<footer id="footer" th:fragment="footer" class="text-center">
	<div class="footer-below">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span
						th:text="${'All rights reserved 2016 General Electronic Commerce Services Co., Ltd.' }"></span><br />
					<span th:text="${'Version'}"></span>
					<span th:text="${productVersion}"></span>
				</div>
			</div>
		</div>
	</div>
	<!-- custom -->
	<script th:src="@{/js/app/main.js}" src="asset/js/main.js"></script>
</footer>