<head th:fragment="headTag">
    <base href="/" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/js/bower_components/bootstrap/dist/css/bootstrap.min.css}" href="../static/js/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Timeline CSS -->
    <link th:href="@{/css/timeline.css}" href="../static/css/timeline.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link th:href="@{/js/bower_components/font-awesome/css/font-awesome.min.css}" href="../static/js/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Mimin Theme -->
    <!-- plugins -->
    <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet" />

    <!-- GECSCF CSS -->
    <link th:href="@{/css/gecscf.css}" href="../static/css/gecscf.css" rel="stylesheet" />

    <!-- End Mimin Theme -->

    <!-- jQuery -->
    <script th:src="@{/js/bower_components/jquery/dist/jquery.min.js}" src="../static/js/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/js/bower_components/bootstrap/dist/js/bootstrap.min.js}" src="../static/js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Angular -->
    <script th:src="@{/js/bower_components/angular/angular.min.js}" src="../static/js/bower_components/angular/angular.min.js"></script>
    <script th:src="@{/js/bower_components/angular-ui-router/release/angular-ui-router.js}" src="../static/js/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script th:src="@{/js/bower_components/angular-cookies/angular-cookies.min.js}" src="../static/js/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <!-- Angular Translate -->
    <script th:src="@{/js/bower_components/angular-translate/angular-translate.min.js}" src="../static/js/bower_components/angular-translate/angular-translate.min.js"></script>
    <script th:src="@{/js/bower_components/angular-translate-loader-partial/angular-translate-loader-partial.min.js}" src="../static/js/bower_components/angular-translate-loader-partial/angular-translate-loader-partial.min.js"></script>
    <script th:src="@{/js/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js}" src="../static/js/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <!-- controller -->
    <script th:src="@{/js/app/scf-app.js}" src="../static/js/app/scf-app.js"></script>

    <script th:src="@{/js/app/authen/authentication.min.js}" src="../static/js/app/authentication.js"></script>

    <!-- Mimin Theme -->
    <!-- plugins -->
    <script th:src="@{/js/plugins/jquery.nicescroll.js}" src="../static/js/plugins/jquery.nicescroll.js"></script>

    <!-- End Mimin Theme -->
</head>