<!-- Navigation -->
<header th:fragment="header">
	<!-- start: Header -->

	<nav class="navbar navbar-default header"
		th:classappend="${fixedHeader} ? navbar-fixed-top : navbar-static-top" ng-controller="ScfHomeCtrl as ctrl">
		<div class="col-xs-12 col-md-12 col-lg-12 nav-wrapper">
			<ul class="col-xs-3 col-md-5 col-lg-5 nav navbar-nav navbar-left">
				<li class="col-xs-3 col-md-1 col-lg-1"><img
					ng-src="assets/img/logo.png" class="img-circle avatar" alt="user name" ui-sref="/dashboard" id="gec-home-link" 
					ui-sref-opts="{reload: true, inherit: false}"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" /></li>
				<li class="hidden-sm hidden-xs"><a
					class="navbar-brand" ui-sref="/home"  
					ui-sref-opts="{reload: true, inherit: false}"> <b><span id="title" ng-bind="ctrl.title"></span></b>
				</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right user-nav">
				<li class="hidden-xs">
					<div class="dropdown">
						<a id="profile-menu" aria-hidden="true" class="dropdown-toggle"
							style="cursor: pointer;" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="true"> <span
							class="icon-avata"> <span class="glyphicon glyphicon-user"></span>
								<span id="display-name" class="user-name" ng-bind="userInfo.displayName">Avanta</span>
						</span>
						</a>
						<ul class="dropdown-menu">
							<li><a id="my-activity-log-menu" ui-sref="/my-activity-log">{{'My
									activity log' | translate}}</a></li>
							<li role="separator" class="divider"></li>
							<li><a id="change-password-menu" ui-sref="/change-password">{{'Change
									password' | translate}}</a></li>
						</ul>
					</div>
				</li>

				<li class="hidden-xs" >
					<div class="dropdown" style="padding-top:17px">|
						<a id="organize-user-menu" aria-hidden="true" class="dropdown-toggle"
							style="cursor: pointer;" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="true"> <span
							class="icon-avata">
								<span class="user-name" ng-bind="ctrl.organizeHeader.organizeName" 
								>Organization</span>
						</span>
						</a>
						<ul class="dropdown-menu" ng-show = "ctrl.showDropDown">
							<li ng-repeat="organize in ctrl.orgList track by $index">
								<a id="{{organize.organizeName}}-menu" style="color:#000;padding-left:10px;"
								href="#" ng-click="ctrl.changeOrganize($index)"
								>{{organize.organizeName}}
								</a>
								<div class="divider" style="margin:0px"></div>
							</li>
							
						</ul>
					</div>
				</li>

				<li class="hidden-xs"><a ui-sref="/dashboard"
					ui-sref-opts="{reload: true, inherit: false}"
					class="header-menu-icon icon-home" title="Home" id="home-link"><span
						class="fa fa-home"></span></a></li>
				<li ng-controller="LogoutController as logoutCtroller"><a
					id="logout-link" href="#" ng-click="logoutCtroller.logout()"
					class="header-menu-icon icon-signout" title="Sign Out"><span
						class="fa fa-power-off "></span></a></li>
				<li class="nav-lang hidden-xs"><img id="change-lang-th-link"
					width="25px" height="15px" ng-src="img/th.png"
					ng-click="scfCtrl.changeLanguage('th_TH')" /> | <img
					id="change-lang-en-link" width="25px" height="15px"
					ng-src="img/eng.jpg" ng-click="scfCtrl.changeLanguage('en_EN')" />
				</li>
			</ul>
		</div>
	</nav>

	<!-- end: Header -->

	<nav class="navbar navbar-default gec-menu-bar hidden-xs"
		th:classappend="${fixedHeader} ? 'navbar-fixed-top gec-menu-bar-fixed' : 'navbar-static-top gec-menu-bar-static'">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="hd-navbar-collapse-1"
				ng-controller="MenuController as ctrl">
				<ul class="nav navbar-nav">
					<li class="dropdown"
						ng-repeat="menuItem in ctrl.menu track by $id(menuItem)"><a
						aria-hidden="true" class="dropdown-toggle" data-toggle="dropdown"
						id="{{menuItem.menuId + '-menu'}}" style="cursor: pointer"
						aria-expanded="true"> <span
							ng-bind="menuItem.menuId | translate"></span><span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li ng-repeat="child in menuItem.children"><a
								ui-sref-opts="{reload: true, inherit: false}"
								id="{{child.menuId+'-menu'}}" ng-click="ctrl.goTo(child.url)"
								href="{{'#' + child.url}}"><span
									ng-bind="child.menuId
										| translate"></span></a></li>
						</ul></li>
				</ul>

			</div>
		</div>
	</nav>
</header>
