<!-- Navigation -->
<header th:fragment="header">
     <!-- start: Header -->
        <nav class="navbar navbar-default header navbar-fixed-top">
          <div class="col-md-12 nav-wrapper">            
                <a ui-sref="/home" class="navbar-brand"> 
                 <b>GEC Supply Chain Financing</b>
                </a>
              <ul class="nav navbar-nav search-nav">
                
              </ul>

              <ul class="nav navbar-nav navbar-right user-nav">
                <li class="user-name"><span>Akihiko Avaron</span></li>
                  <li class="dropdown avatar-dropdown">
                   <img src="img/avatar.jpg" class="img-circle avatar" alt="user name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"/>
                   <ul class="dropdown-menu user-dropdown">
                     <li><a href="#"><span class="fa fa-user"></span> My Profile</a></li>
                     <li><a href="#"><span class="fa fa-calendar"></span> My Calendar</a></li>
                     <li role="separator" class="divider"></li>
                     <li class="more">
                      <ul>
                        <li><a href=""><span class="fa fa-cogs"></span></a></li>
                        <li><a href=""><span class="fa fa-lock"></span></a></li>
                        <li><a href=""><span class="fa fa-power-off "></span></a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a ui-sref="/home" class="header-menu-icon" title="Home"><span class="fa fa-home"></span></a></li>
                <li><a href="#" class="opener-right-menu" title="Notification"><span class="fa fa-bell"></span></a></li>
                <li ng-controller="LogoutController as logoutCtroller"><a href="#" ng-click="logoutCtroller.logout()" class="header-menu-signout" title="Sign Out"><span class="fa fa-power-off "></span></a></li>
                
                <li>
                	<div class="navbar-header" style="width:100%;">
		              	<div class="opener-left-menu is-open">
		                	<span class="top"></span>
		                	<span class="middle"></span>
		            		<span class="bottom"></span>
						</div>
					</div>
                </li>
              </ul>
              
              
          </div>
        </nav>
      <!-- end: Header -->
</header>
