    <!-- Sidebar -->
       <!-- start:Left Menu -->
            <div id="left-menu" th:fragment="sidebar" ng-controller="ScfHomeCtrl as sidebarCtrl">
              <div class="sub-left-menu scroll">
                <ul class="nav nav-list">
                    <li><div class="left-bg"></div></li>
                    <li class="time">
                      <h1 class="animated fadeInLeft">21:00</h1>
                      <p class="animated fadeInRight">Sat,October 1st 2029</p>
                    </li>
                    
                    <li th:each="menu : ${session.menus}" class="ripple">
                      <a th:href="${menu.url?:'#'}" th:id="${menu.menuId+'-menu'}" class="tree-toggle nav-header" >
                      	<span th:class="${'fa ' + menu.icon + ' fa-fw'}"></span> 
                      	<span th:inline="text">{{ '[[${menu.menuId}]]'  | translate }}</span>
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                      </a>
                      <ul th:each="children : ${menu.children}" class="nav nav-list tree">
                          <li>
                          	<a th:attr="ui-sref=${children.url?:'#'}" th:href="${children.url?:'#'}" th:id="${children.menuId+'-menu'}">
                          		<span th:inline="text">{{ '[[${children.menuId}]]' | translate}}</span>
                          	</a>
                          </li>                          
                      </ul>                      
                    </li>
                   
                  </ul>
                </div>
            </div>
          <!-- end: Left Menu -->
         
	 