<div id="content" th:fragment="content"
	sec:authorize="hasAnyAuthority('VIEW_ALL_DOCUMENT_DISPLAY_LAYOUTS','MANAGE_ALL_DOCUMENT_DISPLAY_LAYOUTS')">
	<div id="wrapper">
		<div class="panel box-shadow-none content-header">
			<div class="panel-body">
				<div class="col-md-12">
					<h3 id="header-message-label" class="animated fadeInLeft">{{ctrl.headerMessageLabel | translate}}</h3>
				</div>
			</div>
		</div>
		<div class="form-element">
			<div class="panel panel-default col-md-12 padding-0">
				<div class="panel-body">
					<form name="createForm" class="form-horizontal">
						<div>
							<div class="form-group">
								<label id="loan-request-mode-label" for="dealer"
									class="col-md-3 col-sm-4 col-xs-12 control-label">{{ctrl.mode | translate}}: 
								
								</label>
	
								<div class="col-md-5 col-sm-5 col-xs-12">
									<label class="radio-inline"><scf-radio
											id="current-and-future-loan-request-mode-radio" name="loan-request-mode-radio"
											ng-value="ctrl.loanRequestMode.currentAndFuture"
											ng-disabled="!ctrl.manageAll"
											ng-model="ctrl.dataModel.loanRequestMode"></scf-radio>
										{{'Current and future' | translate}}
									</label> <label class="radio-inline"> <scf-radio
											id="current-request-mode-radio" name="loan-request-mode-radio"
											ng-value="ctrl.loanRequestMode.current"
											ng-disabled="!ctrl.manageAll"
											ng-model="ctrl.dataModel.loanRequestMode"></scf-radio>
										{{'Current' | translate}}
									</label>
								</div>
								<div class="col-md-4 col-sm-3"></div>
							</div>
							<div class="form-group">
								<label for="dealer"
									class="col-md-3 col-sm-4 col-xs-12 control-label"></label>
	
								<div class="col-md-5 col-sm-5 col-xs-12">
									<label><scf-checkbox
										ng-model="ctrl.dataModel.supportPartial"
										id="support-partial-payment-checkbox"
										ng-disabled="false"></scf-checkbox>
										{{'Support partial payment' | translate}}
									</label>
								</div>
								<div class="col-md-4 col-sm-3"></div>
							</div>
							<div class="form-group">
								<label id="document-selection-label" for="dealer"
									class="col-md-3 col-sm-4 col-xs-12 control-label">{{'Document selection' | translate}}: 
								
								</label>
	
								<div class="col-md-2 col-sm-2 col-xs-12">
									<label class="radio-inline"> <scf-radio
											id="any-document-document-selection-radio" name="document-selection-radio"
											ng-value="ctrl.documentSelection.anyDocument"
											ng-disabled="!ctrl.manageAll"
											ng-model="ctrl.dataModel.documentSelection"></scf-radio>
										{{'Any document' | translate}}
									</label> <label class="radio-inline"> <scf-radio
											id="matching-ref-document-selection-radio" name="document-selection-radio"
											ng-value="ctrl.documentSelection.groupBy"
											ng-disabled="!ctrl.manageAll"
											ng-model="ctrl.dataModel.documentSelection"></scf-radio>
										{{'Group by' | translate}}
									</label>
								</div>
								<div class="col-md-3 col-sm-3">
									<scf-dropdown
										id="group-by-dropdown"
										ng-model="ctrl.dataModel.groupByFieldId"
										component-data="ctrl.documentGroupByFields"
										ng-disabled="ctrl.isUnCheckGroupBy()"
										translate-label="false"
										convert-to-number="true"></scf-dropdown>
								</div>
							</div>
							
					
							<div class="form-group">
								<label id="supplier-code-group-selection-label" for="dealer"
									class="col-md-3 col-sm-4 col-xs-12 control-label">{{ctrl.groupSelection | translate}}: 
								
								</label>
									<div class="col-md-5 col-sm-5 col-xs-12">
									<label class="radio-inline"><scf-radio
											id="single-supplier-code-group-selection-radio" name="supplier-code-group-selection-radio"
											ng-value="ctrl.supplierCodeSelectionMode.singlePerTransaction"
											ng-disabled="!ctrl.manageAll"
											ng-model="ctrl.dataModel.supplierCodeSelectionMode"></scf-radio>
										{{'Single per transaction' | translate}}
									</label> <label class="radio-inline"><scf-radio
											id="multiple-supplier-code-group-selection-radio" name="supplier-code-group-selection-radio"
											ng-value="ctrl.supplierCodeSelectionMode.multiplePerTransaction"
											ng-disabled="!ctrl.manageAll"
											ng-model="ctrl.dataModel.supplierCodeSelectionMode"></scf-radio>
										{{'Multiple per transaction' | translate}}
										
									</label>
								</div>
								<div class="col-md-4 col-sm-3"></div>
							</div>
						</div>
						<br/>
						<div ng-include="'/sponsor-configuration/components/setup-display-fields'"></div>
					</form>
				</div>

				<div class="panel-body">
					<div class="col-md-12 col-sm-12 text-right">
						<scf-button id="document-display-cancel-button" class="popup-button"
							data-dismiss="modal" ng-click="ctrl.backToSponsorConfigPage()"
							ng-bind="'Cancel' | translate"></scf-button>
						<scf-button id="document-display-save-button" type="submit"
							ng-disabled="!ctrl.manageAll"
							ng-click="ctrl.save()">{{'Save' | translate}}</scf-button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<input type="hidden" ng-init="ctrl.manageAll=true"
		sec:authorize="hasAuthority('MANAGE_ALL_DOCUMENT_DISPLAY_LAYOUTS')" /> 
</div>