<div th:fragment="content"
	sec:authorize="hasAnyAuthority('VIEW_LOANS_OF_MY_ORGANIZATION','VIEW_PAYMENTS_OF_MY_ORGANIZATION')">
	<h3 class="animated fadeInLeft"
		id="{{dashboardItem.headerLabel | convertToHeadderId}}">{{dashboardItem.headerLabel}}</h3>
	<div class="row">
		<div ng-repeat="it in dashboardItem.children"
			class="col-xs-{{it.columnSizeXs}} col-sm-{{it.columnSizeSm}} col-md-{{it.columnSizeMd}} col-lg-{{it.columnSizeMd}} "
			ng-include="it.url"
			scf-show-on-mobile="it.showOnMobile"></div>
	</div>
</div>