<div th:fragment="content"
	sec:authorize="hasAnyAuthority('VIEW_LOANS_OF_MY_ORGANIZE','VIEW_DOCUMENTS_REFER_TO_MY_ORGANIZE')">
	<h3 class="animated fadeInLeft"
		id="{{dashboardItem.headerLabel | convertToHeadderId}}">{{dashboardItem.headerLabel}}</h3>
	<div class="row">
		<div ng-repeat="it in layout.children"
			class="col-lg-{{it.columnSizeLg}} col-md-{{it.columnSizeMd}} col-sm-{{it.columnSizeSm}} col-xs-{{it.columnSizeXs}}"
			ng-include="it.dashboardItem.url"
			scf-show-on-mobile="it.showOnMobile"></div>
	</div>
</div>