<div id="content" th:fragment="content">
	<div id="wrapper" ng-init="dashboardCtrl.load()">
		<div class="row" ng-repeat="row in dashboardCtrl.rowItems">
			<div class="panel" ng-if="row.length">
				<div class="panel-body">
					<div ng-repeat="layout in row"
						class="col-md-{{layout.columnSize}} col-sm-{{layout.columnSize}}"
						ng-init="dashboardItem=layout.dashboardItem">
						<div ng-show="!layout.children.length"
							ng-include="layout.dashboardItem.url"></div>

						<div ng-show="layout.children.length"
							ng-include="'/dashboard-composite'"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>