<div id="content" th:fragment="content">
	<div id="wrapper" ng-init="dashboardCtrl.load()">
		<div class="row" ng-repeat="row in dashboardCtrl.rowItems">
			<div class="panel" ng-if="row.length">
				<div class="panel-body">
					<div ng-repeat="layout in row"
						class="col-lg-{{layout.columnSizeLg}} col-md-{{layout.columnSizeMd}} col-sm-{{layout.columnSizeSm}} col-xs-{{layout.columnSizeXs}}"
						ng-init="dashboardItem=layout.dashboardItem">
						
						<div ng-show="!layout.children.length"
							ng-include="layout.dashboardItem.url" scf-show-on-mobile="layout.showOnMobile"></div>

						<div ng-show="layout.children.length"
							ng-include="'/dashboard-composite'" scf-show-on-mobile="layout.showOnMobile"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>