<div th:fragment="content">
	<div class="panel">
		<div class="panel-body"
			ng-controller="InternalStepDashboardController as internalStepCtrl">
			<div class="col-md-12 col-sm-12">
				<h3 class="animated fadeInLeft" id="internal-step-header-label"
					ng-bind="internalStepCtrl.dashboardItem.headerLabel"></h3>

				<div class="row">
					<div class="col-md-12 col-sm-12 text-right">
						<span> <b ng-bind="internalStepCtrl.splitPageTxt"
							id="internal-step-paging-label"></b> &nbsp;&nbsp; <scf-pagination
								dropdown-id="page-limit-dropdown"
								page-size-model="internalStepCtrl.pageModel.pageSizeSelectModel"
								total-page="internalStepCtrl.pageModel.totalPage"
								current-page="internalStepCtrl.pageModel.currentPage"
								page-size-list="internalStepCtrl.pageSizeList"
								page-action="internalStepCtrl.searchTransaction"></scf-pagination>
						</span>

					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<scf-data-table id="internal-step-table"
							component-config="internalStepCtrl.dataTable"
							component-datas="internalStepCtrl.data"
							current-page="internalStepCtrl.pageModel.currentPage"
							record-per-page="internalStepCtrl.pageModel.pageSizeSelectModel"
							clear-sort-order="internalStepCtrl.pageModel.clearSortOrder"></scf-data-table>
					</div>
					<div id="fixed-bottom" class="col-md-12"></div>
				</div>

				<img
					style="height: 32px; width: 32px;"
					data-ng-src="data:image/png;base64,{{internalStepCtrl.decodeBase64(internalStepCtrl.sponsorLogo)}}"
					data-err-src="images/png/avatar.png" />
			</div>
		</div>
	</div>
</div>