<div th:fragment="content"
	sec:authorize="hasAnyAuthority('VIEW_SUPPLIER_CREDIT_INFORMATION_OF_MY_ORGANIZATION', 'VIEW_BUYER_CREDIT_INFORMATION_OF_MY_ORGANIZATION')">
	<div
		ng-controller="TwelveMonthsCreditMovementDashboardController as ctrl">
		<h3 class="animated fadeInLeft"
			id="twelve-months-credit-information-header-label">{{dashboardItem.headerLabel}}</h3>
		<!-- start: Content -->
		<div class="row">
			<nvd3-multi-bar-chart data="ctrl.data" interactive="false" ng-if="ctrl.data.length > 0"
				id="twelve-months-stack-bar" showXAxis="true" showYAxis="true"
				showLegend="true" x="ctrl.xFunction()" y="ctrl.yFunction()"
				xAxisTickFormat="ctrl.xAxisTickFormatFunction()"
				height="{{ctrl.height }}" width="{{ctrl.width}}" margin="100"
				legendcolor="ctrl.colorLegendFunction()"
				color="ctrl.stackColorFunction()" stacked="true">
			<svg></svg> </nvd3-multi-bar-chart>
		</div>
		<!-- end: content -->
	</div>
</div>
