<div th:fragment="content">
	<div id="wrapper" ng-controller="ChannelConfigsController as ctrl">
		<div class="panel panel-default col-md-12 padding-0">
			<div class="panel-body" style="min-height: 360px;">
				<div class="row">
					<div class="col-lg-3 col-md-4 col-xs-5">
						<h3 class="animated fadeInLeft" id="channel-configs-header-label">Channel</h3>
					</div>
					<div class="col-lg-9 col-md-8 col-xs-7 text-right">
						<br/>
						<scf-button id="channel-configs-new-button"
								class="btn-default gec-btn-action" ng-disabled="false"
								ng-click="ctrl.newChannel()"
								title="New a channel"> <i
								class="fa fa-plus fa-lg" aria-hidden="true"></i></scf-button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12 text-right">
						<scf-data-table id="channel-configs-table"
							component-config="ctrl.dataTable" component-datas="ctrl.data"
							current-page="ctrl.currentPage"
							record-per-page="ctrl.pageModel.pageSizeSelectModel"
							clear-sort-order="ctrl.pageModel.clearSortOrder"></scf-data-table>
					</div>
				</div>
				<div id="fixed-bottom" class="col-md-12"></div>
			</div>
		</div>
	</div>
</div>