<div th:fragment="content"
	sec:authorize="hasAnyAuthority('MANAGE_ALL_SUPPLIER_CODES','MANAGE_SUPPLIER_CODES_OF_MY_ORGANIZE')">
	<div id="wrapper" ng-controller="CustomerCodeGroupController as ctrl">
		<input type="hidden" ng-init="ctrl.manageAllConfig=true"
		sec:authorize="hasAuthority('MANAGE_ALL_SUPPLIER_CODES')" /> 
		<input type="hidden" ng-init="ctrl.manageMyOrgConfig=true"
		sec:authorize="hasAuthority('MANAGE_SUPPLIER_CODES_OF_MY_ORGANIZE')" />
		
		<div class="panel panel-default col-md-12 padding-0">
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-5 col-md-7 col-xs-9">
						<h3 class="animated fadeInLeft"
							id="customer-code-groups-header-label">{{'Supplier code
							list' | translate}}</h3>
					</div>
					<div class="col-lg-7 col-md-5 col-xs-3">
						<br />
						<scf-button id="customer-code-group-{{ctrl.data.groupName}}-setup-button" class="btn-default gec-btn-action" 
							ng-click="ctrl.config(ctrl.data)" title="Config a customer code groups" 
							ng-disabled="ctrl.unauthenConfig()">
							<i class="fa fa-cog" aria-hidden="true"></i>
						</scf-button>
					</div>	
				</div>
				<div id="fixed-bottom" class="col-md-12"></div>
			</div>
		</div>
	</div>
</div>