<div th:fragment="content">
    <div id="wrapper" ng-controller="DocumentDisplayConfigController as docDisplayCtrl">
       <h3 class="animated fadeInLeft" id="file-layouts-header-label" ng-bind="'Display document configuration' | translate"></h3>
		<div class="row">
			<div class="col-md-12 col-sm-12 text-right">
				<span> <b ng-bind="docDisplayCtrl.splitePageTxt"
					id="file-layouts-paging-label"></b> &nbsp;&nbsp; <scf-pagination
						dropdown-id="doc-config-layouts-page-limit-dropdown"
						page-size-model="docDisplayCtrl.pageModel.pageSizeSelectModel"
						total-page="docDisplayCtrl.pageModel.totalPage"
						current-page="docDisplayCtrl.pageModel.currentPage"
						page-size-list="docDisplayCtrl.pageSizeList"
						page-action="docDisplayCtrl.searchTransaction"
						first-page-button-id="file-layouts-first-page-button"
						back-page-button-id="file-layouts-back-page-button"
						next-page-button-id="file-layouts-next-page-button"
						last-page-button-id="file-layouts-last-page-button"></scf-pagination>
				</span>

			</div>
		</div>
        <div class="row">
            <div class="col-md-12">
            
            	<scf-data-table
            	id="document-display-config-layouts-table"
            	component-config="docDisplayCtrl.dataTable"
            	component-datas="docDisplayCtrl.data"
            	current-page="docDisplayCtrl.pageModel.currentPage"
            	record-per-page="docDisplayCtrl.pageModel.pageSizeSelectModel"
            	clear-sort-order="docDisplayCtrl.pageModel.clearSortOrder">
            	</scf-data-table>
            	
            </div>
        </div>
    </div>
</div>