<div id="content" th:fragment="content">
	<div id="wrapper">
		<input type="hidden" ng-init="ctrl.manageAction=true" sec:authorize="hasAuthority('MANAGE_ALL_CUSTOMER_ORGANIZATIONS_DATA_MAPPING_OF_ALL_FUNDING')" />
		
		<div class="panel box-shadow-none content-header">
			<div class="panel-body">
				<div class="col-md-12">
					<h3 id="header-message-label" class="animated fadeInLeft"
						ng-bind="'Mapping data' | translate">Mapping data</h3>
				</div>
			</div>
		</div>
		<div class="form-element">
			<div class="panel panel-default col-md-12 padding-0">
				<div class="panel-body">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<form name="mapping-data-form"
							autocomplete="off" class="form-horizontal">
							<div class="form-group">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<label 
										class="col-lg-3 col-md-4 col-sm-3 col-xs-12 control-label" id="mapping-name-label">{{'Mapping name'| translate}}: </label>
									<label id="mapping-name-value-label"
										class="col-lg-8 col-md-6 col-sm-8 col-xs-12  control-label"
										ng-bind="ctrl.criteria.mappingDataName">
									</label>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<label 
										class="col-lg-3 col-md-4 col-sm-3 col-xs-12 control-label" id="mapping-type-label">{{'Mapping type'| translate}}: </label>
									<label id="mapping-type-value-label"
										class="col-lg-8 col-md-6 col-sm-8 col-xs-12  control-label"
										ng-bind="ctrl.criteria.mappingType | translate">
									</label>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
									<label class="col-lg-3 col-md-3 col-sm-3 col-xs-12 control-label" 
										id="code-list-label">Code list
									</label>
								</div>
							</div>
							
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div>
									<div class="col-md-12 col-sm-12 text-right">
										<div class="row">
											<div class="col-md-12 col-sm-12 text-right">
												<span> <scf-button id="new-button"
														class="btn btn-default" ng-click="ctrl.newMappingDataCode()" ng-disabled="ctrl.unauthenConfig()" ng-show="ctrl.isEditMode">{{'New'
													| translate}}</scf-button>
												</span> <br /> <br />
											</div>
											<div class="col-md-12 col-sm-12 text-right">
												<span> <b ng-bind="ctrl.pagingController.splitePageTxt"
													id="mapping-data-paging-label"></b> &nbsp;&nbsp; <scf-pagination
														dropdown-id="page-limit-dropdown" name="mapping-data"
														page-size-model="ctrl.pagingController.pagingModel.pageSizeSelectModel"
														total-page="ctrl.pagingController.pagingModel.totalPage"
														current-page="ctrl.pagingController.pagingModel.currentPage"
														page-size-list="ctrl.pagingController.pageSizeList"
														page-action="ctrl.loadData"></scf-pagination>
												</span>
											</div>
										</div>
									</div>
									<div class="responsive-table">
				                        <table id="mapping-data-table" class="table table-striped table-bordered" cellspacing="0">
				                            <thead>
				                                <tr>
				                                    <th ng-bind="'numbero' | translate"></th>
				                                    <th ng-bind="'Code' | translate"></th>
													<th ng-bind="'Display' | translate"></th>
													<th ng-bind="'Sign flag' | translate" ng-hide="ctrl.hideSignFlagColumn"></th>
													<th ng-bind="'Default code' | translate" ng-hide="ctrl.hideDefaultCodeColumn"></th>
				                                    <th ng-show="ctrl.isEditMode"></th>
				                                </tr>
				                            </thead>
				                            <tbody>
				                                <tr ng-repeat="record in ctrl.pagingController.tableRowCollection track by $index">
				                                    <td class="text-right"><span
														id="{{record.rowNo}}-{{record.code}}-label"
														ng-bind="record.rowNo"></span></td>
				                                    <td class="text-left">
				                                        <span id="code-{{record.code}-label" ng-bind="record.code | translate"></span>
				                                    </td>
				                                    <td class="text-left">
				                                        <span id="display-{{record.code}-label" ng-bind="record.display | translate"></span>
				                                    </td>
				                                    <td class="text-left" ng-hide="ctrl.hideSignFlagColumn">
				                                        <span id="sign-flag-{{$index}}-label" ng-show="record.signFlag" ng-bind="'Negative' | translate"></span>
				                                        <span id="sign-flag-{{$index}}-label" ng-show="!record.signFlag" ng-bind="'Positive' | translate"></span>
				                                    </td>
													<td class="text-center" ng-hide="ctrl.hideDefaultCodeColumn">
														<img style="height: 16px; width: 16px;" ng-show="record.defaultCode" data-ng-src="img/checkmark.png"/>
				                                    </td>
				                                    <td class="text-center" ng-show="ctrl.isEditMode">
				                                        <scf-button id="{{record.code}}-edit-button" class="btn-default gec-btn-action" ng-disabled="ctrl.unauthenConfig()" ng-click="ctrl.editMappingDataCode(record)" title="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></scf-button>
                										<scf-button id="{{record.code}}-delete-button" class="btn-default gec-btn-action" ng-disabled="ctrl.unauthenConfig(record.defaultCode)" ng-click="ctrl.deleteMappingData(record)" title="Delete"><i class="fa fa-trash-o" aria-hidden="true"></i></scf-button>
                										<scf-button id="{{record.code}}-set-default-button" class="btn-default gec-btn-action" ng-hide="ctrl.hideDefaultCodeColumn" ng-disabled="ctrl.unauthenConfig()" ng-click="ctrl.setDefaultCode(record)" title="Set default"><i class="fa fa-check-square-o" aria-hidden="true"></i></scf-button>
				                                    </td>
				                                </tr>
				                            </tbody>
				                        </table>
				                    </div>
				                <div class="col-md-12" ng-show="ctrl.errors.deleteMappingItem.message">
										<span class="error-msg" id="delete-mapping-item-message-label" 
											ng-bind="ctrl.errors.deleteMappingItem.message">
										</span>
									</div>
				                <div id="fixed-bottom" class="col-md-12"></div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 text-right">
								<div class="form-group">
									<scf-button id="back-button" class="popup-button btn btn"
										ng-click="ctrl.back()">{{'Back' | translate}}</scf-button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>