<div th:fragment="content">
	<div id="wrapper"
		ng-controller="FileLayoutsController as fileLayoutsCtrl">
		<h3 class="animated fadeInLeft" id="file-layouts-header-label">File Layouts</h3>
		<div class="row">
			<div class="col-md-12 col-sm-12 text-right">
				<span> <b ng-bind="fileLayoutsCtrl.splitePageTxt"
					id="file-layouts-paging-label"></b> &nbsp;&nbsp; <scf-pagination
						dropdown-id="file-layouts-page-limit-dropdown"
						page-size-model="fileLayoutsCtrl.pageModel.pageSizeSelectModel"
						total-page="fileLayoutsCtrl.pageModel.totalPage"
						current-page="fileLayoutsCtrl.pageModel.currentPage"
						page-size-list="fileLayoutsCtrl.pageSizeList"
						page-action="fileLayoutsCtrl.searchTransaction"
						first-page-button-id="file-layouts-first-page-button"
						back-page-button-id="file-layouts-back-page-button"
						next-page-button-id="file-layouts-next-page-button"
						last-page-button-id="file-layouts-last-page-button"></scf-pagination>
				</span>

			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<br/>
<!-- 				<div class="col-md-12 col-sm-12 text-right"><scf-button id="layout-new-button" class="btn-default gec-btn-action" ng-disabled="false" ng-click="fileLayoutsCtrl.newFileLayout()" title="New a file layout"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></scf-button></div> -->
				<scf-data-table id="file-layouts-table"
					component-config="fileLayoutsCtrl.dataTable"
					component-datas="fileLayoutsCtrl.data"
					current-page="fileLayoutsCtrl.pageModel.currentPage"
					record-per-page="fileLayoutsCtrl.pageModel.pageSizeSelectModel"
					clear-sort-order="fileLayoutsCtrl.pageModel.clearSortOrder"></scf-data-table>
			</div>
			<div id="fixed-bottom" class="col-md-12"></div>
		</div>
	</div>
</div>