<div th:fragment="content">
	<div id="wrapper" ng-controller="ProfileController as ctrl">
		<h3 class="animated fadeInLeft" id="header-message-label">{{'Sponsor
			configuration' | translate}}</h3>
		<div class="form-element">
			<div class="panel panel-default col-md-12 padding-0">
				<div class="panel-body">
					<div class="col-md-12" block-ui="summary-internal-block">
						<div class="form-group">
							<label for="sponsor" class="col-md-2 col-sm-3 control-label">{{'Organize
								name' | translate}}: </label>
							<div class="col-md-9 col-sm-8 text-left">
								<span id="financing-document-label"
									ng-bind="ctrl.organizeData.organizeName"></span>
							</div>
							<div class="col-md-1 col-sm-1"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>