<div id="content" th:fragment="content">
	<div id="wrapper">
		<div class="panel box-shadow-none content-header">
			<div class="panel-body">
				<div class="col-md-12">
					<h3 id="organize-configuration-header-label"
						class="animated fadeInLeft"
						ng-bind="'Organize configuration' | translate">Organize
						configuration</h3>
				</div>
			</div>
		</div>
		<div class="form-element">
			<div class="panel panel-default col-md-12 padding-0">
				<div class="panel-body">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div ng-include="'/sponsor-configuration/profile'"></div>
					</div>
				</div>
				<div class="panel-body">
					<div class="col-md-12">
						<h3 class="animated fadeInLeft"
							id="ar-document-configuration-header-label">AR document
							configuration</h3>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-6"
						ng-controller="FileLayoutsController as fileLayoutsCtrl">
						<div style="visibility: hidden;"
							ng-init="fileLayoutsCtrl.init('AR_DOCUMENT')"></div>
						<button class="thumbnail"
							ng-click="fileLayoutsCtrl.newFileLayout(fileLayoutsCtrl.data,'AR_DOCUMENT')"
							id="layout-AR document file layout config-setup-button">
							<div class="caption config-box">
								<div class="media">
									<div class="media-body">
										<h5 class="media-heading animated fadeInLeft"
											id="ar-file-layout-header-label">{{'Import file layout'
											| translate}}</h5>
									</div>
									<div class="media-right btn-default btn-default">
										<i class="fa fa-cog" aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</button>
					</div>
					<div class="col-md-2 col-sm-2 col-xs-6" ng-controller="CustomerCodeGroupController as ctrl">
						<input type="hidden" ng-init="ctrl.manageAllConfig=true"
							sec:authorize="hasAuthority('MANAGE_ALL_BUYER_CODES')" /> <input
							type="hidden" ng-init="ctrl.manageMyOrgConfig=true"
							sec:authorize="hasAuthority('MANAGE_BUYER_CODES_OF_MY_ORGANIZE')" />
						<button class="thumbnail" ng-click="ctrl.config(ctrl.buyerdata, 'RECEIVABLE')"
							title="Config a buyer code"
							ng-disabled="ctrl.unauthenConfig()">
							<div class="caption config-box">
								<div class="media">
									<div class="media-body">
										<h5 class="media-heading animated fadeInLeft">{{'Buyer
											code list' | translate}}</h5>
									</div>
									<div class="media-right btn-default">
										<i class="fa fa-cog" aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</button>
					</div>

					<div class="col-md-2 col-sm-2 col-xs-6"
						ng-controller="DocumentDisplayConfigController as docDisplayCtrl">
						<input type="hidden" ng-init="docDisplayCtrl.viewAllConfig=true"
							sec:authorize="hasAuthority('VIEW_ALL_DOCUMENT_DISPLAY_LAYOUTS')" />
						<input type="hidden" ng-init="docDisplayCtrl.manageAllConfig=true"
							sec:authorize="hasAuthority('MANAGE_ALL_DOCUMENT_DISPLAY_LAYOUTS')" />
						<button class="thumbnail" 
							id="display-AR Document layout-setup-button"
							ng-click="docDisplayCtrl.setupDisplayDocument('RECEIVABLE','DOCUMENT',docDisplayCtrl.data)"
							title="Config a document display"
							ng-disabled="docDisplayCtrl.unauthenConfig()">
							<div class="caption config-box">
								<div class="media">
									<div class="media-body">
										<h5 class="media-heading animated fadeInLeft"
											id="ar-document-display-header-label"
											ng-bind="'Document display' | translate"></h5>
									</div>
									<div class="media-right btn-default">
										<i class="fa fa-cog" aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</button>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6"
						ng-controller="DocumentDisplayConfigController as docDisplayCtrl">
						<input type="hidden" ng-init="docDisplayCtrl.viewAllConfig=true"
							sec:authorize="hasAuthority('VIEW_ALL_DOCUMENT_DISPLAY_LAYOUTS')" />
						<input type="hidden" ng-init="docDisplayCtrl.manageAllConfig=true"
							sec:authorize="hasAuthority('MANAGE_ALL_DOCUMENT_DISPLAY_LAYOUTS')" />
						<button class="thumbnail"
							id="transaction-display-AR Document layout-setup-button"
							ng-click="docDisplayCtrl.setupDisplayDocument('RECEIVABLE','TRANSACTION_DOCUMENT',docDisplayCtrl.data)"
							title="Config a create transaction display"
							ng-disabled="docDisplayCtrl.unauthenConfig()">
							<div class="caption config-box">
								<div class="media">
									<div class="media-body">
										<h5 class="media-heading animated fadeInLeft"
											id="ar-transaction-display-header-label"
											ng-bind="'Create transaction display' | translate"></h5>
									</div>
									<div class="media-right btn-default">
										<i class="fa fa-cog" aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</button>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6">
						<button class="thumbnail" ng-click=""
							id="export-payment-result-layout-setup">
							<div class="caption config-box">
								<div class="media">
									<div class="media-body">
										<h5 class="media-heading animated fadeInLeft"
											id="export-payment-result-config-header-label"
											ng-bind="'Export payment result file layout' | translate"></h5>
									</div>
									<div class="media-right btn-default">
										<i class="fa fa-cog" aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</button>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default">
							<div class="panel-body" style="min-height: 360px;">
								<div class="row">
									<div class="col-lg-10 col-md-10 col-xs-10">
										<h3 class="animated fadeInLeft"
											id="payment-amount-formula-header-label">{{'Payment
											amount formula' | translate}}</h3>
									</div>
									<div class="col-lg-2 col-md-2 col-xs-2 text-right">
										<br />
										<scf-button class="btn-default gec-btn-action"
											id="payment-formula-new-button" title="New a formula"
											ng-disabled="true"> <i class="fa fa-plus"
											aria-hidden="true"></i></scf-button>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 col-sm-12 text-right">
										<!-- TODO: Payment formula table here -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div ng-include="'/sponsor-configuration/ar-mapping-data'"></div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default col-md-12 padding-0">
							<div class="panel-body" style="min-height: 360px;">
								<div class="row">
									<div class="col-lg-12 col-md-12 col-xs-12">
										<h3 class="animated fadeInLeft"
											id="ar-import-channel-configs-header-label">Import
											document channel</h3>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 col-sm-12 text-right">
										<!-- TODO: AR Import channel table here-->
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="panel panel-default col-md-12 padding-0">
							<div class="panel-body" style="min-height: 360px;">
								<div class="row">
									<div class="col-lg-12 col-md-12 col-xs-12">
										<h3 class="animated fadeInLeft"
											id="export-payment-result-channel-configs-header-label">Export
											payment result channel</h3>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 col-sm-12 text-right">
										<!-- TODO: Export payment result channel table here-->
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="panel-body">
					<div class="col-md-12">
						<h3 class="animated fadeInLeft"
							id="ap-document-configuration-header-label">AP document
							configuration</h3>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6"
						ng-controller="FileLayoutsController as fileLayoutsCtrl">
						<input type="hidden" ng-init="fileLayoutsCtrl.viewAllConfig=true"
							sec:authorize="hasAuthority('VIEW_ALL_ORGANIZE_FILE_LAYOUTS')" />
						<input type="hidden"
							ng-init="fileLayoutsCtrl.manageAllConfig=true"
							sec:authorize="hasAuthority('MANAGE_ALL_ORGANIZE_FILE_LAYOUTS')" />
						<div style="visibility: hidden;"
							ng-init="fileLayoutsCtrl.init('AP_DOCUMENT')"></div>
						<button class="thumbnail"
							id="layout-AP Document file layout-setup-button"
							ng-click="fileLayoutsCtrl.newFileLayout(fileLayoutsCtrl.data,'AP_DOCUMENT')"
							title="Config a file layout"
							ng-disabled="fileLayoutsCtrl.unauthenConfig()">
							<div class="caption config-box">
								<div class="media">
									<div class="media-body">
										<h5 class="media-heading animated fadeInLeft"
											id="file-layout-header-label">{{'Import file layout' |
											translate}}</h5>
									</div>
									<div class="media-right btn-default">
										<i class="fa fa-cog" aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</button>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6"
						ng-controller="CustomerCodeGroupController as ctrl">
						<input type="hidden" ng-init="ctrl.manageAllConfig=true"
							sec:authorize="hasAuthority('MANAGE_ALL_SUPPLIER_CODES')" /> <input
							type="hidden" ng-init="ctrl.manageMyOrgConfig=true"
							sec:authorize="hasAuthority('MANAGE_SUPPLIER_CODES_OF_MY_ORGANIZE')" />
						<button class="thumbnail"
							id="customer-code-group-{{ctrl.data.groupName}}-setup-button"
							ng-click="ctrl.config(ctrl.supplierdata, 'PAYABLE')"
							title="Config a supplier code"
							ng-disabled="ctrl.unauthenConfig()">
							<div class="caption config-box">
								<div class="media">
									<div class="media-body">
										<h5 class="media-heading animated fadeInLeft">{{'Supplier
											code list' | translate}}</h5>
									</div>
									<div class="media-right btn-default">
										<i class="fa fa-cog" aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</button>
					</div>

					<div class="col-md-3 col-sm-3 col-xs-6"
						ng-controller="DocumentDisplayConfigController as docDisplayCtrl">
						<input type="hidden" ng-init="docDisplayCtrl.viewAllConfig=true"
							sec:authorize="hasAuthority('VIEW_ALL_DOCUMENT_DISPLAY_LAYOUTS')" />
						<input type="hidden" ng-init="docDisplayCtrl.manageAllConfig=true"
							sec:authorize="hasAuthority('MANAGE_ALL_DOCUMENT_DISPLAY_LAYOUTS')" />
						<button class="thumbnail"
							id="display-AP Document layout-setup-button"
							ng-click="docDisplayCtrl.setupDisplayDocument('PAYABLE','DOCUMENT',docDisplayCtrl.data)"
							title="Config a document display"
							ng-disabled="docDisplayCtrl.unauthenConfig()">
							<div class="caption config-box">
								<div class="media">
									<div class="media-body">
										<h5 class="media-heading animated fadeInLeft"
											id="document-display-header-label"
											ng-bind="'Document display' | translate"></h5>
									</div>
									<div class="media-right btn-default">
										<i class="fa fa-cog" aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</button>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6"
						ng-controller="DocumentDisplayConfigController as docDisplayCtrl">
						<input type="hidden" ng-init="docDisplayCtrl.viewAllConfig=true"
							sec:authorize="hasAuthority('VIEW_ALL_DOCUMENT_DISPLAY_LAYOUTS')" />
						<input type="hidden" ng-init="docDisplayCtrl.manageAllConfig=true"
							sec:authorize="hasAuthority('MANAGE_ALL_DOCUMENT_DISPLAY_LAYOUTS')" />
						<button class="thumbnail" 
							id="transaction-display-AP Document layout-setup-button"
							ng-click="docDisplayCtrl.setupDisplayDocument('PAYABLE','TRANSACTION_DOCUMENT',docDisplayCtrl.data)"
							title="Config a create transaction display"
							ng-disabled="docDisplayCtrl.unauthenConfig()">
							<div class="caption config-box">
								<div class="media">
									<div class="media-body">
										<h5 class="media-heading animated fadeInLeft"
											id="transaction-display-header-label"
											ng-bind="'Create transaction display' | translate"></h5>
									</div>
									<div class="media-right btn-default">
										<i class="fa fa-cog" aria-hidden="true"></i>
									</div>
								</div>
							</div>
						</button>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div ng-include="'/sponsor-configuration/payment-date-formulas'"></div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div ng-include="'/sponsor-configuration/mapping-data'"></div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div ng-include="'/sponsor-configuration/channel-configs'"></div>
					</div>
				</div>

				<div class="panel-body">
					<div class="row">
						<div id="bottom-sticker">
							<div class="col-md-12 col-sm-12 text-right">
								<div class="form-horizontal">
									<scf-button id="back-button" class="popup-button btn"
										ng-click="backAction()">{{'Back' | translate}}</scf-button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>