<div id="content" th:fragment="content">
	<div id="wrapper">

		<div class="row">
			<div class="panel">
				<div class="panel-body">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div ng-include="'/sponsor-configuration/profile'"></div>
					</div>
				</div>
			</div>
		</div>	
	
		<div class="row">
			<div class="panel">
				<div class="panel-body">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div ng-include="'/sponsor-configuration/file-layouts'"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="panel">
				<div class="panel-body">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div ng-include="'/sponsor-configuration/customer-code-groups'"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>