<div th:fragment="content">
	<div id="wrapper" ng-controller="ExportChannelListController as ctrl">
		<input type="hidden" ng-init="ctrl.hiddenFundingColumn=false"
		sec:authorize="hasAuthority('VIEW_ALL_CUSTOMER_ORGANIZATIONS_EXPORT_CHANNELS_OF_ALL_FUNDING')" />
	
		<div class="panel panel-default col-md-12 padding-0">
			<div class="panel-body" style="min-height: 360px;">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-xs-12">
						<h3 id="header-message-label" class="animated fadeInLeft">{{'Export
							payment result channel' | translate}}</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-right">
						<scf-button id="export-channel-new-button"
							class="btn-default gec-btn-action"
							ng-click="ctrl.newExportChannel(ctrl.search)"> <i
							class="fa fa-plus" aria-hidden="true"></i></scf-button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="responsive-table">
							<table id="remittance-advice-table"
								class="table table-striped table-bordered" cellspacing="0">
								<thead>
									<tr>
										<th id="channel-header-label" ng-bind="'Channel' | translate"
											width="10%">Channel</th>
										<th id="export-file-layout-header-label"
											ng-bind="'Export
											file layout' | translate"
											width="20%">Export file layout</th>
										<th id="export-file-layout-funding-header-label" ng-bind="'FUNDING'|translate" ng-hide="ctrl.hiddenFundingColumn"></th>
										<th id="runtime-label" ng-bind="'Run time' | translate">Run
											time</th>
										<th id="status-header-label" ng-bind="'Status' | translate">Status</th>
										<th id="active-date-header-label"
											ng-bind="'Active date' | translate">Active date</th>
										<th id="expire-date-header-label"
											ng-bind="'Expire date' | translate">Expire date</th>
										<th width="10%" id="action-header-label">&nbsp;</th>
									</tr>
								</thead>
								<tbody>
									<tr
										ng-repeat="record in ctrl.pagingController.tableRowCollection track by $index">
										<td class="text-center"><span
											id="channel-{{record.channelId}}-label"
											ng-bind="record.channelType | translate"></span></td>
										<td class="text-left"><span
											id="export-file-layout-{{record.channelId}}-label"
											ng-bind="record.displayName"></span></td>
										<td class="text-center" ng-hide="ctrl.hiddenFundingColumn">
											<span ng-bind="record.fundingId"></span>
											<img id="export-file-layout-funding-{{$index}}-name-label" style="height: 32px; width: 32px;" 
											data-ng-src="data:image/png;base64,'+atob(record.fundingOrganizeLogo)+'"></img>
										</td>	
										<td class="text-center"><span
											id="runtime-{{record.channelId}}-label"
											ng-bind="record.runtime"></span></td>
										<td class="text-center"><span
											id="status-layout-{{record.channelId}}-label"
											ng-bind="record.status | translate"></span></td>
										<td class="text-center"><span
											id="active-date-layout-{{record.channelId}}-label"
											ng-bind="record.activeDate | date: 'dd/MM/yyyy': 'UTC+0700'"></span></td>
										<td class="text-center"><span
											id="expiry-date-file-layout-{{record.channelId}}-label"
											ng-bind="record.expiryDate | date: 'dd/MM/yyyy': 'UTC+0700'"></span></td>
										<td class="text-center"><scf-button
												id="{{record.channelId}}-edit-button"
												class="btn-default gec-btn-action"
												ng-click="ctrl.editExportChannel(record)"
												title="Setup export channel"> <i
												class="fa fa-pencil-square-o" aria-hidden="true"></i></scf-button> 
												<scf-button
												id="{{record.channelId}}-delete-button"
												class="btn-default gec-btn-action"
												ng-click="ctrl.deleteExportChannel(record)"
												title="Delete export channel"> <i
												class="fa fa-trash-o" aria-hidden="true"></i></scf-button>
											<scf-button id="{{record.channelId}}-connection-button"
												class="btn-default gec-btn-action"
												ng-disabled="disableTestConnection(record)"
												ng-click="ctrl.testConnection(record)" title="Test connection">
											<i class="glyphicon glyphicon-transfer" aria-hidden="true"></i></scf-button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>