.flex {
	display: flex;
}

table td {
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	vertical-align: middle !important;
}

table .btn-sm{
	width:30px !important;
}

.btn-icon{
	width:30px !important;
}

.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.app-sidebar__user-designation {
	width: 130px;
}

.app-sidebar__user-name {
	width: 130px;
}

.logo-img {
/*     max-height: 50px; */
/*     width: auto; */
/*     height: auto\9; ie8 */
}

.app-header__logo {
	line-height : normal;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #007bff;
   color: white;
   text-align: center;
}

.footer-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.login-box {
	height: 100vh !important;
}

.login-content {
	align-items: flex-end !important;
}

.app-header__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  color: #fff;
  text-align: left;
  padding: 0 15px;
  font-size: 26px;
  font-weight: 400;
  line-height: 50px;
}

.app-header__text:focus, .app-header__text:hover {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

.app-sidebar__user-avatar{
	  display: block;
  	max-width:48px;
  	max-height:48px;
  	width: auto;
  	height: auto;
}

.form-inline{
	display:inline;
}

.ngdialog {
	box-sizing: border-box;
}

.ngdialog *, .ngdialog *:before, .ngdialog *:after {
	box-sizing: inherit;
}

.ngdialog {
	position: fixed;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 10000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.ngdialog.ngdialog-disabled-animation, .ngdialog.ngdialog-disabled-animation .ngdialog-overlay,
	.ngdialog.ngdialog-disabled-animation .ngdialog-content {
	-webkit-animation: none !important;
	animation: none !important;
}

.ngdialog-overlay {
	position: fixed;
	background: rgba(0, 0, 0, 0.4);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	-webkit-animation: ngdialog-fadein 0.5s;
	animation: ngdialog-fadein 0.5s;
}

.ngdialog-no-overlay {
	pointer-events: none;
}

.ngdialog.ngdialog-closing .ngdialog-overlay {
	-webkit-backface-visibility: hidden;
	-webkit-animation: ngdialog-fadeout 0.5s;
	animation: ngdialog-fadeout 0.5s;
}

.ngdialog-content {
	background: white;
	-webkit-backface-visibility: hidden;
	-webkit-animation: ngdialog-fadein 0.5s;
	animation: ngdialog-fadein 0.5s;
	pointer-events: all;
}

.ngdialog.ngdialog-closing .ngdialog-content {
	-webkit-backface-visibility: hidden;
	-webkit-animation: ngdialog-fadeout 0.5s;
	animation: ngdialog-fadeout 0.5s;
}

.ngdialog-close:before {
	font-family: 'Helvetica', Arial, sans-serif;
	content: '\00D7';
	cursor: pointer;
}

html.ngdialog-open, body.ngdialog-open {
	overflow: hidden;
}

.ngdialog.ngdialog-theme-default.ngdialog-closing .ngdialog-content {
	-webkit-animation: ngdialog-flyout .5s;
	animation: ngdialog-flyout .5s;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
	-webkit-animation: ngdialog-flyin .5s;
	animation: ngdialog-flyin .5s;
	background: #f0f0f0;
	border-radius: 5px;
	color: #444;
	margin: 0 auto;
	max-width: 100%;
	position: relative;
	width: 700px;
}

.ngdialog .icon {
	font-size: 55px;
	margin-top: 7px;
	margin-bottom: 0px;
	float: right;
}

/* .table-striped>tbody>tr:nth-child(odd)>td,  */
/* .table-striped>tbody>tr:nth-child(odd)>th { */
/*    background-color: #e5efff; // Choose your own color here */
/*  } */