.flex {
	display: flex;
}

table td {
	height : 35px;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
	vertical-align: middle !important;
}

table .btn-sm{
	width:30px !important;
}

.btn-icon{
	width:30px !important;
}

.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.app-sidebar__user-designation {
	width: 130px;
}

.app-sidebar__user-name {
	width: 130px;
}

.logo-img {
/*     max-height: 50px; */
/*     width: auto; */
/*     height: auto\9; ie8 */
}

.app-header__logo {
	line-height : normal;
}

.footer {
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}

.footer-container {
 	z-index: 100;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    position: sticky;
    width: 100%;
    background-color: #6F5F5E;
}

.login-box {
	height: 100vh !important;
}

.login-content {
	align-items: flex-end !important;
}

.app-header__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  color: #fff;
  text-align: left;
  padding: 0 15px;
  font-size: 26px;
  font-weight: 400;
  line-height: 50px;
}

.app-header__text:focus, .app-header__text:hover {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

.app-sidebar__user-avatar{
	  display: block;
  	max-width:48px;
  	max-height:48px;
  	width: auto;
  	height: auto;
}

.form-inline{
	display:inline;
}

.ngdialog {
	box-sizing: border-box;
}

.ngdialog *, .ngdialog *:before, .ngdialog *:after {
	box-sizing: inherit;
}

.ngdialog {
	position: fixed;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	z-index: 10000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.ngdialog.ngdialog-disabled-animation, .ngdialog.ngdialog-disabled-animation .ngdialog-overlay,
	.ngdialog.ngdialog-disabled-animation .ngdialog-content {
	-webkit-animation: none !important;
	animation: none !important;
}

.ngdialog-overlay {
	position: fixed;
	background: rgba(0, 0, 0, 0.4);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	-webkit-animation: ngdialog-fadein 0.5s;
	animation: ngdialog-fadein 0.5s;
}

.ngdialog-no-overlay {
	pointer-events: none;
}

.ngdialog.ngdialog-closing .ngdialog-overlay {
	-webkit-backface-visibility: hidden;
	-webkit-animation: ngdialog-fadeout 0.5s;
	animation: ngdialog-fadeout 0.5s;
}

.ngdialog-content {
	background: white;
	-webkit-backface-visibility: hidden;
	-webkit-animation: ngdialog-fadein 0.5s;
	animation: ngdialog-fadein 0.5s;
	pointer-events: all;
}

.ngdialog.ngdialog-closing .ngdialog-content {
	-webkit-backface-visibility: hidden;
	-webkit-animation: ngdialog-fadeout 0.5s;
	animation: ngdialog-fadeout 0.5s;
}

.ngdialog-close:before {
	font-family: 'Helvetica', Arial, sans-serif;
	content: '\00D7';
	cursor: pointer;
}

html.ngdialog-open, body.ngdialog-open {
	overflow: hidden;
}

.ngdialog.ngdialog-theme-default.ngdialog-closing .ngdialog-content {
	-webkit-animation: ngdialog-flyout .5s;
	animation: ngdialog-flyout .5s;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
	-webkit-animation: ngdialog-flyin .5s;
	animation: ngdialog-flyin .5s;
	background: #f0f0f0;
	border-radius: 5px;
	color: #444;
	margin: 0 auto;
	max-width: 100%;
	position: relative;
	width: 700px;
}

.ngdialog .icon {
	font-size: 55px;
	margin-top: 7px;
	margin-bottom: 0px;
	float: right;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0 0;
  margin: 0 0 0;
  font-size: 0.875rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #FFF;
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.modal-header .row {
	width: 100%;
}

.modal-body {
	padding-left: 20px;
}

/* .modal-body .row { */
/* 	padding-left: 20px; */
/* } */

.modal-footer {
    padding-right: 50px;
}

.hh-ss-input {
	width: 70px !important;
}

.error-msg{
	color: red;
}

.form-control-input {
	width: 65px;
	height: 34px;  
	padding: 3px 6px;   
	color: #555555;  
	background-color: #fff;  
	border: 1px solid #ccc;  
	border-radius: 4px;
}

.gec-pop-up-font-size {
	font-size: 15px;
}

.gec-pop-up-font-size-green {
	font-weight: bold;
	color: green;
	font-size: 1.53125rem;
}

.gec-font-size-namal {
	font-size: 15px;
}

.app-content-error {
/*   min-height: calc(100vh - 50px); */
  margin-top: 50px;
  padding: 30px;
  background-color: #E5E5E5;
  -webkit-transition: margin-left 0.3s ease;
  -o-transition: margin-left 0.3s ease;
  transition: margin-left 0.3s ease;
}

.app-footer {
  min-height: 30px;
  -webkit-transition: margin-left 0.3s ease;
  -o-transition: margin-left 0.3s ease;
  transition: margin-left 0.3s ease;
}

@media (min-width: 768px) {
  .app-footer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
}

@media (max-width: 767px) {
  .app-footer {
    min-width: 100%;
  }
}


@media print {
  .app-footer {
    margin: 0;
    padding: 0;
  }
}

.space-20, [class*=vspace-20] {
	border-top: 3px double #E5E5E5;
    max-height: 1px;
    min-height: 1px;
    overflow: hidden;
    margin: 20px 0 19px;
}

.responsive-table {
	overflow-x: auto;
}

.paginate_button select {
	margin-top: -5px;
}

.rounded-circle, .app-sidebar__user-avatar {
    border-radius: 20% !important;
}
	
.row-non-margin {
	display: flex;
    flex-wrap: wrap;
}

.dropdown.app-sidebar__user-designation.show {
   overflow: visible;
}

.scf-paging{
	padding: 0;
    display: inline-block;
}
.scf-paging > li {
    display: inline-block;
    /* padding-right: 4px; */
}

.scf-paging > li > select {
    height: 29px;
}

.uib-datepicker .uib-title {
    width: 100% !important;
}

.uib-datepicker-popup .btn-group {
	padding-bottom: 5px !important;
}

.table-bordered th, .table-bordered td {
    border: 0px solid #dee2e6;
}

.filter-container {
	margin-bottom: 10px;
}
