<div id="content" th:fragment="content"
	sec:authorize="hasAnyAuthority('VIEW_ALL_LOANS','VIEW_LOANS_REFER_TO_MY_ORGANIZATION','VIEW_LOANS_OF_MY_ORGANIZATION')">
	<div class="panel box-shadow-none content-header">
		<div class="panel-body">
			<div class="col-md-12" ng-if="!viewTxnCtrl.isAdjustStatus">
				<h3 id="header-message-label" class="animated fadeInLeft">{{
					'View transaction' | translate}}</h3>
			</div>
			<div class="col-md-12" ng-if="viewTxnCtrl.isAdjustStatus">
				<h3 id="header-message-label" class="animated fadeInLeft">{{
					'Adjust transaction status' | translate}}</h3>
			</div>
		</div>
	</div>
	<div class="form-element">
		<div class="panel panel-default col-md-12 padding-0">
			<div class="panel-body" style="padding-bottom: 30px;">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-body">

									<div class="row">
										<div class="col-md-1 col-sm-1">
											<label id="sponsor-label"
												ng-show="{{viewTxnCtrl.isSupplier || viewTxnCtrl.isBank}}">{{'Buyer'|translate}}:</label>
											<label
												ng-show="{{viewTxnCtrl.isSponsor}}">{{'Supplier' |
												translate}}:</label>
										</div>
										<div class="col-md-11 col-sm-11 text-left">
											<span id="sponsor-value-label"
												ng-bind="viewTxnCtrl.transactionModel.sponsor"
												ng-show="{{viewTxnCtrl.isSupplier || viewTxnCtrl.isBank}}"></span>
											<span
												id="{{viewTxnCtrl.isSponsor?'supplier-value-label':'supplier-value-label-ignore'}}"
												ng-bind="viewTxnCtrl.transactionModel.supplier"
												ng-show="{{viewTxnCtrl.isSponsor}}"></span>
										</div>
									</div>

									<div class="row" ng-show="viewTxnCtrl.isBank">
										<div class="col-md-1 col-sm-1">
											<label id="supplier-label" ng-show="{{viewTxnCtrl.isBank}}">{{'Supplier'
												| translate}}:</label>
										</div>
										<div class="col-md-11 col-sm-11 text-left">
											<span
												id="{{viewTxnCtrl.isBank?'supplier-value-label':'supplier-value-label-ignore'}}"
												ng-bind="viewTxnCtrl.transactionModel.supplier"
												ng-show="{{viewTxnCtrl.isBank}}"></span>
										</div>
									</div>

									<div class="row" ng-show="viewTxnCtrl.isBank">
										<label class="col-md-2 col-sm-2" style="padding-top: 15px"></label>
										<label class="col-md-3 col-sm-3"></label> <label
											class="col-md-1 col-sm-1"></label> <label
											class="col-md-3 col-sm-3"></label> <label
											class="col-md-2 col-sm-2"></label> <label
											class="col-md-1 col-sm-1"></label>
									</div>

									<div class="row">
										<div class="col-md-2 col-sm-2">
											<label id="transaction-no-label">{{'Transaction no'
												|translate}}:</label>
										</div>
										<div class="col-md-3 col-sm-3 text-right">
											<label id="transaction-no-value-label">{{viewTxnCtrl.transactionModel.transactionNo}}</label>
										</div>
										<div class="col-md-1 col-sm-1"></div>
										<div class="col-md-3 col-sm-3">
											<label id="transaction-type-label">{{'Transaction type' | translate}}:</label>
										</div>
										<div class="col-md-2 col-sm-2">
											<span id="transaction-type-value-label" ng-bind="'Loan'"></span>
										</div>
										<div class="col-md-1 col-sm-1"></div>
									</div>

									<div class="row">
										<div class="col-md-3 col-sm-3">
											<label id="loan-document-label">{{'Loan documents' |
												translate}}:</label>
										</div>
										<div class="col-md-2 col-sm-2 text-right">
											<span id="loan-document-value-label"
												ng-bind="viewTxnCtrl.transactionModel.documents.length"></span>
										</div>
										<div class="col-md-1 col-sm-1"></div>
	
										<div class="col-md-3 col-sm-3">
											<label id="loan-account-label">{{'Loan account' |
												translate}}:</label>
										</div>
										<div class="col-md-2 col-sm-2">
											<span id="loan-account-value-label"
												ng-bind="viewTxnCtrl.transactionModel.payerAccountNo"></span>
										</div>
							
									</div>
									
									<div class="row">
										<div class="col-md-3 col-sm-3">
											<label id="value-of-document-label">{{'Value of
												document' | translate}}:</label>
										</div>
										<div class="col-md-2 col-sm-2 text-right">
											<span id="value-of-document-value-label"
												ng-bind="viewTxnCtrl.transactionModel.valueOfDocument | number:2"></span>
										</div>
										<div class="col-md-1 col-sm-1">
											<span id="value-of-document-thb-label"
												ng-bind="'THB' | translate"></span>
										</div>
										<div class="col-md-3 col-sm-3">
											<label id="predrawdown-percentage-label">{{'Pre-drawdown
												percentage' | translate}}:</label>
										</div>
										<div class="col-md-2 col-sm-2">
											<span id="predrawdown-percentage-value-label"
												ng-bind="viewTxnCtrl.transactionModel.prePercentageDrawdown | number:2"></span>%
										</div>
										<div class="col-md-1 col-sm-1"></div>
									</div>
									<div class="row">
										<div class="col-md-3 col-sm-3">
											<label id="transaction-amount-label">{{'Transaction
												amount' |translate}}:</label>
										</div>
										<div class="col-md-2 col-sm-2 text-right">
											<span id="transaction-amount-value-label"
												ng-bind="viewTxnCtrl.transactionModel.transactionAmount | number:2"></span>
										</div>
										<div class="col-md-1 col-sm-1">
											<span id="transaction-amount-thb-label"
												ng-bind="'THB' | translate"></span>
										</div>
	
										<div class="col-md-3 col-sm-3">
											<label id="transaction-date-label">{{'Transaction
												date' | translate}}:</label>
										</div>
										<div class="col-md-2 col-sm-2">
											<span id="transaction-date-value-label"
												ng-bind="viewTxnCtrl.transactionModel.transactionDate | date: 'dd/MM/yyyy' : 'UTC+0700'"></span>
										</div>
										<div class="col-md-1 col-sm-1"></div>
									</div>

									<div class="row">
										<div class="col-md-3 col-sm-3">
											<label id="interest-label">{{'Interest' |
												translate}}:</label>
										</div>
										<div class="col-md-2 col-sm-2 text-right">
											<span id="interest-value-label"
												ng-bind="(viewTxnCtrl.transactionModel.interestAmount||0)| number:2"></span>
										</div>
										<div class="col-md-1 col-sm-1">
											<span id="interest-thb-label" ng-bind="'THB' | translate"></span>
										</div>

										<div class="col-md-3 col-sm-3">
											<label id="sponsor-payment-date-label">{{'Buyer payment date' | translate}}:</label>
											</div>
											<div class="col-md-2 col-sm-2">
											<span id="sponsor-payment-date-value-label"
												ng-bind="viewTxnCtrl.transactionModel.sponsorPaymentDate | date: 'dd/MM/yyyy' : 'UTC+0700'"></span>
										</div>
										<div class="col-md-1 col-sm-1"></div>
									</div>
									<div class="row">
										
										<div class="col-md-3 col-sm-3">
											<label id="fee-label">{{'Fee' | translate}}:</label>
										</div>
										<div class="col-md-2 col-sm-2 text-right">
											<span id="fee-value-label"
												ng-bind="(viewTxnCtrl.transactionModel.repaymentFee||0) | number:2"></span>
										</div>
										<div class="col-md-1 col-sm-1">
											<span id="fee-thb-label" ng-bind="'THB' | translate"></span>
										</div>
										
										<div class="col-md-3 col-sm-3">
											<label id="loan-maturity-label">{{'Loan maturity
												date' | translate}}:</label>
										</div>
										<div class="col-md-2 col-sm-2">
											<span id="loan-maturity-value-label"
												ng-bind="viewTxnCtrl.transactionModel.maturityDate | date: 'dd/MM/yyyy' : 'UTC+0700'"></span>
										</div>
										<div class="col-md-1 col-sm-1"></div>
									</div>

									<div class="row">
										<div class="col-md-3 col-sm-3">
											<label id="repayment-amount-label">{{'Repayment
												amount' |translate}}:</label>
										</div>
										<div class="col-md-2 col-sm-2 text-right">
											<span id="repayment-amount-value-label"
												ng-bind="(viewTxnCtrl.transactionModel.repaymentAmount||0)  | number:2"></span>
										</div>
										<div class="col-md-1 col-sm-1">
											<span id="repayment-amount-thb-label"
												ng-bind="'THB' | translate"></span>
										</div>
									</div>
									<div class="row">
										<label class="col-md-2 col-sm-2" style="padding-top: 15px"></label>
										<label class="col-md-3 col-sm-3"></label> <label
											class="col-md-1 col-sm-1"></label> <label
											class="col-md-3 col-sm-3"></label> <label
											class="col-md-2 col-sm-2"></label> <label
											class="col-md-1 col-sm-1"></label>
									</div>
									<div class="row"
										ng-show="{{viewTxnCtrl.isSupplier || viewTxnCtrl.isBank}}">
										<div class="col-md-2 col-sm-2">
											<label id="create-by-label">{{'Create by'
												|translate}}:</label>
										</div>
										<div class="col-md-3 col-sm-3 text-right">
											<span id="create-by-value-label"
												ng-bind="viewTxnCtrl.transactionModel.createdBy"></span>
										</div>
										<div class="col-md-1 col-sm-1"></div>
										<div class="col-md-3 col-sm-3">
											<label id="create-date-label">{{'Create date' |
												translate}}:</label>
										</div>
										<div class="col-md-2 col-sm-2">
											<span id="create-date-value-label"
												ng-bind="viewTxnCtrl.transactionModel.createdTime | date: 'dd/MM/yyyy HH:mm': 'UTC+0700'"></span>
										</div>
										<div class="col-md-1 col-sm-1"></div>
									</div>
									<div class="row"
										ng-show="{{viewTxnCtrl.isSupplier || viewTxnCtrl.isBank}}">
										<div class="col-md-2 col-sm-2">
											<label id="verify-by-label">{{'Verify by'
												|translate}}:</label>
										</div>
										<div class="col-md-3 col-sm-3 text-right">
											<span id="verify-by-value-label"
												ng-bind="viewTxnCtrl.transactionModel.verifiedBy"></span>
										</div>
										<div class="col-md-1 col-sm-1"></div>
										<div class="col-md-3 col-sm-3">
											<label id="verify-date-label">{{'Verify date' |
												translate}}:</label>
										</div>
										<div class="col-md-2 col-sm-2">
											<span id="verify-date-value-label"
												ng-bind="viewTxnCtrl.transactionModel.verifiedTime | date: 'dd/MM/yyyy HH:mm': 'UTC+0700'"></span>
										</div>
										<div class="col-md-1 col-sm-1"></div>
									</div>
									<div class="row"
										ng-show="{{viewTxnCtrl.isSupplier || viewTxnCtrl.isBank}}">
										<div class="col-md-2 col-sm-2">
											<label id="approve-by-label">{{'Approve by'
												|translate}}:</label>
										</div>
										<div class="col-md-3 col-sm-3 text-right">
											<span id="approve-by-value-label"
												ng-bind="viewTxnCtrl.transactionModel.approvedBy"></span>
										</div>
										<div class="col-md-1 col-sm-1"></div>
										<div class="col-md-3 col-sm-3">
											<label id="approve-date-label">{{'Approve date' |
												translate}}:</label>
										</div>
										<div class="col-md-2 col-sm-2">
											<span id="approve-date-value-label"
												ng-bind="viewTxnCtrl.transactionModel.approvedTime | date: 'dd/MM/yyyy HH:mm': 'UTC+0700'"></span>
										</div>
										<div class="col-md-1 col-sm-1"></div>
									</div>
									<div class="row">
										<label class="col-md-2 col-sm-2" style="padding-top: 15px"></label>
										<label class="col-md-3 col-sm-3"></label> <label
											class="col-md-1 col-sm-1"></label> <label
											class="col-md-3 col-sm-3"></label> <label
											class="col-md-2 col-sm-2"></label> <label
											class="col-md-1 col-sm-1"></label>
									</div>
									<div class="row">
										<div class="col-md-1 col-sm-1">
											<label id="status-label">{{'Status' |translate}}:</label>
										</div>
										<div class="col-md-11 col-sm-11 text-left">
											<span id="status-value-label"> <span
												ng-bind="viewTxnCtrl.transactionModel.statusCode | translate"></span>
												<span style="color: red"
												ng-show="viewTxnCtrl.transactionModel.statusCode == 'INCOMPLETE' || viewTxnCtrl.transactionModel.statusCode == 'FAIL_TO_DRAWDOWN' || viewTxnCtrl.transactionModel.statusCode == 'REJECT_INCOMPLETE'"
												ng-bind="viewTxnCtrl.transactionModel | transactionErrorMessage"></span>
											</span>
										</div>
										<!-- 										<div class="col-md-1 col-sm-1"></div> -->
										<!-- 										<div class="col-md-3 col-sm-3"></div> -->
										<!-- 										<div class="col-md-2 col-sm-2"></div> -->
										<!-- 										<div class="col-md-1 col-sm-1"></div> -->
									</div>
									<div class="row" style="display: {{viewTxnCtrl.isDisplayReason">
										<div class="col-md-1 col-sm-1">
											<label id="reject-reason-label">{{'Reason'
												|translate}}:</label>
										</div>
										<div class="col-md-11 col-sm-11 text-left">
											<label id="reject-reason-value-label" style="color: red">{{viewTxnCtrl.transactionModel.rejectReason}}</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">&#32;</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<!--<b id="total-select-doc-label">{{ 'Selected' |
								translate}}&#32;{{viewTxnCtrl.transactionModel.documents.length}}&#32;{{
								'Records' | translate}}</b>:-->
						</div>
						<div class="col-md-9 text-right">
							<div class="row">
								<div class="col-md-12">
									<b id="document-paging-label"
										ng-bind="viewTxnCtrl.splitePageTxt"></b> &nbsp;&nbsp;
									<scf-pagination
										page-size-model="viewTxnCtrl.pageModel.pageSizeSelectModel"
										total-page="viewTxnCtrl.pageModel.totalPage"
										current-page="viewTxnCtrl.pageModel.currentPage"
										page-size-list="viewTxnCtrl.pageSizeList"
										page-action="viewTxnCtrl.searchDocument"></scf-pagination>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<scf-layout-table id="document-table"
								component-config="viewTxnCtrl.dataTable"
								component-datas="viewTxnCtrl.documentDisplay"
								current-page="viewTxnCtrl.pageModel.currentPage"
								record-per-page="viewTxnCtrl.pageModel.pageSizeSelectModel"
								clear-sort-order="viewTxnCtrl.pageModel.clearSortOrder">
							</scf-layout-table>
						</div>
						<div id="fixed-bottom" class="col-md-12"></div>
					</div>
				</div>
			</div>

			<div class="panel-body">
				<div class="row">
					<div id="bottom-sticker">
						<div class="col-md-12">
							<div class="form-horizontal">
								<label class="col-md-2 control-label"><b
									ng-bind="'Transaction amount' | translate"></b>:</label>
								<div class="col-md-9 control-label">
									<span id="footer-transaction-amount-label"
										ng-bind="viewTxnCtrl.transactionModel.transactionAmount | number:2"></span>
									&nbsp; <span ng-bind="'THB' | translate"></span>
								</div>

								<label class="col-md-2 control-label"><b
									ng-bind="'Transaction date' | translate"></b>:</label>
								<div class="col-md-9 control-label">
									<label id="footer-transaction-date-label">{{viewTxnCtrl.transactionModel.transactionDate
										| date: 'dd/MM/yyyy' : 'UTC+0700'}}</label>
								</div>
							</div>
						</div>
						<div class="col-md-12 text-right">
							<scf-button id="back-button" class="btn btn-default"
								type="submit" ng-click="viewTxnCtrl.back()"
								ng-hide="!viewTxnCtrl.isShowBackButton">{{ 'Back' |
							translate}}</scf-button>
							<scf-button id="view-history-button" class="btn btn-default"
								ng-click="viewTxnCtrl.viewHistory()" type="submit"
								ng-bind="'View History' | translate"
								ng-hide="!viewTxnCtrl.isShowViewHistoryButton"> </scf-button>
							<scf-button id="fail-to-drawdown-button" class="btn btn-default"
								type="submit" ng-click="viewTxnCtrl.failToDrawdown()"
								ng-if="viewTxnCtrl.isAdjustStatus">{{ 'Fail to drawdown' |	translate}}</scf-button>
							<scf-button id="drawdown-success-button" class="btn btn-default"
								type="submit" ng-click="viewTxnCtrl.drawdownSuccess()"
								ng-if="viewTxnCtrl.isAdjustStatus">{{ 'Drawdown success' |	translate}}</scf-button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Panel-->
</div>