
<div id="content" th:fragment="content">

	<div class="panel box-shadow-none content-header">
		<div class="panel-body">
			<div class="col-md-12">
				<h3 class="animated fadeInLeft">Loan Summary</h3>

			</div>
		</div>
	</div>

	<div class="form-element">
		<div class="panel panel-default col-md-12 padding-0">
			<div class="panel-body" style="padding-bottom: 30px;">
				<div class="row">
					<!-- Start Column Panel-->
					<div class="col-md-12 col-sm-12 col-xs-12">

						<div class="stepwizard bottom-1em ">
							<div class="stepwizard-row">
								<div class="stepwizard-step">
									<button type="button" class="btn btn-pass btn-circle"
										disabled="disabled">1</button>
									<p>Create</p>
								</div>
								<div class="stepwizard-step">
									<button type="button" class="btn btn-pass btn-circle">2</button>
									<p>Validate and Submit</p>
								</div>
								<div class="stepwizard-step">
									<button type="button" class="btn btn-primary btn-circle"
										disabled="disabled">3</button>
									<p>Summary</p>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-3 col-sm-4 col-xs-4 text-right">
								<label><b>Loan Request No: </b></label>
							</div>
							<div class="col-md-9 col-sm-8 col-xs-8">
								<span>GEC29022016162300</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-4 col-xs-4 text-right">
								<label><b>Loan Request Date: </b></label>
							</div>
							<div class="col-md-9 col-sm-8 col-xs-8">
								<span>02/03/2016</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-4 col-xs-4 text-right">
								<label><b>Maturity Date: </b></label>
							</div>
							<div class="col-md-9 col-sm-8 col-xs-8">
								<span>01/05/2016</span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-4 col-xs-4 text-right">
								<label><b>Loan Amount: </b></label>
							</div>
							<div class="col-md-9 col-sm-8 col-xs-8">
								<span>500,000.00 <b>Baht</b></span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-4 col-xs-4 text-right">
								<label><b>Status: </b></label>
							</div>
							<div class="col-md-9 col-sm-8 col-xs-8">
								<span>Wait for Approval</span>
							</div>
						</div>
						<br />
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<button type="submit" class="btn btn-default">Create
									New</button>
								<button type="button" class="btn btn-default">View loan
									request</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
