<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<div ng-controller="ErrorController as ctrl">
<head th:replace="errors/head :: headTag"></head>

<title ng-bind="ctrl.title"></title>
<body ng-app="scfError">

		<header th:replace="errors/header :: header"></header>

		<div class="app-content-error" id="content" th:fragment="content">
			<div class="row">
				<div class="col-md-12">
					<div class="tile">
						<div class="tile-body">
							<div class="col-md-12 text-right">
								<div class="panel box-shadow-none content-header">
									<div class="panel-body">
										<div class="col-md-12 text-left">
											<h3 id="error-message-label" class="animated fadeInLeft"
												ng-bind="'Your fail verification are reach limit.'"></h3>
											<p class="text-right">
												<a class="btn btn-default btn-lg" type="submit" id="ok-button"
													th:href="@{/login}">OK</a>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<script th:src="@{/js/app/modules/errors/errors.module.js}"
		src="../static/js/js/app/modules/errors/errors.module.js"></script>
<!-- 	<footer th:replace="fragments/footer :: footer"></footer> -->
</body>
</div>
</html>