<!-- Navigation -->
<header th:fragment="header">
	<!-- start: Header -->

	<nav class="navbar navbar-default header"
		th:classappend="${fixedHeader} ? navbar-fixed-top : navbar-static-top">
		<div class="col-xs-12 col-md-12 col-lg-12 nav-wrapper">
			<ul class="col-xs-3 col-md-5 col-lg-5 nav navbar-nav navbar-left">
				<li class="col-xs-3 col-md-1 col-lg-1"><img
					th:src="@{/img/logo.png}" class="img-circle avatar" alt="user name"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" /></li>
				<li class="hidden-md hidden-sm hidden-xs"><a
					class="navbar-brand" ui-sref="/home"
					ui-sref-opts="{reload: true, inherit: false}"> <b>GEC
							Supply Chain Financing</b>
				</a></li>
			</ul>

		</div>
	</nav>

	<!-- end: Header -->

	<nav class="navbar navbar-default gec-menu-bar hidden-xs"
		th:classappend="'navbar-static-top gec-menu-bar-static'">
		<div class="container-fluid"></div>
	</nav>
</header>
