<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>GEC Supply Chain Financing</title>

<!-- WRO4J CSS -->
<link th:href="@{/css/angular-bootstrap.css}"
	href="../static/css/angular-bootstrap.css" rel="stylesheet" />
<script th:src="@{/js/angular-bootstrap.js}"
	src="../static/js/angular-bootstrap.js"></script>

<link th:href="@{/css/login.css}" href="../static/css/login.css"
	rel="stylesheet" />
</head>

<body ng-app="authenApp">
	<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->

	<div class="container" ng-controller="LoginController as controller">
		<div class="wrapper">
			<form role="form" ng-submit="controller.login()" name="Login_Form"
				class="form-signin">
				<div class="row text-center bol">
					<i class="fa fa-circle"></i>
				</div>
				<h3 class="form-signin-heading text-center">
					<img ng-src="img/logo.png" alt="" />
				</h3>
				<hr class="spartan" />
				<div class="input-group">
					<span class="input-group-addon" id="sizing-addon1"> <i
						class="fa fa-user"></i>
					</span> <input type="text" class="form-control" id="username"
						name="username" ng-model="controller.username"
						placeholder="Username" required="" autofocus="" />
				</div>
				<div class="input-group">
					<span class="input-group-addon" id="sizing-addon1"> <i
						class="fa fa-lock"></i>
					</span> <input type="password" class="form-control" id="password"
						name="password" ng-model="controller.password"
						placeholder="Password" autocomplete="OFF" required="" />
				</div>
				<button class="btn btn-lg btn-primary btn-block" name="Submit"
					type="Submit">Login</button>
			</form>
		</div>
	</div>
	<!-- /container -->

	<!-- Placed at the end of the document so the pages load faster -->
	<!-- Bootstrap core JavaScript
    ================================================== -->

	<!-- controller -->
	<script th:src="@{/js/app/authen/authentication.js}"
		src="../static/js/app/authen/authentication.js"></script>
</body>

</html>