<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>GEC Supply Chain Financing</title>

<!-- WRO4J CSS -->
<link th:href="@{/css/angular-bootstrap.css}"
	href="../static/css/angular-bootstrap.css" rel="stylesheet" />
<script th:src="@{/js/angular-bootstrap.js}"
	src="../static/js/angular-bootstrap.js"></script>
<script th:src="@{/js/plugins/loading-overlay.js}"
	src="../static/js/plugins/loading-overlay.js"></script>

<link th:href="@{/css/login.css}" href="../static/css/login.css"
	rel="stylesheet" />
<link th:href="@{/css/loading-overlay.css}"
	href="../static/css/loading-overlay.css" rel="stylesheet" />

<!-- controller -->
<script th:src="@{/js/app/scf-app.js}" src="../static/js/app/scf-app.js"></script>

<script th:src="@{/js/app/authen/authentication.js}"
	src="../static/js/app/authentication.js"></script>

<!-- Mimin Theme -->
<!-- plugins -->
<script th:src="@{/js/plugins/jquery.nicescroll.js}"
	src="../static/js/plugins/jquery.nicescroll.js"></script>

<!-- End Mimin Theme -->
<script th:src="@{/js/plugins/loading-overlay.js}"
	src="../static/js/plugins/loading-overlay.js"></script>
<script th:src="@{/js/plugins/ngDialog.js}"
	src="../static/js/plugins/ngDialog.js"></script>

<!-- Analytic -->
<script th:src="@{/js/plugins/analytic/d3.js}"
	src="../static/js/plugins/analytic/d3.js"></script>
<script th:src="@{/js/plugins/analytic/nv.d3.js}"
	src="../static/js/plugins/analytic/nv.d3.js"></script>
<script
	th:src="@{/js/plugins/analytic/angularjs-nvd3-directives.min.js}"
	src="../static/js/plugins/analytic/angularjs-nvd3-directives.min.js"></script>
<link th:href="@{/js/plugins/analytic/nv.d3.css}" rel="stylesheet"
	href="../static/js/plugins/analytic/nv.d3.css" />

<!-- GECSCF Component -->
<script th:src="@{/js/app/common/scf-component.js}"
	src="../static/js/app/common/scf-component.js"></script>
<script th:src="@{/js/app/components/scfjs.js}"
	src="../static/js/app/components/scfjs.js"></script>

<script th:src="@{/js/app/common/scf-common-service.js}"
	src="../static/js/app/common/scf-common-service.js"></script>
<!-- 	<script th:src="@{/js/app/common/ui-bootstrap-tpls-1.1.0.js}" src="../static/js/app/common/ui-bootstrap-tpls-1.1.0.js"></script>	 -->



<script th:src="@{/js/app/dashboard/dashboard-controller.js}"
	src="../static/js/app/dashboard/dashboard-controller.js"></script>

<script th:src="@{/js/app/shared/directives/ui.module.js}"
	src="../static/js/app/shared/directives/ui.module.js"></script>
<script th:src="@{/js/app/shared/directives/auto-suggest.js}"
	src="../static/js/app/shared/directives/auto-suggest.js"></script>
<script th:src="@{/js/app/shared/directives/input-text.js}"
	src="../static/js/app/shared/directives/input-text.js"></script>
<script th:src="@{/js/app/shared/directives/file-upload.js}"
	src="../static/js/app/shared/directives/file-upload.js"></script>

<style>
body {
	background: url(img/bg_login.jpg) no-repeat center center fixed;
	background-size: cover;
}

form {
	background-color: rgba(255, 255, 255, 0.5);
}
</style>
</head>

<body ng-app="authenApp">
	<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->

	<div class="container" ng-controller="LoginController as controller">
		<div class="wrapper">

			<form id="loginForm" role="form" method="post" name="Login_Form"
				class="form-signin" autocomplete="off"
				ng-submit="controller.login()">
				<h3 class="form-signin-heading text-center">
					<img ng-src="img/logo_login.png" alt="" />
				</h3>
				<hr class="spartan" />
				<div class="alert alert-danger" role="alert"
					ng-if="controller.error">
					<span id="login-message-label">{{controller.errorMessage}}</span>
				</div>
				<div class="input-group">
					<span class="input-group-addon" id="sizing-addon1"> <i
						class="fa fa-user"></i>
					</span> <input type="text" class="form-control" id="username"
						name="username" ng-model="controller.username"
						placeholder="Username" />
				</div>
				<div role="alert" ng-if="controller.usernameRequired">
					<span id="username-error-message-label" style="color: red">username
						is required.</span>
				</div>
				<br ng-if="controller.usernameRequired"/>
				<div class="input-group">
					<span class="input-group-addon" id="sizing-addon1"> <i
						class="fa fa-lock"></i>
					</span> <input type="password" class="form-control" id="password"
						ng-model="controller.password" name="password"
						placeholder="Password" />
				</div>
				<div role="alert" ng-if="controller.passwordRequired">
					<span id="password-error-message-label" style="color: red">password
						is required.</span>
				</div>
				<button class="btn btn-lg btn-primary btn-block" name="Submit"
					type="submit">Login</button>
			</form>
		</div>
	</div>
	<!-- /container -->

	<!-- Placed at the end of the document so the pages load faster -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- controller -->



</body>

</html>