<div id="content" th:fragment="content">
    <div id="wrapper">
        <div class="panel box-shadow-none content-header">
            <div class="panel-body">
                <div class="col-md-12">
                    <h3 class="animated fadeInLeft">Create Transaction</h3>
                </div>
            </div>
        </div>

        <div class="form-element">

            <div class="panel panel-default col-md-12 padding-0">
                <div class="panel-body">
                    <div class="col-md-12" ng-show="createTransactionCtrl.showErrorMsg">
                        <div class="alert alert-danger" role="alert">
                            <span id="message-alert-label" ng-bind="createTransactionCtrl.errorMsgGroups | translate"></span>
                        </div>
                    </div>
                    <!-- Start Column Panel-->
                    <div class="col-md-12">
                        <form name="createForm" class="form-horizontal">
                            <div class="form-group">
                                <label for="sponsor" class="col-md-2 col-sm-3 col-xs-12 control-label">Sponsor: </label>
                                <div class="col-md-3 col-sm-5 col-xs-12">
                                    <scf-dropdown id="sponsor-dropdown" ng-change="createTransactionCtrl.loadSupplierCode()" ng-model="createTransactionCtrl.createTransactionModel.sponsorCode" component-data="createTransactionCtrl.sponsorCodes"></scf-dropdown>
                                </div>
                                <div class="col-md-5 col-sm-4"></div>
                            </div>
                            <div class="form-group">
                                <label for="dealer" class="col-md-2 col-sm-3 col-xs-12 control-label">Supplier Code : </label>

                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <scf-dropdown id="supplier-code-dropdown" ng-change="createTransactionCtrl.loadSupplierDate()" ng-model="createTransactionCtrl.createTransactionModel.supplierCode" component-data="createTransactionCtrl.supplierCodes"></scf-dropdown>
                                </div>
                                <div class="col-md-5 col-sm-6"></div>
                            </div>

                            <!-- Start Payment Field-->
                            <div class="form-group">
                                <label for="paymentDate" class="col-md-2 col-sm-3 col-xs-12 control-label">Sponsor payment Date: </label>
                                <div class="col-md-2 col-sm-3 col-xs-12">
                                    <scf-dropdown id="sponsor-payment-date-dropdown" ng-model="createTransactionCtrl.createTransactionModel.sponsorPaymentDate" component-data="createTransactionCtrl.sponsorPaymentDates"></scf-dropdown>
                                </div>
                                <div class="col-md-6 col-sm-5">
                                    <scf-button id="search-button" class="btn-default" ng-click="createTransactionCtrl.searchDocument()">Search</scf-button>
                                </div>
                            </div>
                        </form>
                        <!-- End Payment Field-->
                        <div ng-show="createTransactionCtrl.showInfomation">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-3">
                                                    <label ng-bind="'transaction-create-creditLimit' | translate">วงเงินกู้ </label>:
                                                </div>
                                                <div class="col-md-2 col-sm-2 text-right">
                                                    <span id="creditlimit-label" ng-bind="createTransactionCtrl.tradingpartnerInfoModel.creditLimit | number:2">0.00</span>
                                                </div>
                                                <div class="col-md-1 col-sm-1">THB</div>

                                                <div class="col-md-2 col-sm-3">
                                                    <label ng-bind="'transaction-create-available' | translate">วงเงินกู้ที่สามารถเบิกถอนได้</label>:
                                                </div>
                                                <div class="col-md-2 col-sm-2 text-right">
                                                    <span id="available-label" ng-bind="createTransactionCtrl.tradingpartnerInfoModel.availableAmount | number:2">0.00</span>
                                                </div>
                                                <div class="col-md-3 col-sm-1">THB</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2 col-sm-3">
                                                    <label ng-bind="'transaction-create-outstanding' | translate">ยอดเงินกู้ที่เบิกถอนแล้ว</label>:
                                                </div>
                                                <div class="col-md-2 col-sm-2 text-right">
                                                    <span id="outstanding-label" ng-bind="createTransactionCtrl.tradingpartnerInfoModel.outstandingAmount | number:2">0.00</span>
                                                </div>
                                                <div class="col-md-1 col-sm-1">THB</div>
                                                <div class="col-md-2 col-sm-3">
                                                    <label ng-bind="'transaction-create-featureDrawdown' | translate">ยอดเงินกู้ล่วงหน้า</label>:
                                                </div>
                                                <div class="col-md-2  col-sm-2 text-right">
                                                    <span id="future-amount-label" ng-bind="createTransactionCtrl.tradingpartnerInfoModel.featureDrawdownAmount | number:2">0.00</span>
                                                </div>
                                                <div class="col-md-3 col-sm-1">THB</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2 col-sm-3">
                                                    <label ng-bind="'transaction-create-preDrawdownPercentage' | translate">Pre-Dradown Percentag</label>:
                                                </div>
                                                <div class="col-md-2 col-sm-2 text-right">
                                                    <span id="predrawdown-label" ng-bind="createTransactionCtrl.tradingpartnerInfoModel.prePercentageDrawdown | number:2">0.00</span>
                                                </div>
                                                <div class="col-md-1 col-sm-1">%</div>
                                                <div class="col-md-2 col-sm-3">
                                                    <label ng-bind="'transaction-create-interestRate' | translate">อัตราดอกเบี้ยเงินกู้</label>:
                                                </div>
                                                <div class="col-md-2 col-sm-2 text-right">
                                                    <span id="interest-rate-label" ng-bind="createTransactionCtrl.tradingpartnerInfoModel.interestRate">0.000000 %</span>
                                                </div>
                                                <div class="col-md-3 col-sm-1"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 gec-select">
                                    <div><b><span ng-bind="'selected' | translate">Select</span>: <span ng-bind="createTransactionCtrl.documentSelects.length"></span> <span ng-bind="'records' | translate"></span></b></div>
                                </div>
                                <div class="col-md-8 text-right">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span>                                              
                                                    <b ng-bind="createTransactionCtrl.splitePageTxt" id="document-paging-label"></b>
                                                    &nbsp;&nbsp;
                                                <scf-pagination dropdown-id="page-limit-dropdown" page-size-model="createTransactionCtrl.pageModel.pageSizeSelectModel" 
                                                        total-page="createTransactionCtrl.pageModel.totalPage" 
                                                        current-page="createTransactionCtrl.pageModel.currentPage" 
                                                        page-size-list="createTransactionCtrl.pageSizeList" 
                                                        page-action="createTransactionCtrl.searchDocument"></scf-pagination>
                                                </span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Start Table-->
                            <div class="row">
                                <div class="col-md-12">
                                    <scf-data-table id="document-table" component-config="createTransactionCtrl.dataTable" component-datas="createTransactionCtrl.tableRowCollection" current-page="createTransactionCtrl.pageModel.currentPage" record-per-page="createTransactionCtrl.pageModel.pageSizeSelectModel"></scf-data-table>
                                </div>
                                <div id="fixed-bottom" class="col-md-12"></div>
                            </div>
                        </div>


                    </div>
                    <!-- End Column Panel-->

                </div>
                <div class="panel-body" ng-show="createTransactionCtrl.showInfomation">
                    <div class="row">
                        <div id="bottom-sticker">
                            <div class="col-md-12 col-sm-12">
                                <div class="form-horizontal">
                                    <label class="col-md-2 col-sm-3 control-label"><b ng-bind="'transaction-amount' | translate">Transaction Amount: </b>:</label>
                                    <div class="col-md-9 col-sm-8 control-label">
                                        <span id="create-transaction-amount-label" ng-bind="createTransactionCtrl.submitTransactionAmount | number: 2">0.00</span>&nbsp;
                                        <span ng-bind="'thai-bath' | translate"></span>
                                    </div>
                                    <label class="col-md-2 col-sm-3 control-label"><b ng-bind="'transaction-date' | translate">Transaction Date:</b>:</label>
                                    <div class="col-md-2 col-sm-3">
                                        <scf-dropdown id="supplier-code-dropdown" ng-model="createTransactionCtrl.createTransactionModel.transactionDate" component-data="createTransactionCtrl.transactionDates"></scf-dropdown>
                                    </div>
                                    <div class="col-md-8 col-sm-5"></div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 text-right">
                                <scf-button id="next-button" type="submit" ng-click="createTransactionCtrl.nextStep()">Next</scf-button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>



        </div>
    </div>

    <scf-modal visible="validateDataFailPopup">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <image width="70" height="70" ng-src="img/error-icon.png"></image>
                    </div>
                    <div class="col-md-10 col-sm-10" style="color:red;">
                        <h2 ng-bind="'popup-fail' | translate">fail</h2></div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h3 id="error-message-label" ng-bind="createTransactionCtrl.errorMsgPopup | translate"></h3>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <scf-button id="back-button" data-dismiss="modal" ng-bind="'btn-back' | translate"></scf-button>
                    </div>
                </div>
            </div>
        </div>
    </scf-modal>
</div>