<div id="content" th:fragment="content">
	<div class="panel box-shadow-none content-header">
		<div class="panel-body">
			<div class="col-md-12">
				<h3 class="animated fadeInLeft">{{ 'validate-and-submit' |
					translate}}</h3>
			</div>
		</div>
	</div>
	<div class="form-element">
		<div class="panel panel-default col-md-12 padding-0">
			<div class="panel-body" style="padding-bottom: 30px;">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<label class="col-md-2 col-sm-3 col-xs-12 control-label">{{
							'sponsor' | translate}}: </label> <label id="sponsor-label"
							class="col-md-10 col-sm-9 col-xs-12 control-label">{{validateAndSubmitCtrl.tradingPatnerData.sponsorName}}</label>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="row">
										<label class="col-md-2">{{ 'financing-documents' |
											translate}}: </label> <label id="financing-document-label"
											class="col-md-4">{{validateAndSubmitCtrl.tradingPatnerData.financingDocuments}}</label><label
											class="col-md-2">{{ 'transaction-type' | translate}}:
										</label><label id="transaction-type-label" class="col-md-4">Loan</label>
									</div>
									<div class="row">
										<label class="col-md-2">{{ 'value-of-document' |
											translate}}: </label> <label id="value-of-document-label"
											class="col-md-4">{{validateAndSubmitCtrl.tradingPatnerData.valueOfDocument}}</label><label
											class="col-md-2">{{ 'sponsor-payment-date' |
											translate}}: </label><label id="sponsor-payment-date-label"
											class="col-md-4">{{validateAndSubmitCtrl.tradingPatnerData.sponsorPaymentDate}}</label>
									</div>
									<div class="row">
										<label class="col-md-2">{{ 'pre-percentage' |
											translate}}: </label> <label id="pre-drawdown-label" class="col-md-4">{{validateAndSubmitCtrl.tradingPatnerData.prePercentage}}</label><label
											class="col-md-2">{{ 'transaction-date' | translate}}:
										</label><label id="header-transaction-date-label" class="col-md-4">{{validateAndSubmitCtrl.tradingPatnerData.transactionDate}}</label>
									</div>
									<div class="row">
										<label class="col-md-2">{{ 'transaction-amount' |
											translate}}: </label> <label id="header-transaction-amount-label"
											class="col-md-4">{{validateAndSubmitCtrl.tradingPatnerData.transactionAmount}}&#32;{{
											'thai-bath' | translate}}</label><label class="col-md-2">{{
											'loan-maturity-date' | translate}}: </label><label
											id="loan-maturity-date-label" class="col-md-4">{{validateAndSubmitCtrl.tradingPatnerData.loanMaturityDate}}</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">&#32;</div>
					</div>
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-3">
							<label id="total-select-doc-label">{{ 'selected' |
								translate}}&#32;{{validateAndSubmitCtrl.tradingPatnerData.selected}}&#32;{{
								'records' | translate}}</label>
						</div>
						<div class="col-md-8 text-right">
							<div class="row">
								<div class="col-md-7">
									<label id="current_page_label">1 - 10 of 20</label>
								</div>
								<div class="col-md-5">
									<scf-pagination
										page-size-model="validateAndSubmitCtrl.pageSizeSelectModel"
										total-page="validateAndSubmitCtrl.pageModel.totalRecord"
										current-page="validateAndSubmitCtrl.pageModel.currentPage"
										page-size-list="validateAndSubmitCtrl.pageSizeList"
										page-action="validateAndSubmitCtrl.searchDocument"></scf-pagination>
								</div>
							</div>
						</div>
					</div>
					<scf-data-table component-config="validateAndSubmitCtrl.dataTable"
						component-datas="validateAndSubmitCtrl.tableRowCollection">
					</scf-data-table>

					<div class="row">
						<div class="col-md-12">&#32;</div>
					</div>

					<div class="row">
						<div class="form-horizontal">
							<div class="col-md-11">
								<div class="form-group">
									<div class="row">
										<div class="col-md-3">
											<label><b>{{ 'transaction-amount' | translate}}:
											</b></label>
										</div>
										<div class="col-md-9">
											<label id="transaction-amount-label">{{validateAndSubmitCtrl.tradingPatnerData.transactionAmount}}</label>&#32;{{
											'thai-bath' | translate}}
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-11">
								<div class="row">
									<div class="form-group">
										<div class="col-md-3">
											<label><b>{{ 'transaction-date' | translate}}: </b></label>
										</div>
										<div class="col-md-2">
											<label id="transaction-date-label">{{validateAndSubmitCtrl.tradingPatnerData.transactionDate}}</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-11 text-right">
								<scf-button id="submit-button" class="btn btn-default"
									type="submit"
									ng-click="validateAndSubmitCtrl.submitTransaction()">{{
								'submit' | translate}}</scf-button>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<scf-modal visible="validateDataPopup">
		<div class="modal-content">
					<div class="modal-header">
						<div class="row">
							<div class="col-md-4 text-right"><image width="50" height="50" ng-src="img/Icon-check.png"></image></div>
							<div class="col-md-8"><h2 ng-bind="'validate-create-popup-success' | translate">SUCCESS</h2></div>
						</div>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-xs-12">
								<h2 id="transaction-no"><b>Transaction No:</b> <span ng-bind="validateAndSubmitCtrl.transactionMsg"></span></h2>
							</div>
							<div class="col-xs-12 text-right">
									<scf-button type="submit" data-dismiss="modal" 
												id="create-new-transaction-button" ng-click="validateAndSubmitCtrl.createNewAction()" ng-bind="'validate-create-new-btn' | translate"></scf-button>
							</div>
						</div>
					</div>
				</div>
	</scf-modal>
	<!-- End Panel-->
</div>