<div id="content" th:fragment="content">
	<div class="panel box-shadow-none content-header">
		<div class="panel-body">
			<div class="col-md-12">
				<h3 class="animated fadeInLeft">{{ 'validate-and-submit' |
					translate}}</h3>
			</div>
		</div>
	</div>
	<div class="form-element"
		ng-controller="ValidateAndSubmitController as ctrl">
		<div class="panel panel-default col-md-12 padding-0">
			<div class="panel-body" style="padding-bottom: 30px;">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<label class="col-md-2 col-sm-3 col-xs-12 control-label">{{
							'sponsor' | translate}}: </label> <label id="sponsor-label"
							class="col-md-10 col-sm-9 col-xs-12 control-label">{{ctrl.tradingPatnerData.sponsorName}}</label>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-body">
									<div class="row">
										<label class="col-md-2">{{ 'financing-documents' |
											translate}}: </label> <label id="financing-document-label"
											class="col-md-4">{{ctrl.tradingPatnerData.financingDocuments}}</label><label
											class="col-md-2">{{ 'transaction-type' | translate}}:
										</label><label id="transaction-type-label" class="col-md-4">Loan</label>
									</div>
									<div class="row">
										<label class="col-md-2">{{ 'value-of-document' |
											translate}}: </label> <label id="value-of-document-label"
											class="col-md-4">{{ctrl.tradingPatnerData.valueOfDocument}}</label><label
											class="col-md-2">{{ 'sponsor-payment-date' |
											translate}}: </label><label id="sponsor-payment-date-label"
											class="col-md-4">{{ctrl.tradingPatnerData.sponsorPaymentDate}}</label>
									</div>
									<div class="row">
										<label class="col-md-2">{{ 'pre-percentage' |
											translate}}: </label> <label id="pre-drawdown-label" class="col-md-4">{{ctrl.tradingPatnerData.prePercentage}}</label><label
											class="col-md-2">{{ 'transaction-date' | translate}}:
										</label><label id="header-transaction-date-label" class="col-md-4">{{ctrl.tradingPatnerData.transactionDate}}</label>
									</div>
									<div class="row">
										<label class="col-md-2">{{ 'transaction-amount' |
											translate}}: </label> <label id="header-transaction-amount-label"
											class="col-md-4">{{ctrl.tradingPatnerData.transactionAmount}}&#32;{{
											'thai-bath' | translate}}</label><label class="col-md-2">{{
											'loan-maturity-date' | translate}}: </label><label
											id="loan-maturity-date-label" class="col-md-4">{{ctrl.tradingPatnerData.loanMaturityDate}}</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">&#32;</div>
					</div>
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-3">
							<label id="total-select-doc-label">{{ 'selected' |
								translate}}
								{{ctrl.tradingPatnerData.tradingPatnerData.selected}} {{
								'records' | translate}}</label>
						</div>
						<div class="col-md-8 text-right">
							<div class="row">
								<div class="col-md-7"><label id="current_page_label">1 - 10 of 20</label></div>
								<div class="col-md-5">
									<scf-pagination page-size-model="ctrl.pageSizeSelectModel"
										total-page="ctrlpageModel.totalRecord"
										current-page="ctrl.pageModel.currentPage"
										page-size-list="ctrl.pageSizeList"
										page-action="ctrl.searchDocument"></scf-pagination>
								</div>
							</div>
						</div>
					</div>
					<table class="table table-bordered">
						<thead>
							<tr class="bg-primary">
								<th class="text-center tr-4em">{{ 'numbero' | translate}}</th>
								<th class="text-center tr-10em">{{ 'payment-date' |
									translate}}</th>
								<th class="text-center tr-8em">{{ 'document-date' |
									translate}}</th>
								<th class="text-center tr-10em">{{ 'document-numbero' |
									translate}}</th>
								<th class="text-center tr-8em">{{ 'document-type' |
									translate}}</th>
								<th class="text-center tr-8em">{{ 'supplier-code' |
									translate}}</th>
								<th class="text-center tr-8em">{{ 'document-amount' |
									translate}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-if="ctrl.selectedDocuments.length === undefined">
								<td collabel="2" class="text-center">No Data found</td>
							</tr>
							<tr ng-if="ctrl.selectedDocuments.length > 0"
								ng-repeat="document in ctrl.selectedDocuments">
								<td class="text-center"><label class="text-space">{{document.no}}</label></td>
								<td class="text-center"><label class="text-space">{{document.paymentDate}}</label></td>
								<td class="text-center"><label class="text-space">{{document.documentDate}}</label></td>
								<td class="text-left"><label class="text-space">{{document.documentNo}}</label></td>
								<td class="text-center"><label class="text-space">{{document.documentType}}</label></td>
								<td class="text-center"><label class="text-space">{{document.supplierCode}}</label></td>
								<td class="text-right"><label class="text-space">{{document.documentAmount}}</label></td>
							</tr>
						</tbody>
					</table>

					<div class="row">
						<div class="col-md-12">&#32;</div>
					</div>

					<div class="row">
						<div class="form-horizontal">
							<div class="col-md-11">
								<div class="form-group">
									<div class="row">
										<div class="col-md-3">
											<label><b>{{ 'transaction-amount' | translate}}: </b></label>
										</div>
										<div class="col-md-9">
											<label id="transaction-amount-label">{{ctrl.tradingPatnerData.transactionAmount}}</label>&#32;{{
											'thai-bath' | translate}}
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-11">
								<div class="row">
									<div class="form-group">
										<div class="col-md-3">
											<label><b>{{ 'transaction-date' | translate}}: </b></label>
										</div>
										<div class="col-md-2">
											<label id="transaction-date-label">{{ctrl.tradingPatnerData.transactionDate}}</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-11 text-right">
								<scf-button id="submit-button" class="btn btn-default"
									type="submit" ng-click="ctrl.submitTransaction()">{{
								'submit' | translate}}</scf-button>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Panel-->
</div>