<div id="content" th:fragment="content">
	<div class="panel box-shadow-none content-header">
		<div class="panel-body">
			<div class="col-md-12">
				<h3 class="animated fadeInLeft">Loan Request Information</h3>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">

			<div class="row">
				<label class="col-md-2 text-right">Sponsor Name: </label> <span
					class="col-md-2">Sponsor A</span> <label
					class="col-md-2 text-right">Sponsor Code: </label> <span
					class="col-md-6">0001</span>
			</div>

			<div class="row">
				<label class="col-md-2 text-right">Loan Request No: </label> <span
					class="col-md-2">00001</span> <label class="col-md-2 text-right">Loan
					Request Date: </label> <span class="col-md-6">04/03/2016</span>
			</div>

			<div class="row">
				<label class="col-md-2 text-right">Loan Amount: </label> <span
					class="col-md-2">500,000.00</span> <label
					class="col-md-2 text-right">Maturity Date: </label> <span
					class="col-md-6">04/05/2016</span>
			</div>

			<div class="row">
				<label class="col-md-2 text-right">Loan Account No: </label> <span
					class="col-md-2"> 000-1-44422-6</span> <label
					class="col-md-2 text-right">Status: </label> <span class="col-md-6">Approve</span>
			</div>
			<div class="row">
				<div class="col-md-12">&nbsp;</div>
			</div>



			<div class="row">

				<div class="col-md-12 text-right">
					<span class="total-record">Total of Record(s): 2</span>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<!--<div class="table-responsive">-->
					<table class="table table-bordered">
						<thead>
							<tr class="bg-primary">
								<th class="text-center tr-4em">#</th>
								<th class="text-center tr-10em">Invoice No</th>
								<th class="text-center tr-8em">Invoice Date</th>
								<th class="text-center tr-10em">Invoice Amount</th>
								<th class="text-center tr-8em">W/T Amount</th>
								<th class="text-center tr-8em">Total Amount</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-right"><span class="text-space">1</span></td>
								<td class="text-left"><span class="text-space">00001</span></td>
								<td class="text-center"><span class="text-space">02/03/2016</span></td>
								<td class="text-right"><span class="text-space">200,000.00</span></td>

								<td class="text-right"><span class="text-space">0.00</span></td>
								<td class="text-right"><span class="text-space">200,000.00</span></td>
							</tr>
							<tr>
								<td class="text-right"><span class="text-space">2</span></td>
								<td class="text-left"><span class="text-space">00002</span></td>
								<td class="text-center"><span class="text-space">04/03/2016</span></td>
								<td class="text-right"><span class="text-space">300,000.00</span></td>
								<td class="text-right"><span class="text-space">0.00</span></td>
								<td class="text-right"><span class="text-space">300,000.00</span></td>
							</tr>
						</tbody>
					</table>
					<!--</div>-->
					<div class="row">
						<div class="col-md-12">
							<button class="btn btn-default">
								<span class="glyphicon glyphicon-print" aria-hidden="true"></span>
								Print
							</button>
							<button class="btn btn-default">
								<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
								Back
							</button>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
	<!--End Panel-->

</div>