<div th:fragment="content"
	sec:authorize="hasAnyAuthority('VERIFY_LOANS_OF_MY_ORGANIZATION','VIEW_LOANS_OF_MY_ORGANIZATION')">
	<div
		ng-controller="TransactionTodoListDashboardController as txnTodoListCtrl">
		<h3 class="animated fadeInLeft"
			id="wait-for-verify-transaction-header-label"
			ng-bind="dashboardItem.headerLabel"></h3>

		<div class="row">
			<div class="col-md-12 col-sm-12 text-right">
				<span> <b ng-bind="txnTodoListCtrl.pagingController.splitePageTxt"
					id="wait-for-verify-transaction-paging-label"></b> &nbsp;&nbsp; <scf-pagination
						dropdown-id="page-limit-dropdown" name="wait-for-verify-transaction"
						page-size-model="txnTodoListCtrl.pagingController.pagingModel.pageSizeSelectModel"
						total-page="txnTodoListCtrl.pagingController.pagingModel.totalPage"
						current-page="txnTodoListCtrl.pagingController.pagingModel.currentPage"
						page-size-list="txnTodoListCtrl.pagingController.pageSizeList"
						page-action="txnTodoListCtrl.loadData"></scf-pagination>
				</span>
			</div>
		</div>
		
		<!-- Start Table-->
		<div class="row">
			<div class="col-md-12">
				<scf-table id="wait-for-verify-transaction-table"
					class="transaction-table"
					component-config="txnTodoListCtrl.dataTable"
					component-datas="txnTodoListCtrl.pagingController.tableRowCollection"
					current-page="txnTodoListCtrl.pagingController.pagingModel.currentPage"
					record-per-page="txnTodoListCtrl.pagingController.pagingModel.pageSizeSelectModel"
					clear-sort-order="txnTodoListCtrl.pagingController.pagingModel.clearSortOrder"></scf-table>
			</div>
			<div id="fixed-bottom" class="col-md-12"></div>
		</div>
		<input type="hidden" ng-init="txnTodoListCtrl.verify=true"
			sec:authorize="hasAuthority('VERIFY_LOANS_OF_MY_ORGANIZATION')" />
		<input type="hidden" ng-init="txnTodoListCtrl.canViewLoansOfMyOrganize=true"
			sec:authorize="hasAuthority('VIEW_LOANS_OF_MY_ORGANIZATION')" />
	</div>

</div>
