<div class="modal-content">
	<div class="modal-header">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<h2>
					<span id="confirm-approve-header" class="popup-text"
						ng-bind="'Confirm reject ?' | translate"></span>
				</h2>
			</div>
		</div>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<form name="confirmReject" class="form-horizontal">
					<div class="form-group" ng-show="ctrl.reqPass">
						<div class="col-xs-3 control-label"></div>
						<div class="col-xs-8">
							<label ng-bind="'Require Password' | translate"
								class="text-danger control-label"></label>
						</div>
					</div>
					<div class="form-group">
						<label for="username" class="col-xs-3 control-label"><span
							ng-bind="'User name' | translate"></span>:</label>
						<div class="col-xs-8  control-label">
							<span id="user-name-label" ng-bind="ctrl.displayName"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-xs-3 control-label"><span
							ng-bind="'Password' | translate"></span><span class="text-danger">*</span>:</label>
						<div class="col-xs-8">
							<scf-input-password id="password-textbox"
								ng-model="ctrl.transactionApproveModel.credential"
								focus="ctrl.focusOnPassword"></scf-input-password>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12 control-label">
							<span ng-bind="'Reason'"></span>:
						</div>
						<div class="col-xs-12">
							<scf-text-area
								ng-model="ctrl.transactionApproveModel.transaction.rejectReason"
								id="reject-reason-text"> </scf-text-area>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="col-xs-12 text-right">
				<scf-button id="yes-button" class="popup-button"
					ng-click="closeThisDialog();ctrl.reject()"
					ng-bind="'YES' | translate"></scf-button>
				<scf-button id="no-button" class="popup-button" 
					ng-click="closeThisDialog()"
					ng-bind="'NO' | translate"></scf-button>
			</div>
		</div>
	</div>
</div>