<div class="modal-content">
    <div class="modal-header">
        <div class="row text-warning">
            <div class="col-md-2 col-sm-2">
                <i class="icon fa fa-exclamation-triangle" aria-hidden="true"></i>
            </div>
            <div class="col-md-10 col-sm-10">
                <h2>
					<span id="approve-incomplete-header"
						ng-bind="'Approve Transaction incomplete.' | translate">Approve Transaction incomplete.</span>
				</h2>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-10 col-sm-10">
                <label ng-bind="'Transaction No.' | translate"></label>:&nbsp;<span id="incomplete-transaction-no-label" ng-bind="response.attributes.transactionNo"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-10 col-sm-10">
                <label ng-bind="'Reason' | translate"></label>:&nbsp;<span id="incomplete-reason-label" ng-bind="response.errorMessage | translate"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-10 col-sm-10">
                <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><span id="incomplete-info-label" ng-bind="response.attributes.infoMessage | translate"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
		<div class="row">
			<div class="col-xs-12 text-right">
				<scf-button id="incomplete-back-button" class="popup-button" data-dismiss="modal"
					ng-click="closeThisDialog();ctrl.backPage()" ng-bind="'Back' | translate"></scf-button>
				<scf-button id="incomplete-re-check-button" class="popup-button" data-dismiss="modal" ng-show="{{response.attributes.retriable}}"
					ng-click="closeThisDialog();ctrl.retry()">{{'Re-check' | translate}}</scf-button>
				<scf-button id="incomplete-view-recent-button" class="popup-button hidden-sm hidden-xs" data-dismiss="modal" ng-show="{{response.showViewRecentBtn}}"
					ng-click="closeThisDialog();ctrl.viewRecent()" ng-bind="'View recent' | translate"></scf-button>								
				<scf-button id="incomplete-view-history-button" class="popup-button hidden-sm hidden-xs" data-dismiss="modal" ng-show="{{response.showViewHistoryBtn}}"
					ng-click="closeThisDialog();ctrl.viewHistory()" ng-bind="'View history' | translate"></scf-button>
				<scf-button id="incomplete-close-button" class="popup-button hidden-sm hidden-xs" data-dismiss="modal" ng-show="{{response.showCloseBtn}}"
					ng-click="closeThisDialog();ctrl.searchTransactionService()" ng-bind="'Close' | translate"></scf-button>
			</div>
		</div>
	</div>
</div>