<div class="modal-content">
<form name="fillerFieldFormat" class="form-horizontal" ng-submit="ctrl.saveFiller();closeThisDialog(ctrl.model)">
		<div class="modal-header">
			<div class="row">
				<div class="col-md-10 col-sm-10">
					<h3><span id="filler-format-popup-header-message-label" class="popup-text">{{ngDialogData.config.displayFieldName}} field format</span></h3>
				</div>				
			</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					
						<div class="form-group">
							<label for="fillerCharacter" class="col-md-3 col-sm-4 col-xs-12 control-label"><span
									ng-bind="'Filler character' | translate"></span>:</label>
							<div class="col-md-6 col-sm-4 col-xs-12">
								<scf-dropdown id="filler-type-dropdown"
								ng-model="ctrl.fillerType"
								component-data="ctrl.fillerTypeDropdown"
								ng-click="ctrl.changeFiller()">
								</scf-dropdown>								
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3 col-sm-4 col-xs-12 control-label"></div>							
							<div class="col-md-6 col-sm-4 col-xs-12">
								<scf-input-text
								ng-model="ctrl.model.expectedValue"
								id="filler-other-textbox"
								maxlength="255"
								ng-disabled="ctrl.disabledOtherFiller()"></scf-input-text>		
							</div>
						</div>
					
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-12 text-right">
					<scf-button id="filler-format-popup-cancel-button" class="popup-button"
						ng-click="closeThisDialog()"
						ng-bind="'Cancel' | translate"></scf-button>
					<scf-button id="filler-format-popup-ok-button" class="popup-button" 
						type="submit"
						ng-bind="'OK' | translate"></scf-button>
				</div>
			</div>
		</div>
		</form>
	</div>