<div id="content" th:fragment="content">
	<div id="wrapper">
		<div class="panel box-shadow-none content-header">
			<div class="panel-body">
				<div class="col-md-12">
					<h3 id="header-message-label" class="animated fadeInLeft" ng-bind="'Payment result file layout'"></h3>
				</div>
			</div>
		</div>
		<div class="form-element">
			<form name="createForm" class="form-horizontal" ng-submit="ctrl.save()">
				<div class="panel panel-default col-md-12 padding-0">
					<div class="panel-body">
						<div class="form-group">
							<label for="dealer" id="file-type-label" class="col-md-2 col-sm-3 col-xs-12 control-label">{{'File
								type' | translate}}: </label>
							<div class="col-md-3 col-sm-4 col-xs-12">
								<label class="radio-inline"> <scf-radio
										id="fixedLength-file-type-radio" name="file-type-radio"
										ng-value="ctrl.fileType.fixedLength"
										ng-change="ctrl.fileTypeChange()"
										ng-disabled="false" ng-model="ctrl.model.fileType"></scf-radio>
									{{'Fixed length' | translate}}
								</label>
							</div>
						</div>
						<div class="form-group">
							<label for="dealer" class="col-md-2 col-sm-3 col-xs-12 control-label"></label>
							<div class="col-md-1 col-sm-2 col-xs-12">
								<label class="radio-inline"> <scf-radio
										id="delimited-file-type-radio"
										ng-value="ctrl.fileType.delimited"
										ng-change="ctrl.fileTypeChange()"
										ng-disabled="false" name="file-type-radio"
										ng-model="ctrl.model.fileType"></scf-radio> {{'Delimited' |
									translate}}
								</label>
							</div>
							<label for="dealer" id="delimiters-label" class="col-md-1 col-sm-2 col-xs-12 control-label">{{'Delimiter'
								| translate}}: </label>
							<div class="col-md-3 col-sm-3 col-xs-12">
								<scf-dropdown ng-disabled="ctrl.model.fileType != ctrl.fileType.delimited || false" id="delimiters-dropdown" ng-model="ctrl.delimeter"
									ng-change="ctrl.delimeterChange()" component-data="ctrl.delimitersDropdown" translate-label="true"></scf-dropdown>
							</div>
							<div class="col-md-1 col-sm-1 col-xs-12">
								<scf-input-text id="delimiters-textbox" ng-disabled="ctrl.delimeter!='Other' || false" maxlength="1" ng-model="ctrl.delimeterOther"></scf-input-text>
							</div>
							<div class="col-md-3 col-sm-4 col-xs-0"></div>
						</div>
						<div class="form-group">
							<label for="dealer" class="col-md-2 col-sm-3 col-xs-12 control-label"></label>
							<div class="col-md-1 col-sm-2 col-xs-12">
								<label class="radio-inline"> <scf-radio
										id="specific-file-type-radio" name="file-type-radio"
										ng-value="ctrl.fileType.specific"
										ng-change="ctrl.fileTypeChange()"
										ng-disabled="false" ng-model="ctrl.model.fileType"></scf-radio>
									{{'Specific' | translate}}
								</label>
							</div>
							<label for="dealer" id="specific-label" class="col-md-1 col-sm-2 col-xs-12 control-label"></label>
							<div class="col-md-3 col-sm-5 col-xs-12">
								<scf-dropdown ng-disabled="ctrl.model.fileType != ctrl.fileType.specific || false" id="specific-dropdown" ng-model="ctrl.specificModel"
									component-data="ctrl.specificsDropdown" translate-label="true"></scf-dropdown>
							</div>
						</div>
						<div class="form-group">
							<label for="dealer" id="file-encode-label" class="col-md-2 col-sm-3 col-xs-12 control-label">{{'File
								encode' | translate}}: </label>
							<div class="col-md-2 col-sm-3 col-xs-12">
								<scf-dropdown id="file-encode-dropdown" ng-model="ctrl.model.charsetName" component-data="ctrl.fileEncodeDropdown" ng-disabled="false"
									translate-label="true"></scf-dropdown>
							</div>
						</div>
						<div class="form-group">
							<label for="dealer" class="col-md-2 col-sm-3 col-xs-12 control-label" id="row-format-label">{{'Row format' | translate}}: </label>
							<div class="col-md-2 col-sm-3 col-xs-12">
								<label class="checkbox-inline"> <scf-checkbox
                                        id="row-format-header-checkbox" ng-model="ctrl.configHeader"
                                        ng-disabled="ctrl.unauthenConfig()"
                                        ng-click="ctrl.clearHeaderConfig()"></scf-checkbox> <span
                                    ng-bind="'Header' | translate" id="header-label"></span>
                                </label> <br />
								<label class="checkbox-inline"> <scf-checkbox
                                        id="row-format-payment-checkbox"></scf-checkbox> <span
                                    ng-bind="'Payment' | translate" id="payment-label"></span>
                                </label> <br />
								<label class="checkbox-inline"> <scf-checkbox
                                        id="row-format-document-checkbox" ng-checked="true"
                                        ng-disabled="true || false"></scf-checkbox> <span
                                    ng-bind="'Document' | translate" id="document-label"></span>
                                </label> <br />
								<label class="checkbox-inline"> <scf-checkbox
                                        id="row-format-footer-checkbox" ng-model="ctrl.configFooter"
                                        ng-disabled="ctrl.unauthenConfig()"
                                        ng-click="ctrl.clearFooterConfig()"></scf-checkbox> <span
                                    ng-bind="'Footer' | translate" id="footer-label"></span>
                                </label>
							</div>
						</div>

						<div>
							<fieldset>
								<legend id="detail-field-layout-label" ng-bind="'Detail field layout' | translate"></legend>
								<div class="responsive-table">
									<table id="config-item-table" class="table table-striped table-bordered" width="100%" cellspacing="0">
										<thead>
											<tr>
												<th id="no-header-label" ng-bind="'No' | translate">No</th>
												<th id="gecscf-field-name-header-label" ng-bind="'GECSCF field name' | translate">GECSCF field name</th>
												<th id="header-label" ng-bind="'Header label' | translate">Header label</th>
												<th id="length-header-label" ng-bind="'Length' | translate">Length</th>
												<th id="start-index-header-label" ng-bind="'Index'| translate">Index</th>
												<th></th>
											</tr>
										</thead>

										<tbody>
											<tr ng-repeat-start="record in ctrl.items track by $index" ng-class="$even?'tr-odd':'tr-even'">

												<td class="text-right" style="width: 3%"><label id="layout-item-{{$index+1}}-no-label" class="text-right control-label">{{$index+1}}</label></td>

												<td class="text-center" style="width: 15%">
													<scf-dropdown id="gecscf-field-name-{{$index+1}}-dropdown" ng-model="record.documentFieldId" component-data="ctrl.doucmentGECDropdown"
														ng-change="ctrl.isChangeDataType(record)" translate-label="true" convert-to-number="true"></scf-dropdown>
												</td>

												<td class="text-center" style="width: 15%">
													<scf-input-text id="length-{{$index+1}}-textbox" style="text-align:left;" maxlength="25" ng-model="record.dataLength" />
												</td>

												<td class="text-center" style="width: 15%">
													<scf-input-text id="length-{{$index+1}}-textbox" style="text-align: right;" convert-to-number="" ng-model="record.dataLength"
														maxlength="3" />
												</td>
												<td class="text-center" style="width: 15%">
													<scf-input-text id="detail-start-index-{{$index+1}}-textbox" style="text-align: right;" convert-to-number="" ng-model="record.startIndex"
														maxlength="3" />
												</td>
												<td class="text-center" style="width: 16%">
													<scf-button type="button" id="field-setup-{{$index+1}}-button" class="btn-default gec-btn-action" ng-click="ctrl.openSetting($index, record)"
														ng-disabled="!ctrl.manageAll || ctrl.checkDisable(record)"> <i class="fa fa-cog" aria-hidden="true"></i> </scf-button>
													<scf-button type="button" id="delete-{{$index+1}}-button" class="btn-default gec-btn-action" ng-click="ctrl.removeDataItem(ctrl.items,record)">
														<i class="fa fa-trash" aria-hidden="true"></i> </scf-button>
												</td>
											</tr>
											<tr ng-repeat-end="" ng-class="$even?'tr-odd':'tr-even'"></tr>

										</tbody>
									</table>
									<div>
										<button id="add-another-field-detail-button" type="button" class="btn btn-default" ng-click="ctrl.addItem()" ng-bind="'Add another field' | translate">Add
											another field</button>
									</div>
								</div>

							</fieldset>
						</div>
					</div>

					<div class="panel-body">
						<div class="col-md-12 col-sm-12 text-right">
							<scf-button id="layout-cancel-button" class="popup-button" data-dismiss="modal" ng-click="ctrl.backToSponsorConfigPage()"
								ng-bind="'Cancel' | translate"></scf-button>
							<scf-button id="layout-save-button" type="submit" ng-disabled="false">{{'Save' | translate}}
							</scf-button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!--<input type="hidden" ng-init="ctrl.manageAll=true"
		sec:authorize="hasAuthority('MANAGE_ALL_ORGANIZE_FILE_LAYOUTS')" />-->
</div>