<div id="content" th:fragment="content"
	sec:authorize="hasAuthority('VIEW_ALL_PAYMENTS')">

	<div class="app-title">
		<div>
			<h1>
				<i class="fa fa-file-text-o"></i> <span id="header-message-label"
					class="animated fadeInLeft"
					ng-bind="'Payment transaction' | translate"></span>
			</h1>
		</div>
	</div>

	<div class="row" ng-if="ctrl.getUserInfoSuccess">
		<div class="col-md-12">
			<div class="tile">
				<div class="tile-body">
					<div class="col-md-12 text-right filter-container">
						<button type="button" class="btn"
							data-toggle="collapse" data-target="#advance-search">
							<i class="fa fa-fw fa-lg fa-filter"></i>  {{'Filter' | translate}}
						</button>
					</div>
					<div id="advance-search" class="collapse">
						<div class="col-md-12">
							<div
								ng-include="'/payment-transaction/components/criteria-search'"></div>
						</div>
					</div>
					<div
						ng-include="'/payment-transaction/components/list-transaction'"></div>
	
					<div
						ng-if="ctrl.getUserInfoSuccess">
						<div class="panel-body" block-ui="summary-internal-block">
							<div ng-include="'/payment-transaction/components/result-summary'"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>