<div id="content" th:fragment="content"
	sec:authorize="hasAuthority('APPROVE_PAYMENTS_OF_MY_ORGANIZATION')">
	<div class="app-title">
		<div>
			<h1>
				<i class="fa fa-file-text-o"></i> <span id="header-message-label"
					class="animated fadeInLeft">{{ 'Approve payment' |
					translate}}</span>
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="tile">
				<div class="tile-body">
					<!-- Start Column Panel-->
					<div class="col-md-12">
						<b ng-bind="ctrl.contractHeaderMsg | translate"></b>
					</div>

					<div class="col-md-12" block-ui="requestForm">
						<object type="image/jpeg" id="visualizador" width="100%"
							class="request-form"></object>
					</div>

					<div class="col-md-12">
						<label class="checkbox-inline"> <scf-checkbox
								ng-click="ctrl.agreeCondition()" id="confirm-checkbox"></scf-checkbox>
							<span ng-bind="ctrl.agreeConditionMsg | translate"
							id="confirm-agreement-label"></span>
						</label>
					</div>

					<div class="col-md-12 text-right">
						<scf-button id="back-button" class="popup-button"
							ng-bind="'Back' | translate" ng-click="ctrl.backPage()"></scf-button>
						<scf-button id="reject-button" class="popup-button"
							ng-disabled="!ctrl.canReject"
							ng-click="ctrl.confirmRejectPopup()"
							ng-bind="'Reject' | translate"></scf-button>
						<scf-button id="approve-button" ng-disabled="ctrl.disableButton"
							type="submit" ng-click="ctrl.confirmPopup('clear')"
							ng-bind="'Approve' | translate"></scf-button>
					</div>
					<input type="hidden" ng-init="ctrl.canReject=true"
						sec:authorize="hasAuthority('APPROVE_PAYMENTS_OF_MY_ORGANIZATION')" />
				</div>
			</div>
		</div>
	</div>
</div>