<div id="content" th:fragment="content" sec:authorize="hasAuthority('CREATE_PAYMENTS_OF_MY_ORGANIZE')">
    <div id="wrapper">
        <div class="panel box-shadow-none content-header">
            <div class="panel-body">
                <div class="col-md-12">
                    <h3 id="header-message-label" class="animated fadeInLeft" ng-bind="'Create payment' | translate">Create payment</h3>
                </div>
            </div>
        </div>

        <div class="form-element">
            <div class="panel panel-default col-md-12 padding-0">
                <div class="panel-body">
                    <!--<div class="col-md-12" ng-show="ctrl.showErrorMsg">
                        <div class="alert alert-danger" role="alert">
                            <span id="message-alert-label" ng-bind="ctrl.errorMsgGroups | translate"></span>
                        </div>
                    </div>-->
                    <!-- Start Column Panel-->
                    <div class="col-md-12">
                        <form name="createForm" class="form-horizontal">

                            <div class="form-group">
                                <label for="sponsor" id="supplier-label" class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Supplier' | translate}}: </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <scf-dropdown id="supplier-dropdown" ng-change="ctrl.supplierChange()" ng-model="ctrl.criteria.supplierId" component-data="ctrl.suppliers"></scf-dropdown>
                                </div>
                                <div class="col-md-5 col-sm-5"></div>
                            </div>

                            <div class="form-group">
                                <div class="row"></div>
                            </div>

                            <div>
                                <div class="row">
                                    <div class="responsive-table">
                                        <table id="payment-woip-table" class="table table-striped table-bordered" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th ng-bind=""></th>
                                                    <th ng-bind="'No' | translate" id="header-no-label">No</th>
                                                    <th ng-bind="'Description' | translate" id="header-description-label">Description</th>
                                                    <th ng-bind="'Remark' | translate" id="header-remark-label">Remark</th>
                                                    <th ng-bind="'Payment amount' | translate" id="header-payment-amount-label">Payment amount</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat-start="record in ctrl.documentItems track by $index" ng-class="$even?'tr-odd':'tr-even'">
                                                    <td class="text-right" style="width: 3%"></td>
                                                    <td class="text-right" style="width: 3%"><label id="$rowNo-{{$index+1}}-no-label" class="text-right control-label">{{$index+1}}</label></td>
                                                    <td class="text-center" style="width: 30%">
                                                        <scf-input-text id="description-{{$index+1}}-textbox" ng-model="record.optionVarcharField1" maxlength="255" />
                                                    </td>
                                                    <td class="text-center" style="width: 30%">
                                                        <scf-input-text id="remark-{{$index+1}}-textbox" ng-model="record.optionVarcharField2" maxlength="255" />
                                                    </td>
                                                    <td class="text-center" style="width: 20%">
                                                        <scf-input-text id="payment-amount-{{$index+1}}-textbox" ng-model="record.netAmount" maxlength="20" />
                                                    </td>
                                                    <td class="text-center" style="width: 14%">
                                                        <scf-button type="button" id="delete-{{$index+1}}-button" class="btn-default gec-btn-action" ng-click="ctrl.removeDocumentItem(ctrl.documentItems,record)"><i class="fa fa-trash" aria-hidden="true"></i>
                                                        </scf-button>
                                                    </td>
                                                </tr>
                                                <tr ng-repeat-end="" ng-class="$even?'tr-odd':'tr-even'">
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>