<div id="content" th:fragment="content"
	sec:authorize="hasAuthority('CREATE_PAYMENTS_OF_MY_ORGANIZE')">
	<div id="wrapper">
		<div class="panel box-shadow-none content-header">
			<div class="panel-body">
				<div class="col-md-12">
					<h3 id="header-message-label" class="animated fadeInLeft"
						ng-bind="'Payment' | translate">Payment</h3>
				</div>
			</div>
		</div>

		<div class="form-element">

			<div class="panel panel-default col-md-12 padding-0">
				<div class="panel-body">
					<div class="col-md-12" ng-show="ctrl.showErrorMsg">
						<div class="alert alert-danger" role="alert">
							<span id="message-alert-label"
								ng-bind="ctrl.errorMsgGroups | translate"></span>
						</div>
					</div>
					<!-- Start Column Panel-->
					<div class="col-md-12">
						<form name="createForm" class="form-horizontal">
							<div class="form-group">
								<label for="sponsor" id="supplier-label"
									class="col-md-3 col-sm-3 col-xs-12 control-label">{{'Supplier'
									| translate}}: </label>
								<div class="col-md-3 col-sm-3 col-xs-12">
									<scf-dropdown id="supplier-dropdown"
										ng-model="ctrl.criteria.supplierId"
										component-data="ctrl.suppliers"></scf-dropdown>
								</div>
								<div class="col-md-5 col-sm-5"></div>
							</div>
							<div class="form-group">
								<label for="dealer" id="buyer-code-label"
									class="col-md-3 col-sm-3 col-xs-12 control-label">{{'Buyer
									code' | translate}} : </label>

								<div class="col-md-3 col-sm-3 col-xs-12">
									<scf-dropdown id="buyer-code-dropdown"
										ng-model="ctrl.criteria.buyerCode"
										component-data="ctrl.buyerCodes"></scf-dropdown>
								</div>
								<div class="col-md-5 col-sm-5"></div>
							</div>
							<div class="form-group">
								<label id="date-label" class="col-md-2 col-sm-3 control-label">{{'Due
									date' | translate}}:</label>
								<div class="col-md-3 col-sm-4 gec-calendar-group">
									<label id="due-date-from-label" for="due-date-from-textbox"
										class="control-label">{{'from' | translate}}: </label>
									<scf-date-picker-from text-id="due-date-from-textbox"
										button-id="due-date-from-calendar-button"
										text-model="ctrl.criteria.dueDateFrom"
										is-open="ctrl.openDateFrom"
										open-calendar-action="ctrl.openCalendarDateFrom()"
										max-date="ctrl.criteria.dueDateTo"> </scf-date-picker-from>

								</div>
								<div class="col-md-3 col-sm-4 gec-calendar-group">
									<label id="due-date-to-label" for="due-date-to-textbox"
										class="control-label">{{'to' | translate}}: </label>
									<scf-date-picker-to text-id="due-date-to-textbox"
										button-id="due-date-to-calendar-button"
										text-model="ctrl.criteria.dueDateTo" is-open="ctrl.openDateTo"
										open-calendar-action="ctrl.openCalendarDateTo()"
										min-date="ctrl.criteria.dueDateFrom"> </scf-date-picker-to>
								</div>
								<div class="col-md-3 col-sm-3">
									<scf-button id="search-button" class="btn-default"
										ng-click="ctrl.searchDocument()">Search</scf-button>
								</div>
							</div>
						</form>
						<!-- End Payment Field-->
						<div ng-show="ctrl.showInfomation">

						</div>


					</div>
					<!-- End Column Panel-->

				</div>
				
			</div>
		</div>
		
	</div>
	
</div>