<div id="content" th:fragment="content"
	sec:authorize="hasAuthority('CREATE_PAYMENTS_OF_MY_ORGANIZATION')">
	<input type="hidden" ng-init="ctrl.hasPrivilegeEnqAcctBalance=true"
		sec:authorize="hasAuthority('VIEW_ACCOUNTS_OF_MY_ORGANIZATION')" /> <input
		type="hidden" ng-init="ctrl.hasPrivilegeEnqCreditLimit=true"
		sec:authorize="hasAuthority('VIEW_BUYER_CREDIT_INFORMATION_OF_MY_ORGANIZATION')" />


	<div class="app-title">
		<div>
			<h1>
				<i class="fa fa-file-text-o"></i> <span id="header-message-label"
					class="animated fadeInLeft" ng-bind="'Create payment' | translate">Create
					payment</span>
			</h1>
		</div>
	</div>

	<div class="row" ng-if="ctrl.getUserInfoSuccess">
		<div class="col-md-12">
			<div class="tile">
				<div class="tile-body">

					<div class="col-md-12">
						<form name="createForm" class="form-horizontal" autocomplete="off">
							<div class="form-group row">
								<label for="sponsor" id="supplier-label"
									class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Supplier'
									| translate}}: </label>
								<div class="col-md-3 col-sm-3 col-xs-12">
									<scf-dropdown id="supplier-dropdown"
										ng-change="ctrl.supplierChange()"
										ng-model="ctrl.criteria.supplierId"
										component-data="ctrl.suppliers"></scf-dropdown>
								</div>
								<div class="col-md-5 col-sm-5"></div>
							</div>
							<div class="form-group row">
								<div class="row"></div>
							</div>
							<div>
								<div class="row">
									<div class="responsive-table col-md-12">
										<table id="payment-woip-table"
											class="table table-striped table-bordered" width="100%"
											cellspacing="0">
											<thead>
												<tr>
													<th class="text-center" ng-bind="'No' | translate"
														id="no-header-label">No</th>
													<th class="text-center" ng-bind="'Description' | translate"
														id="description-header-label">Description</th>
													<th class="text-center" ng-bind="'Remark' | translate"
														id="remark-header-label">Remark</th>
													<th class="text-center"
														ng-bind="'Payment amount' | translate"
														id="payment-amount-header-label">Payment amount</th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="record in documents track by $index"
													ng-class="$even?'tr-odd':'tr-even'">
													<td class="text-right" style="width: 3%"><label
														id="$rowNo-{{$index+1}}-label"
														class="text-right control-label">{{$index+1}}</label></td>
													<td class="text-center" style="width: 30%"><scf-input-text
															id="description-{{$index+1}}-textbox"
															ng-model="record.optionVarcharField1" maxlength="255" />
													</td>
													<td class="text-center" style="width: 30%"><scf-input-text
															id="remark-{{$index+1}}-textbox"
															ng-model="record.optionVarcharField2" maxlength="255" />
													</td>
													<td class="text-center" style="width: 20%"><scf-input-numeric
															id="payment-amount-{{$index+1}}-textbox"
															ng-model="record.netAmount" maxlength="20" /></td>
													<td class="text-center" style="width: 14%"><scf-button
															type="button" id="delete-{{$index+1}}-button"
															class="btn-sm btn-default gec-btn-action"
															ng-click="ctrl.removeDocumentItem(documents,record)">
														<i class="fa fa-trash" aria-hidden="true"></i> </scf-button></td>
												</tr>
											</tbody>
										</table>
										<div class="form-group" ng-show="ctrl.errorDisplay">
											<span class="col-md-3 col-sm-3 col-xs-12 error-msg"
												id="warning-message-label"
												ng-bind="errors.message | translate"></span>
										</div>
										<div>
											<div class="col-md-12">
												<button id="add-button" type="button"
													class="col-md-1 btn-sm btn btn-default"
													ng-click="ctrl.addItem()" ng-bind="'Add' | translate">Add</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<br />
					<div class="row">
						<!-- 						<div id="bottom-sticker"> -->
						<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
							<div class="form-horizontal">
								<label id="total-payment-amount-label"
									class="col-md-3 col-sm-3 col-lg-2 col-xs-12 control-label">
									<b ng-bind="'Total payment amount' | translate">Total
										payment amount </b>:
								</label> <label
									class="col-md-7 col-sm-8 col-lg-8 col-xs-12 control-label">
									<span id="total-payment-amount-value-label"
									ng-bind="sum(documents) | number: 2">0.00</span>&nbsp; <span
									ng-bind="'THB' | translate"></span>
								</label>
							</div>
							<div class="form-horizontal">
								<label id="buyer-account-label"
									class="col-md-3 col-sm-3 col-lg-2 col-xs-12 control-label">
									<b ng-bind="'Buyer account' | translate">Buyer account</b>:
								</label> <label class="col-md-3 col-sm-3 col-lg-3 col-xs-12"> <scf-dropdown-account
										id="buyer-account-dropdown" ng-change="ctrl.accountChange()"
										ng-model="ctrl.transactionModel.payerAccountId"
										convert-to-number="true" component-data="ctrl.accountDropDown"></scf-dropdown-account>
								</label> <label id="available-label"
									class="col-md-2 col-sm-2 col-lg-2 col-xs-12 control-label">
									<b ng-bind="'Available' | translate">Available</b>:
								</label> <label
									class="col-md-3 col-sm-3 col-lg-3 col-xs-12 control-label">
									<span id="available-value-label"
									ng-bind="ctrl.tradingpartnerInfoModel.supplierAvailableAmount | number: 2">0.00</span>&nbsp;
									<span ng-bind="'THB' | translate"></span>&nbsp; <label
									id="interest-rate-value-label" ng-show="ctrl.isLoanPayment">
										<span>(Int.</span> <span
										ng-bind="ctrl.tradingpartnerInfoModel.interestRate"></span> <span>)</span>
								</label> <scf-button ng-show="ctrl.showEnquiryButton"
										class="btn-sm btn-default gec-btn-action"
										id="enquiry-account-button"
										ng-click="ctrl.enquiryAvailableBalance()" title="Enquiry">
									<i class="fa fa-repeat" aria-hidden="true"></i> </scf-button>
									<div>
										(Updated: <span id="account-updated-time-value-label"
											ng-bind="ctrl.tradingpartnerInfoModel.accountUpdatedTime | date: 'dd/MM/yyyy HH:mm' : 'UTC+0700'"></span>)
									</div>

								</label> <label
									class="col-md-12 col-sm-12 col-lg-12 col-xs-12 control-label"></label>
							</div>
							<div class="form-horizontal">
								<label id="payment-date-label"
									class="col-md-3 col-sm-3 col-lg-2 col-xs-12 control-label">
									<b ng-bind="'Payment date' | translate">Payment date</b>:
								</label> <label class="col-md-3 col-sm-3 col-lg-3 col-xs-12"> <scf-dropdown
										id="payment-date-dropdown" ng-model="ctrl.paymentModel"
										component-data="ctrl.paymentDropDown"
										ng-change="ctrl.paymentDateChange()"></scf-dropdown>
								</label> <label id="maturity-date-label" ng-show="ctrl.isLoanPayment"
									class="hidden-xs hidden-sm hidden-md col-lg-2 control-label">
									<b ng-bind="'Maturity date' | translate">Maturity date</b>:
								</label> <label ng-show="ctrl.isLoanPayment"
									class="hidden-xs hidden-sm hidden-md col-lg-4 control-label"
									style="padding-top: 0px;"> <label
									class="col-sm-6 col-xs-6 col-md-6 col-lg-6"
									style="padding-left: 1px;"> <scf-dropdown
											id="maturity-date-dropdown" ng-model="ctrl.maturityDateModel"
											component-data="ctrl.maturityDateDropDown"></scf-dropdown>
								</label> <label style="padding-top: 5px;" ng-show="ctrl.isLoanPayment">
										<span>(Tenor</span> <span id="tenor-value-label"
										ng-bind="ctrl.tradingpartnerInfoModel.tenor"></span> <span>days)</span>
								</label>
								</label> <label
									class="col-md-12 col-sm-12 col-lg-12 col-xs-12 control-label"></label>
							</div>
							<div class="form-horizontal">
								<label
									class="col-md-3 col-sm-3 col-lg-2 col-xs-12 control-label"></label>
								<label> <span
									class="col-md-3 col-sm-3 col-xs-12 error-msg"
									ng-show="ctrl.accountNotSupportSpecialDirectDebit"
									id="account-no-not-support-special-direct-debit-error-message-label"
									ng-bind="'Account is not support special debit' | translate"></span>
								</label>
							</div>
						</div>
						<div class="form-horizontal" style="padding-left: 15px"
							ng-show="ctrl.isLoanPayment &amp;&amp; ctrl.maturityDateErrorDisplay">
							<label class="col-xs-0 col-sm-0 col-md-0 col-lg-5 control-label"></label>
							<span class="col-xs-5 col-sm-5 col-md-5 col-lg-5 error-msg"
								id="maturity-date-warning-message-label"
								ng-bind="errors.message | translate"></span>
						</div>
						<div class="col-md-12 col-sm-12 text-right">
							<scf-button ng-show="ctrl.showBackButton" id="back-step-button"
								type="submit" ng-click="ctrl.backStep()">{{'Back' |
							translate}}</scf-button>
							<scf-button id="next-button" type="submit"
								ng-click="ctrl.nextStep()">{{'Next' | translate}}</scf-button>
						</div>
					</div>

					<scf-modal visible="validateDataFailPopup">
					<div class="modal-content">
						<div class="modal-header">
							<div class="row">
								<div class="col-md-2 col-sm-2">
									<image width="70" height="70" ng-src="img/error-icon.png"></image>
								</div>
								<div class="col-md-10 col-sm-10" style="color: red;">
									<h2 ng-bind="'Fail' | translate">Fail</h2>
								</div>
							</div>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-2 col-sm-2"></div>
								<div class="col-md-10 col-sm-10 col-xs-12">
									<h3 id="error-message-label" class="gec-pop-up-font-size"
										ng-bind="ctrl.errorMsgPopup | translate"></h3>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="row">
								<div class="col-xs-12 text-right">
									<scf-button id="popup-back-button" class="popup-button"
										data-dismiss="modal" ng-bind="'Back' | translate"></scf-button>
								</div>
							</div>
						</div>
					</div>
					</scf-modal>
				</div>
			</div>
		</div>
	</div>

</div>