<div id="content" th:fragment="content" sec:authorize="hasAuthority('VIEW_PAYMENTS_REFER_TO_MY_ORGANIZE')">
	<div id="wrapper">
		<div class="panel box-shadow-none content-header">
			<div class="panel-body">
				<div class="col-md-12">
					<h3 id="header-message-label" class="animated fadeInLeft" ng-bind="'Payment transaction' | translate">Payment transaction
					</h3>
				</div>
			</div>
		</div>
		<div class="form-element" ng-controller="PaymentTransactionController as ctrl" ng-if="ctrl.getUserInfoSuccess">
			<div class="panel panel-default col-md-12 padding-0">
				<div class="panel-body">
					<div class="col-md-12">
						<div ng-include="'/payment-transaction/components/criteria-search'"></div>
					</div>
					<div class="col-md-12">
						<div ng-include="'/payment-transaction/components/list-transaction'"></div>
					</div>
				</div>

				<div class="panel-body" block-ui="summary-internal-block">
					<div ng-include="'/payment-transaction/components/result-summary'"></div>
				</div>
			</div>
		</div>
	</div>
</div>
