<div id="content" th:fragment="content"
	sec:authorize="hasAnyAuthority('VIEW_ALL_PAYMENTS','VIEW_PAYMENTS_REFER_TO_MY_ORGANIZE','VIEW_PAYMENTS_OF_MY_ORGANIZE')">
	<input type="hidden" ng-init="ctrl.approve=true"
		sec:authorize="hasAuthority('APPROVE_PAYMENTS_OF_MY_ORGANIZE')" />
	<input type="hidden" ng-init="ctrl.verify=true"
		sec:authorize="hasAuthority('VERIFY_PAYMENTS_OF_MY_ORGANIZE')" />
	<input type="hidden" ng-init="ctrl.reject=true"
		sec:authorize="hasAuthority('REJECT_ALL_WAIT_FOR_BANK_PAYMENTS')" />
	<input type="hidden" ng-init="ctrl.canRetry=true"
		sec:authorize="hasAnyAuthority('RECHECK_ALL_REJECT_INCOMPLETE_PAYMENTS', 'RECHECK_ALL_INCOMPLETE_PAYMENTS', 'RECHECK_ONLY_INCOMPLETE_PAYMENTS_OF_MY_ORGANIZE')" />
	<input type="hidden" ng-init="ctrl.canView=true"
		sec:authorize="hasAnyAuthority('VIEW_ALL_PAYMENTS', 'VIEW_PAYMENTS_OF_MY_ORGANIZE', 'VIEW_PAYMENTS_REFER_TO_MY_ORGANIZE')" />
	
	<div id="wrapper">
		<div class="panel box-shadow-none content-header">
			<div class="panel-body">
				<div class="col-md-12">
					<h3 id="header-message-label" class="animated fadeInLeft"
						ng-bind="'Payment transaction' | translate">Payment
						transaction</h3>
				</div>
			</div>
		</div>
		<div class="form-element">
			<div class="panel panel-default col-md-12 padding-0">
				<div class="panel-body">
					<!-- Start Column Panel-->
					<div class="col-md-12">
						<form name="transactionForm" class="form-horizontal">
							<div class="form-group">
								<label id="transaction-date-label"
									class="col-md-2 col-sm-3 control-label">{{'Payment
									date' | translate}}:</label>
								<div class="col-md-3 col-sm-4 gec-calendar-group">
									<label id="transaction-date-from-label"
										for="transaction-date-from-textbox" class="control-label">{{'from'
										| translate}}: </label>
									<scf-date-picker-from text-id="transaction-date-from-textbox"
										button-id="transaction-date-from-calendar-button"
										text-model="ctrl.criteria.dateFrom" date-format="dd/MM/yyyy"
										is-open="ctrl.openDateFrom"
										open-calendar-action="ctrl.openCalendarDateFrom()"
										max-date="ctrl.criteria.dateTo"> </scf-date-picker-from>

								</div>
								<div class="col-md-3 col-sm-4 gec-calendar-group">
									<label id="transaction-date-to-label"
										for="transaction-date-to-textbox" class="control-label">{{'to'
										| translate}}: </label>
									<scf-date-picker-to text-id="transaction-date-to-textbox"
										button-id="transaction-date-to-calendar-button"
										date-format="dd/MM/yyyy" text-model="ctrl.criteria.dateTo"
										is-open="ctrl.openDateTo"
										open-calendar-action="ctrl.openCalendarDateTo()"
										min-date="ctrl.criteria.dateFrom"> </scf-date-picker-to>
								</div>
							</div>
							<div class="form-group"
								ng-show="errors.dueDateToLessThanFrom || errors.dueDateFormat">
								<label class="col-md-2 col-sm-3 col-xs-12  control-label"></label>
								<span class="col-md-6 col-sm-6 col-xs-12 error-msg"
									ng-show="errors.dueDateToLessThanFrom"
									id="due-date-from-to-warning-message-label"
									ng-bind="errors.dueDateToLessThanFrom.message | translate"></span>

								<span class="col-md-6 col-sm-6 col-xs-12 error-msg"
									ng-show="errors.dueDateFormat"
									id="due-date-format-warning-message-label"
									ng-bind="errors.dueDateFormat.message | translate"></span>
							</div>
							<div class="form-group">
								<label for="supplier-auto-suggest" id="supplier-label"
									class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Supplier'
									| translate}}: </label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<gec-auto-suggest id="supplier-auto-suggest"
										model="ctrl.supplierAutoSuggestModel" name="supplier"
										ng-model="ctrl.supplier" maxlength="100"></gec-auto-suggest>
								</div>
								<div class="col-md-3 col-sm-2"></div>
							</div>

							<div class="form-group">
								<label for="buyer-auto-suggest" id="buyer-label"
									class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Buyer'
									| translate}}: </label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<gec-auto-suggest id="buyer-auto-suggest" disable="true"
										model="ctrl.buyerAutoSuggestModel" name="buyer"
										ng-model="ctrl.sponsor" maxlength="100"></gec-auto-suggest>
								</div>
								<div class="col-md-3 col-sm-2"></div>
							</div>

							<div class="form-group">
								<label id="buyer-code-label"
									class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Buyer
									code' | translate}}: </label>
								<div class="col-md-3 col-sm-3 col-xs-12">
									<scf-input-text id="buyer-code-textbox"
										ng-model="ctrl.criteria.supplierCode" maxlength="20"></scf-input-text>
								</div>
								<div class="hidden-lg hidden-md col-sm-12 hidden-xs">
									<br />
								</div>
								<label id="transaction-no-label"
									class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Transaction
									no' | translate}}: </label>
								<div class="col-md-3 col-sm-3 col-xs-12">
									<scf-input-text id="transaction-no-textbox"
										ng-model="ctrl.criteria.transactionNo" maxlength="20"></scf-input-text>
								</div>
							</div>

							<div class="form-group">
								<label id="status-step-label"
									class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Status
									step' | translate}}: </label>
								<div class="col-md-3 col-sm-3 col-xs-12">
									<scf-dropdown id="status-step-dropdown"
										ng-model="ctrl.criteria.statusGroup"
										component-data="ctrl.statusStepDropDown"
										translate-label="true"></scf-dropdown>
								</div>
								<div class="col-md-3 col-sm-3">
									<scf-button id="search-button" type="submit" class="btn-default btn"
										ng-click="ctrl.searchTransaction()">{{'Search' |
									translate}}</scf-button>
								</div>
							</div>
						</form>
						<!-- End Payment Field-->

						<div class="row">
							<div class="col-md-12 col-sm-12 text-right">
								<span> <b ng-bind="ctrl.pagingController.splitePageTxt"
									id="payment-paging-label"></b> &nbsp;&nbsp; <scf-pagination
										dropdown-id="page-limit-dropdown" name="payment-transaction"
										page-size-model="ctrl.pagingController.pagingModel.pageSizeSelectModel"
										total-page="ctrl.pagingController.pagingModel.totalPage"
										current-page="ctrl.pagingController.pagingModel.currentPage"
										page-size-list="ctrl.pagingController.pageSizeList"
										page-action="ctrl.loadData"></scf-pagination>
								</span>
							</div>
						</div>

						<!-- Start Table-->
						<div class="row">
							<div class="col-md-12">
								<scf-table id="payment-transaction-table"
									component-config="ctrl.dataTable"
									component-datas="ctrl.pagingController.tableRowCollection"
									current-page="ctrl.pagingController.pagingModel.currentPage"
									record-per-page="ctrl.pagingController.pagingModel.pageSizeSelectModel"
									clear-sort-order="ctrl.pagingController.pagingModel.clearSortOrder"></scf-table>
							</div>
							<div id="fixed-bottom" class="col-md-12"></div>
						</div>
						<!-- End Column Panel-->
					</div>
				</div>

				<div class="panel-body" block-ui="summary-internal-block">
					<!--sec:authorize="hasAnyAuthority('VIEW_LOANS_REFER_TO_MY_ORGANIZE','VIEW_LOANS_OF_MY_ORGANIZE')"-->

					<div class="row">
						<div id="bottom-sticker">
							<div class="col-md-12 col-sm-12">
								<div class="form-horizontal">
									<span class="col-md-2 col-sm-3" id="internal-step-label"><b>{{'Internal
											step' | translate}}</b>:</span>
									<div class="col-md-2 col-sm-3">
										<span id="wait-for-verify-label"
											ng-bind="'wait_for_verify' | translate">list-transaction-wait-for-verify</span>
									</div>
									<div class="col-md-1 col-sm-2 text-right">
										<span id="wait-for-verify-record-label"
											ng-bind="ctrl.summaryStatusGroup.wait_for_verify.totalRecord"></span>&nbsp;<span
											ng-bind="'records' | translate"></span>
									</div>
									<div class="col-md-2 col-sm-2 text-right">
										<span id="wait-for-verify-amount-label"
											ng-bind="ctrl.summaryStatusGroup.wait_for_verify.totalAmount | number: 2"></span>&nbsp;<span
											ng-bind="'THB' | translate"></span>
									</div>
									<div class="col-md-4 col-sm-1"></div>
								</div>
							</div>

							<div class="col-md-12 col-sm-12">
								<div class="form-horizontal">
									<label class="col-md-2 col-sm-3"></label>
									<div class="col-md-2 col-sm-3">
										<span id="wait-for-approve-label"
											ng-bind="'wait_for_approve' | translate">list-transaction-wait-for-approve</span>
									</div>
									<div class="col-md-1 col-sm-2 text-right">
										<span id="wait-for-approve-record-label"
											ng-bind="ctrl.summaryStatusGroup.wait_for_approve.totalRecord"></span>&nbsp;<span
											ng-bind="'records' | translate"></span>
									</div>
									<div class="col-md-2 col-sm-2 text-right">
										<span id="wait-for-approve-amount-label"
											ng-bind="ctrl.summaryStatusGroup.wait_for_approve.totalAmount | number: 2"></span>&nbsp;<span
											ng-bind="'THB' | translate"></span>
									</div>
									<div class="col-md-4 col-sm-1"></div>
								</div>
							</div>

							<div class="col-md-12 col-sm-12">
								<div class="form-horizontal">
									<label class="col-md-2 col-sm-3"></label>
									<div class="col-md-2 col-sm-3">
										<span id="reject-by-checker-label"
											ng-bind="'reject_by_checker' | translate">Reject by
											Checker</span>
									</div>
									<div class="col-md-1 col-sm-2 text-right">
										<span id="reject-by-checker-record-label"
											ng-bind="ctrl.summaryStatusGroup.reject_by_checker.totalRecord"></span>&nbsp;<span
											ng-bind="'records' | translate"></span>
									</div>
									<div class="col-md-2 col-sm-2 text-right">
										<span id="reject-by-checker-amount-label"
											ng-bind="ctrl.summaryStatusGroup.reject_by_checker.totalAmount | number: 2"></span>&nbsp;<span
											ng-bind="'THB' | translate"></span>
									</div>
									<div class="col-md-4 col-sm-1"></div>
								</div>
							</div>

							<div class="col-md-12 col-sm-12">
								<div class="form-horizontal">
									<label class="col-md-2 col-sm-3"></label>
									<div class="col-md-2 col-sm-3">
										<span id="reject-by-approver-label"
											ng-bind="'reject_by_approver'  | translate">Reject by
											Approver</span>
									</div>
									<div class="col-md-1 col-sm-2 text-right">
										<span id="reject-by-approver-record-label"
											ng-bind="ctrl.summaryStatusGroup.reject_by_approver.totalRecord"></span>&nbsp;<span
											ng-bind="'records' | translate"></span>
									</div>
									<div class="col-md-2 col-sm-2 text-right">
										<span id="reject-by-approver-amount-label"
											ng-bind="ctrl.summaryStatusGroup.reject_by_approver.totalAmount | number: 2"></span>&nbsp;<span
											ng-bind="'THB' | translate"></span>
									</div>
									<div class="col-md-4 col-sm-1"></div>
								</div>
							</div>

							<div class="col-md-12 col-sm-12">
								<div class="form-horizontal">
									<label class="col-md-2 col-sm-3"></label>
									<div class="col-md-2 col-sm-3">
										<span id="cancel-by-buyer-label">Cancel by buyer</span>
									</div>
									<div class="col-md-1 col-sm-2 text-right">
										<span id="cancel-by-buyer-record-label"
											ng-bind="ctrl.summaryStatusGroup.cancel_by_buyer.totalRecord"></span>&nbsp;<span
											ng-bind="'records' | translate"></span>
									</div>
									<div class="col-md-2 col-sm-2 text-right">
										<span id="cancel-by-buyer-amount-label"
											ng-bind="ctrl.summaryStatusGroup.cancel_by_buyer.totalAmount | number: 2"></span>&nbsp;<span
											ng-bind="'THB' | translate"></span>
									</div>
									<div class="col-md-4 col-sm-1"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>