<div id="content" th:fragment="content">

	<div class="app-title">
		<div>
			<h1>
				<i class="fa fa-file-text-o"></i> <span id="header-message-label"
					class="animated fadeInLeft"
					ng-bind="'Validate and Submit' | translate">Validate and
					Submit</span>
			</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="tile">
				<div class="tile-body">

					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="row">
							<label id="supplier-label"
								class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Supplier'
								| translate}}: </label> <label class="col-md-8 col-sm-7 col-xs-12">
								<span id="supplier-value-label"
								ng-bind="ctrl.transactionModel.supplierName"></span>
							</label>
						</div>
						<div>
							<ng-include ng-show="ctrl.isCreateTransWithInvoice"
								src="'/payment/validate-submit-with-invoice'" ng-if="true"></ng-include>
							<ng-include ng-show="!ctrl.isCreateTransWithInvoice"
								src="'/payment/validate-submit-without-invoice'" ng-if="true"></ng-include>
						</div>
					</div>

					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="row">
							<label><b
								class="gec-pop-up-font-size col-md-3 col-sm-3 col-xs-12 control-label"
								id="total-payment-amount-label">{{'Total payment amount' |
									translate}}: </b> </label> <label class="col-sm-3 col-md-3 col-xs-12">
								<span id="total-payment-amount-value-label"
								ng-bind="ctrl.transactionModel.transactionAmount | number: 2">0.00</span>&nbsp;
								<span ng-bind="'THB' | translate"></span>
							</label> <label
								class="gec-pop-up-font-size col-md-2 col-sm-2 col-xs-12 control-label">&nbsp;</label>
							<label class="col-md-3 col-sm-3 col-xs-12"><label>&nbsp;</label></label>
						</div>
						<div class="row">
							<label><b
								class="gec-pop-up-font-size col-md-3 col-sm-3 col-xs-12 control-label"
								id="buyer-account-label">{{'Buyer account' | translate}}: </b></label> <label
								class="col-md-3 col-sm-3 col-xs-12"> <span
								id="buyer-account-value-label"
								ng-bind="ctrl.transactionModel.payerAccountNo"></span>
							</label> <label
								class="gec-pop-up-font-size col-md-2 col-sm-2 col-xs-12 control-label"><b
								id="available-label">{{'Available' | translate}}: </b></label> <label
								class="col-md-3 col-sm-3 col-xs-12"> <span
								id="available-value-label"
								ng-bind="ctrl.tradingpartnerInfoModel.supplierAvailableAmount | number:2"></span>&nbsp;
								<span ng-bind="'THB' | translate"></span>&nbsp; <label
								ng-show="ctrl.isLoanPayment"> <span>(Int.</span> <span
									id="interest-rate-value-label"
									ng-bind="ctrl.tradingpartnerInfoModel.interestRate"></span> <span>)</span>
							</label>
							</label>
						</div>
						<div class="row">
							<label> <b id="payment-date-label"
								class="gec-pop-up-font-size col-md-3 col-sm-3 col-xs-12 control-label">{{'Payment
									date' | translate}}: </b></label> <label
								class="col-sm-3 col-md-3 col-xs-12"> <span
								id="payment-date-value-label"
								ng-bind="ctrl.transactionModel.transactionDate |  date: 'dd/MM/yyyy' : 'UTC+0700'"></span>
							</label> <label id="maturity-date-label" ng-show="ctrl.isLoanPayment"
								class="col-md-2 col-sm-2 col-lg-2 col-xs-12 control-label"><b
								ng-bind="'Maturity date' | translate">Maturity date</b>:</label> <label
								ng-show="ctrl.isLoanPayment"
								class="col-md-3 col-sm-3 col-lg-3 col-xs-12 control-label">
								<span id="maturity-date-value-label"
								ng-bind="ctrl.transactionModel.maturityDate |  date: 'dd/MM/yyyy' : 'UTC+0700'"></span>

								<label ng-show="ctrl.isLoanPayment"> <span>(Tenor</span>
									<span id="tenor-value-label"
									ng-bind="ctrl.tradingpartnerInfoModel.tenor"></span> <span>days)</span>
							</label>
							</label>
						</div>
					</div>
					<div class="col-md-12 text-right">
						<scf-button id="back-button" class="btn btn-default" type="submit"
							ng-click="ctrl.backToCreate()">{{'Back' |
						translate}}</scf-button>
						<scf-button id="submit-button" class="btn btn-default"
							type="submit" ng-click="ctrl.submitTransaction()">{{'Submit'
						| translate}}</scf-button>
					</div>

					<scf-modal visible="validateDataPopup">
					<div class="modal-content">
						<div class="modal-header">
							<div class="row">
								<div class="col-md-2 col-sm-2">
									<image width="70" height="70" ng-src="img/success-icon.png"></image>
								</div>
								<div class="col-md-10 col-sm-10">
									<h2>
										<span class="gec-pop-up-font-size-green"
											id="success-header-message-label"
											ng-bind="'Add new transaction success.' | translate">Add
											new transaction success.</span>
									</h2>
								</div>
							</div>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-2 col-sm-2"></div>
								<div class="col-md-10 col-sm-10 col-xs-12">
									<h2 id="transaction-no">
										<b class="gec-pop-up-font-size"
											ng-bind="'Transaction No.' | translate">Transaction No.</b> <span
											class="gec-pop-up-font-size">:</span> <span
											class="gec-pop-up-font-size" ng-bind="ctrl.transactionNo"
											id="transaction-no-label"></span>
									</h2>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="row">
								<div class="col-md-12 col-xs-12 text-right">
									<scf-button type="submit" data-dismiss="modal" id="home-button"
										ng-click="ctrl.homeAction()" ng-bind="'Home' | translate"></scf-button>
									<scf-button type="submit" data-dismiss="modal"
										id="create-new-button" ng-click="ctrl.createNewAction()"
										ng-bind="'Create new' | translate"></scf-button>
									<scf-button type="submit" data-dismiss="modal"
										id="view-recent-button" ng-click="ctrl.viewRecent()"
										ng-bind="'View recent' | translate"></scf-button>
									<scf-button type="submit" data-dismiss="modal"
										id="view-history-button" ng-click="ctrl.viewHistory()"
										ng-bind="'View history' | translate"></scf-button>
								</div>
							</div>
						</div>
					</div>
					</scf-modal>

					<scf-modal visible="submitFailPopup">
					<div class="modal-content">
						<div class="modal-header">
							<div class="row">
								<div class="col-md-2 col-sm-2">
									<image width="70" height="70" ng-src="img/error-icon.png"></image>
								</div>
								<div class="col-md-10 col-sm-10" style="color: red;">
									<h2 ng-bind="'Add new transaction fail.' | translate">Add
										new transaction fail.</h2>
								</div>
							</div>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-2 col-sm-2"></div>
								<div class="col-md-10 col-sm-10 col-xs-12">
									<h3 id="error-message-label" class="gec-pop-up-font-size"
										ng-bind="ctrl.errorMsgPopup | translate"></h3>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="row">
								<div class="col-xs-12 text-right">
									<scf-button id="back-button" class="popup-button"
										data-dismiss="modal" ng-click="ctrl.backToCreate()"
										ng-bind="'Back' | translate"></scf-button>
								</div>
							</div>
						</div>
					</div>
					</scf-modal>
				</div>
			</div>
		</div>
	</div>

</div>