<div id="content" th:fragment="content">
    <div class="panel box-shadow-none content-header">
		<div class="panel-body">
			<div class="col-md-12">
				<h3 id="header-message-label" class="animated fadeInLeft">{{
					'View payment transaction' | translate}}</h3>
			</div>
		</div>
	</div>       

    <div class="form-element">            
        <div class="panel panel-default col-md-12 padding-0">
            <div class="panel-body" style="padding-bottom: 30px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            <label id="supplier-label" class="col-md-3 col-sm-3 col-xs-12 control-label">{{'Supplier' | translate}}: </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <span id="supplier-value-label" ng-bind="ctrl.transactionModel.supplier"></span>
                            </div>

                            <label id="buyer-label" class="col-md-2 col-sm-2 col-xs-12 control-label">{{'Buyer' | translate}}: </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <span id="buyer-value-label" ng-bind="ctrl.transactionModel.sponsor"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label id="payment-documents-label" class="col-md-3 col-sm-3 col-xs-12 control-label">{{'Payment documents' | translate}}: </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <span id="payment-documents-label" ng-bind="ctrl.transactionModel.documents.length"></span>
                            </div>

                            <label id="transaction-type-label" class="col-md-2 col-sm-2 col-xs-12 control-label">{{'Transaction type' | translate}}: </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <span id="transaction-type-value-label" ng-bind="ctrl.transactionModel.transactionType"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label id="payment-amount-label" class="col-md-3 col-sm-3 col-xs-12 control-label">{{'Payment amount (THB)' | translate}}: </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <span id="payment-amount-label" ng-bind="ctrl.transactionModel.transactionAmount"></span>
                            </div>

                            <label id="payment-date-label" class="col-md-2 col-sm-2 col-xs-12 control-label">{{'Payment date' | translate}}: </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <span id="payment-date-value-label" ng-bind="ctrl.transactionModel.transactionDate | date: 'dd/MM/yyyy HH:mm': 'UTC+0700'"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label id="create-by-label" class="col-md-3 col-sm-3 col-xs-12 control-label">{{'Create by' | translate}}: </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <span id="create-by-label" ng-bind="ctrl.transactionModel.createdBy"></span>
                            </div>

                            <label id="create-date-label" class="col-md-2 col-sm-2 col-xs-12 control-label">{{'Create date' | translate}}: </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <span id="create-date-value-label" ng-bind="ctrl.transactionModel.createdTime | date: 'dd/MM/yyyy HH:mm': 'UTC+0700'"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label id="verify-by-label" class="col-md-3 col-sm-3 col-xs-12 control-label">{{'Verify by' | translate}}: </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <span id="verify-by-label" ng-bind="ctrl.transactionModel.verifiedBy"></span>
                            </div>

                            <label id="verify-date-label" class="col-md-2 col-sm-2 col-xs-12 control-label">{{'Verify date' | translate}}: </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <span id="verify-date-value-label" ng-bind="ctrl.transactionModel.verifiedTime | date: 'dd/MM/yyyy HH:mm': 'UTC+0700'"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label id="approve-by-label" class="col-md-3 col-sm-3 col-xs-12 control-label">{{'Approve by' | translate}}: </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <span id="approve-by-label" ng-bind="ctrl.transactionModel.approvedBy"></span>
                            </div>

                            <label id="approve-date-label" class="col-md-2 col-sm-2 col-xs-12 control-label">{{'Approve date' | translate}}: </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <span id="approve-date-value-label" ng-bind="ctrl.transactionModel.approvedTime | date: 'dd/MM/yyyy HH:mm': 'UTC+0700'"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label id="status-label" class="col-md-3 col-sm-3 col-xs-12 control-label">{{'Status' | translate}}: </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <span id="status-value-label" ng-bind="ctrl.transactionModel.statusCode"></span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <label id="reason-label" class="col-md-3 col-sm-3 col-xs-12 control-label">{{'Reason' | translate}}: </label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <span id="reason-value-label" ng-bind="ctrl.transactionModel.rejectReason"></span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 text-right">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <span> <b
                                            ng-bind="ctrl.pagingController.splitePageTxt"
                                            id="view-payment-paging-label"></b> &nbsp;&nbsp; <scf-pagination
                                                dropdown-id="page-limit-dropdown" name="view-payment"
                                                page-size-model="ctrl.pagingController.pagingModel.pageSizeSelectModel"
                                                total-page="ctrl.pagingController.pagingModel.totalPage"
                                                current-page="ctrl.pagingController.pagingModel.currentPage"
                                                page-size-list="ctrl.pagingController.pageSizeList"
                                                page-action="ctrl.searchDocument"></scf-pagination>
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <scf-table id="view-payment-table"
                                    component-config="ctrl.dataTable"
                                    component-datas="ctrl.pagingController.tableRowCollection"
                                    current-page="ctrl.pagingController.pagingModel.currentPage"
                                    record-per-page="ctrl.pagingController.pagingModel.pageSizeSelectModel"
                                    clear-sort-order="ctrl.pagingController.pagingModel.clearSortOrder"></scf-table>
                            </div>
                            <div id="fixed-bottom" class="col-md-12"></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel-body">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="row">
                            <label id="total-of-records-label" class="col-sm-2 col-md-2 col-xs-12 control-label">{{'Total of Record(s)' | translate}}: </label>

                            <div class="col-sm-2 col-md-2 col-xs-12">
                                <span id="total-of-records-value-label" ng-bind="ctrl.transactionModel.documents.length"></span>&nbsp;
                                <span ng-bind="'Records' | translate"></span>
                            </div>

                            <div class="col-md-4 col-sm-4 col-hidden-xs">&nbsp;</div>
                        </div>
                        
                    </div>
                </div>

                <div class="col-md-12 text-right">
                    <scf-button id="back-button" class="btn btn-default" type="submit" ng-click="ctrl.back()">{{'Back' | translate}}</scf-button>
                </div>
            </div>

        </div>
    </div>
</div>