<div th:fragment="content">
	<div class="row">
		<div class="col-md-12 col-sm-12 text-right">
			<label></label>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 text-center">
			<div class="row">
				<div class="responsive-table">
					<table id="view-payment-woip-table"
						class="table table-hover table-bordered table-striped" width="100%"
						cellspacing="0">
						<thead>
							<tr>
								<th ng-bind="'No' | translate" id="no-header-label">No</th>
								<th ng-bind="'Description' | translate"
									id="description-header-label">Description</th>
								<th ng-bind="'Remark' | translate" id="remark-header-label">Remark</th>
								<th ng-bind="'Payment amount' | translate"
									id="payment-amount-header-label">Payment amount</th>
							</tr>
						</thead>
						<tbody>
							<tr
								ng-repeat="record in ctrl.transactionModel.documents track by $index">
								<td class="text-right" style="width: 3%"><label
									id="$rowNo-{{$index+1}}-no-label"
									class="text-right control-label">{{$index+1}}</label></td>
								<td class="text-center" style="width: 30%"><span
									id="description-{{$index+1}}-label"
									ng-bind="record.optionVarcharField1"></span></td>
								<td class="text-center" style="width: 40%"><span
									id="remark-{{$index+1}}-label"
									ng-bind="record.optionVarcharField2"></span></td>
								<td class="text-right" style="width: 20%"><span
									id="payment-amount-{{$index+1}}-label"
									ng-bind="record.netAmount | number:2"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>