<div id="content" th:fragment="content">
	<div class="app-title">
		<div ng-if="!ctrl.isAdjustStatus">
			<h1>
				<i class="fa fa-file-text-o"></i> <span id="header-message-label"
					class="animated fadeInLeft">{{ 'View payment transaction' | translate}}</span>
			</h1>
			<p></p>
		</div>
		<div ng-if="ctrl.isAdjustStatus">
			<h1>
				<i class="fa fa-file-text-o"></i> <span id="header-message-label"
					class="animated fadeInLeft">{{ 'Adjust payment transaction' | translate}}</span>
			</h1>
			<p></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="tile">
				<div class="tile-body">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="row">
							<div class="col-md-1 col-sm-1">
								<label id="sponsor-label" ng-show="{{ctrl.isBuyer || ctrl.isBank}}">{{'Supplier' |
									translate}}:</label> <label id="supplier-label" ng-show="{{ctrl.isSupplier}}">{{'Buyer' | translate}}:</label>
							</div>
							<div class="col-md-11 col-sm-11 text-left">
								<span id="supplier-value-label" ng-bind="ctrl.transactionModel.supplier" ng-show="{{ctrl.isBuyer || ctrl.isBank}}"></span>							<span id="ctrl.isSupplier?'buyer-value-label':'buyer-value-label-ignore'}}" ng-bind="ctrl.transactionModel.sponsor"
									ng-show="{{ctrl.isSupplier}}"></span>
							</div>
						</div>
						<div class="row" ng-show="{{ctrl.isBank}}">
							<label id="buyer-label" class="col-md-1 col-sm-1 control-label">{{'Buyer'
								| translate}}: </label>
							<div class="col-md-11 col-sm-11 text-left">
								<span id="buyer-value-label" ng-bind="ctrl.transactionModel.sponsor"></span>
							</div>
						</div>
	
						<div class="row" style="padding-bottom: 15px;"></div>
	
						<div class="row">
							<div class="col-md-2 col-sm-2">
								<label id="transaction-no-label">{{'Transaction no'
									|translate}}:</label>
							</div>
							<div class="col-md-3 col-sm-3 text-right">
								<label id="transaction-no-value-label">{{ctrl.transactionModel.transactionNo}}</label>
							</div>
							<div class="col-md-1 col-sm-1"></div>
							<div class="col-md-3 col-sm-3">
								<label id="transaction-type-label">{{'Transaction type' |
									translate}}:</label>
							</div>
							<div class="col-md-3 col-sm-3">
								<span id="transaction-type-value-label" ng-bind="ctrl.displayTransactionType | translate"></span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-3">
								<label id="payment-documents-label">{{'Payment documents'
									| translate}}:</label>
							</div>
							<div class="col-md-2 col-sm-2 text-right">
								<span id="payment-documents-label" ng-bind="ctrl.transactionModel.documents.length"></span>
							</div>
							<div class="col-md-1 col-sm-1"></div>
							<div class="col-md-3 col-sm-3">
								<label id="buyer-account-label">{{'Buyer account'
									| translate}}:</label>
							</div>
							<div class="col-md-2 col-sm-2">
								<span id="payment-documents-label" ng-bind="ctrl.accountNo"></span>
							</div>
							<div class="col-md-1 col-sm-1"></div>
							
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-3">
								<label id="payment-amount-label">{{'Payment amount' |
									translate}}:</label>
							</div>
							<div class="col-md-2 col-sm-2 text-right">
								<span id="payment-amount-value-label" ng-bind="ctrl.transactionModel.transactionAmount | number: 2"></span>
							</div>
							<div class="col-md-1 col-sm-1">
								<span id="payment-amount-thb-label" ng-bind="'THB' | translate"></span>
							</div>
							<div class="col-md-3 col-sm-3">
								<label id="interest-label" ng-show="ctrl.isTypeLoan || ctrl.accountType == 'OVERDRAFT'">{{'Interest'
									| translate}}:</label>
							</div>
							<div class="col-md-2 col-sm-2">
								<span id="interest-value-label" ng-show="ctrl.isTypeLoan || ctrl.accountType == 'OVERDRAFT'" ng-bind="(ctrl.transactionModel.interestAmount||0)| number:2"></span>
							</div>
							<div class="col-md-1 col-sm-1">
								<span id="interest-thb-label" ng-show="ctrl.isTypeLoan || ctrl.accountType == 'OVERDRAFT'" ng-bind="'THB' | translate"></span>
							</div>
							
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-3">
								<label id="payment-date-label">{{'Payment date' |
									translate}}:</label>
							</div>
							<div class="col-md-2 col-sm-2 text-right">
								<span id="payment-date-value-label" ng-bind="ctrl.transactionModel.transactionDate | date: 'dd/MM/yyyy': 'UTC+0700'"></span>
							</div>
							<div class="col-md-1 col-sm-1"></div>
							<div class="col-md-3 col-sm-3">
								<label id="fee-label" ng-show="ctrl.isTypeLoan || ctrl.accountType == 'OVERDRAFT'">{{'Fee' |
									translate}}:</label>
							</div>
							<div class="col-md-2 col-sm-2">
								<span id="fee-value-label" ng-show="ctrl.isTypeLoan || ctrl.accountType == 'OVERDRAFT'" ng-bind="(ctrl.transactionModel.repaymentFee||0) | number:2"></span>
							</div>
							<div class="col-md-1 col-sm-1">
								<span id="fee-thb-label" ng-show="ctrl.isTypeLoan || ctrl.accountType == 'OVERDRAFT'" ng-bind="'THB' | translate"></span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-3">
								<label id="loan-maturity-label" ng-show="ctrl.accountType == 'LOAN'">{{'Loan
									maturity date' | translate}}:</label>
							</div>
							<div class="col-md-2 col-sm-2 text-right">
								<span id="loan-maturity-value-label" ng-show="ctrl.accountType == 'LOAN'" ng-bind="ctrl.transactionModel.maturityDate | date: 'dd/MM/yyyy' : 'UTC+0700'"></span>
							</div>
							<div class="col-md-1 col-sm-1"></div>
							<div class="col-md-3 col-sm-3">
							</div>
							<div class="col-md-2 col-sm-2">
							</div>
							<div class="col-md-1 col-sm-1"></div>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-3">
								<label id="create-by-label">{{'Create by' | translate}}:</label>
							</div>
							<div class="col-md-2 col-sm-2 text-right">
								<span id="create-by-value-label" ng-bind="ctrl.transactionModel.createdBy"></span>
							</div>
							<div class="col-md-1 col-sm-1"></div>
							<div class="col-md-3 col-sm-3">
								<label id="create-date-label">{{'Create date' |
									translate}}:</label>
							</div>
							<div class="col-md-2 col-sm-2">
								<span id="create-date-value-label" ng-bind="ctrl.transactionModel.createdTime | date: 'dd/MM/yyyy HH:mm': 'UTC+0700'"></span>
							</div>
							<div class="col-md-1 col-sm-1"></div>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-3">
								<label id="verify-by-label">{{'Verify by' | translate}}:</label>
							</div>
							<div class="col-md-2 col-sm-2 text-right">
								<span id="verify-by-value-label" ng-bind="ctrl.transactionModel.verifiedBy"></span>
							</div>
							<div class="col-md-1 col-sm-1"></div>
							<div class="col-md-3 col-sm-3">
								<label id="verify-by-label">{{'Verify date' |
									translate}}:</label>
							</div>
							<div class="col-md-2 col-sm-2">
								<span id="verify-date-value-label" ng-bind="ctrl.transactionModel.verifiedTime | date: 'dd/MM/yyyy HH:mm': 'UTC+0700'"></span>
							</div>
							<div class="col-md-1 col-sm-1"></div>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-3">
								<label id="verify-by-label">{{'Approve by' | translate}}:</label>
							</div>
							<div class="col-md-2 col-sm-2 text-right">
								<span id="approve-by-value-label" ng-bind="ctrl.transactionModel.approvedBy"></span>
							</div>
							<div class="col-md-1 col-sm-1"></div>
							<div class="col-md-3 col-sm-3">
								<label id="approve-date-label">{{'Approve date' |
									translate}}:</label>
							</div>
							<div class="col-md-2 col-sm-2">
								<span id="approve-date-value-label" ng-bind="ctrl.transactionModel.approvedTime | date: 'dd/MM/yyyy HH:mm': 'UTC+0700'"></span>
							</div>
							<div class="col-md-1 col-sm-1"></div>
						</div>
						<div class="row" ng-show="ctrl.transactionModel.adjustRemark != null">
							<div class="col-md-3 col-sm-3">
								<label id="adjust-by-label">{{'Adjust by' | translate}}:</label>
							</div>
							<div class="col-md-2 col-sm-2 text-right">
								<span id="adjust-by-value-label" ng-bind="ctrl.transactionModel.lastmodifyBy"></span>
							</div>
							<div class="col-md-1 col-sm-1"></div>
							<div class="col-md-3 col-sm-3">
								<label id="adjust-date-label">{{'Adjust date' |
									translate}}:</label>
							</div>
							<div class="col-md-2 col-sm-2">
								<span id="adjust-date-value-label" ng-bind="ctrl.transactionModel.lastmodifyDate | date: 'dd/MM/yyyy HH:mm': 'UTC+0700'"></span>
							</div>
							<div class="col-md-1 col-sm-1"></div>
						</div>
	
						<div class="row" style="padding-bottom: 15px;"></div>
	
						<div class="row">
							<label id="status-label" class="col-md-1 col-sm-1">{{'Status'
								| translate}}: </label>
							<div class="col-md-11 col-sm-11 text-left">
								<span id="status-value-label"> <span
									ng-bind="ctrl.transactionModel.statusCode | translate"></span>
								</span>
							</div>
						</div>
						<div class="row">
							<label id="reason-label" class="col-md-1 col-sm-1">{{'Reason'
								| translate}}: </label>
							<div class="col-md-11 col-sm-11 text-left">
								<span id="reason-value-label" style="color: red" 
									ng-bind="ctrl.transactionModel.rejectReason"></span>
							</div>
	
						</div>
						<div class="row"  ng-show="ctrl.transactionModel.adjustRemark != null">
							<label id="reason-label" class="col-md-2 col-sm-2">{{'Adjust Remark'
								| translate}}: </label>
							<div class="col-md-10 col-sm-10 text-left">
								<span id="adjust-remark-value-label" 
									ng-bind="ctrl.transactionModel.adjustRemark"></span>
							</div>
						</div>
						
						<div>
							<ng-include ng-show="ctrl.isCreateTransWithInvoice" src="'/payment-transaction/with-invoice/view'" ng-if="true"></ng-include>
							<ng-include ng-show="!ctrl.isCreateTransWithInvoice" src="'/payment-transaction/without-invoice/view'" ng-if="true"></ng-include>
						</div>
					</div>
					<br/>
					<div class="col-md-12 col-sm-12 text-right">
						<scf-button id="back-button" class="btn btn-default" type="submit"
							ng-click="ctrl.back()" ng-show="ctrl.isShowBackButton">{{'Back'
						| translate}}</scf-button>
						<scf-button id="view-history-button" class="btn btn-default"
							ng-click="ctrl.viewHistory()" type="submit"
							ng-show="ctrl.isShowViewHistoryButton">{{'View
						History' | translate}}</scf-button>
						<scf-button id="fail-to-pay-button" class="btn btn-default"
							type="submit" ng-click="ctrl.failToPay()"
							ng-if="ctrl.isAdjustStatus">{{ 'Fail to
						pay' | translate}}</scf-button>
						<scf-button id="payment-success-button" class="btn btn-default"
							type="submit" ng-click="ctrl.paymentSuccess()"
							ng-if="ctrl.isAdjustStatus">{{ 'Payment
						success' | translate}}</scf-button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>