<div th:fragment="content">
	<div class="row">
		<div class="col-md-12">
			<scf-layout-table id="view-payment-table"
				component-config="ctrl.dataTable"
				component-datas="ctrl.pagingController.tableRowCollection"
				current-page="ctrl.pagingController.pagingModel.currentPage"
				record-per-page="ctrl.pagingController.pagingModel.pageSizeSelectModel"
				clear-sort-order="ctrl.pagingController.pagingModel.clearSortOrder"></scf-layout-table>
		</div>
		<div id="fixed-bottom" class="col-md-12"></div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 text-right">
			<div class="row">
				<div class="col-md-12 col-sm-12 filter-container">
					<span> <b ng-bind="ctrl.pagingController.splitePageTxt"
						id="view-payment-paging-label"></b> &nbsp;&nbsp; <scf-pagination
							dropdown-id="page-limit-dropdown" name="view-payment"
							page-size-model="ctrl.pagingController.pagingModel.pageSizeSelectModel"
							total-page="ctrl.pagingController.pagingModel.totalPage"
							current-page="ctrl.pagingController.pagingModel.currentPage"
							page-size-list="ctrl.pagingController.pageSizeList"
							page-action="ctrl.searchDocument"></scf-pagination>
					</span>

				</div>
			</div>
		</div>
	</div>
</div>
