<div class="row">

	<div class="form-group">
		<div class="input-group">
			<scf-checkbox id="user-not-login-checkbox" ng-model="policy.active"
				ng-disabled="true"></scf-checkbox>
			<label class="checkbox-inline" id="user-not-login-1-label">{{'The
				system must automatically set the user status to Suspend when the
				user has not logged into the system for' | translate}}<input
				id="user-not-login-textbox" type="text" style="width: 50px"
				ng-model="policy.numericValue1" maxlength="3"> </input>&nbsp;<span
				id="user-not-login-2-label" ng-bind="'days.' | translate"></span>
			</label>
		</div>

	</div>
</div>