<div th:fragment="content" sec:authorize="hasAuthority('VIEW_ALL_CUSTOMER_ORGANIZATION_PROFILES_OF_ALL_FUNDING')">
	<div id="wrapper" ng-controller="GeneralInfoController as ctrl">
		<div class="panel panel-default col-md-12 padding-0">
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-10 col-md-10 col-xs-10">
						<h3 class="animated fadeInLeft" id="general-info-header-label" ng-bind="'This organization be a member of funding sources as follows' | translate"></h3>
					</div>
				</div>
				<div class="responsive-table" ng-init="">
					<table id="general-info-table" class="table table-striped table-bordered" cellspacing="0">
						<thead>
							<tr>
								<th id="general-info-number-label" ng-bind="'No.' | translate">No.</th>
								<th id="general-info-funding-label" ng-bind="'Funding' | translate"></th>
								<th id="general-info-organization-code-label" ng-bind="'Organization code' | translate">Organization code</th>
								<th id="general-info-organization-logo-label" ng-bind="'Organization logo' | translate">Organization logo</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="record in ctrl.pagingController.tableRowCollection track by $index">
								<td class="text-center">
									<span id="general-info-no-{{record.memberId}}-{{record.memberCode}}-label" ng-bind="record.rowNo"></span>
								</td>
								<td class="text-center">
									<img id="general-info-funding-{{record.memberId}}-{{record.memberCode}}-img" title="{{record.funding.fundingName}}" style="height: 32px; width: 32px;"
									    data-ng-src="data:image/png;base64,{{ctrl.decodeBase64(record.funding.fundingLogo)}}" />
								</td>
								<td class="text-center">
									<span id="general-info-code-{{record.memberId}}-{{record.memberCode}}-label" ng-bind="record.memberCode"></span>
								</td>
								<td class="text-center">
									<img id="general-info-organization-{{record.memberId}}-{{record.memberCode}}-img" title="{{record.memberName}}" style="height: 32px; width: 32px;"
									    data-ng-src="data:image/png;base64,{{ctrl.decodeBase64(record.memberLogo)}}" />
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>