header {
    color: #fff;
    background-color: #2c3e50;
    position: fixed;
    width: 100%;
    z-index: 20;
    font-size: 12px;
}

body {
    font-size: 12px;
}

table {
    font-size: 100%;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 0.15em;
}

.dropdown-menu {
    font-size: 100%;
}

.table > thead > tr > th {
    vertical-align: text-top;
}

.table-responsive {
    height: 35em;
    overflow: auto;
}

.tr-2em {
    width: 2em;
}

.tr-4em {
    width: 4em;
}

.tr-6em {
    width: 6em;
}

.tr-8em {
    width: 8em;
}

.tr-10em {
    width: 10em;
}

.tr-12em {
    width: 12em;
}

.tr-16em {
    width: 16em;
}

.gec-pannel-heading {
    padding: 5px 10px;
}


/*Step Wizard*/

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}


/*End Step Wizard*/

footer .footer-below {
    padding: 25px 0;
    background-color: #233140;
    color: white;
}

main {
    padding-top: 95px;
	padding-bottom: 50px;
}

.panel {
    border: 0 0;
    box-shadow: 0 1px 1px rgba(76, 76, 76, 0.25);
    -webkit-box-shadow: 0 1px 1px rgba(76, 76, 76, 0.25);
}

.panel-primary {
    border-color: white;
}

.panel-primary > .panel-heading {
    color: black;
    background-color: white;
    border-color: white;
}


/*
@media (min-width: 1200px) {
    main {
       padding-top: 130px;
    }
}
*/

.text-space {
    margin: 0em 0.5em;
}

.total-record {
    font-size: 12px;
}

.icon-white {
    color: #ffffff;
}

nav.menu-right,
.gec-menu-bar {
    margin-top: 37px;
}

ul > li .menu-title {
    color: white;
    font-size: 1.2em;
}

.error-msg{
	color: red;
}