<div th:fragment="content">
	<div id="wrapper">
		<div class="form-group">
			<div class="col-md-2 col-sm-3 col-xs-12 control-label">
				<label id="file-protocol-label"> {{'File protocol' |
					translate}}: </label>
			</div>

			<div class="col-md-3 col-sm-3 col-xs-12">
				<scf-dropdown id="file-protocol-dropdown"
					ng-model="ctrl.channelModel.fileProtocol"
					component-data="ctrl.fileProtocolDropdown"> </scf-dropdown>
			</div>
			<div class="col-md-6 col-sm-4 col-hidden-xs"></div>
		</div>
		<div class="form-group">
			<div class="col-md-2 col-sm-3 col-xs-12 control-label">
				<label id="host-name-label"> {{'Host name' | translate}}: </label>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<scf-input-text id="host-name-textbox" maxlength="255"
					ng-model="ctrl.channelModel.jobInformation.ftpDetail.remoteHost">
				</scf-input-text>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-12 control-label">
				<label id="port-number-label"> {{'Port number' |
					translate}}: </label>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<scf-input-number id="port-number-textbox" maxlength="5"
					ng-model="ctrl.channelModel.jobInformation.ftpDetail.remotePort">
				</scf-input-number>
			</div>
		</div>
		<div class="form-group" ng-show="errors.hostName || errors.portNumber">
			<div ng-show="errors.hostName">
				<label class="col-md-2 col-sm-3 col-xs-12 control-label"></label> <span
					class="col-md-3 col-sm-3 col-xs-12 error-msg"
					id="host-name-warning-message-label"
					ng-bind="errors.hostName.message"> </span>
			</div>
			<div ng-show="errors.portNumber">
				<label class="col-md-5 col-sm-3 col-xs-12 control-label"
					ng-show="!errors.hostName"></label> <label
					class="col-md-2 col-sm-3 col-xs-12 control-label"></label> <span
					class="col-md-3 col-sm-3 col-xs-12 error-msg"
					id="port-number-warning-message-label"
					ng-bind="errors.portNumber.message"> </span>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-2 col-sm-3 col-xs-12 control-label">
				<label id="ftp-user-label"> {{'FTP user' | translate}}: </label>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<scf-input-text id="ftp-user-textbox" ng-disabled="true"
					maxlength="100"
					ng-model="ctrl.channelModel.jobInformation.ftpDetail.remoteUsername">
				</scf-input-text>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-12">
				<scf-button id="setup-ftp-user-button" class="popup-button"
					data-dismiss="modal" ng-click="ctrl.setupUserInfo()"
					ng-disabled="!ctrl.manageAll"
					ng-bind="'Setup FTP user' | translate"> </scf-button>
			</div>
			<div class="col-md-3 col-sm-3 col-hidden-xs"></div>
		</div>

		<div class="form-group" ng-show="errors.remoteUsername">
			<label class="col-md-2 col-sm-3 col-xs-12 control-label"></label> <span
				class="col-md-3 col-sm-3 col-xs-12 error-msg"
				id="ftp-user-warning-message-label"
				ng-bind="errors.remoteUsername.message"> </span>
		</div>

		<div class="form-group">
			<div class="col-md-2 col-sm-3 col-xs-12 control-label">
				<label id="remote-directory-label"> {{'Remote directory' |
					translate}}: </label>
			</div>

			<div class="col-md-8 col-sm-9 col-xs-12">
				<scf-input-text id="remote-directory-textbox" maxlength="255"
					ng-model="ctrl.channelModel.jobInformation.ftpDetail.remotePath">
				</scf-input-text>
			</div>
		</div>
		<div class="form-group" ng-show="errors.remoteDirectory">
			<label class="col-md-2 col-sm-3 col-xs-12 control-label"></label> <span
				class="col-md-8 col-sm-9 col-xs-12 error-msg"
				id="remote-directory-warning-message-label"
				ng-bind="errors.remoteDirectory.message"> </span>
		</div>

		<div class="form-group">
			<div class="col-md-2 col-sm-3 col-xs-12 control-label">
				<label id="filename-pattern-label"> {{'File name pattern' |
					translate}}: </label>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<scf-input-text id="filename-pattern-textbox" maxlength="200"
					ng-model="ctrl.channelModel.jobInformation.ftpDetail.remoteFilenamePattern">
				</scf-input-text>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-12 control-label">
				<label id="limited-file-size-label"> {{'Limited file size
					(MB)' | translate}}: </label>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<scf-input-number id="limited-file-size-textbox" maxlength="5"
					ng-model="ctrl.channelModel.jobInformation.ftpDetail.limitedFileSize">
				</scf-input-number>
			</div>
		</div>
		<div class="form-group"
			ng-show="errors.remoteFilenamePattern || errors.limitedFileSize">
			<div ng-show="errors.remoteFilenamePattern">
				<label class="col-md-2 col-sm-3 col-xs-12 control-label"></label> <span
					class="col-md-3 col-sm-3 col-xs-12 error-msg"
					id="file-name-pattern-warning-message-label"
					ng-bind="errors.remoteFilenamePattern.message"> </span>
			</div>
			<div ng-show="errors.limitedFileSize">
				<label class="col-md-5 col-sm-3 col-xs-12 control-label"
					ng-show="!errors.filenamePattern"></label> <label
					class="col-md-2 col-sm-3 col-xs-12 control-label"></label> <span
					class="col-md-3 col-sm-3 col-xs-12 error-msg"
					id="limited-file-size-warning-message-label"
					ng-bind="errors.limitedFileSize.message"> </span>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-2 col-sm-3 col-xs-12 control-label">
				<label id="file-encryption-label"> {{'File encryption' |
					translate}}: </label>
			</div>

			<div class="col-md-3 col-sm-3 col-xs-12">
				<input type="hidden"
					ng-model="ctrl.channelModel.jobInformation.ftpDetail.encryptType" />
				<scf-input-text id="file-encryption-textbox" ng-disabled="true"
					maxlength="255"
					ng-value="ctrl.channelModel.jobInformation.ftpDetail.encryptType | translate">
				</scf-input-text>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-12">
				<scf-button id="setup-file-encryption-button" class="popup-button"
					data-dismiss="modal" ng-click="ctrl.setupEncryptInfo()"
					ng-disabled="!ctrl.manageAll"
					ng-bind="'Setup file encryption' | translate"> </scf-button>
			</div>

			<div class="col-md-3 col-sm-3 col-hidden-xs"></div>
		</div>


		<div class="form-group">
			<div class="col-md-2 col-sm-3 col-xs-12 control-label">
				<label id="retry-label"> {{'Retry' | translate}}: </label>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<scf-input-number id="retry-textbox" maxlength="5"
					ng-model="ctrl.channelModel.jobInformation.ftpDetail.connectionRetry">
				</scf-input-number>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-12 control-label">
				<label id="retry-delayed-interval-label"> {{'Delayed
					interval (sec)' | translate}}: </label>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<scf-input-number id="retry-delayed-interval-textbox" maxlength="5"
					ng-model="ctrl.channelModel.jobInformation.ftpDetail.connectionRetryInterval">
				</scf-input-number>
			</div>
		</div>

		<div class="form-group"
			ng-show="errors.connectionRetry || errors.connectionRetryInterval">
			<div ng-show="errors.connectionRetry">
				<label class="col-md-2 col-sm-3 col-xs-12 control-label"></label> <span
					class="col-md-3 col-sm-3 col-xs-12 error-msg"
					id="retry-warning-message-label"
					ng-bind="errors.connectionRetry.message"> </span>
			</div>
			<div ng-show="errors.connectionRetryInterval">
				<label class="col-md-5 col-sm-3 col-xs-12 control-label"
					ng-show="!errors.connectionRetry"></label> <label
					class="col-md-2 col-sm-3 col-xs-12 control-label"></label> <span
					class="col-md-3 col-sm-3 col-xs-12 error-msg"
					id="retry-delayed-interval-warning-message-label"
					ng-bind="errors.connectionRetryInterval.message"> </span>
			</div>
		</div>


		<div class="form-group">
			<div class="col-md-2 col-sm-3 col-xs-12 control-label">
				<label id="post-process-label"> {{'Post process' |
					translate}}: </label>
			</div>

			<div class="col-md-3 col-sm-3 col-xs-12">
				<scf-dropdown id="post-process-dropdown"
					ng-model="ctrl.channelModel.jobInformation.ftpDetail.postProcessType"
					component-data="ctrl.postProcessDropdown"
					ng-change="ctrl.changePostProcess()"> </scf-dropdown>
			</div>
			<div class="col-md-6 col-sm-4 col-hidden-xs"></div>
		</div>

		<div class="form-group">
			<div class="col-md-2 col-sm-3 col-xs-12 control-label">
				<label id="remote-backup-directory-label"> {{'Remote backup
					directory' | translate}}: </label>
			</div>

			<div class="col-md-5 col-sm-6 col-xs-12">
				<scf-input-text id="remote-backup-directory-textbox" maxlength="255"
					ng-disabled="!ctrl.postProcessBackup"
					ng-model="ctrl.channelModel.jobInformation.ftpDetail.remoteBackupPath">
				</scf-input-text>
			</div>

			<div class="col-md-3 col-sm-3 col-xs-12">
				<scf-dropdown id="remote-backup-directory-pattern-dropdown"
					ng-model="ctrl.channelModel.jobInformation.ftpDetail.remoteBackupFolderPattern"
					component-data="ctrl.backupPathPatternDropdown"
					ng-disabled="!ctrl.postProcessBackup"> </scf-dropdown>
			</div>
		</div>
		<div class="form-group" ng-show="errors.remoteBackupPath">
			<label class="col-md-2 col-sm-3 col-xs-12 control-label"></label> <span
				class="col-md-3 col-sm-3 col-xs-12 error-msg"
				id="remote-backup-directory-warning-message-label"
				ng-bind="errors.remoteBackupPath.message"> </span>
		</div>

		<div class="form-group">
			<div class="col-md-2 col-sm-3 col-xs-12 control-label">
				<label id="frequency-label"> {{'Frequency' | translate}}: </label>
			</div>

			<div class="col-md-3 col-sm-3 col-xs-12">
				<scf-dropdown id="frequency-dropdown"
					ng-model="ctrl.channelModel.jobInformation.frequencyType"
					component-data="ctrl.frequencyDropdown"> </scf-dropdown>
			</div>
			<div class="col-md-3 col-sm-3 col-hidden-xs"></div>
		</div>

		<div class="form-group">

			<div class="row">
				<label class="col-md-2 col-sm-3 col-hidden-xs  control-label"></label>
				<div class="col-md-3 col-sm-3 col-xs-12">
					&nbsp;&nbsp;
					<scf-checkbox id="monday-checkbox"
						ng-model="ctrl.channelModel.monday"></scf-checkbox>
					<label class="checkbox-inline" id="monday-label"
						style="padding-bottom: 10px;">{{'Monday' | translate}}</label>
				</div>

				<div class="col-md-2 col-sm-3 col-xs-12 control-label">
					<scf-checkbox id="tuesday-checkbox"
						ng-model="ctrl.channelModel.tuesday"></scf-checkbox>
					<label class="checkbox-inline" id="tuesday-label"
						style="padding-bottom: 10px;">{{'Tuesday' | translate}}</label>
				</div>

				<div class="col-md-3 col-sm-3 col-hidden-xs"></div>
			</div>

			<div class="row">
				<label class="col-md-2 col-sm-3 col-hidden-xs control-label"></label>

				<div class="col-md-3 col-sm-3 col-xs-12">
					&nbsp;&nbsp;
					<scf-checkbox id="wednesday-checkbox"
						ng-model="ctrl.channelModel.wednesday"></scf-checkbox>
					<label class="checkbox-inline" id="wednesday-label"
						style="padding-bottom: 10px;">{{'Wednesday' | translate}}</label>
				</div>

				<div class="col-md-2 col-sm-3 col-xs-12 control-label">
					<scf-checkbox id="thursday-checkbox"
						ng-model="ctrl.channelModel.thursday"></scf-checkbox>
					<label class="checkbox-inline" id="thursday-label"
						style="padding-bottom: 10px;">{{'Thursday' | translate}}</label>
				</div>

				<div class="col-md-3 col-sm-3 col-hidden-xs"></div>
			</div>

			<div class="row">
				<label class="col-md-2 col-sm-3 col-hidden-xs control-label"></label>

				<div class="col-md-3 col-sm-3 col-xs-12">
					&nbsp;&nbsp;
					<scf-checkbox id="friday-checkbox"
						ng-model="ctrl.channelModel.friday"></scf-checkbox>
					<label class="checkbox-inline" id="friday-label"
						style="padding-bottom: 10px;">{{'Friday' | translate}}</label>
				</div>

				<div class="col-md-2 col-sm-3 col-xs-12 control-label">
					<scf-checkbox id="saturday-checkbox"
						ng-model="ctrl.channelModel.saturday"></scf-checkbox>
					<label class="checkbox-inline" id="saturday-label"
						style="padding-bottom: 10px;">{{'Saturday' | translate}}</label>
				</div>

				<div class="col-md-3 col-sm-3 col-hidden-xs"></div>
			</div>

			<div class="row">

				<label class="col-md-2 col-sm-3 col-hidden-xs control-label"></label>

				<div class="col-md-3 col-sm-3 col-xs-12">
					&nbsp;&nbsp;
					<scf-checkbox id="sunday-checkbox"
						ng-model="ctrl.channelModel.sunday"></scf-checkbox>
					<label class="checkbox-inline" id="sunday-label"
						style="padding-bottom: 4px;">{{'Sunday' | translate}}</label>
				</div>

				<div class="col-md-2 col-sm-3 col-hidden-xs"></div>
				<div class="col-md-3 col-sm-3 col-hidden-xs"></div>

			</div>

		</div>

		<div class="form-group" ng-show="errors.daysOfWeek">
			<label class="col-md-2 col-sm-3 col-xs-12 control-label"></label> <span
				class="col-md-3 col-sm-3 col-xs-12 error-msg"
				id="frequency-warning-message-label"
				ng-bind="errors.daysOfWeek.message"> </span>
		</div>

		<div class="form-group">
			<div class="col-md-2 col-sm-3 col-xs-12 control-label">
				<label id="begin-time-label"> {{'Begin time' | translate}}:
				</label>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<scf-input-text id="begin-time-textbox"
					ng-model="ctrl.channelModel.beginTime" name="beginTime"
					ng-pattern="timeFormat" maxlength="5" placeholder="hh:mm">
				</scf-input-text>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-12 control-label">
				<label id="end-time-label"> {{'End time' | translate}}: </label>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<scf-input-text id="end-time-textbox"
					ng-model="ctrl.channelModel.endTime" name="endTime"
					ng-pattern="timeFormat" maxlength="5" placeholder="hh:mm">
				</scf-input-text>
			</div>
		</div>

		<div class="form-group" ng-show="errors.beginTime || errors.endTime">
			<div ng-show="errors.beginTime">
				<label class="col-md-2 col-sm-3 col-xs-12 control-label"></label> <span
					class="col-md-3 col-sm-3 col-xs-12 error-msg"
					id="begin-time-warning-message-label"
					ng-bind="errors.beginTime.message"> </span>
			</div>
			<div ng-show="errors.endTime">
				<label class="col-md-5 col-sm-3 col-xs-12 control-label"
					ng-show="!errors.beginTime"></label> <label
					class="col-md-2 col-sm-3 col-xs-12 control-label"></label> <span
					class="col-md-3 col-sm-3 col-xs-12 error-msg"
					id="end-time-warning-message-label"
					ng-bind="errors.endTime.message"> </span>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-2 col-sm-3 col-xs-12 control-label">
				<label id="delayed-interval-label"> {{'Delayed interval
					(sec)' | translate}}: </label>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<scf-input-number id="delayed-interval-textbox" maxlength="5"
					ng-model="ctrl.channelModel.jobInformation.triggerInformations[0].intervalInMinutes">
				</scf-input-number>
			</div>
			<div class="col-md-6 col-sm-4 col-hidden-xs"></div>
		</div>

		<div class="form-group" ng-show="errors.intervalInMinutes">
			<label class="col-md-2 col-sm-3 col-xs-12 control-label"></label> <span
				class="col-md-3 col-sm-3 col-xs-12 error-msg"
				id="delayed-interval-warning-message-label"
				ng-bind="errors.intervalInMinutes.message"> </span>
		</div>
	</div>
</div>