<div id="content" th:fragment="content"
	sec:authorize="hasAnyAuthority('MANAGE_ALL_ROLES','VIEW_ALL_ROLES')">
	
	<div class="app-title">
		<div>
			<h1>
				<i class="fa fa-file-text-o"></i> <span id="header-message-label" class="animated fadeInLeft">{{'Role
							list' | translate}}</span>
			</h1>
			<p>Page for manage roles.</p>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<div class="tile">
				<div class="tile-body">
					<div class="col-md-12 text-right">
						<scf-button id="new-button"
											class="btn btn-default" ng-click="ctrl.newRole()"><i class="fa fa-lg fa-plus"></i>{{'New'
										| translate}}</scf-button>
					</div>
					<div class="row">
						<div class="col-md-12">
							<scf-table id="role-list-table"
								component-config="ctrl.dataTable"
								component-datas="ctrl.pagingController.tableRowCollection"
								current-page="ctrl.pagingController.pagingModel.currentPage"
								record-per-page="ctrl.pagingController.pagingModel.pageSizeSelectModel"
								clear-sort-order="ctrl.pagingController.pagingModel.clearSortOrder"></scf-table>
						</div>
					</div>
					<div class="col-md-12 col-sm-12 text-right">
						<div class="row">
							<div class="col-md-12 col-sm-12">
								<span> <b ng-bind="ctrl.pagingController.splitePageTxt"
										id="role-list-paging-label"></b> &nbsp;&nbsp; <scf-pagination
											dropdown-id="page-limit-dropdown" name="role-list"
											page-size-model="ctrl.pagingController.pagingModel.pageSizeSelectModel"
											total-page="ctrl.pagingController.pagingModel.totalPage"
											current-page="ctrl.pagingController.pagingModel.currentPage"
											page-size-list="ctrl.pagingController.pageSizeList"
											page-action="ctrl.searchRole"></scf-pagination>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>