<div class="modal-content">
<form name="textFieldFormat" class="form-horizontal" ng-submit="closeThisDialog(ctrl.model)">
	<div class="modal-header">
		<div class="row">
			<div class="col-md-10 col-sm-10">
				<h3>
					<span id="document-type-field-format-popup-header-message-label"
						class="popup-text"
						ng-bind="'Document type field format' | translate"></span>
				</h3>
			</div>
		</div>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				
					<div class="form-group">
						<label for="dealer"
							class="col-md-3 col-sm-3 col-xs-12 control-label">
							<scf-checkbox
								id="document-type-field-format-popup-default-value-checkbox"
								ng-model="ctrl.model.required"
								ng-click="ctrl.requiredChange()"></scf-checkbox> 
								<span ng-bind="'Default value' | translate" id="require-label"></span>
						</label>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<scf-input-text id="doocument-type-field-format-popup-default-value-textbox"
									ng-model="ctrl.model.defaultValue" maxlength="255"
									ng-disabled="!ctrl.model.required"></scf-input-text>
						</div>
					</div>
			
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="col-xs-12 text-right">
				<scf-button id="document-type-field-format-popup-cancel-button"
					class="popup-button" ng-click="closeThisDialog()"
					ng-bind="'Cancel' | translate"></scf-button>
				<scf-button id="document-type-field-format-popup-ok-button"
					class="popup-button"
					type="submit"
					ng-bind="'OK' | translate"></scf-button>

			</div>
		</div>
	</div>
	</form>
</div>