<div class="modal-content">
<form name="recordTypeFieldFormat" class="form-horizontal" ng-submit="closeThisDialog(ctrl.model)">
	<div class="modal-header">
		<div class="row">
			<div class="col-md-10 col-sm-10">
				<h3>
					<span id="record-type-field-format-popup-header-message-label"
						class="popup-text" ng-bind="'Record type field format' | translate">Record
						type field format</span>
				</h3>
			</div>
		</div>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				
					<fieldset>
						<legend>Validation</legend>
						<div class="form-group">
							<label for="dealer"
								class="col-md-2 col-sm-3 col-xs-12 control-label"><scf-checkbox
									id="record-type-field-format-popup-require-checkbox"
									ng-model="ctrl.model.required" ng-disabled="true"></scf-checkbox> <span
								ng-bind="'Require' | translate" id="require-label"></span> </label>
						</div>
						<div class="form-group">
							<label for="expected-value"
								class="col-md-3 col-sm-4 col-xs-12 control-label"><span
								ng-bind="'Expected value' | translate"></span>:</label>
							<div class="col-md-7 col-sm-5 col-xs-12">
								<scf-input-text
									id="record-type-field-format-popup-expected-value-textbox"
									ng-model="ctrl.model.expectedValue"
									ng-disabled="!ctrl.model.required"></scf-input-text>
							</div>
						</div>
					</fieldset>
				
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="col-xs-12 text-right">
				<scf-button id="record-type-field-format-popup-cancel-button"
					class="popup-button" ng-click="closeThisDialog()"
					ng-bind="'Cancel' | translate"></scf-button>
				<scf-button id="record-type-field-format-popup-ok-button"
					class="popup-button"
					type="submit"
					ng-bind="'OK' | translate"></scf-button>

			</div>
		</div>
	</div>
	</form>
</div>