<div id="content" th:fragment="content"
	sec:authorize="hasAnyAuthority('VIEW_ALL_ORGANIZE_FILE_LAYOUTS','MANAGE_ALL_ORGANIZE_FILE_LAYOUTS')">
	<div id="wrapper">
		<div class="panel box-shadow-none content-header">
			<div class="panel-body">
				<div class="col-md-12">
					<h3 id="header-message-label" class="animated fadeInLeft">{{'AP
						Document file layout' | translate}}</h3>
				</div>
			</div>
		</div>
		<div class="form-element">
			<form name="createForm" class="form-horizontal"
				ng-submit="newFileLayoutCtrl.save()">
				<div class="panel panel-default col-md-12 padding-0">
					<div class="panel-body">

						<div class="form-group">
							<label for="dealer" id="layout-name-label"
								class="col-md-2 col-sm-3 col-xs-12 control-label">{{'File
								layout name' | translate}}: </label>

							<div class="col-md-4 col-sm-5 col-xs-12">
								<scf-input-text id="layout-name-textbox" maxlength="255"
									ng-disabled="!newFileLayoutCtrl.manageAll"
									ng-model="newFileLayoutCtrl.model.displayName"></scf-input-text>
							</div>
							<div class="col-md-6 col-sm-4"></div>
						</div>
						<div class="form-group">
							<label for="dealer" id="file-type-label"
								class="col-md-2 col-sm-3 col-xs-12 control-label">{{'File
								type' | translate}}: </label>
							<div class="col-md-3 col-sm-4 col-xs-12">
								<label class="radio-inline"> <scf-radio
										id="fixedLength-file-type-radio" name="file-type-radio"
										ng-value="newFileLayoutCtrl.fileType.fixedLength"
										ng-change="newFileLayoutCtrl.fileTypeChange()"
										ng-disabled="!newFileLayoutCtrl.manageAll"
										ng-model="newFileLayoutCtrl.model.fileType"></scf-radio>
									{{'Fixed length' | translate}}
								</label>
							</div>
						</div>
						<div class="form-group">
							<label for="dealer"
								class="col-md-2 col-sm-3 col-xs-12 control-label"></label>
							<div class="col-md-1 col-sm-2 col-xs-12">
								<label class="radio-inline"> <scf-radio
										id="delimited-file-type-radio"
										ng-value="newFileLayoutCtrl.fileType.delimited"
										ng-change="newFileLayoutCtrl.fileTypeChange()"
										ng-disabled="!newFileLayoutCtrl.manageAll"
										name="file-type-radio"
										ng-model="newFileLayoutCtrl.model.fileType"></scf-radio>
									{{'Delimited' | translate}}
								</label>
							</div>
							<label for="dealer" id="delimiters-label"
								class="col-md-1 col-sm-2 col-xs-12 control-label">{{'Delimiters'
								| translate}}: </label>
							<div class="col-md-3 col-sm-3 col-xs-12">
								<scf-dropdown
									ng-disabled="newFileLayoutCtrl.model.fileType != newFileLayoutCtrl.fileType.delimited || !newFileLayoutCtrl.manageAll"
									id="delimiters-dropdown" ng-model="newFileLayoutCtrl.delimeter"
									ng-change="newFileLayoutCtrl.delimeterChange()"
									component-data="newFileLayoutCtrl.delimitersDropdown"
									translate-label="true"></scf-dropdown>
							</div>
							<div class="col-md-1 col-sm-1 col-xs-12">
								<scf-input-text id="delimiters-textbox"
									ng-disabled="newFileLayoutCtrl.delimeter!='Other' || !newFileLayoutCtrl.manageAll"
									maxlength="1" ng-model="newFileLayoutCtrl.delimeterOther"></scf-input-text>
							</div>
							<div class="col-md-3 col-sm-4 col-xs-0"></div>
						</div>
						<div class="form-group">
							<label for="dealer"
								class="col-md-2 col-sm-3 col-xs-12 control-label"></label>
							<div class="col-md-1 col-sm-2 col-xs-12">
								<label class="radio-inline"> <scf-radio
										id="specific-file-type-radio" name="file-type-radio"
										ng-value="newFileLayoutCtrl.fileType.specific"
										ng-change="newFileLayoutCtrl.fileTypeChange()"
										ng-disabled="!newFileLayoutCtrl.manageAll"
										ng-model="newFileLayoutCtrl.model.fileType"></scf-radio>
									{{'Specific' | translate}}
								</label>
							</div>
							<label for="dealer" id="specific-label"
								class="col-md-1 col-sm-2 col-xs-12 control-label"></label>
							<div class="col-md-3 col-sm-5 col-xs-12">
								<scf-dropdown
									ng-disabled="newFileLayoutCtrl.model.fileType != newFileLayoutCtrl.fileType.specific || !newFileLayoutCtrl.manageAll"
									id="specific-dropdown"
									ng-model="newFileLayoutCtrl.specificModel"
									component-data="newFileLayoutCtrl.specificsDropdown"
									translate-label="true"></scf-dropdown>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 col-sm-3 col-xs-12 control-label"></label>
							<label for="customer-code"
								class="col-md-2 col-sm-3 col-xs-12 control-label"
								id="customer-code-group-label">{{'Customer code group' |
								translate}}:</label>
							<div class="col-md-3 col-sm-3 col-xs-12">
								<scf-dropdown id="customer-code-group-dropdown"
									ng-disabled="newFileLayoutCtrl.model.fileType != newFileLayoutCtrl.fileType.specific || !newFileLayoutCtrl.manageAll"
									ng-model="newFileLayoutCtrl.customerCodeGroup"
									component-data="newFileLayoutCtrl.customerCodeGroupDropdown"
									translate-label="true" convert-to-number="true"></scf-dropdown>
							</div>
							<div class="col-md-1 col-sm-1 col-xs-12">
								<scf-button id="new-customer-code-group-button"
									class="btn-default gec-btn-action"
									ng-click="newFileLayoutCtrl.newCustomerCodeGroup()"
									ng-disabled="newFileLayoutCtrl.model.fileType != newFileLayoutCtrl.fileType.specific"
									ng-show="false"
									title="New a customer code group"> <i
									class="fa fa-plus fa-lg" aria-hidden="true"></i></scf-button>
							</div>
						</div>
						<div class="form-group">
							<label for="dealer" id="file-encode-label"
								class="col-md-2 col-sm-3 col-xs-12 control-label">{{'File
								encode' | translate}}: </label>
							<div class="col-md-2 col-sm-3 col-xs-12">
								<scf-dropdown id="file-encode-dropdown"
									ng-model="newFileLayoutCtrl.model.charsetName"
									component-data="newFileLayoutCtrl.fileEncodeDropdown"
									ng-disabled="!newFileLayoutCtrl.manageAll"
									translate-label="true"></scf-dropdown>
							</div>
						</div>
						<div ng-show="newFileLayoutCtrl.displayLayout">
							<div class="form-group"
								ng-hide="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.specific">
								<label for="dealer"
									class="col-md-2 col-sm-3 col-xs-12 control-label"
									id="row-format-label">{{'Row format' | translate}}: </label>
								<div class="col-md-2 col-sm-3 col-xs-12">
									<label class="checkbox-inline"> <scf-checkbox
											id="row-format-header-checkbox"
											ng-model="newFileLayoutCtrl.configHeader"
											ng-disabled="!newFileLayoutCtrl.manageAll"
											ng-click="newFileLayoutCtrl.clearHeaderConfig()"></scf-checkbox>
										<span ng-bind="'Header' | translate" id="header-label"></span>
									</label> <br /> <label class="checkbox-inline"> <scf-checkbox
											id="row-format-detail-checkbox" ng-checked="true"
											ng-disabled="true || !newFileLayoutCtrl.manageAll"></scf-checkbox> <span
										ng-bind="'Detail' | translate" id="detail-label"></span>
									</label> <br /> <label class="checkbox-inline"> <scf-checkbox
											id="row-format-footer-checkbox"
											ng-model="newFileLayoutCtrl.configFooter"
											ng-disabled="!newFileLayoutCtrl.manageAll"
											ng-click="newFileLayoutCtrl.clearFooterConfig()"></scf-checkbox>
										<span ng-bind="'Footer' | translate" id="footer-label"></span>
									</label>
								</div>
							</div>

							<div class="form-group"
								ng-hide="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.specific">
								<div class="col-md-2 col-sm-3 col-xs-12">
									<label for="dealer" class="checkbox-inline"> <scf-checkbox
											id="offset-row-no-checkbox"
											ng-disabled="!newFileLayoutCtrl.manageAll"
											ng-model="newFileLayoutCtrl.isConfigOffsetRowNo"></scf-checkbox>
										<span ng-bind="'Offset row no.' | translate"
										id="offset-row-no-label"></span>
									</label>
								</div>
								<div class="col-md-1 col-sm-1 col-xs-12">
									<scf-input-text id="offset-row-no-textbox" maxlength="3"
										ng-disabled="!newFileLayoutCtrl.isConfigOffsetRowNo || !newFileLayoutCtrl.manageAll"
										ng-model="newFileLayoutCtrl.model.offsetRowNo"></scf-input-text>
								</div>
							</div>
						</div>

						<fieldset ng-show="newFileLayoutCtrl.showHeaderConfig()">
							<legend id="header-field-layout-label"
								ng-bind="'Header field layout' | translate"></legend>
							<div class="responsive-table">
								<table id="config-header-table"
									class="table table-striped table-bordered" width="100%"
									cellspacing="0">

									<thead>
										<tr>
											<th ng-bind=""></th>
											<th ng-bind="'No' | translate">No</th>
											<th ng-bind="'Sponsor field name' | translate">Sponsor
												field name</th>
											<th ng-bind="'Data type' | translate">Data type</th>
											<th ng-bind=""></th>
											<th ng-bind="'Length' | translate">Length</th>
											<th
												ng-bind="newFileLayoutCtrl.model.fileType=='FIXED_LENGTH'?'Start index':'Index'| translate">{{newFileLayoutCtrl.model.fileType=='FIXED_LENGTH'?'Start
												index':'Index'}}</th>
											<th ng-bind="'End index' | translate"
												ng-show="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.fixedLength"></th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr
											ng-repeat-start="record in newFileLayoutCtrl.headerItems track by $index"
											ng-class="$even?'tr-odd':'tr-even'">
											<td class="text-right" style="width: 3%"></td>
											<td class="text-right" style="width: 3%"><label
												id="header-layout-item-{{$index+1}}-no-label"
												class="text-right control-label">{{$index+1}}</label></td>

											<td class="text-center" style="width: 15%"><scf-input-text
													id="header-sponsor-field-name-{{$index+1}}-textbox"
													ng-disabled="!newFileLayoutCtrl.manageAll"
													ng-model="record.displayValue" maxlength="255" /></td>

											<td class="text-center" style="width: 15%"><scf-dropdown
													id="header-data-type-{{$index+1}}-dropdown"
													ng-model="record.dataType"
													component-data="newFileLayoutCtrl.dataTypeHeaderDropdown"
													ng-disabled="!newFileLayoutCtrl.manageAll"
													translate-label="true"></scf-dropdown></td>
											<td class="text-right" style="width: 3%"></td>
											<td class="text-center" style="width: 15%"><scf-input-text
													id="header-length-{{$index+1}}-textbox"
													convert-to-number="" style="text-align: right;"
													ng-disabled="!newFileLayoutCtrl.manageAll"
													ng-model="record.dataLength" maxlength="3" /></td>
											<td class="text-center" style="width: 15%"><scf-input-text
													id="header-start-index-{{$index+1}}-textbox"
													convert-to-number="" style="text-align: right;"
													ng-disabled="!newFileLayoutCtrl.manageAll"
													ng-model="record.startIndex" maxlength="3" /></td>
											<td class="text-center" style="width: 15%"
												ng-show="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.fixedLength"><scf-input-text
													id="header-end-index-{{$index+1}}-textbox"
													value="{{(record.startIndex==null||record.dataLength==null||record.startIndex==''||record.dataLength=='')?'':((record.startIndex-0 + (record.dataLength-0))-1|number)}}"
													ng-disabled="!newFileLayoutCtrl.manageAll"
													style="text-align: right;" maxlength="3" /></td>
											<td class="text-center" style="width: 16%">
												<scf-button type="button" id="header-field-setup-{{$index+1}}-button"
													class="btn-default gec-btn-action" ng-click="newFileLayoutCtrl.openSetting($index, record)"
													ng-disabled="!newFileLayoutCtrl.manageAll">
													<i class="fa fa-cog" aria-hidden="true"></i> 
												</scf-button>
												<scf-button type="button" id="header-delete-{{$index+1}}-button" class="btn-default gec-btn-action"
													ng-click="newFileLayoutCtrl.removeDataItem(newFileLayoutCtrl.headerItems,record)" ng-disabled="!newFileLayoutCtrl.manageAll">
													<i class="fa fa-trash" aria-hidden="true"></i> 
												</scf-button>
											</td>
										</tr>
										<tr ng-repeat-end="" ng-class="$even?'tr-odd':'tr-even'">
											<td colspan="10">
												<p id="header-description-{{$index+1}}-label"
													ng-bind="newFileLayoutCtrl.displayExample(record)"></p>
											</td>
										</tr>

									</tbody>
								</table>
								<div>
									<!-- Split button -->
									<button id="add-another-field-header-button" type="button"
										class="btn btn-default"
										ng-click="newFileLayoutCtrl.addHeaderItem()"
										ng-disabled="!newFileLayoutCtrl.manageAll"
										ng-bind="'Add another field' | translate">Add another
										field</button>

									<button type="button" class="btn btn-default"
										ng-disabled="true || !newFileLayoutCtrl.manageAll" ng-bind="'Sort by index' | translate"></button>
								</div>
							</div>
						</fieldset>
						<br
							ng-hide="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.specific" />
						<br
							ng-hide="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.specific" />
						<div ng-show="newFileLayoutCtrl.displayLayout">
							<fieldset
								ng-hide="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.specific">
								<legend id="detail-field-layout-label"
									ng-bind="'Detail field layout' | translate"></legend>
								<div class="responsive-table">
									<table id="config-item-table"
										class="table table-striped table-bordered" width="100%"
										cellspacing="0">
										<thead>
											<tr>
												<th><i class="fa fa-key fa-lg" aria-hidden="true"></i></th>
												<th id="no-header-label" ng-bind="'No' | translate">No</th>
												<th id="sponsor-field-name-header-label"
													ng-bind="'Sponsor field name' | translate">Sponsor
													field name</th>
												<th id="data-type-header-label"
													ng-bind="'Data type' | translate">Data type</th>
												<th id="save-header-label" ng-bind="'Save' | translate"></th>
												<th id="length-header-label" ng-bind="'Length' | translate">Length</th>
												<th id="start-index-header-label"
													ng-bind="newFileLayoutCtrl.model.fileType=='FIXED_LENGTH'?'Start index':'Index'| translate">{{newFileLayoutCtrl.model.fileType=='FIXED_LENGTH'?'Start
													index':'Index'}}</th>
												<th id="end-index-header-label"
													ng-bind="'End index' | translate"
													ng-show="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.fixedLength"></th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr
												ng-repeat-start="record in newFileLayoutCtrl.items track by $index"
												ng-class="$even?'tr-odd':'tr-even'">

												<td class="text-center" style="width: 3%"><input
													id="key-{{$index+1}}-checkbox" type="checkbox"
													ng-disabled="!newFileLayoutCtrl.manageAll"
													ng-model="record.primaryKeyField" /></td>

												<td class="text-right" style="width: 3%"><label
													id="layout-item-{{$index+1}}-no-label"
													class="text-right control-label">{{$index+1}}</label></td>

												<td class="text-center" style="width: 15%"><scf-input-text
														id="sponsor-field-name-{{$index+1}}-textbox"
														ng-disabled="!newFileLayoutCtrl.manageAll"
														ng-model="record.displayValue" maxlength="255" /></td>

												<td class="text-center" style="width: 15%"><scf-dropdown
														id="data-type-{{$index+1}}-dropdown"
														ng-model="record.dataType"
														component-data="newFileLayoutCtrl.dataTypeDropdown"
														ng-change="newFileLayoutCtrl.isChangeDataType(record)"
														ng-disabled="!newFileLayoutCtrl.manageAll"
														translate-label="true"></scf-dropdown></td>

												<td class="text-center" style="width: 3%"><scf-checkbox
														id="save-{{$index+1}}-checkbox"
														ng-hide="newFileLayoutCtrl.isHideSaveCheckbox(record)"
														ng-checked="newFileLayoutCtrl.isSaveCheckedDisplay(record)"
														ng-disabled="!newFileLayoutCtrl.manageAll"
														ng-click="newFileLayoutCtrl.saveField(record)"></scf-checkbox>
												</td>

												<td class="text-center" style="width: 15%"><scf-input-text
														id="length-{{$index+1}}-textbox"
														style="text-align: right;" convert-to-number=""
														ng-disabled="!newFileLayoutCtrl.manageAll"
														ng-model="record.dataLength" maxlength="3" /></td>
												<td class="text-center" style="width: 15%"><scf-input-text
														id="detail-start-index-{{$index+1}}-textbox"
														style="text-align: right;" convert-to-number=""
														ng-disabled="!newFileLayoutCtrl.manageAll"
														ng-model="record.startIndex" maxlength="3" /></td>
												<td class="text-center" style="width: 15%"
													ng-show="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.fixedLength"><scf-input-text
														value="{{(record.startIndex==null||record.dataLength==null||record.startIndex==''||record.dataLength=='')?'':((record.startIndex-0 + (record.dataLength-0))-1|number)}}"
														id="detail-end-index-{{$index+1}}-textbox"
														ng-disabled="!newFileLayoutCtrl.manageAll"
														style="text-align: right;" maxlength="3" /></td>
												<td class="text-center" style="width: 16%">
													<scf-button type="button" id="field-setup-{{$index+1}}-button" class="btn-default gec-btn-action"
														ng-click="newFileLayoutCtrl.openSetting($index, record)" ng-disabled="!newFileLayoutCtrl.manageAll"> 
														<i class="fa fa-cog" aria-hidden="true"></i> 
													</scf-button>
													<scf-button
														type="button" id="delete-{{$index+1}}-button"
														class="btn-default gec-btn-action"
														ng-disabled="!newFileLayoutCtrl.manageAll"
														ng-click="newFileLayoutCtrl.removeDataItem(newFileLayoutCtrl.items,record)">
														<i class="fa fa-trash" aria-hidden="true"></i> 
													</scf-button>
												</td>
											</tr>
											<tr ng-repeat-end="" ng-class="$even?'tr-odd':'tr-even'">

												<td colspan="10"
													ng-show="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.fixedLength">
													<p
														id="description-{{$index+1}}-label{{newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.fixedLength?'':'-ignore'}}"
														ng-bind="newFileLayoutCtrl.displayExample(record)"></p>
												</td>
												<td colspan="9"
													ng-show="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.delimited">
													<p
														id="description-{{$index+1}}-label{{newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.delimited?'':'-ignore'}}"
														ng-bind="newFileLayoutCtrl.displayExample(record)"></p>
												</td>
											</tr>
											<!-- Detail Data -->
											<tr
												ng-repeat-start="record in newFileLayoutCtrl.dataDetailItems track by $index"
												ng-class="newFileLayoutCtrl.isEven(newFileLayoutCtrl.getDetailFieldSize(), $index)?'tr-odd':'tr-even'">

												<td class="text-center" style="width: 3%"><input
													type="checkbox" 
													ng-disabled="!newFileLayoutCtrl.manageAll"
													ng-model="record.primaryKeyField" /></td>

												<td class="text-right" style="width: 3%"><label
													id="layout-item-{{newFileLayoutCtrl.dataRowNo(newFileLayoutCtrl.getDetailFieldSize(), $index)}}-no-label"
													class="text-right control-label">{{newFileLayoutCtrl.dataRowNo(newFileLayoutCtrl.getDetailFieldSize(),
														$index)}}</label></td>
												<td class="text-center" style="width: 15%"><scf-input-text
														maxlength="255"
														id="sponsor-field-name-{{newFileLayoutCtrl.dataRowNo(newFileLayoutCtrl.getDetailFieldSize(), $index)}}-textbox"
														ng-disabled="!newFileLayoutCtrl.manageAll"
														ng-model="record.displayValue" /></td>

												<td class="text-center" style="width: 15%"><scf-dropdown
														id="data-type-{{newFileLayoutCtrl.dataRowNo(newFileLayoutCtrl.getDetailFieldSize(), $index)}}-dropdown"
														ng-model="record.dataType"
														component-data="newFileLayoutCtrl.dataTypeDropdown"
														ng-disabled="!newFileLayoutCtrl.manageAll"
														translate-label="true"></scf-dropdown></td>

												<td class="text-center" style="width: 3%"></td>
												<td class="text-center" style="width: 15%"></td>
												<td class="text-center" style="width: 15%"></td>
												<td class="text-center" style="width: 15%"
													ng-show="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.fixedLength"></td>
												<td class="text-center" style="width: 16%">
													<scf-button type="button" id="data-setup-{{newFileLayoutCtrl.dataRowNo(newFileLayoutCtrl.getDetailFieldSize(), $index)}}-button"
														class="btn-default gec-btn-action" ng-click="newFileLayoutCtrl.openSetting($index, record)"
														ng-disabled="!newFileLayoutCtrl.manageAll"> 
														<i class="fa fa-cog" aria-hidden="true"></i> </scf-button>
													<scf-button
														type="button"
														id="delete-{{newFileLayoutCtrl.dataRowNo(newFileLayoutCtrl.getDetailFieldSize(), $index)}}-button"
														class="btn-default gec-btn-action"
														ng-disabled="!newFileLayoutCtrl.manageAll"
														ng-click="newFileLayoutCtrl.removeDataItem(newFileLayoutCtrl.dataDetailItems, record)">
													<i class="fa fa-trash" aria-hidden="true"></i> </scf-button></td>
											</tr>
											<tr ng-repeat-end=""
												ng-class="newFileLayoutCtrl.isEven(newFileLayoutCtrl.getDetailFieldSize(), $index)?'tr-odd':'tr-even'">
												<td colspan="10"
													ng-show="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.fixedLength">
													<p
														id="description-{{newFileLayoutCtrl.dataRowNo(newFileLayoutCtrl.getDetailFieldSize(), $index)}}-label"
														ng-bind="newFileLayoutCtrl.displayExample(record)"></p>
												</td>
												<td colspan="9"
													ng-show="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.delimited">
													<p
														id="description-{{newFileLayoutCtrl.dataRowNo(newFileLayoutCtrl.getDetailFieldSize(), $index)}}-label"
														ng-bind="newFileLayoutCtrl.displayExample(record)"></p>
												</td>
											</tr>

										</tbody>
									</table>

									<div>
										<!-- Split button -->
										<button id="add-another-field-detail-button" type="button"
											class="btn btn-default"
											ng-click="newFileLayoutCtrl.addItem()"
											ng-disabled="!newFileLayoutCtrl.manageAll"
											ng-bind="'Add another field' | translate">Add
											another field</button>

										<button id="add-another-data-detail-button" type="button"
											class="btn btn-default"
											ng-click="newFileLayoutCtrl.addDataItem(newFileLayoutCtrl.dataDetailItems)"
											ng-disabled="!newFileLayoutCtrl.manageAll"
											ng-bind="'Add another data' | translate">Add another
											data</button>

										<button type="button" class="btn btn-default"
											ng-disabled="true || !newFileLayoutCtrl.manageAll" ng-bind="'Sort by index' | translate"></button>
									</div>
								</div>

							</fieldset>
							<br
								ng-hide="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.specific" />
							<br
								ng-hide="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.specific" />
							<fieldset ng-show="newFileLayoutCtrl.showFooterConfig()">
								<legend id="footer-field-layout-label"
									ng-bind="'Footer field layout' | translate"></legend>
								<div class="responsive-table">
									<table id="config-footer-table"
										class="table table-striped table-bordered" width="100%"
										cellspacing="0">
										<thead>
											<tr>
												<th ng-bind=""></th>
												<th ng-bind="'No' | translate">No</th>
												<th ng-bind="'Sponsor field name' | translate">Sponsor
													field name</th>
												<th ng-bind="'Data type' | translate">Data type</th>
												<th ng-bind=""></th>
												<th ng-bind="'Length' | translate">Length</th>
												<th
													ng-bind="newFileLayoutCtrl.model.fileType=='FIXED_LENGTH'?'Start index':'Index'| translate">{{newFileLayoutCtrl.model.fileType=='FIXED_LENGTH'?'Start
													index':'Index'}}</th>
												<th ng-bind="'End index' | translate"
													ng-show="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.fixedLength"></th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr
												ng-repeat-start="record in newFileLayoutCtrl.footerItems track by $index"
												ng-class="$even?'tr-odd':'tr-even'">
												<td class="text-right" style="width: 3%"></td>
												<td class="text-right" style="width: 3%"><label
													id="footer-layout-item-{{$index+1}}-no-label"
													class="text-right control-label">{{$index+1}}</label></td>

												<td class="text-center" style="width: 15%"><scf-input-text
														id="footer-sponsor-field-name-{{$index+1}}-textbox"
														ng-disabled="!newFileLayoutCtrl.manageAll"
														ng-model="record.displayValue" maxlength="255" /></td>

												<td class="text-center" style="width: 15%"><scf-dropdown
														id="footer-data-type-{{$index+1}}-dropdown"
														ng-model="record.dataType"
														component-data="newFileLayoutCtrl.dataTypeFooterDropdown"
														ng-disabled="!newFileLayoutCtrl.manageAll"
														translate-label="true"></scf-dropdown></td>
												<td class="text-right" style="width: 3%"></td>
												<td class="text-center" style="width: 15%"><scf-input-text
														id="footer-length-{{$index+1}}-textbox"
														style="text-align: right;" ng-model="record.dataLength"
														ng-disabled="!newFileLayoutCtrl.manageAll"
														convert-to-number="true" maxlength="3" /></td>
												<td class="text-center" style="width: 15%"><scf-input-text
														id="footer-start-index-{{$index+1}}-textbox"
														style="text-align: right;" ng-model="record.startIndex"
														ng-disabled="!newFileLayoutCtrl.manageAll"
														convert-to-number="true" maxlength="3" /></td>
												<td class="text-center" style="width: 15%"
													ng-show="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.fixedLength"><scf-input-text
														id="footer-end-index-{{$index+1}}-textbox"
														value="{{(record.startIndex==null||record.dataLength==null||record.startIndex==''||record.dataLength=='')?'':((record.startIndex-0 + (record.dataLength-0))-1|number)}}"
														ng-disabled="!newFileLayoutCtrl.manageAll"
														style="text-align: right;" maxlength="3" /></td>
												<td class="text-center" style="width: 16%">
													<scf-button
														type="button" id="footer-field-setup-{{$index+1}}-button"
														class="btn-default gec-btn-action"
														ng-click="newFileLayoutCtrl.openSetting($index, record)"
														ng-disabled="!newFileLayoutCtrl.manageAll"> 
														<i class="fa fa-cog" aria-hidden="true"></i> 
													</scf-button>
													<scf-button
														type="button" id="footer-delete-{{$index+1}}-button"
														class="btn-default gec-btn-action"
														ng-disabled="!newFileLayoutCtrl.manageAll"
														ng-click="newFileLayoutCtrl.removeDataItem(newFileLayoutCtrl.footerItems,record)">
														<i class="fa fa-trash" aria-hidden="true"></i> 
													</scf-button>
												</td>
											</tr>
											<tr ng-repeat-end="" ng-class="$even?'tr-odd':'tr-even'">
												<td colspan="10">
													<p id="footer-description-{{$index+1}}-label"
														ng-bind="newFileLayoutCtrl.displayExample(record)"></p>
												</td>
											</tr>
										</tbody>
									</table>
									<div>
										<!-- Split button -->
										<button id="add-another-field-footer-button" type="button"
											class="btn btn-default"
											ng-click="newFileLayoutCtrl.addFooterItem()"
											ng-disabled="!newFileLayoutCtrl.manageAll"
											ng-bind="'Add another field' | translate">Add
											another field</button>

										<button type="button" class="btn btn-default"
											ng-disabled="true || !newFileLayoutCtrl.manageAll" ng-bind="'Sort by index' | translate"></button>
									</div>
								</div>
							</fieldset>
							<br
								ng-hide="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.specific" />
							<br
								ng-hide="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.specific" />
							<div class="form-group"
								ng-hide="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.specific">
								<label id="payment-date-label"
									class="col-md-2 col-sm-3 col-xs-12 control-label">{{'payment-date'
									| translate}}: </label>
								<div class="col-sm-9 col-xs-12">
									<div class="row">
										<div class="col-xs-3 col-sm-2">
											<label class="radio-inline"> <input type="radio"
												id="payment-date-type-field" name="payment-date-type-radio"
												ng-model="newFileLayoutCtrl.model.paymentDateConfig.strategy"
												ng-click="newFileLayoutCtrl.changePaymentDate()"
												ng-disabled="!newFileLayoutCtrl.manageAll"
												ng-value="newFileLayoutCtrl.paymentDateConfigStrategy.FIELD" />{{'Field'
												| translate}}
											</label>
										</div>
										<div class="col-xs-6">
											<scf-dropdown id="payment-date-field-dropdown"
												ng-disabled="newFileLayoutCtrl.model.paymentDateConfig.strategy != 'FIELD' || !newFileLayoutCtrl.manageAll"
												ng-model="newFileLayoutCtrl.model.paymentDateConfig.documentDateField"
												component-data="newFileLayoutCtrl.paymentDateFieldDropdown"
												translate-label="true"></scf-dropdown>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group"
								ng-hide="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.specific">
								<label class="col-md-2 col-sm-3 col-xs-12 control-label"></label>
								<div class="col-sm-9 col-xs-12">
									<div class="row">
										<div class="col-xs-3 col-sm-2">
											<label class="radio-inline"> <input type="radio"
												id="payment-date-type-formula"
												name="payment-date-type-radio"
												ng-model="newFileLayoutCtrl.model.paymentDateConfig.strategy"
												ng-click="newFileLayoutCtrl.changePaymentDate()"
												ng-disabled="!newFileLayoutCtrl.manageAll"
												ng-value="newFileLayoutCtrl.paymentDateConfigStrategy.FORMULA" />{{'Formula'
												| translate}}
											</label>
										</div>
										<div class="col-xs-6">
											<scf-dropdown id="payment-date-formula-dropdown"
												ng-disabled="newFileLayoutCtrl.model.paymentDateConfig.strategy != 'FORMULA' || !newFileLayoutCtrl.manageAll"
												ng-model="newFileLayoutCtrl.model.paymentDateConfig.paymentDateFormulaId"
												component-data="newFileLayoutCtrl.paymentDateFormularModelDropdowns"
												translate-label="true" convert-to-number=""></scf-dropdown>
										</div>
										<div class="col-xs-3">
											<scf-button id="payment-date-formula-new-button"
												ng-click="newFileLayoutCtrl.openNewFormula()"
												ng-disabled="newFileLayoutCtrl.model.paymentDateConfig.strategy != 'FORMULA' || !newFileLayoutCtrl.manageAll"
												class="btn-default gec-btn-action" title="New a formular">
											<i class="fa fa-plus fa-lg" aria-hidden="true"></i></scf-button>
										</div>
									</div>

									<div class="row top15"
										ng-hide="newFileLayoutCtrl.model.paymentDateConfig.strategy == 'FIELD'">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<fieldset>
												<legend class="gec-font-size-namal"
													ng-bind="'Fields for payment date formula' | translate"></legend>
											</fieldset>
											<div class="form-group">
												<label class="col-md-4 col-sm-4 col-xs-4 control-label"><span
													ng-bind="'Formula type' | translate"></span>:</label>
												<div class="col-md-5 col-sm-5 col-xs-5 control-label"
													id="formula-type-name-label"
													ng-bind="newFileLayoutCtrl.formulaTypeDisplay(newFileLayoutCtrl.model.paymentDateConfig.paymentDateFormulaId) | translate">
												</div>
												<div class="col-md-4 col-sm-4 col-xs-4"></div>
											</div>
											<div class="form-group">
												<label class="col-md-4 col-sm-4 col-xs-4 control-label">
													<span ng-bind="'Credit term code field' | translate"></span>:
												</label>
												<div class="col-md-5 col-sm-5 col-xs-5">
													<scf-dropdown id="credit-term-code-field-dropdown"
														ng-model="newFileLayoutCtrl.model.paymentDateConfig.creditTermField"
														ng-disabled="!newFileLayoutCtrl.manageAll"
														component-data="newFileLayoutCtrl.credittermFieldDropdown"
														translate-label="true"></scf-dropdown>
												</div>
												<div class="col-md-4 col-sm-4 col-xs-4"></div>
											</div>
											<div class="form-group">
												<label class="col-md-4 col-sm-4 col-xs-4 control-label"><span
													ng-bind="'Document date field' | translate"></span>:</label>
												<div class="col-md-5 col-sm-5 col-xs-5">
													<scf-dropdown id="document-date-field-dropdown"
														ng-model="newFileLayoutCtrl.model.paymentDateConfig.documentDateField"
														ng-disabled="!newFileLayoutCtrl.manageAll"
														component-data="newFileLayoutCtrl.paymentDateFieldDropdown"
														translate-label="true"></scf-dropdown>
												</div>
												<div class="col-md-4 col-sm-4 col-xs-4"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="panel-body">
						<div class="col-md-12 col-sm-12 text-right">
							<scf-button id="layout-cancel-button" class="popup-button"
								data-dismiss="modal"
								ng-click="newFileLayoutCtrl.backToSponsorConfigPage()"
								ng-bind="'Cancel' | translate"></scf-button>
							<scf-button id="layout-save-button" type="submit"
								ng-disabled="!newFileLayoutCtrl.manageAll">{{'Save'
							| translate}}</scf-button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<input type="hidden" ng-init="newFileLayoutCtrl.manageAll=true"
		sec:authorize="hasAuthority('MANAGE_ALL_ORGANIZE_FILE_LAYOUTS')" /> 
</div>