<div id="content" th:fragment="content">
	<div id="wrapper">
		<div class="panel box-shadow-none content-header">
			<div class="panel-body">
				<div class="col-md-12">
					<h3 id="header-message-label" class="animated fadeInLeft">{{'AP
						Document file layout' | translate}}</h3>
				</div>
			</div>
		</div>
		<div class="form-element">
			<form name="createForm" class="form-horizontal">
			<div class="panel panel-default col-md-12 padding-0">
				<div class="panel-body">
					<!-- <form name="createForm" class="form-horizontal"> -->
						<div class="form-group">
							<label for="dealer"
								class="col-md-2 col-sm-3 col-xs-12 control-label">{{'File
								layout name' | translate}}: </label>

							<div class="col-md-4 col-sm-5 col-xs-12">
								<scf-input-text id="layout-name-textbox"
									ng-disabled="!newFileLayoutCtrl.newMode"
									focus=""
									maxlength="255"
									ng-model="newFileLayoutCtrl.model.displayName"></scf-input-text>
							</div>
							<div class="col-md-6 col-sm-4"></div>
						</div>
						<div class="form-group">
							<label for="dealer"
								class="col-md-2 col-sm-3 col-xs-12 control-label">{{'File
								type' | translate}}: </label>
							<div class="col-md-3 col-sm-4 col-xs-12">
								<label class="radio-inline"> <scf-radio
										id="fixedLength-file-type" name="file-type-radio"
										ng-value="newFileLayoutCtrl.fileType.fixedLength"
										ng-model="newFileLayoutCtrl.model.fileType"></scf-radio>
									{{'Fixed length' | translate}}
								</label> <label class="radio-inline"> <scf-radio
										id="delimited-file-type"
										ng-value="newFileLayoutCtrl.fileType.delimited"
										name="file-type-radio"
										ng-model="newFileLayoutCtrl.model.fileType"></scf-radio>
									{{'Delimited' | translate}}
								</label>
							</div>
							<label for="dealer"
								class="col-md-1 col-sm-2 col-xs-12 control-label">{{'Delimiters'
								| translate}}: </label>
							<div class="col-md-2 col-sm-3 col-xs-12">
								<scf-dropdown ng-disabled="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.fixedLength" id="delimiters-dropdown"
									ng-model="newFileLayoutCtrl.model.delimeter"
									component-data="newFileLayoutCtrl.delimitersDropdown"
									translate-label="true"></scf-dropdown>
							</div>
						</div>
						<div class="form-group">
							<label for="dealer"
								class="col-md-2 col-sm-3 col-xs-12 control-label">{{'File
								encode' | translate}}: </label>
							<div class="col-md-2 col-sm-3 col-xs-12">
								<scf-dropdown id="file-encode-dropdown"
									ng-model="newFileLayoutCtrl.model.charsetName"
									component-data="newFileLayoutCtrl.fileEncodeDropdown"
									translate-label="true"></scf-dropdown>
							</div>
						</div>
						<div class="form-group">
							<label for="dealer"
								class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Row
								format' | translate}}: </label>
							<div class="col-md-2 col-sm-3 col-xs-12">
								<label class="checkbox-inline"> <scf-checkbox
										id="header-checkbox" ng-model="newFileLayoutCtrl.configHeader"
										ng-click="newFileLayoutCtrl.clearHeaderConfig()"></scf-checkbox> 
										<span ng-bind="'Header' | translate" id="header-label"></span>
								</label> <br /> <label class="checkbox-inline"> <scf-checkbox
										id="detail-checkbox" ng-checked="true" ng-disabled="true"></scf-checkbox>
									<span ng-bind="'Detail' | translate" id="detail-label"></span>
								</label> <br /> <label class="checkbox-inline"> <scf-checkbox
										id="footer-checkbox"></scf-checkbox> <span
									ng-bind="'Footer' | translate" id="footer-label"></span>
								</label>
							</div>
						</div>

						<div class="form-group">
							<label for="dealer"
								class="col-md-2 col-sm-3 col-xs-12 control-label"><scf-checkbox
									id="offset-checkbox" ng-checked="false" ng-disabled="true"></scf-checkbox>
								<span ng-bind="'Offset row no.' | translate" id="offset-label"></span>
							</label>
							<div class="col-md-1 col-sm-1 col-xs-12">
								<scf-input-text id="offset-textbox" ng-disabled="true"
									ng-model="newFileLayoutCtrl.model.offsetRowNo" size="1"></scf-input-text>
							</div>
						</div>
						
						
						<fieldset ng-show="newFileLayoutCtrl.showHeaderConfig()">
							<legend id="headder-field-layout-label" ng-bind="'Header field layout' | translate"></legend>
							<div class="responsive-table">
								<table id="config-header-table"
									class="table table-striped table-bordered" width="100%"
									cellspacing="0">

									<thead>
										<tr>
											<th ng-bind="'No' | translate">No</th>
											<th ng-bind="'Sponsor field name' | translate">Sponsor
												field name</th>
											<th ng-bind="'Data type' | translate">Data type</th>
											<th ng-bind="'Length' | translate">Length</th>
											<th ng-bind="newFileLayoutCtrl.model.fileType=='FIXED_LENGTH'?'Start index':'Index'| translate">{{newFileLayoutCtrl.model.fileType=='FIXED_LENGTH'?'Start index':'Index'}}</th>
											<th ng-bind="'End index' | translate" ng-show="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.fixedLength"></th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr
											ng-repeat-start="record in newFileLayoutCtrl.headerItems track by $index"
											ng-class="$even?'tr-odd':'tr-even'">

											<td class="text-right"><span
												id="header-layout-item-{{$index+1}}-no-label"
												ng-bind="{{$index+1}}"></span></td>

											<td class="text-right"><scf-input-text
													id="header-sponsor-field-name-{{$index+1}}-textbox"
													ng-model="record.displayValue" maxlength="255"/></td>

											<td class="text-center"><scf-dropdown
													id="header-data-type-{{$index+1}}-dropdown"
													ng-model="record.dataType"
													component-data="newFileLayoutCtrl.dataTypeHeaderDropdown"
													translate-label="true"></scf-dropdown></td>

											<td class="text-center"><input type="text"
												id="header-length-{{$index+1}}-textbox"
												style="text-align: right;" ng-model="record.dataLength" 
												maxlength="3"/></td>
											<td class="text-center"><input type="text"
												id="header-start-index-{{$index+1}}-textbox"
												style="text-align: right;" ng-model="record.startIndex" 
												maxlength="3"/></td>
											<td class="text-center" ng-show="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.fixedLength"><input type="text"
												id="header-end-index-{{$index+1}}-textbox"
												style="text-align: right;" value="{{(record.startIndex==''||record.dataLength=='')?'':(record.startIndex-0 + (record.dataLength-0))-1|number}}" 
												maxlength="3"
												/></td>
											<td class="text-center"><scf-button type="button"
													id="header-setup-{{$index+1}}-button"
													class="btn-default gec-btn-action"
													ng-click="newFileLayoutCtrl.openSetting($index, record)"
													ng-hide="!record.completed"> <i
													class="fa fa-cog" aria-hidden="true"></i> </scf-button> <scf-button
													id="header-warning-setup-{{$index+1}}-button"
													class="btn-default gec-btn-action"
													ng-click="newFileLayoutCtrl.openSetting($index, record)"
													title="Config a file layout" ng-hide="record.completed">
												<img data-ng-src="img/gear_warning.png"
													style="height: 13px; width: 14px;" /> </scf-button> <scf-button
													type="button" id="header-delete-{{$index+1}}-button"
													class="btn-default gec-btn-action"
													ng-click="newFileLayoutCtrl.removeDataItem(newFileLayoutCtrl.headerItems,record)">
												<i class="fa fa-trash" aria-hidden="true"></i> </scf-button></td>
										</tr>
										<tr ng-repeat-end=""
											ng-class="$even?'tr-odd':'tr-even'">
											<td colspan="8">
												<p
													id="header-description-{{newFileLayoutCtrl.dataRowNo(newFileLayoutCtrl.getHeaderFieldSize(), $index)}}-label"
													ng-bind="newFileLayoutCtrl.displayExample(record)"></p>
											</td>
										</tr>
										
									</tbody>
								</table>
								<div>
									<!-- Split button -->
									<button id="add-another-field-header-button"
										type="button" class="btn btn-default"
										ng-click="newFileLayoutCtrl.addHeaderItem()"
										ng-bind="'Add another field' | translate">Add another
										field</button>

									<button type="button" class="btn btn-default"
										ng-disabled="true" ng-bind="'Sort by index' | translate"></button>
								</div>
							</div>
						</fieldset>
						<br /> <br />
						<fieldset>
							<legend ng-bind="'Detail field layout' | translate"></legend>
							<div class="responsive-table">
								<table id="config-item-table"
									class="table table-striped table-bordered" width="100%"
									cellspacing="0">
									<thead>
										<tr>
											<th><i class="fa fa-key fa-lg" aria-hidden="true"></i></th>
											<th ng-bind="'No' | translate">No</th>
											<th ng-bind="'Sponsor field name' | translate">Sponsor
												field name</th>
											<th ng-bind="'Data type' | translate">Data type</th>
											<th ng-bind="'Save' | translate"></th>
											<th ng-bind="'Length' | translate">Length</th>
											<th ng-bind="newFileLayoutCtrl.model.fileType=='FIXED_LENGTH'?'Start index':'Index'| translate">{{newFileLayoutCtrl.model.fileType=='FIXED_LENGTH'?'Start index':'Index'}}</th>
											<th ng-bind="'End index' | translate" 
											ng-show="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.fixedLength"></th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr
											ng-repeat-start="record in newFileLayoutCtrl.items track by $index"
											ng-class="$even?'tr-odd':'tr-even'">

											<td class="text-center"><input id="key-{{$index+1}}-checkbox" type="checkbox"
												ng-model="record.primaryKeyField" /></td>

											<td class="text-right"><span
												id="layout-item-{{$index+1}}-no-label"
												ng-bind="{{$index+1}}"></span></td>

											<td class="text-right"><scf-input-text
													id="sponsor-field-name-{{$index+1}}-textbox"
													ng-model="record.displayValue" maxlength="255"/></td>

											<td class="text-center"><scf-dropdown
													id="data-type-{{$index+1}}-dropdown"
													ng-model="record.dataType"
													component-data="newFileLayoutCtrl.dataTypeDropdown"
													translate-label="true"></scf-dropdown></td>

											<td class="text-center"><scf-checkbox
													id="save-{{$index+1}}-checkbox"
													ng-checked="newFileLayoutCtrl.isSaveCheckedDisplay(record)"
													ng-click="newFileLayoutCtrl.saveField(record)"></scf-checkbox>
											</td>

											<td class="text-center"><input type="text"
												id="length-{{$index+1}}-textbox" style="text-align: right;"
												ng-model="record.dataLength" maxlength="3"/></td>
											<td class="text-center" ng-show="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.fixedLength"><input type="text"
												id="index-{{$index+1}}-textbox" style="text-align: right;"
												ng-model="record.startIndex" maxlength="3"/></td>
												<td class="text-center"><input type="text"
												id="header-index-{{$index+1}}-textbox"
												style="text-align: right;" value="{{(record.startIndex==''||record.dataLength=='')?'':(record.startIndex-0 + (record.dataLength-0))-1|number}}" 
												maxlength="3"
												/></td>
											<td class="text-center"><scf-button type="button"
													id="setup-{{$index+1}}-button"
													class="btn-default gec-btn-action"
													ng-click="newFileLayoutCtrl.openSetting($index, record)"
													ng-hide="!record.completed"> <i
													class="fa fa-cog" aria-hidden="true"></i> </scf-button> <scf-button
													id="warning-setup-{{$index+1}}-button"
													class="btn-default gec-btn-action"
													ng-click="newFileLayoutCtrl.openSetting($index, record)"
													title="Config a file layout" ng-hide="record.completed">
												<img data-ng-src="img/gear_warning.png"
													style="height: 13px; width: 14px;" /> </scf-button> <scf-button
													type="button" id="delete-{{$index+1}}-button"
													class="btn-default gec-btn-action"
													ng-click="newFileLayoutCtrl.removeDataItem(newFileLayoutCtrl.items,record)">
													 <!-- newFileLayoutCtrl.removeItem(record) -->
												<i class="fa fa-trash" aria-hidden="true"></i> </scf-button></td>
										</tr>
										<tr ng-repeat-end="" ng-class="$even?'tr-odd':'tr-even'">
											
											<td colspan="9" ng-show="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.fixedLength">
												<p id="description-{{$index+1}}-label"
													ng-bind="newFileLayoutCtrl.displayExample(record)"></p>
											</td>
											<td colspan="8" ng-show="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.delimited">
												<p id="description-{{$index+1}}-label"
													ng-bind="newFileLayoutCtrl.displayExample(record)"></p>
											</td>
										</tr>
										<!-- Detail Data -->
										<tr
											ng-repeat-start="record in newFileLayoutCtrl.dataDetailItems track by $index"
											ng-class="newFileLayoutCtrl.isEven(newFileLayoutCtrl.getDetailFieldSize(), $index)?'tr-odd':'tr-even'">

											<td class="text-center"><input type="checkbox"
												ng-model="record.primaryKeyField" /></td>

											<td class="text-right"><span
												id="layout-item-{{newFileLayoutCtrl.dataRowNo(newFileLayoutCtrl.getDetailFieldSize(), $index)}}-no-label"
												ng-bind="newFileLayoutCtrl.dataRowNo(newFileLayoutCtrl.getDetailFieldSize(), $index)"></span></td>

											<td class="text-right"><scf-input-text
													id="sponsor-field-name-{{newFileLayoutCtrl.dataRowNo(newFileLayoutCtrl.getDetailFieldSize(), $index)}}-textbox"
													ng-model="record.displayValue" /></td>

											<td class="text-center"><scf-dropdown
													id="data-type-{{newFileLayoutCtrl.dataRowNo(newFileLayoutCtrl.getDetailFieldSize(), $index)}}-dropdown"
													ng-model="record.dataType"
													component-data="newFileLayoutCtrl.dataTypeDropdown"
													translate-label="true"></scf-dropdown></td>

											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center"></td>
											<td class="text-center" ng-show="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.fixedLength"></td>
											<td class="text-center"><scf-button type="button"
													id="setup-{{newFileLayoutCtrl.dataRowNo(newFileLayoutCtrl.getDetailFieldSize(), $index)}}-button"
													class="btn-default gec-btn-action"
													ng-click="newFileLayoutCtrl.openSetting($index, record)"
													ng-hide="!record.completed"> <i
													class="fa fa-cog" aria-hidden="true"></i> </scf-button> <scf-button
													id="warning-setup-{{newFileLayoutCtrl.dataRowNo(newFileLayoutCtrl.getDetailFieldSize(), $index)}}-button"
													class="btn-default gec-btn-action"
													ng-click="newFileLayoutCtrl.openSetting($index, record)"
													title="Config a file layout" ng-hide="record.completed">
												<img data-ng-src="img/gear_warning.png"
													style="height: 13px; width: 14px;" /> </scf-button> <scf-button
													type="button"
													id="delete-{{newFileLayoutCtrl.dataRowNo(newFileLayoutCtrl.getDetailFieldSize(), $index)}}-button"
													class="btn-default gec-btn-action"
													ng-click="newFileLayoutCtrl.removeDataItem(newFileLayoutCtrl.dataDetailItems, record)">
												<i class="fa fa-trash" aria-hidden="true"></i> </scf-button></td>
										</tr>
										<tr ng-repeat-end=""
											ng-class="newFileLayoutCtrl.isEven(newFileLayoutCtrl.getDetailFieldSize(), $index)?'tr-odd':'tr-even'">
											<td colspan="9" ng-show="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.fixedLength">
												<p
													id="description-{{newFileLayoutCtrl.dataRowNo(newFileLayoutCtrl.getDetailFieldSize(), $index)}}-label"
													ng-bind="newFileLayoutCtrl.displayExample(record)"></p>
											</td>
											<td colspan="8" ng-show="newFileLayoutCtrl.model.fileType == newFileLayoutCtrl.fileType.delimited">
												<p
													id="description-{{newFileLayoutCtrl.dataRowNo(newFileLayoutCtrl.getDetailFieldSize(), $index)}}-label"
													ng-bind="newFileLayoutCtrl.displayExample(record)"></p>
											</td>
										</tr>

									</tbody>
								</table>

								<div>
									<!-- Split button -->
									<button id="add-another-field-detail-button" type="button"
										class="btn btn-default" ng-click="newFileLayoutCtrl.addItem()"
										ng-bind="'Add another field' | translate">Add another
										field</button>

									<button id="add-another-data-detail-button" type="button"
										class="btn btn-default"
										ng-click="newFileLayoutCtrl.addDataItem(newFileLayoutCtrl.dataDetailItems)"
										ng-bind="'Add another data' | translate">Add another
										data</button>

									<button type="button" class="btn btn-default"
										ng-disabled="true" ng-bind="'Sort by index' | translate"></button>
								</div>
							</div>

						</fieldset>

						<fieldset ng-show="newFileLayoutCtrl.showHeaderConfig()">
							<legend id="headder-field-layout-label" ng-bind="'Header field layout' | translate"></legend>
							<div class="responsive-table">
								<table id="config-header-table"
									class="table table-striped table-bordered" width="100%"
									cellspacing="0">
								</table>
							</div>							
						</fieldset>

						<br /> <br />
						<div class="form-group">
							<label class="col-md-2 col-sm-3 col-xs-12 control-label">{{'payment-date'
								| translate}}: </label>
							<div class="col-md-9 col-sm-9 col-xs-12">
								<div class="row">
									<div class="col-md-1">
										<label class="radio-inline"> <input type="radio"
											id="payment-date-type-field" name="payment-date-type-radio"
											ng-model="newFileLayoutCtrl.model.paymentDateConfig.strategy"
											ng-click="newFileLayoutCtrl.changePaymentDate()"
											ng-value="newFileLayoutCtrl.paymentDateConfigStrategy.FIELD" />{{'Field'
											| translate}}
										</label>
									</div>
									<div class="col-md-3">
										<scf-dropdown id="payment-date-field-dropdown"
											ng-disabled="newFileLayoutCtrl.model.paymentDateConfig.strategy != 'FIELD'"
											ng-model="newFileLayoutCtrl.model.paymentDateConfig.documentDateField"
											component-data="newFileLayoutCtrl.paymentDateFieldDropdown"
											translate-label="true"></scf-dropdown>
									</div>
									<div class="col-md-8"></div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 col-sm-3 col-xs-12 control-label"></label>
							<div class="col-md-9 col-sm-9 col-xs-12">
								<div class="row">
									<div class="col-md-1">
										<label class="radio-inline"> <input type="radio"
											id="payment-date-type-formula" name="payment-date-type-radio"
											ng-model="newFileLayoutCtrl.model.paymentDateConfig.strategy"
											ng-click="newFileLayoutCtrl.changePaymentDate()"
											ng-value="newFileLayoutCtrl.paymentDateConfigStrategy.FORMULA" />{{'Formula'
											| translate}}
										</label>
									</div>
									<div class="col-md-3">
										<scf-dropdown id="payment-date-formula-dropdown"
											ng-disabled="newFileLayoutCtrl.model.paymentDateConfig.strategy != 'FORMULA'"
											ng-model="newFileLayoutCtrl.model.paymentDateConfig.paymentDateFormulaId"
											component-data="newFileLayoutCtrl.paymentDateFormularModelDropdowns"
											translate-label="true" convert-to-number=""></scf-dropdown>
									</div>
									<div class="col-md-7">
										<scf-button id="payment-date-formula-new-button"
											ng-click="newFileLayoutCtrl.openNewFormula()"
											ng-disabled="newFileLayoutCtrl.model.paymentDateConfig.strategy != 'FORMULA'"
											class="btn-default gec-btn-action" title="New a formular">
										<i class="fa fa-plus fa-lg" aria-hidden="true"></i></scf-button>
									</div>
								</div>

								<div class="row top15"
									ng-hide="newFileLayoutCtrl.model.paymentDateConfig.strategy == 'FIELD'">
									<div class="form-group">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<fieldset>
												<legend class="gec-font-size-namal"
													ng-bind="'Fields for Payment date formula' | translate"></legend>
											</fieldset>
											<div class="form-group">
												<label class="col-md-2 col-sm-2 col-xs-2 control-label"><span
													ng-bind="'Formula type' | translate"></span>:</label>
												<div class="col-md-5 col-sm-5 col-xs-5 control-label"
													id="formula-type-name-label"
													ng-bind="newFileLayoutCtrl.formulaTypeDisplay(newFileLayoutCtrl.model.paymentDateConfig.paymentDateFormulaId) | translate">
												</div>
												<div class="col-md-4 col-sm-4 col-xs-4"></div>
											</div>
											<div class="form-group">
												<label class="col-md-2 col-sm-2 col-xs-2 control-label">
													<span ng-bind="'Credit term code field' | translate"></span>:
												</label>
												<div class="col-md-5 col-sm-5 col-xs-5">
													<scf-dropdown id="credit-term-code-field-dropdown"
														ng-model="newFileLayoutCtrl.model.paymentDateConfig.creditTermField"
														component-data="newFileLayoutCtrl.credittermFieldDropdown"
														translate-label="true"></scf-dropdown>
												</div>
												<div class="col-md-4 col-sm-4 col-xs-4"></div>
											</div>
											<div class="form-group">
												<label class="col-md-2 col-sm-2 col-xs-2 control-label"><span
													ng-bind="'Document date field' | translate"></span>:</label>
												<div class="col-md-5 col-sm-5 col-xs-5">
													<scf-dropdown id="document-date-field-dropdown"
														ng-model="newFileLayoutCtrl.model.paymentDateConfig.documentDateField"
														component-data="newFileLayoutCtrl.paymentDateFieldDropdown"
														translate-label="true"></scf-dropdown>
												</div>
												<div class="col-md-4 col-sm-4 col-xs-4"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					<!-- </form> -->
				</div>

				<div class="panel-body">
					<div class="col-md-12 col-sm-12 text-right">
						<scf-button id="layout-save-button" type="submit"
							ng-click="newFileLayoutCtrl.save()">{{'Save' |
						translate}}</scf-button>
						<scf-button id="layout-back-button" class="popup-button"
							data-dismiss="modal"
							ng-click="newFileLayoutCtrl.backToSponsorConfigPage()"
							ng-bind="'Cancel' | translate"></scf-button>
					</div>
				</div>
			</div>
			</form>
		</div>		
	</div>
</div>