<div id="content" th:fragment="content">           

    <div class="panel box-shadow-none content-header">
		<div class="panel-body">
			<div class="col-md-12">
				<h3 id="header-message-label" class="animated fadeInLeft"
					ng-bind="'Test' | translate"></h3>
			</div>
		</div>
	</div>
    <div class="form-element">
        <div class="panel panel-default col-md-12 padding-0">
            <div class="panel-body">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form name="activityLogForm" class="form-horizontal" novalidate=""
                        ng-submit="ctrl.save()" autocomplete="off">

                        
                    </form>
                </div>
            </div>
        </div>
	</div>
</div>