<div id="content" th:fragment="content">           

	<div class="app-title">
		<div>
			<h1 id="workflow-header-label" 
					ng-bind="'Workflow' | translate"></h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<div class="tile">
				<div class="tile-body">
					<form name="WorkflowForm" class="form-horizontal" ng-submit="ctrl.save()" autocomplete="off">
                        <div class="form-group row">
							<label class="col-md-2 col-sm-3 col-xs-12 control-label"
								id="type-label">{{'Type'| translate}}: </label> 
							<label id="type-value-label"
								class="col-md-6 col-sm-6 col-xs-12  control-label"
								ng-bind="ctrl.criteria.workflowType | translate">
								</label>
						</div>
                        <div class="form-group row">
                            <label id="workflow-label"
                                class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Workflow' | translate}}:</label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <scf-dropdown id="workflow-dropdown"
                                    ng-model="ctrl.criteria.workflowId"
                                    component-data="ctrl.workflowDorpDown">
                                </scf-dropdown>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 text-right">
							<div>
								<scf-button id="cancel-button" class="popup-button btn" ng-click="ctrl.cancel()">{{'Cancel' | translate}}</scf-button>
								<scf-button id="save-button" type="submit">{{'Save' | translate}}</scf-button>
							</div>
						</div>
                    </form>
				</div>
			</div>
		</div>
	</div>
	
</div>