<div th:fragment="content">
    <div id="wrapper" ng-controller="WorkflowController as ctrl">
        <input type="hidden" ng-init="ctrl.hiddenFundingColumn=false" sec:authorize="hasAuthority('VIEW_ALL_CUSTOMER_ORGANIZATION_PROFILES_OF_ALL_FUNDING')" />
        <input type="hidden" ng-init="ctrl.disableConfigButton=false" sec:authorize="hasAuthority('MANAGE_ALL_CUSTOMER_ORGANIZATION_PROFILES')" />


		
        <div class="panel panel-default col-md-12 padding-0">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-5">
                        <h5 class="animated fadeInLeft" id="workflow-header-message-label">{{'Workflow' | translate}}</h5>
                    </div>
                </div>
                <div class="responsive-table">
                        <table class="table table-striped table-bordered responsive-table">
                            <thead>
                                <tr>
                                    <th id="workflow-funding-header-label" ng-bind="'FUNDING'|translate" ng-hide="ctrl.hiddenFundingColumn"></th>
                                    <th id="workflow-type-header-label" ng-bind="'WORKFLOW_TYPE'|translate"></th>
                                    <th id="workflow-name-header-label" ng-bind="'WORKFLOW_NAME'|translate"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="record in ctrl.pagingController.tableRowCollection track by $index">
                                    <td class="text-center" ng-hide="ctrl.hiddenFundingColumn">
                                        <img id="workflow-funding-{{$index}}-name-label" title="{{record.funding.fundingName}}" style="height: 32px; width: 32px;" data-ng-src="data:image/png;base64,{{ctrl.decodeBase64(record.funding.fundingLogo)}}"></img>
                                    </td>

                                    <td class="text-left">
                                        <span id="type-{{record.workflowType}}-label" ng-bind="record.workflowType | translate"></span>
                                    </td>

                                    <td class="text-left">
                                        <span id="workflow-{{record.workflowType}}-label" ng-bind="record.workflow.workflowName | translate"></span>
                                    </td>

                                    <td class="text-center">
                                        <scf-button id="{{record.workflowType}}-setup-button" class="btn btn-sm" ng-click="ctrl.setup(record)" title="Config a workflow" ng-disabled="ctrl.disableConfigButton"><i class="fa fa-cog" aria-hidden="true"></i>
                                        </scf-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                   </div>
                <div id="fixed-bottom" class="col-md-12"></div>
            </div>
        </div>
    </div>
</div>