<div class="modal-content">
	<form name="accountForm" class="form-horizontal" ng-submit="ctrl.save(closeThisDialog)">
		<div class="modal-header">
			<div class="row">
				<div class="col-md-10 col-sm-10">
					<h3>
						<span id="account-popup-header-message-label" class="popup-text" ng-bind="ctrl.getHeaderMessage() | translate"></span>
					</h3>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group" ng-show="ctrl.page=='accountList'">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-top:7px">
								<label for="group-name" id="organization-label"><span
									ng-bind="'Organization' | translate"></span>:</label>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<gec-auto-suggest model="ctrl.organizeAutoSuggestModel" ng-hide="ctrl.isEditMode"
									ng-model="ctrl.organize" id="organize-auto-suggest-popup"></gec-auto-suggest>
									
								<input type="text" class="form-control" id="organization-textbox" ng-model="ctrl.organize" ng-show="ctrl.isEditMode" ng-disabled="ctrl.isEditMode"></input>
							</div>
						</div>
					</div>
					<div class="form-group" ng-show="errors.organize">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<label class="col-md-2 col-sm-3 col-xs-12 control-label"></label>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<span class="error-msg" id="organization-warning-message-label" ng-bind="errors.organize.message | translate"></span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-top:7px">
								<label for="group-name" id="mapping-type-label"><span
									ng-bind="'Account type' | translate"></span>:</label>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<scf-dropdown id="account-type-dropdown" 
									ng-model="ctrl.accountType"
									component-data="ctrl.accountTypeDropDown"
									ng-disabled="ctrl.isEditMode">
								</scf-dropdown>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<label class="radio-inline">
									<scf-radio id="account-no-format"
										ng-value="ctrl.formatType.ACCOUNT_NO"
										name="date-type-radio"
										ng-model="ctrl.format"
										ng-change="ctrl.changeFormat()"
										ng-disabled="ctrl.isEditMode">
									</scf-radio>
									<label id="account-no-label">{{'Account No.' | translate}}:<label>
								</label>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<scf-account-no id="account-no-textbox" ng-disabled="ctrl.isEditMode || ctrl.format != ctrl.formatType.ACCOUNT_NO" ng-model="ctrl.accountNo"></scf-account-no>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<label class="radio-inline">
									<scf-radio id="term-loan-format"
										ng-value="ctrl.formatType.ACCOUNT_NAME"
										name="date-type-radio"
										ng-model="ctrl.format"
										ng-change="ctrl.changeFormat()"
										ng-disabled="ctrl.isEditMode">
									</scf-radio>
									<label id="term-loan-label">{{'Account name' | translate}}:<label>
								</label>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<scf-input-text id="term-loan-textbox" ng-disabled="ctrl.isEditMode || ctrl.format != ctrl.formatType.ACCOUNT_NAME" ng-model="ctrl.accountName" maxlength="100"></scf-input-text>
							</div>
						</div>
					</div>
					<div class="form-group" ng-show="errors.accountNo">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<label class="col-md-2 col-sm-3 col-xs-12 control-label"></label>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<span class="error-msg" id="account-no-warning-message-label" ng-bind="errors.accountNo.message | translate"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12" ng-show="ctrl.page=='accountList'">
					<div class="form-group">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
								<label class="col-md-2 col-sm-3 col-xs-12 control-label"></label>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<scf-checkbox id="suspend-checkbox-popup" ng-disabled="ctrl.isViewMode"
									ng-model="ctrl.isSuspend"></scf-checkbox>
								<label class="checkbox-inline" id="suspend-label"
									style="padding-bottom: 10px;">{{'Suspend' | translate}}</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-12 text-right">
					<scf-button id="popup-cancel-button" class="popup-button" ng-click="closeThisDialog()" ng-bind="'Cancel' | translate"></scf-button>
					<scf-button id="popup-save-button" class="popup-button" type="submit" ng-bind="'Save' | translate"></scf-button>
				</div>
			</div>
		</div>
	</form>
</div>