<div class="modal-content">
	<form name="newAccountForm" class="form-horizontal"
		ng-submit="ctrl.save(ctrl.model, closeThisDialog)">
		<div class="modal-header">
			<div class="row">
				<div class="col-md-10 col-sm-10">
					<h3>
						<span id="account-popup-header-message-label" class="popup-text"
							ng-bind="'New account' | translate">New account</span>
					</h3>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<label id="account-no-label"
							class="col-md-2 col-sm-3 col-xs-12 control-label">{{'Account
							No.' | translate}}: </label>
						<div class="col-md-6 col-sm-4 col-xs-12">
							<scf-account-no id="account-no-textbox"
								ng-model="ctrl.model.accountNo"></scf-account-no>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group" ng-show="errors.accountNo">
						<label class="col-md-2 col-sm-3 col-xs-12 control-label"></label>
						<span class="col-md-6 col-sm-4 col-xs-12 error-msg"
							id="account-no-warning-message-label"
							ng-bind="errors.accountNo.message | translate"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-12 text-right">
					<scf-button id="popup-cancel-button" class="popup-button"
						ng-click="closeThisDialog()" ng-bind="'Cancel' | translate"></scf-button>
					<scf-button id="popup-save-button" class="popup-button"
						type="submit" ng-bind="'Save' | translate"></scf-button>

				</div>
			</div>
		</div>
	</form>
</div>