<div class="modal-content">
	<form name="newAccountForm" class="form-horizontal" ng-submit="ctrl.save(closeThisDialog)">
		<div class="modal-header">
			<div class="row">
				<div class="col-md-10 col-sm-10">
					<h3>
						<span id="account-popup-header-message-label" class="popup-text" ng-bind="'Add new account' | translate">Add new account</span>
					</h3>
				</div>
			</div>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">

					<div class="form-group">
						<label for="group-name" id="organization-label" class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label"><span
							ng-bind="'Organization' | translate"></span>:</label>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left : 3px">
							<scf-input-text id="organization-textbox" ng-disabled="true" ng-model="ctrl.organize" maxlength="100"></scf-input-text>
						</div>
					</div>

					<div class="form-group">
						<label for="group-name" id="mapping-type-label" class="col-lg-3 col-md-3 col-sm-4 col-xs-12 control-label"><span
							ng-bind="'Account type' | translate"></span>:</label>
						<div class="col-log-3 col-md-5 col-sm-4 col-xs-12" style="padding-left : 3px">
							<scf-dropdown id="account-type-dropdown" 
								ng-model="ctrl.accountType"
								component-data="ctrl.accountTypeDropDown">
							</scf-dropdown>
						</div>
					</div>

					<div class="form-group">
						<div class="col-log-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-log-3 col-md-3 col-sm-3 col-xs-3">
								<label class="radio-inline">
									<scf-radio id="account-no-format"
										ng-value="ctrl.formatType.ACCOUNT_NO"
										name="date-type-radio"
										ng-model="ctrl.format"
										ng-change="ctrl.changeFormat()">
									</scf-radio>
									<label id="account-no-label">{{'Account No.' | translate}}:<label>
								</label>
							</div>
							<div class="col-log-6 col-md-6 col-sm-6 col-xs-6">
								<scf-account-no id="account-no-textbox" ng-disabled="ctrl.format != ctrl.formatType.ACCOUNT_NO" ng-model="ctrl.accountNo"></scf-account-no>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<div class="col-log-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-log-3 col-md-3 col-sm-3 col-xs-3">
								<label class="radio-inline">
									<scf-radio id="term-loan-format"
										ng-value="ctrl.formatType.TERM_LOAN"
										name="date-type-radio"
										ng-model="ctrl.format"
										ng-change="ctrl.changeFormat()">
									</scf-radio>
									<label id="term-loan-label">{{'Term loan' | translate}}:<label>
								</label>
							</div>
							<div class="col-log-6 col-md-6 col-sm-6 col-xs-6">
								<scf-input-text id="term-loan-textbox" ng-disabled="ctrl.format != ctrl.formatType.TERM_LOAN" ng-model="ctrl.termLoan" maxlength="100"></scf-input-text>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group" ng-show="errors.accountNo">
						<label class="col-md-2 col-sm-3 col-xs-12 control-label"></label>
						<span class="col-md-6 col-sm-4 col-xs-12 error-msg" id="account-no-warning-message-label" ng-bind="errors.accountNo.message | translate"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="row">
				<div class="col-xs-12 text-right">
					<scf-button id="popup-cancel-button" class="popup-button" ng-click="closeThisDialog()" ng-bind="'Cancel' | translate"></scf-button>
					<scf-button id="popup-save-button" class="popup-button" type="submit" ng-bind="'Save' | translate"></scf-button>
				</div>
			</div>
		</div>
	</form>
</div>