<div id="content" th:fragment="content">
	<div class="app-title">
		<div>
			<h1>
				<span id="header-message-label" class="animated fadeInLeft">{{'If
					a date falls on a weekend or holiday?' | translate}}</span>
			</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="tile">
				<div class="tile-body">
					<div class="form-element">
						<div class="panel panel-default col-md-12 padding-0">
							<div class="panel-body">
								<form name="createForm" class="form-horizontal">

									<div class="col-md-12 col-sm-12 col-xs-12">
										<label id="application-will-label">{{'Application
											will' | translate}} : </label> <br /> <label
											style="margin-right: 15px;"> <input type="radio"
											ng-change="ctrl.shiftStrategyChange(ctrl.shiftingMethod.name)"
											ng-model="ctrl.shiftingMethod.name" value="NOT_SHIFT" /> <span
											id="NOT_SHIFT">{{'NOT_SHIFT' | translate}}</span>
										</label> <label style="margin-right: 15px;"> <input
											ng-change="ctrl.shiftStrategyChange(ctrl.shiftingMethod.name)"
											type="radio" ng-model="ctrl.shiftingMethod.name"
											value="SHIFT_TO_BEFORE_HOLIDAY" /> <span
											id="SHIFT_TO_BEFORE_HOLIDAY">{{'SHIFT_TO_BEFORE_HOLIDAY'
												| translate}}</span>
										</label> <label> <input type="radio"
											ng-change="ctrl.shiftStrategyChange(ctrl.shiftingMethod.name)"
											ng-model="ctrl.shiftingMethod.name"
											value="SHIFT_TO_AFTER_HOLIDAY" /> <span
											id="SHIFT_TO_AFTER_HOLIDAY">{{'SHIFT_TO_AFTER_HOLIDAY'
												| translate}}</span>
										</label>
									</div>
									<br /> <br />

									<div class="col-md-12 col-sm-12 col-xs-12">
										<label class="checkbox-inline"> <span id="label">{{'Which
												date will be shift' | translate}}:</span>
										</label>
									</div>
									<br />

									<div class="col-md-12 col-sm-12 col-xs-12">
										<label class="checkbox-inline"> <input type="checkbox"
											ng-disabled="ctrl.isNotShift"
											ng-model="ctrl.shifStrategyItemAP.BUYER_PAYMENT_DATE_FOR_AP_DOCUMENT_IMPORT"
											id="checkbox" /> <span id="label">{{'BUYER_PAYMENT_DATE_FOR_AP_DOCUMENT_IMPORT'
												| translate}}</span>
										</label>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<label class="checkbox-inline"> <input type="checkbox"
											ng-disabled="ctrl.isNotShift"
											ng-model="ctrl.shifStrategyItemAP.BUYER_PAYMENT_DATE_FOR_EXISTING_AP_DOCUMENT_JOB"
											id="checkbox" /> <span id="label">{{'BUYER_PAYMENT_DATE_FOR_EXISTING_AP_DOCUMENT_JOB'
												| translate}}</span>
										</label>
									</div>
									<br />

									<div class="col-md-12 col-sm-12 col-xs-12">
										<label class="checkbox-inline"> <input type="checkbox"
											ng-disabled="ctrl.isNotShift"
											ng-model="ctrl.shifStrategyItemAP.TRANSACTION_DATE_FOR_CREATE_LOAN_WITH_DRAWDOWN"
											id="checkbox" /> <span id="label">{{'TRANSACTION_DATE_FOR_CREATE_LOAN_WITH_DRAWDOWN'
												| translate}}</span>
										</label>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<label class="checkbox-inline"> <input type="checkbox"
											ng-disabled="ctrl.isNotShift"
											ng-model="ctrl.shifStrategyItemAP.TRANSACTION_DATE_FOR_CREATE_LOAN_WITH_OVERDRAFT"
											id="checkbox" /> <span id="label">{{'TRANSACTION_DATE_FOR_CREATE_LOAN_WITH_OVERDRAFT'
												| translate}}</span>
										</label>
									</div>
									<br />

									<div class="col-md-12 col-sm-12 col-xs-12">
										<label class="checkbox-inline"> <input type="checkbox"
											ng-disabled="ctrl.isNotShift"
											ng-model="ctrl.shifStrategyItemAP.TRANSACTION_DATE_FOR_LOAN_WITH_DRAWDOWN_JOB"
											id="checkbox" /> <span id="label">{{'TRANSACTION_DATE_FOR_LOAN_WITH_DRAWDOWN_JOB'
												| translate}}</span>
										</label>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<label class="checkbox-inline"> <input type="checkbox"
											ng-disabled="ctrl.isNotShift"
											ng-model="ctrl.shifStrategyItemAP.TRANSACTION_DATE_FOR_LOAN_WITH_OVERDRAFT_JOB"
											id="checkbox" /> <span id="label">{{'TRANSACTION_DATE_FOR_LOAN_WITH_OVERDRAFT_JOB'
												| translate}}</span>
										</label>
									</div>
									<br />

									<div class="col-md-12 col-sm-12 col-xs-12">
										<label class="checkbox-inline"> <input type="checkbox"
											ng-disabled="ctrl.isNotShift"
											ng-model="ctrl.shifStrategyItemAP.MATURITY_DATE_FOR_LOAN_WITH_DRAWDOWN_JOB"
											id="checkbox" /> <span id="label">{{'MATURITY_DATE_FOR_LOAN_WITH_DRAWDOWN_JOB'
												| translate}}</span>
										</label>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<label class="checkbox-inline"> <input type="checkbox"
											ng-disabled="ctrl.isNotShift"
											ng-model="ctrl.shifStrategyItemAP.MATURITY_DATE_FOR_LOAN_WITH_OVERDRAFT_JOB"
											id="checkbox" /> <span id="label">{{'MATURITY_DATE_FOR_LOAN_WITH_OVERDRAFT_JOB'
												| translate}}</span>
										</label>
									</div>

								</form>
								<div class="col-md-12 col-sm-12 text-right">
									<scf-button id="cancel-button" class="popup-button"
										data-dismiss="modal" ng-click="ctrl.backToSponsorConfigPage()"
										ng-bind="'Cancel' | translate"></scf-button>
									<scf-button id="save-button" type="submit"
										ng-click="ctrl.save()" ng-bind="'Save' | translate"></scf-button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
