<div th:fragment="content">
	<div id="wrapper" ng-controller="ChannelConfigsController as ctrl">
		<div class="panel panel-default col-md-12 padding-0">
			<div class="panel-body" style="min-height: 360px;">
				<div class="row">
					<div class="col-lg-10 col-md-10 col-xs-10">
						<h3 class="animated fadeInLeft"
							id="ar-channel-configs-header-label">Import document channel</h3>
					</div>
					<div class="col-lg-2 col-md-2 col-xs-2 text-right">
						<br />
						<scf-button class="btn-default gec-btn-action"
							id="AR-import-channel-new-button" title="New Import Channel"
							ng-click="ctrl.newChannel()"> <i class="fa fa-plus"
							aria-hidden="true"></i></scf-button>
					</div>
				</div>
				<!-- 				<div class="row" ng-init="ctrl.initLoad('AR_DOCUMENT')"> -->
				<!-- 					<div class="col-md-12 col-sm-12 text-right"> -->
				<!-- 						<scf-table id="ar-channel-configs-table" -->
				<!-- 							component-config="ctrl.dataTable" component-datas="ctrl.data" -->
				<!-- 							current-page="ctrl.currentPage" -->
				<!-- 							record-per-page="ctrl.pageModel.pageSizeSelectModel" -->
				<!-- 							clear-sort-order="ctrl.pageModel.clearSortOrder"> </scf-table> -->
				<!-- 					</div> -->
				<!-- 				</div> -->

				<div class="responsive-table">
					<table id="ar-channel-configs-table"
						class="table table-striped table-bordered" cellspacing="0">
						<thead>
							<tr>
								<th id="channel-header-label" ng-bind="'Channel' | translate">Channel</th>
								<th id="import-file-layout-header-label"
									ng-bind="'Import file layout' | translate">Import file layout</th>
								<th id="status-header-label" ng-bind="'Status' | translate">Status</th>
								<th id="active-date-header-label"
									ng-bind="'Active date' | translate">Active date</th>
								<th id="expire-date-header-label"
									ng-bind="'Expire date' | translate">Expire date</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr
								ng-repeat="record in ctrl.data track by $index">
								<td class="text-right"><span
									ng-show="record.showAccountFlag"
									id="credit-limit-{{record.accountId}}-{{record.buyerName}}-label"
									ng-bind="record.creditLimit | number : 2"></span></td>
								<td class="text-right"><span
									ng-show="record.showAccountFlag"
									id="outstanding-{{record.accountId}}-{{record.buyerName}}-label"
									ng-bind="record.outstanding | number : 2"></span></td>
								<td class="text-right"><span
									ng-show="record.showAccountFlag"
									id="future-{{record.accountId}}-{{record.buyerName}}-label"
									ng-bind="record.futureDrawdown | number : 2"></span></td>
								<td class="text-left" ng-show="ctrl.showSupplier"><span
									id="supplier-name-{{record.accountId}}-{{record.buyerName}}-label"
									ng-bind="record.supplierName | translate"></span></td>
								<td class="text-center"><img id="sponsor-"
									title="{{record.buyerName}}" style="height: 32px; width: 32px;"
									data-ng-src="data:image/png;base64,{{ctrl.decodeBase64(record.buyerLogo)}}" /></td>
								<td class="text-right"><span
									id="trading-status-{{record.accountId}}-{{record.buyerName}}-label"
									ng-bind="record.tradingStatus | translate"></span></td>
								<td class="text-right"><span
									id="internal-{{record.accountId}}-{{record.buyerName}}-label"
									ng-bind="record.internalStep | number : 2"></span></td>
								<td class="text-right"><span
									ng-show="record.showAccountFlag"
									id="available-{{record.accountId}}-{{record.buyerName}}-label"
									ng-bind="record.available | number : 2"></span></td>
								<td class="text-right"><span
									ng-show="record.showAccountFlag"
									id="remaining-{{record.accountId}}-{{record.buyerName}}-label"
									ng-bind="record.bankRemaining | number : 2"></span></td>
								<td class="text-center"><span
									id="tenor-{{record.accountId}}-{{record.buyerName}}-label"
									ng-bind="record.tenor"></span></td>
								<td class="text-center"><span
									id="pre-drawdown-{{record.accountId}}-{{record.buyerName}}-label"
									ng-bind="record.prePercentageDrawdown"></span></td>
								<td class="text-center"><span
									id="interest-rate-{{record.accountId}}-{{record.buyerName}}-label"
									ng-bind="record.interestRate"></span></td>
								<td class="text-center"><span
									id="expiry-date-{{record.accountId}}-{{record.buyerName}}-label"
									ng-bind="record.limitExpiryDate | date: 'dd/MM/yyyy': 'UTC+0700'"></span></td>
								<td class="text-center"><span
									ng-show="record.showAccountFlag"
									id="credit-status-{{record.accountId}}-{{record.buyerName}}-label"
									ng-bind="record.accountStatus | translate"></span></td>
								<td class="text-center"><button type="button"
										ng-disabled="" class="btn-default gec-btn-action btn"
										ng-show="record.showAccountFlag"
										id="credit-information-{{record.accountId}}-{{record.buyerName}}-button"
										ng-click="ctrl.inquiryAccount(record)" title="Inquiry Account">
										<ng-transclude> <i class="fa fa-repeat"
											aria-hidden="true"></i> </ng-transclude>
									</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>