<div th:fragment="content" sec:authorize="hasAnyAuthority('VIEW_ALL_CUSTOMER_ORGANIZATIONS_IMPORT/EXPORT_FILE_LAYOUTS_OF_ALL_FUNDING', 'VIEW_ALL_CUSTOMER_ORGANIZATIONS_IMPORT/EXPORT_FILE_LAYOUTS', 'MANAGE_ALL_CUSTOMER_ORGANIZATIONS_IMPORT/EXPORT_FILE_LAYOUTS_OF_ALL_FUNDING', 'MANAGE_ALL_CUSTOMER_ORGANIZATIONS_IMPORT/EXPORT_FILE_LAYOUTS')">
    <div id="wrapper" ng-controller="ExportPaymentConfigController as ctrl">
        <input type="hidden" ng-init="ctrl.manageAction=true" sec:authorize="hasAnyAuthority('MANAGE_ALL_CUSTOMER_ORGANIZATIONS_IMPORT/EXPORT_FILE_LAYOUTS_OF_ALL_FUNDING', 'MANAGE_ALL_CUSTOMER_ORGANIZATIONS_IMPORT/EXPORT_FILE_LAYOUTS')"
        />
        <input type="hidden" ng-init="ctrl.viewAction=true" sec:authorize="hasAnyAuthority('VIEW_ALL_CUSTOMER_ORGANIZATIONS_IMPORT/EXPORT_FILE_LAYOUTS_OF_ALL_FUNDING', 'VIEW_ALL_CUSTOMER_ORGANIZATIONS_IMPORT/EXPORT_FILE_LAYOUTS')"
        />
        <div class="panel panel-default col-md-12 padding-0">
            <div class="panel-body" style="min-height: 360px;">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-xs-10">
                        <h5 class="animated fadeInLeft" id="ar-export-payment-header-label">Export file layout</h5>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-2 text-right">
                        <scf-button class="btn-default gec-btn-action" ng-disabled="ctrl.unauthenMangeAction()" id="ar-export-layout-new-button"
                            title="New Export File Layout" ng-click="ctrl.newExportFileLayout(ctrl.data,'EXPORT_DOCUMENT', 'EXPORT')">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </scf-button>
                    </div>
                </div>
                <div class="responsive-table" ng-init="ctrl.init('EXPORT_DOCUMENT', 'EXPORT')">
                    <table id="ar-export-layout-table" class="table table-striped table-bordered" cellspacing="0">
                        <thead>
                            <tr>
                                <th id="export-layout-header-label" ng-bind="'File layout name' | translate">File layout name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="record in ctrl.data track by $index">
                                <td class="text-left">
                                    <span id="{{ctrl.processType}}-export-layout-{{record.displayName}}-label" ng-bind="record.displayName"></span>
                                </td>
                                <td class="text-center">
                                    <scf-button id="{{ctrl.processType}}-export-layout-{{record.displayName}}-view-button" ng-disabled="ctrl.unauthenView()"
                                        class="btn btn-sm" ng-click="ctrl.viewExportPayment(record)" title="View file layout">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </scf-button>
                                    <scf-button id="{{ctrl.processType}}-export-layout-{{record.displayName}}-setup-button" ng-disabled="ctrl.unauthenMangeAction()"
                                        class="btn btn-sm" ng-click="ctrl.setupExportPayment(record)" title="Config file layout">
                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                    </scf-button>
                                    <scf-button id="{{ctrl.processType}}-export-layout-{{record.displayName}}-delete-button" ng-disabled="ctrl.unauthenMangeAction()"
                                        class="btn btn-sm" ng-click="ctrl.deleteLayout(record)" title="Delete file layout">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </scf-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>